﻿a.scWfmBrowseButton
{
    background: #E9E9E9;
    color: #303030;
    cursor: default;
    display: block;
    border: 1px solid #E9E9E9;
    border-left: none;
    border-right: none;
    text-decoration: none;
    white-space: nowrap;
    padding: 1px 1px 1px 1px;
    height: 24px;
    width:24px;
}


a.scWfmBrowseButton : hover
{
    border: 1px solid black;
    background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
    padding: 1px 1px 1px 1px;
    color: #303030;
    cursor: default;
    display: block;
    border: 1px solid #E9E9E9;
    text-decoration: none;
    white-space: nowrap;
    height: 20px;
    width:20px;
}

hr
{
    margin: 0px;
    padding: 0px;
}

.SettingsPanel
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.scToolbutton, .scToolbutton_Down, .scToolbutton_Hot
{
    padding-left: 5px;
    padding-right: 5px;
}

.scToolbutton_Hover, .scToolbutton_Down_Hover
{
    padding-left: 4px;
    padding-right: 4px;
}

legend
{
    margin: 0 5;
}

.scwfmAddFieldToTreeButton
{
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    border-bottom: #7C7C94 1px solid;
    border-left: #7C7C94 1px solid;
    border-right: #7C7C94 1px solid;
    line-height: 13px;
    border-top: #7C7C94 1px solid;
    background-color: White;
}

.TreeView
{
    margin-top: 3px;
    line-height: 13px;
    background-color: White;
    padding-top: 4px;
    padding-left: 1px;
    border-top: 0px;
    border-left: #7C7C94 1px solid;
    border-right: #7C7C94 1px solid;
    border-bottom: #7C7C94 1px solid;
    cursor: default;
}

.TreeNode
{
    font-family: tahoma;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.GrayedTreeNode
{
    font-family: tahoma;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    color: gray;
    cursor: default;
}

.HoverTreeNode
{
    font-family: tahoma;
    font-size: 11px;
    text-decoration: underline;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
}

.SelectedTreeNode
{
    font-family: tahoma;
    font-size: 11px;
    background-color: gray;
    color: white;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
}

.NodeEdit
{
    border: 1px gray solid;
    font-family: tahoma;
    font-size: 11px;
}

.EntryGrid
{
    padding: 0px 4px 2px 2px;
}

.EntryGrid td
{
    white-space: nowrap;
}

.TabStrip
{
    position: relative;
    top: 2px;
    z-index: 1;
}

.DefaultTab
{
    color: black;
    background-image: url(/sitecore/shell/themes/standard/ComponentArt/Tabstrip/tab_bg.gif);
    font-family: Tahoma;
    font-size: 8pt;
    cursor: default;
}

.DefaultTabHover
{
    color: black;
    background-image: url(/sitecore/shell/themes/standard/ComponentArt/Tabstrip/hover_tab_bg.gif);
    font-family: Tahoma;
    font-size: 8pt;
    cursor: default;
}

.SelectedTab
{
    color: black;
    background-image: url(/sitecore/shell/themes/standard/ComponentArt/Tabstrip/selected_tab_bg.gif);
    font-family: Tahoma;
    font-size: 8pt;
    cursor: default;
}

.MultiPage
{
    background-color: White;
    border: 1px solid #919B9C;
    width: 100%;
    height: 100%;
}

.PageContent
{
    background: #fbfbfb;
}

.scText, .scPassword, .scLookup, .scChecklist
{
    width: 100%;
}

.scMemo
{
    width: 100%;
    height: 120px;
}

.scCheckbox
{
}

.scFieldLabel
{
    color: #6487DC;
    padding: 4px 0px 2px 0px;
    background: white;
    border: none;
}

.ProfileRight
{
    width: 49%;
    display: inline;
}

.ProfileLeft
{
    float: left;
    display: inline;
}

.GroupBox
{
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    margin: 20px;
    width: 100%;
}

.CheckboxSetting label
{
    margin-top: -5px;
}

.CallBack
{
    margin-top: 15px;
}

.MappingGrid
{
    width: 100%;
    padding: 1px 5px;
}

.MappingGrid td
{
    width: 50%;
}

.MappingGrid select
{
    width: 100%;
}

.MappingGrid span
{
    height: 15px;
}

.InactiveRequired
{
    margin: 0 0 0 5;
}

.ValidationErrors
{
    color: red;
}
