﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RealtorSearchLoader.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.RealtorSearch.RealtorSearchLoader" %>
<sc:Placeholder runat="server" ID="scphContent" Key="content" />