﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SEODynamicTree.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.SEODynamicTree" %>

<div id="FooterLinks">
<asp:Literal runat="server" ID="litseodyntree" ></asp:Literal>
</div>

