﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BlankLayout.aspx.cs" Inherits="TM.Web.Custom.Layouts.BlankLayout" %>
<%@ Import Namespace="TM.Utils.Web" %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
    <title>Insert the page title here.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <%= JsCssCombiner.GetSet("blanklayoutjs") %>        
  </head>
  <body style="overflow-y: hidden !important">
  <form method="post" runat="server" id="mainform">
  <div>
    <sc:Placeholder ID="phMain" runat="server" Key="Content" />
  </div>
  </form>
  </body>
</html>
