﻿
.col-1,
.col-2,
.col-3,
.col-6,
.row{
  overflow: hidden;
  box-sizing: border-box;
}

.row > div {
  float: left
}
.row div:first-child {
  padding-right: 3px;
}
.col-1{
  padding: 0;
  margin: 0;
  width: 100%;
}

.col-1,
.row{
  overflow: hidden;
  margin-top: 5px ;
}

.col-2{
  padding: 0;
  margin: 0;
  width: 50%;
}
.col-3{
  padding: 0;
  margin: 0;
  width: 33.3333333%;
}
.col-6{
  padding: 0;
  margin: 0;
  width: 66.666666%;
}

