//@import url('common.css');
//@import url('default.css');

$box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
$top-3-color: white;
$nav-color: #19398A;
$nav-color-hover: #d31245;

/*Deafult*/
/*Wide width*/


.logomenu,.topheader,.home-content-wrapper, .footer-content-wrapper,.header ul
{width:960px;padding-left:20px; padding-right:20px;margin:0 auto; clear:both;*zoom: 1;}

/*Left column*/
.logomenu .lt-box,.lt-col, .lt-col-cd, .lt-col-s, .cd_left,.across-lt,.geneInfoBox,.geneInfo
{ width: 245px;}

/*Right column*/
.logomenu .rt-box,.rt-col,ul.bannertbtm,.banner,.banner img,ul.bannertbtm,#news,.cd_right,.cd_right2,.ppc-bnr, .ppc-bnr img, .content-pg, .breadcrumb
{width:72.8%; margin:0; padding:0; float:left;}

/*inner wide elements*/
.search-results-wrapper,ul.goMenu,.banner-go,.banner-across, .banner-across img, .plan-details-top, ul.planMenu, .viewplanbox, .viewplanbox2,
.commCard,.dd-top, .dd-bottom,.det-wrapper-bt,.plan-details-wrapper,.sitePlanImg, .local-interest-map
{width:920px;padding:0;margin:0 auto; clear:both;*zoom: 1;}
.mapt{width: 447px; height: 350px;}

.foot-in {display: table;  margin: 0 auto;  width: auto;text-align:center;}


.searchbox input {
  width: 100%;
  font-size: 12px;
  float: left;
  height: 22px;
  border: 1px solid #19398a;
  padding-left: 7px;
}


h4 {
  color: $nav-color;
}


.header{
  width: 100%;
  clear:both; 
  background: #fff; 
  float:left;

  a{
    color:#0095d9;
    font-size:12px;
    text-decoration:underline; 
    font-weight:600;  
  }

  ul{
    float:left; 
    list-style:none;
    margin:11px 0 0; 
    height:28px; 
    position:relative;
    padding:0 !important;
    li{
      float:left;
      color:$nav-color;
      font-weight:bold; 
      margin:0 .95em;
      &:first-child{margin:0;}
      &:last-child{margin-right:0;}
    }
  }

  .top1 {
    padding:0;
  }
  .top2 {
    padding:0;
    max-width:363px;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    height:22px;   
    a{
      white-space:nowrap;
      &:before,
      &:after{content:""; display:table;}
      &:before{content:"";}
    }
  }
  .top2b {
    background:url(../Images/tm/top-shd.png) no-repeat; 
    width:9px; 
    height:39px; 
    margin:-12px 0 0; 
    padding:0; 
    border:none; 
    display:block 
  }

  .top3 {
    background: none;
    position: relative;
    top: -11px;
    #lijoininterest {
      background: none repeat scroll 0 0 #1395D3;
      box-shadow: $box-shadow;
      text-align: center;
      overflow: hidden;
      color: $top-3-color;
      float: left;
      height: 42px;
      font-size: 11px;
      text-decoration: none;
      width:172px;
      border-radius: 0 0 4px 4px;
      padding-top: 13px;
      padding-right: 44px;
    }
    &:after {
        content: "";
        border-top: 5px solid $top-3-color;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        position: absolute;
        top: 17px;
        right: 6px;
        z-index: 9;
    }
  }

  .top4 a{
    //background:url(../Images/tm/myTMlogo.png) no-repeat; 
    width:64px; 
    height:25px; 
    margin:0; 
    padding:0; 
    border:none; 
    display:block;
  }

  .top5 {
    padding:0;
    text-align: left;
    width: 145px;
    a{
      margin:0 2px;
    }
  }

  .topheader{
    font-size:11px;
  }
}


.logomenu{
  padding-top:18px;
  .lt-box{
    float:left;
  }
  .rt-box{
    float: right;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: $box-shadow;
    .hmbuying img {
      width:100%;
      max-width: 142px; 
    }

    nav {
      background: $nav-color;
      padding: 0;
      margin: 0;
      float:left;
      width:100%;
      height:60px;
      border-radius: 4px;
      a{ 
        color: #F9F9F9; 
        display: block; 
        float: left; 
        padding: 0; 
        &:hover{ 
          text-decoration: none;
        }
      }
      &:before,
      &:after {
        display: table;
        content: "";
        clear: both;
      }
    }

    ul {
      float:left;
      width:auto;
      list-style:none;
      width:100%;
      position:relative;
      li {
        float:left;
        height:60px;
        width:auto;
        text-align:center;
        position: relative;
        z-index: 12;
        &:last-child a{
          padding: 14px 21px;
        }
        &:before {
          content: "";
          position: absolute;
          height: 40px;
          width: 3px;
          top: 10px;
          left: 0px;
          z-index: 9;
          box-shadow: -4px 0 3px 2px rgba(0, 0, 0, 0.12);
          border-left: 1px solid rgba(255, 255, 255, 0.02);
          border-radius: 50%;
        }
        &:after{
          content: "";
          position: absolute;
          z-index: -2;
          box-shadow: 0 0 13px rgba(0,0,0,0.5);
          bottom: 21px;
          width: 90%;
          height: 20px;
          border-radius: 100%;
          left: 0%;
          right: 10%;
        }

        &.selected,
        &:last-child:hover{
          -webkit-border-radius: 0 4px 4px 0;
          border-radius:  0 4px 4px 0;
        }
        
        &:first-child{
          box-shadow: none;
          &:first-child:hover{
            -webkit-border-radius: 4px 0 0 4px;
            border-radius:  4px 0 0 4px;
          }
        }
        &:last-child {
          background: none;
        }
        &:hover, 
        &.selected,
        &:first-child:hover,
        &:last-child:hover,
        a.selected{
          background: $nav-color-hover;
        }

        a{
          font-size:17px; 
          font-weight: bold;
          color:#fff; 
          text-decoration: none;
          text-align:left;
          padding: 14px 21px; 
          padding: 14px 0.9em 0\0/IE8+9; /* IE8 + 9 + IE10pp4  */
          width: 100%;
          overflow: hidden;
          background-color: $nav-color;
          &:hover{
            background-color: $nav-color-hover;
          }
        }
        span{
          font-size: 11px; 
          font-weight: 
          normal;color:#fff;  
          clear:both; float:left; 
          white-space:nowrap;
          &:first-child{
            font-size:17px; 
            font-weight: bold;
            color:#fff; 
            clear:both;
            padding: 0 0 3px;
          }
        }
      }
    }
    .divi{
      background:url(../Images/tm/dividerMenu.jpg) no-repeat; 
      width:10px; 
      height:60px; 
      display:block;
    }
    .hmbuying{
      /*background:url(../Images/tm/sprite..-Images.png) no-repeat 0 0;*/ 
      display:block; 
      border:none;
    }
    .hmbuying img{
      width:142px; 
      height:auto;
    }
  }
}
.logo {
  border: 0 none;
  display: table;
  margin: 0 auto;
  max-width: 197px;
  padding: 0;
  img{ max-width:197px;
    height:67px;
    width:100%;
    display: inline-block;
  }
}
.searchbox {
  width:100%;
  float:left; 
  position:relative;
  a,
  .searchbut{
    background:url(../Images/tm/searchIcon.jpg) no-repeat; 
    float:left; border:0; 
    margin:0; 
    padding:0; 
    display:block; 
    width:23px; 
    height:22px; 
    position:absolute;
    right:0;
  }

  .glos-search {
    width:15%;float:left; position:relative;
    input{
      width:104px;
      font-size:12px;
      color: #fff;
      float:left;
      height:22px;
      border: 1px solid #bdbdbd;
      background-color:#93d4f3; 
      margin:0 1px 0 5px;
      -moz-border-radius:8px; /* Firefox */
      -webkit-border-radius: 8px; /* Safari, Chrome */
      -khtml-border-radius: 8px; /* KHTML */
      border-radius: 8px; /* CSS3 */
    }
  }
}

.glos-search a,
.glos-searchbut{
  background:url(../Images/tm/glos-search.jpg) no-repeat;
  float:left;
  border:0;
  margin:0;
  padding:0;
  display:block;
  width:23px;
  height:22px;
  position:absolute;
  right:0;
}

.logomenu .rt-box nav,
.radius{-webkit-border-radius: 4px;border-radius: 4px;}


/*fixes on hb101 wrapping issue*/
#navtop-main li{
  &:first-child{width:16.1%;}
  &.menuchil-1{width:16.2%;}
  &.menuchil-2{width:21.8%;}
  &.menuchil-3{width:17%;}
  &.menuchil-5{width:28.9%;}
}

/*print link on plan page*/
.s-center .print {
  background: url("../Images/tm/print.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  margin: 5px 0 0;
  padding: 0 0 0 22px;
}

@-moz-document url-prefix() {
  .logomenu .rt-box ul li a {
    padding: 14px 1.45em 0 1.23em;
  }
}

.MobileMenuLink {display:none;}


.join-wrapper{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CECECE;
  display: none;
  height: auto;
  padding: 20px;
  position: absolute;
  width:335px;
  z-index: 9999;
  top: 40px;
  left: -133px;

  h1{
    font-size: 19px;
    color: #d61042;
    line-height: 21px;
    margin: 0 0 12px;
    font-weight: normal;
  }
}

@-moz-document url-prefix() {       
  .join-wrapper {left:583px;}
}

.scfSingleLineTextBorder{
  margin: 0 0 7px;
}

.scfDropListGeneralPanel {
  width: 73% !important;
  display: block;
  float: left;
}

.scfForm {
    height:auto!important;
    margin: 0;
    padding:0 0 4px 10px;
    color:red;

    .scfValidationSummary {
        margin:2px 0 0 0
    }
    .scfSingleLineTextLabel {
      display: none;
    }
    .scfValidationSummary li {
        color:red;
        background:none repeat scroll 0 0 transparent;
        float:left;
        height:auto;
        margin:0!important;
        width:100%;
        border:none
    }

    input {
      width: 238px;
    }

    input,
    select, 
    textarea{
      background: none repeat scroll 0 0 #ECEEE1;
      border: 1px solid #CCCCC2;
      margin-bottom: 4px;
      padding: 2px 5px;
    }
    
    input[type="submit"] {
      background: #D61042;
      // box-shadow: 2px 2px 2px #888888;
      color: #FFFFFF;
    }
}

.cl-bt {
  background-color: #ACB5BB;
  float: right;
  height: 16px !important;
  margin: 5px 24px 0 5px;
  width: 15px !important;
}
.scfSectionContent .scfSingleLineGeneralPanel, .scfSectionContent .scfSingleLineTextLabel, .scfSectionContent .scfEmailLabel .scfSectionContent .scfEmailGeneralPanel, .scfSectionContent .scfMultipleLineGeneralPanel {
    width:90%!important
}
.scfValidatorRequired, .scfRequired {
    margin:0 10px 0 0!important;
    color:red!important;
    float: left;
}
.scfMultipleLineTextLabel {
    width:50%
}

.scfSubmitButtonBorder .scfSubmitButton {
    background:url(/Images/submit_btn.png)!important;
    width:77px!important;
    height:26px!important;
    border:none!important;
    text-indent:112px!important;
    margin:0 0 0 -6px;
    padding:0;
    cursor:pointer
}

.scfDropList{
  width: 100%;
  background-color: #DFDED8;
  margin: 0 0 7px;
  border: 1px solid #b6b5ac;
}
.jil{
  font-size: 10px;
  line-height: 12px;
  a{
    font-size: 10px;
    color: #2da5e0;
    text-decoration: underline;
    line-height: 12px;
  }
}
.cl-bt{
  background-color: #acb5bb;
  width: 15px;
  height: 15px;
  float: right;
  a{
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 4px;
  }
}


.mapprogress {background-color: rgba(255, 252, 252, 0.5);clear: both;float: left;height: 100%;min-height: 150px;padding: 162px 0;position: absolute;width: 100%;z-index: 999;}
.facetprogress,
.progress{background-color: rgba(255, 252, 252, 0.5);height: 96%;min-height: 150px;padding: 41px 0;width: 100%;float:left;clear:both;z-index: 99999999;}
.facetprogress span, .facetprogress div,
.mapprogress span, .mapprogress div,
.progress span,.progress div{background: url("/Images/progress.gif") no-repeat scroll center center transparent;height: 48px;margin: 0 auto !important;padding: 51px 0 0 !important;text-align: center;width: 115px;}

.facetprogress {position: absolute;left: 0;min-height: 450px;padding: 168px 0 !important;top: 16px;display:none;}

.errbx{border: 1px solid #FF0000;color: #FF0000;margin: 15px 0;padding: 13px;width: 100%;}
.errtext{color: #FF0000 !important;font-size:12px !important;font-weight:normal !important;  }
/*Header*/

.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}

header{height: auto; display:block; clear:both; padding:0 0 5px; }
.hdline{height:1px; background:#fff; width:100%;margin:1px 0; clear:both; float:left; border-bottom:1px solid #dfded8;}

/*Search Model*/
#svgmap{width:670px; min-height:400px; height:auto; position:absolute;  background:#fff; border:1px solid #999999; top:0; left:0; z-index:9999; display:none;
           -webkit-border-radius: 4px;border-radius:  4px;}
#svgmap .rt{ border-left: 1px solid #dfded8;float: left;min-height: 363px;margin: 0;padding:0 0 0 10px; width: 250px;height:auto;}
#svgmap #canvas{float: left;overflow: hidden;position: relative;top: 50px;left:-4px;width: 418px;height:316px;display:block;}
#svgmap .rt ul.ddlist{float:left; list-style:none; clear:both; padding:0 0 15px 0;width:120px;}
#svgmap .rt ul.ddlist:first-child{padding-top:0;}
#svgmap .rt ul.ddlist li{ clear:both !important; text-transform:capitalize; background:none !important; height:auto !important;}
#svgmap .rt ul.ddlist li a{line-height:15px; font-size:12px; text-decoration:underline; padding:0 !important;}
#svgmap .rt ul.ddlist li:first-child,
#svgmap .rt ul.ddlist li:first-child a
{text-transform:uppercase !important;text-decoration:none; font-weight:bold !important;}
#svgmap .close{float: right;font-size: 11px;height: 18px;margin: 0 10px 4px;padding: 0 0 0 16px;text-decoration: underline;}
#svgmap p{float: left;font-size: 12px;margin: 0;padding: 0 0 0 22px;position: relative;text-align: left;top: 18px;width: 418px;}
.svglstlt{float:left;width:50%;}

