﻿/* FlexieJS takes into acount 2009 WD styles without vendor prefixes  */
/* WD - working draft; CR - Candidate Recommendation */
.scFlexColumnContainer {
  /*--display: flex--*/
  /*2009 WD*/
  display: -moz-box;
  display: -webkit-box;
  display: box;
  /*2012 WD*/
  display: -ms-flexbox;
  /*2012 CR*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  /*--flex-flow: column nowrap--*/
  /*2009 WD*/
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  /*2012 CR*/
  -ms-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;

  -moz-flex-direction: column;
  flex-direction: column;

  position: relative;
}

.scFlexRowContainer {
  /*--display: flex--*/
  /*2009 WD*/
  display: -moz-box;
  display: -webkit-box;
  display: box;
  /*2012 WD*/
  display: -ms-flexbox;
  /*2012 CR*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  /*--flex-flow: column nowrap--*/
  /*2009 WD*/
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  /*2012 CR*/
  -ms-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;

  -moz-flex-direction: row;
  flex-direction: row;
  
  position: relative;

  height: 100%;
  width: 100%;
}

.scFlexColumnContainerWithoutFlexie {
  /*--display: flex--*/
  /*2009 WD*/
  display: -moz-box;
  display: -webkit-box;
  /*2012 WD*/
  display: -ms-flexbox;
  /*2012 CR*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  /*--flex-flow: column nowrap--*/
  /*2009 WD*/
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  /*2012 CR*/
  -ms-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;

  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  position: relative;
}

.scFlexRowContainerWithoutFlexie {
  /*--display: flex--*/
  /*2009 WD*/
  display: -moz-box;
  display: -webkit-box;
  /*2012 WD*/
  display: -ms-flexbox;
  /*2012 CR*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  /*--flex-flow: column nowrap--*/
  /*2009 WD*/
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  /*2012 CR*/
  -ms-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;

  -moz-flex-direction: row;
  flex-direction: row;
  
  position: relative;

  height: 100%;
  width: 100%;
}

.scFlexContentWithoutFlexie {
  /*--display: flex--*/
  /*2009 WD*/
  -moz-box-flex: 1;
  -webkit-box-flex: 1;

  /*2012 WD/CR*/
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;

  min-height: 1px;
  position: relative;
}

.scFlexContent {
  /*--display: flex--*/
  /*2009 WD*/
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;

  /*2012 WD/CR*/
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;

  min-height: 1px;
  position: relative;
}

.scFlexColumnContainer, .scFlexColumnContainer > *, .scFlexColumnContainerWithoutFlexie > * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
}

.scFlexColumnContainer > div, .scFlexColumnContainerWithoutFlexie > div {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.scFlexRowContainer, .scFlexRowContainer>div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ie8 .scFlexRowContainer, .ie9 .scFlexRowContainer {
  white-space: nowrap;
}

  .ie8 .scFlexRowContainer > div, .ie9 .scFlexRowContainer > div {
    display: inline-block;
    float: none !important;
    vertical-align: top;
  }

  .TreeListSF .scContentControlSelectedList > select {
    overflow-x:auto !important;
}