﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="rfiWidget.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.rfiWidget" %>
<style>
	.UpdatesBox p {padding-left:0;}
</style>
<div class="UpdatesBox" id="RFIWidget">
	<sc:Placeholder runat="server" ID="phCommunityLeadForm" Key="CommunityLeadForm">
	</sc:Placeholder>
</div>
<script>
	function rfiSubmit() {
		//todo this need to send the info to a service
		var fname = document.getElementById('rfi_fname');
		var lname = document.getElementById('rfi_lname');
		var email = document.getElementById('rfi_email');

		alert('Name: ' + fname.value + ' ' + lname.value + '\nEmail: ' + email.value);
	}
</script>
