﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StockWidget.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.StockWidget" %>
<style>
	.StockBox{width:200px;background-color:#D31245;text-align:center;}
</style>
<div class="StockBox" id="RFIWidget">
	<h2>Taylor Morrison(TMHC)</h2>
    <p>BLAH</p>
    <p>blah blah blah blah</p>
    <p>blah blah blah blah</p>
</div>