@media only screen and (max-width: 960px) {
  /* line 9, ../../Sass/mediaqueries/_mid-device.scss */
  #navtop-main li:first-child, #navtop-main li.menuchil-1, #navtop-main li.menuchil-2, #navtop-main li.menuchil-3, #navtop-main li.menuchil-5 {
    width: 20%;
  }

  /* line 14, ../../Sass/mediaqueries/_mid-device.scss */
  .banner img {
    height: 246px;
  }

  /* line 17, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box ul li:last-child a {
    padding: 15px 10px;
  }

  /* line 20, ../../Sass/mediaqueries/_mid-device.scss */
  .breadcrumb {
    display: none;
  }

  /* line 24, ../../Sass/mediaqueries/_mid-device.scss */
  .fot-shad {
    background-size: 438px 14px;
  }

  /* line 28, ../../Sass/mediaqueries/_mid-device.scss */
  .lt-col_mh {
    min-height: 503px;
  }

  /* line 32, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li {
    height: 61px;
    width: 110px;
  }
  /* line 35, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li:first-child {
    width: 108px;
  }
  /* line 36, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li a {
    font-size: 14px;
    line-height: 12px;
    width: 108px;
    top: 15px;
    padding: 0 0 0 6px;
  }
  /* line 37, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li img {
    width: 108px;
    height: 61px;
  }
  /* line 38, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li span {
    font-size: 10px;
    line-height: 11px;
  }
  /* line 39, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li:hover {
    width: 110px;
    height: 61px;
  }
  /* line 40, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li:first-child:hover {
    width: 108px;
    height: 61px;
  }
  /* line 41, ../../Sass/mediaqueries/_mid-device.scss */
  .bannertbtm li:hover {
    background: url(/images/tm/banrimg_on.jpg) no-repeat;
    background-size: 108px 61px;
  }

  /* line 45, ../../Sass/mediaqueries/_mid-device.scss */
  .header .top2 {
    width: 18.9%;
  }
  /* line 50, ../../Sass/mediaqueries/_mid-device.scss */
  .header .top3:after {
    right: 5px;
  }
  /* line 53, ../../Sass/mediaqueries/_mid-device.scss */
  .header .top3 a {
    text-align: left;
    padding-left: 5px;
    width: 140px;
  }
  /* line 61, ../../Sass/mediaqueries/_mid-device.scss */
  .header ul li {
    margin: 0 .13555555em;
  }

  /* line 67, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box {
    width: 72%;
  }
  /* line 69, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box .divi {
    height: 46px;
  }
  /* line 74, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box .hmbuying img {
    padding-top: 5px;
    max-width: 98px;
    width: 100%;
    height: auto;
    padding-top: 5px;
  }
  /* line 82, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box nav {
    height: 47px;
  }
  /* line 86, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box ul li {
    height: 47px;
  }
  /* line 88, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box ul li:after {
    width: 10%;
  }
  /* line 91, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box ul li a {
    width: 100%;
    height: 50px;
    overflow: hidden;
    font-size: 13px;
    padding: 0.662352em 0.59222em 0;
  }
  /* line 99, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .rt-box ul li span {
    font-size: 9px;
  }
  /* line 102, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .lt-box {
    width: 26.5%;
  }
  /* line 105, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .lt-box ul li:after {
    width: 10%;
  }
  /* line 108, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu .lt-box ul li a {
    width: 100%;
  }

  /* line 115, ../../Sass/mediaqueries/_mid-device.scss */
  .newsbx {
    width: 100%;
    float: left;
    clear: both;
  }

  /* Grand Opening */
  /* line 122, ../../Sass/mediaqueries/_mid-device.scss */
  .banner-across {
    width: 634px;
    height: 277px;
  }
  /* line 125, ../../Sass/mediaqueries/_mid-device.scss */
  .banner-across img {
    width: 634px;
    height: 277px;
  }

  /* line 131, ../../Sass/mediaqueries/_mid-device.scss */
  .banner-go .ccs {
    padding-top: 40px;
  }

  /*.across-lt{min-height: 277px;}*/
  /* line 136, ../../Sass/mediaqueries/_mid-device.scss */
  .across-lt {
    height: 277px;
  }

  /* line 141, ../../Sass/mediaqueries/_mid-device.scss */
  .dt-lt,
  .dt-rt {
    margin: 18px 0 0;
  }

  /* line 146, ../../Sass/mediaqueries/_mid-device.scss */
  .dt-lt h1 {
    font-size: 16px;
    line-height: 19px;
    padding: 0 15px 12px 25px;
  }
  /* line 151, ../../Sass/mediaqueries/_mid-device.scss */
  .dt-lt p {
    font-size: 12px;
    line-height: 19px;
    padding: 0 25px;
  }

  /* line 159, ../../Sass/mediaqueries/_mid-device.scss */
  .dt-lt-red,
  .dt-rt-red {
    height: 300px;
    margin: 18px 0 0;
  }

  /* line 165, ../../Sass/mediaqueries/_mid-device.scss */
  .dt-lt-red h1 {
    font-size: 16px;
    line-height: 19px;
    padding: 0 15px 12px 25px;
  }
  /* line 170, ../../Sass/mediaqueries/_mid-device.scss */
  .dt-lt-red p {
    font-size: 12px;
    line-height: 19px;
    padding: 0 25px;
  }

  /* line 178, ../../Sass/mediaqueries/_mid-device.scss */
  .treat li {
    font-size: 12px;
    line-height: 18px;
    margin: 7px 0 0;
  }
  /* line 183, ../../Sass/mediaqueries/_mid-device.scss */
  .treat li:first-child {
    font-size: 16px;
    margin: 0 0 8px -16px;
  }

  /* line 189, ../../Sass/mediaqueries/_mid-device.scss */
  .spec li {
    font-size: 12px;
    line-height: 18px;
    margin: 7px 0 0;
  }

  /* line 190, ../../Sass/mediaqueries/_mid-device.scss */
  .spec li:first-child {
    font-size: 16px;
    margin: 0 0 8px -16px;
  }

  /* line 193, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu-sm li,
  .goMenu li {
    margin-left: 3px;
    height: 25px;
  }

  /* line 197, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu-sm li:first-child {
    margin: 0;
    height: 25px;
  }

  /* line 202, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu-sm li a,
  .goMenu li a {
    padding: 5px 0;
    font-size: 9px;
  }

  /* line 208, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu li .go0 {
    width: 191px;
  }
  /* line 209, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu li .go1 {
    width: 90px;
  }
  /* line 210, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu li .go2 {
    width: 78px;
  }
  /* line 211, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu li .go3 {
    width: 133px;
  }
  /* line 212, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu li .go4 {
    width: 59px;
  }
  /* line 213, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu li .go5 {
    width: 68px;
  }
  /* line 214, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu li span {
    text-indent: 10px;
  }

  /* line 222, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu-sm li.go1 {
    width: 167px;
  }
  /* line 223, ../../Sass/mediaqueries/_mid-device.scss */
  .goMenu-sm li.go2 {
    width: 268px;
  }

  /* line 226, ../../Sass/mediaqueries/_mid-device.scss */
  .go-all-c {
    text-align: center;
  }
  /* line 228, ../../Sass/mediaqueries/_mid-device.scss */
  .go-all-c a {
    font-size: 11px;
    margin: 0 0 15px;
  }

  /* line 235, ../../Sass/mediaqueries/_mid-device.scss */
  .go-date {
    height: 79px;
    margin: 0 0 13px;
  }
  /* line 238, ../../Sass/mediaqueries/_mid-device.scss */
  .go-date h1 {
    font-size: 20px;
    line-height: 21px;
    padding: 5px 0;
    width: 170px;
  }
  /* line 239, ../../Sass/mediaqueries/_mid-device.scss */
  .go-date p {
    font-size: 11px;
    padding: 4px 0 0;
    width: 170px;
  }

  /* line 243, ../../Sass/mediaqueries/_mid-device.scss */
  .go-date
  .go-date
  .go-logo {
    padding: 6px 0;
    width: 170px;
  }
  /* line 246, ../../Sass/mediaqueries/_mid-device.scss */
  .go-date
  .go-date
  .go-logo img {
    height: auto;
    width: 170px;
  }

  /* line 252, ../../Sass/mediaqueries/_mid-device.scss */
  ul.ltnavbut {
    width: 170px;
    margin: 22px 0 0 9px;
    float: left;
  }
  /* line 256, ../../Sass/mediaqueries/_mid-device.scss */
  ul.ltnavbut li {
    height: 21px;
    margin: 4px 0;
  }
  /* line 259, ../../Sass/mediaqueries/_mid-device.scss */
  ul.ltnavbut li a {
    height: 21px;
    padding-left: 38px;
    margin-left: 8px;
    margin-top: 1px;
  }

  /* line 270, ../../Sass/mediaqueries/_mid-device.scss */
  .saleshrs li span,
  .geneInfoBox p,
  .geneInfoBox h2 {
    font-size: 12px;
  }

  /* line 272, ../../Sass/mediaqueries/_mid-device.scss */
  .dd-mapbut li {
    width: 144px;
  }

  /* line 273, ../../Sass/mediaqueries/_mid-device.scss */
  .plan-middle3 {
    width: 50%;
  }

  /* line 274, ../../Sass/mediaqueries/_mid-device.scss */
  .plan-middle4 {
    width: 37%;
  }

  /* line 275, ../../Sass/mediaqueries/_mid-device.scss */
  .dd-map img {
    width: 292px;
    height: 229px;
  }

  /*ul.commDetMenu {width:438px;}*/
  /*.cdm a {width:100%;}*/
  /*  .commDetMenu .cdm {margin-right:1px;}
  .commDetMenu li, .commDetMenu li a {font-size: 9px; padding:4px 1px 0;}*/
  /* line 282, ../../Sass/mediaqueries/_mid-device.scss */
  .CDimage {
    width: 131px;
    max-height: 90px;
    max-width: 160px;
  }

  /* line 283, ../../Sass/mediaqueries/_mid-device.scss */
  .lt-col-cd {
    min-height: 246px;
  }

  /* line 284, ../../Sass/mediaqueries/_mid-device.scss */
  .CDright {
    padding: 15px 1px 0 0;
  }

  /* line 286, ../../Sass/mediaqueries/_mid-device.scss */
  .leftsubTitle2_CD {
    padding: 0 0 3px 22px;
    font-size: 14px;
  }

  /* line 287, ../../Sass/mediaqueries/_mid-device.scss */
  .geneInfo, .geneInfoBox {
    width: 191px;
  }

  /* line 288, ../../Sass/mediaqueries/_mid-device.scss */
  .navln {
    height: 2px;
    margin: 0.6em 0 0.6em;
  }

  /* line 289, ../../Sass/mediaqueries/_mid-device.scss */
  .announc1 a {
    font-size: 11px;
    line-height: 14px;
    padding-top: 53px;
  }

  /* line 290, ../../Sass/mediaqueries/_mid-device.scss */
  .announ1 {
    margin: 14px 0 9px 14px;
  }

  /* line 291, ../../Sass/mediaqueries/_mid-device.scss */
  .commInfo, .promoText, .schoolsInfo {
    width: 438px;
  }

  /* line 292, ../../Sass/mediaqueries/_mid-device.scss */
  .schoolText, .promoText {
    width: 194px;
  }

  /* line 293, ../../Sass/mediaqueries/_mid-device.scss */
  .realtor-right {
    float: left;
  }

  /* line 294, ../../Sass/mediaqueries/_mid-device.scss */
  .realtor-middle {
    width: 33%;
  }

  /* line 295, ../../Sass/mediaqueries/_mid-device.scss */
  .ihc-info {
    float: none;
    margin: 0 0 0 19px;
  }

  /* line 296, ../../Sass/mediaqueries/_mid-device.scss */
  .commImg, .commImg img {
    width: 150px;
  }

  /* line 297, ../../Sass/mediaqueries/_mid-device.scss */
  .commLocation {
    padding-left: 0;
    width: 84px;
  }

  /* line 298, ../../Sass/mediaqueries/_mid-device.scss */
  .commName {
    width: 72%;
  }

  /* line 299, ../../Sass/mediaqueries/_mid-device.scss */
  .commDetails {
    padding-left: 12px;
    width: 118px;
  }

  /* line 300, ../../Sass/mediaqueries/_mid-device.scss */
  .commPromotions {
    width: 111px;
    padding: 10px 0 0;
  }

  /* line 301, ../../Sass/mediaqueries/_mid-device.scss */
  .h-sear3 {
    padding: 8px 0 0 16px;
  }

  /* line 302, ../../Sass/mediaqueries/_mid-device.scss */
  .h-sear4 {
    padding: 8px 0 0 60px;
  }

  /* line 303, ../../Sass/mediaqueries/_mid-device.scss */
  .h-sear5 {
    padding: 8px 0 0 33px;
  }

  /* line 304, ../../Sass/mediaqueries/_mid-device.scss */
  .h-sear6 {
    padding: 8px 0 0 75px;
  }

  /* line 305, ../../Sass/mediaqueries/_mid-device.scss */
  .commCardGrayBar {
    padding-left: 150px;
  }

  /* line 306, ../../Sass/mediaqueries/_mid-device.scss */
  .CDimage, .CDimage img {
    width: 120px;
  }

  /* line 307, ../../Sass/mediaqueries/_mid-device.scss */
  .CDmiddle {
    width: 150px;
  }

  /* line 308, ../../Sass/mediaqueries/_mid-device.scss */
  .viewPlanBtn {
    float: right;
    margin: 11px 0 1px 202px;
    width: 100%;
  }

  /* line 309, ../../Sass/mediaqueries/_mid-device.scss */
  .CDright {
    padding: 15px 20px 0 0;
  }

  /* line 310, ../../Sass/mediaqueries/_mid-device.scss */
  .series {
    float: left;
  }

  /* line 311, ../../Sass/mediaqueries/_mid-device.scss */
  .leftsubPlan {
    padding: 22px 0 6px 22px;
  }

  /* line 312, ../../Sass/mediaqueries/_mid-device.scss */
  .anno-plan {
    padding-top: 37px;
  }

  /* line 313, ../../Sass/mediaqueries/_mid-device.scss */
  ul.commClosed {
    margin: 5px 0 0;
  }

  /* line 314, ../../Sass/mediaqueries/_mid-device.scss */
  .c-closed3 a {
    width: 90px;
  }

  /* line 315, ../../Sass/mediaqueries/_mid-device.scss */
  .content-video img {
    width: 85%;
  }

  /* line 316, ../../Sass/mediaqueries/_mid-device.scss */
  .content-pg, .content-pg h1 {
    width: 438px;
  }

  /* line 317, ../../Sass/mediaqueries/_mid-device.scss */
  .content-banner img {
    width: 81%;
  }

  /* line 318, ../../Sass/mediaqueries/_mid-device.scss */
  .blue-bar a {
    font-size: 11px;
    margin: 0 0 0 9px;
    padding: 0 19px 0 2px;
  }

  /* line 319, ../../Sass/mediaqueries/_mid-device.scss */
  .lt-con li {
    padding: 0 0 0 9px;
  }

  /* line 320, ../../Sass/mediaqueries/_mid-device.scss */
  .hb2 {
    width: 73px;
  }

  /* line 321, ../../Sass/mediaqueries/_mid-device.scss */
  .hb2 a {
    font-size: 14px;
  }

  /* line 322, ../../Sass/mediaqueries/_mid-device.scss */
  .hb5 {
    padding: 0;
    width: 191px;
    height: 103px;
  }

  /* line 323, ../../Sass/mediaqueries/_mid-device.scss */
  .hb3 {
    background: url("/images/tm/101_line.jpg");
    background-repeat: repeat-x scroll 0 0 transparent;
    height: 122px;
    margin: -20px 9px 0 0;
  }

  /* line 324, ../../Sass/mediaqueries/_mid-device.scss */
  .hb1, .hb2, .hb4 {
    margin: 15px 0 0 0;
  }

  /* line 325, ../../Sass/mediaqueries/_mid-device.scss */
  .hb-steps, .hb {
    height: 122px;
  }

  /* line 326, ../../Sass/mediaqueries/_mid-device.scss */
  .hb6 {
    padding: 0 0 0 4px;
  }

  /* line 327, ../../Sass/mediaqueries/_mid-device.scss */
  .twitter {
    margin: 10px 0 5px 16px;
  }

  /* line 328, ../../Sass/mediaqueries/_mid-device.scss */
  .glos-index {
    height: 44px;
  }

  /* line 329, ../../Sass/mediaqueries/_mid-device.scss */
  .glos-search input {
    width: 91px;
  }

  /* line 330, ../../Sass/mediaqueries/_mid-device.scss */
  .glos-search {
    width: 20%;
  }

  /* line 331, ../../Sass/mediaqueries/_mid-device.scss */
  .ri-text {
    margin: 0 0 0 23px;
  }

  /* line 332, ../../Sass/mediaqueries/_mid-device.scss */
  .logo101-b {
    margin: 78px 0 0 17px;
  }

  /* line 333, ../../Sass/mediaqueries/_mid-device.scss */
  .checklist-im {
    width: 219px;
  }

  /* line 334, ../../Sass/mediaqueries/_mid-device.scss */
  .req-info-form p {
    float: left;
    width: 100%;
  }

  /* line 336, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container div.hb101-text {
    width: 205px;
    margin: -53px 0 0 -21px;
  }

  /* line 337, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container div.hb101-logo-sm {
    background-size: 280px;
    width: 334px;
    height: 83px;
    margin: 0 0 0 -21px;
  }

  /* line 343, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container a.bubble_1,
  div.box-container a.bubble_2,
  div.box-container a.bubble_3,
  div.box-container a.bubble_4,
  div.box-container a.bubble_5 {
    background-size: 160px;
  }

  /* line 345, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container a.bubble_5 {
    right: -431px;
    top: -149px;
  }

  /* line 346, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container a.bubble_4 {
    right: -225px;
    top: -38px;
  }

  /* line 347, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container a.bubble_3 {
    right: -460px;
    top: -18px;
  }

  /* line 348, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container a.bubble_2 {
    right: -250px;
    top: 112px;
  }

  /* line 349, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container a.bubble_1 {
    right: -390px;
    top: 135px;
  }

  /* line 355, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container a.bubble_1 span,
  div.box-container a.bubble_2 span,
  div.box-container a.bubble_3 span,
  div.box-container a.bubble_4 span,
  div.box-container a.bubble_5 span {
    font-size: 14px;
    left: 7px;
    top: 32px;
    padding-left: 6px;
    padding-right: 6px;
  }

  /* line 363, ../../Sass/mediaqueries/_mid-device.scss */
  .box-container {
    width: 634px;
    height: 542px;
    background: #5FA9DA;
  }

  /* line 364, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container div.arrows {
    background-size: 95px auto;
    right: 140px;
    top: 220px;
  }

  /* line 365, ../../Sass/mediaqueries/_mid-device.scss */
  .banner101-1, .banner101-2 {
    background-size: 280px auto;
    width: 280px;
  }

  /* line 366, ../../Sass/mediaqueries/_mid-device.scss */
  .banner101-2 {
    float: left;
  }

  /* line 367, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar {
    background-size: 634px 100px;
    width: 635px;
  }

  /* line 368, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar a.hb101-logo {
    background-size: 200px auto;
    left: 10px;
  }

  /* line 370, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar div.top-navi a.bubble_1 {
    right: -194px;
  }

  /* line 371, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar div.top-navi a.bubble_2 {
    right: -276px;
    top: -64px;
  }

  /* line 372, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar div.top-navi a.bubble_3 {
    right: -343px;
    top: -102px;
  }

  /* line 373, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar div.top-navi a.bubble_4 {
    right: -447px;
    top: -171px;
  }

  /* line 374, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar div.top-navi a.bubble_5 {
    right: -524px;
    top: -283px;
  }

  /* line 380, ../../Sass/mediaqueries/_mid-device.scss */
  div.main-navi-bar div.top-navi a.bubble_1,
  div.main-navi-bar div.top-navi a.bubble_2,
  div.main-navi-bar div.top-navi a.bubble_3,
  div.main-navi-bar div.top-navi a.bubble_4,
  div.main-navi-bar div.top-navi a.bubble_5 {
    background-size: 110px;
  }

  /* line 388, ../../Sass/mediaqueries/_mid-device.scss */
  .top-navi a.bubble_1 span,
  .top-navi a.bubble_2 span,
  .top-navi a.bubble_3 span,
  .top-navi a.bubble_4 span,
  .top-navi a.bubble_5 span {
    font-size: 11px;
    left: 8px;
    top: 16px;
  }

  /* line 394, ../../Sass/mediaqueries/_mid-device.scss */
  .si-name {
    width: 243px;
  }

  /* line 395, ../../Sass/mediaqueries/_mid-device.scss */
  .si-co, .si-phone {
    width: 154px;
  }

  /* line 396, ../../Sass/mediaqueries/_mid-device.scss */
  .si-price {
    margin: 42px 0 0 -120px;
    width: 197px;
  }

  /* line 397, ../../Sass/mediaqueries/_mid-device.scss */
  .si-buttons {
    margin: 24px 0 0 -84px;
    width: 303px;
  }

  /* line 398, ../../Sass/mediaqueries/_mid-device.scss */
  .si-bar li {
    margin: 5px 10px 0;
  }

  /* line 399, ../../Sass/mediaqueries/_mid-device.scss */
  ul.si-bar {
    padding: 5px 0 0 246px;
  }

  /* line 400, ../../Sass/mediaqueries/_mid-device.scss */
  .si-phone {
    margin: -17px 0 0;
  }

  /* line 401, ../../Sass/mediaqueries/_mid-device.scss */
  div.box-container div.homebuying-logo-sm {
    top: 30px;
    left: 37px;
  }

  /* line 408, ../../Sass/mediaqueries/_mid-device.scss */
  .logomenu,
  .topheader,
  .home-content-wrapper,
  .footer-content-wrapper,
  .header ul {
    width: 100%;
    padding-left: 10px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 590px) {
  /* line 3, ../../Sass/mediaqueries/_small-device.scss */
  header {
    width: 100%;
  }
  /* line 5, ../../Sass/mediaqueries/_small-device.scss */
  header ul {
    height: 0;
    margin: 0;
  }
  /* line 8, ../../Sass/mediaqueries/_small-device.scss */
  header ul li:last-child {
    display: block;
    margin: 0;
  }
  /* line 13, ../../Sass/mediaqueries/_small-device.scss */
  header .top5 {
    left: 181px;
    padding: 0;
    position: absolute;
    top: 99px;
    z-index: 999;
    color: #fff !important;
  }
  /* line 20, ../../Sass/mediaqueries/_small-device.scss */
  header .top5 a {
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
  }

  /* line 28, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li:last-child a {
    padding: 20px 10px;
  }

  /* line 34, ../../Sass/mediaqueries/_small-device.scss */
  .col-1,
  .col-2,
  .col-3,
  .col-6 {
    width: 100%;
  }

  /* line 38, ../../Sass/mediaqueries/_small-device.scss */
  .home-content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 47, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu,
  .topheader,
  .home-content-wrapper,
  .footer-content-wrapper,
  .header ul {
    width: 100%;
  }

  /* line 55, ../../Sass/mediaqueries/_small-device.scss */
  .logo {
    display: block;
  }
  /* line 57, ../../Sass/mediaqueries/_small-device.scss */
  .logo img {
    max-width: 100%;
    width: 100%;
  }

  /* line 67, ../../Sass/mediaqueries/_small-device.scss */
  .header .top1,
  .header .top2,
  .header .top3,
  .header .top4,
  .header .top5 {
    display: none;
  }

  /* line 71, ../../Sass/mediaqueries/_small-device.scss */
  .searchbox {
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }

  /* line 77, ../../Sass/mediaqueries/_small-device.scss */
  .footerGrayBar ul li {
    display: inline-block;
  }

  /* line 82, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    padding: 18px 0 0;
  }
  /* line 87, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .lt-box {
    float: left;
    width: 100%;
  }
  /* line 91, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box {
    float: left;
    padding: 0;
    height: 26px;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 17px 0 0;
  }
  /* line 101, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box .hmbuying img {
    padding-top: 0px;
    margin-top: -10px;
    margin-left: 5px;
  }
  /* line 106, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box nav {
    border-radius: 0;
  }
  /* line 110, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul {
    width: 100%;
    position: absolute;
    display: none;
    top: 30px;
    z-index: 1000;
  }
  /* line 116, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul a {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-indent: 3px;
  }
  /* line 122, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li {
    width: 100% !important;
    border-bottom: 1px solid #0089d1 !important;
    overflow: hidden;
  }
  /* line 126, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li:hover {
    border-bottom: 1px solid #d31245 !important;
  }
  /* line 129, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li a {
    background: #0095d9 url(/images/tm/arrow-mobile.png) no-repeat right;
    padding: 15px;
  }
  /* line 134, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li:last-child {
    background: url("/images/tm/arrow-mobile.png") no-repeat scroll right center #0095d9;
    border-bottom: none;
  }
  /* line 138, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li :after {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 143, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li span {
    font-size: 16px;
    position: absolute;
  }
  /* line 146, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li span:after {
    content: "";
    padding: 10px;
  }
  /* line 150, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li span:first-child {
    font-size: 24px;
    font-weight: bold;
  }
  /* line 153, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li span:first-child:after {
    content: "";
  }
  /* line 157, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul li span:last-child {
    padding-left: 117px;
    font-size: 16px;
  }
  /* line 163, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box ul .divi {
    display: none;
  }
  /* line 169, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .mapWrapper {
    width: 100%;
  }

  /* line 174, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box, .rt-col {
    width: 100%;
    max-width: 100%;
    overflow: inherit;
  }

  /* line 179, ../../Sass/mediaqueries/_small-device.scss */
  .MobileMenuLink {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 10px 0 0 8px;
    position: absolute;
    background: #0095d9;
    width: 60px;
    height: 37px;
    border: 1px solid #0a6e9c;
    top: -4px;
    left: 30px;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    z-index: 999;
    text-transform: uppercase;
    -moz-box-shadow: 0px 1px 2px #747474;
    -webkit-box-shadow: 0px 1px 2px #747474;
    -ms-box-shadow: 0px 1px 2px #747474;
    box-shadow: 0px 1px 2px #747474;
  }

  /* line 203, ../../Sass/mediaqueries/_small-device.scss */
  #navtop-main li:first-child,
  #navtop-main li:last-child {
    border-radius: 0;
  }

  /* line 209, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .lt-box,
  .lt-col,
  .lt-col-cd,
  .lt-col-s {
    width: 100%;
    padding: 0;
  }

  /* line 214, ../../Sass/mediaqueries/_small-device.scss */
  .lt-col {
    min-height: 69px !important;
    max-width: 100%;
    margin: 0 0 1px;
  }

  /* line 221, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box .navln,
  .lihdr {
    height: 26px;
    margin: 1.5em 0 0;
  }

  /* line 225, ../../Sass/mediaqueries/_small-device.scss */
  #news {
    margin: 0;
  }

  /* line 229, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box {
    overflow: initial;
    margin-bottom: 20px;
  }
  /* line 231, ../../Sass/mediaqueries/_small-device.scss */
  .logomenu .rt-box nav {
    height: 30px;
  }

  /* line 237, ../../Sass/mediaqueries/_small-device.scss */
  .bannertbtm li {
    margin-bottom: 2px;
    height: 93px;
    width: 166px;
    border-left: 2px solid #afac9f;
  }
  /* line 242, ../../Sass/mediaqueries/_small-device.scss */
  .bannertbtm li:hover img {
    display: none;
  }
  /* line 246, ../../Sass/mediaqueries/_small-device.scss */
  .bannertbtm li:first-child, .bannertbtm li:nth-child(3) {
    border: none;
    width: 166px;
    height: 93px;
  }
  /* line 251, ../../Sass/mediaqueries/_small-device.scss */
  .bannertbtm li img {
    width: 164px;
    height: 93px;
    margin: 0;
    padding: 0;
  }
  /* line 257, ../../Sass/mediaqueries/_small-device.scss */
  .bannertbtm li a {
    border: medium none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 17px;
    margin: -8px 0 0;
    padding: 0 0 0 14px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    top: 35%;
    vertical-align: bottom;
    width: 166px;
  }
  /* line 271, ../../Sass/mediaqueries/_small-device.scss */
  .bannertbtm li span {
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    clear: both;
  }

  /*mobile version for community pages*/
  /* line 279, ../../Sass/mediaqueries/_small-device.scss */
  .navln {
    display: none;
  }

  /* line 282, ../../Sass/mediaqueries/_small-device.scss */
  .leftsubTitle2_CD {
    display: none;
  }

  /* line 285, ../../Sass/mediaqueries/_small-device.scss */
  ul.ltnavlnk {
    float: left;
    margin: 0;
    width: 131px;
  }

  /* line 290, ../../Sass/mediaqueries/_small-device.scss */
  li.fav, li.print {
    width: 115px;
  }

  /* line 293, ../../Sass/mediaqueries/_small-device.scss */
  .ltnavlnk li a {
    width: 116px;
  }

  /* line 296, ../../Sass/mediaqueries/_small-device.scss */
  ul.ltnavbut {
    display: none;
  }

  /* line 299, ../../Sass/mediaqueries/_small-device.scss */
  .banner {
    display: none;
    width: 334px;
    height: 189px;
  }

  /* line 304, ../../Sass/mediaqueries/_small-device.scss */
  .banner img {
    border-top: 1px solid #d1d1d1;
  }

  /* line 307, ../../Sass/mediaqueries/_small-device.scss */
  .cd_left {
    display: none;
  }

  /* line 310, ../../Sass/mediaqueries/_small-device.scss */
  .cd_right {
    margin: 0;
  }

  /* line 313, ../../Sass/mediaqueries/_small-device.scss */
  .sort {
    display: none;
  }

  /* line 316, ../../Sass/mediaqueries/_small-device.scss */
  .series {
    display: none;
  }

  /* line 319, ../../Sass/mediaqueries/_small-device.scss */
  .chat-btn img {
    display: none;
  }

  /* line 322, ../../Sass/mediaqueries/_small-device.scss */
  .leftTitle_CD {
    float: left;
    font-size: 22px;
    width: 62%;
    padding: 10px;
    line-height: 22px;
  }

  /* line 329, ../../Sass/mediaqueries/_small-device.scss */
  .leftsubTitle_CD {
    padding-top: 21px;
  }

  /* line 332, ../../Sass/mediaqueries/_small-device.scss */
  .breadcrumb {
    display: none;
  }

  /* line 336, ../../Sass/mediaqueries/_small-device.scss */
  .logoFooter1, .logoFooter2, .logoFooter3, .logoFooter4 {
    display: none;
  }

  /* line 339, ../../Sass/mediaqueries/_small-device.scss */
  .iconF2 {
    padding-right: 5px;
  }

  /* line 342, ../../Sass/mediaqueries/_small-device.scss */
  .f_right {
    float: right;
    padding: 10px 3em;
    width: 96%;
  }

  /* line 347, ../../Sass/mediaqueries/_small-device.scss */
  .rt-col {
    padding: 0;
  }

  /*grand opening*/
  /* line 351, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu li.go0, .goMenu li.go1, .goMenu li.go2, .goMenu li.go3, .goMenu li.go4, .goMenu li.go5 {
    margin: 0 0 3px;
  }

  /* line 354, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu li.go0, .goMenu li.go5 {
    width: 334px;
  }

  /* line 357, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu li.go1 {
    width: 164px;
    margin-right: 3px;
  }

  /* line 361, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu li.go2 {
    width: 167px;
  }

  /* line 364, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu li.go3 {
    width: 198px;
    margin-right: 3px;
  }

  /* line 368, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu li.go4 {
    width: 133px;
  }

  /* line 371, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu li span, .goMenu-sm li a, .goMenu li a {
    padding: 6px 0 0 10px;
    text-align: left;
  }

  /* line 375, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu-sm li a, .goMenu li span {
    text-indent: 0px;
  }

  /* line 378, ../../Sass/mediaqueries/_small-device.scss */
  .dt-lt h1 {
    padding: 0 15px 12px 10px;
  }

  /* line 381, ../../Sass/mediaqueries/_small-device.scss */
  .dt-lt p {
    padding: 0 25px 0 10px;
  }

  /* line 384, ../../Sass/mediaqueries/_small-device.scss */
  .dt-lt {
    width: 165px;
  }

  /* line 387, ../../Sass/mediaqueries/_small-device.scss */
  .dt-rt {
    width: 150px;
  }

  /*coming soon */
  /* line 391, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu-sm li.go1 {
    width: 334px;
    margin: 0 0 3px;
  }

  /* line 395, ../../Sass/mediaqueries/_small-device.scss */
  .goMenu-sm li.go2 {
    width: 334px;
    margin: 0;
  }

  /* line 399, ../../Sass/mediaqueries/_small-device.scss */
  .dt-lt-red {
    width: 165px;
  }

  /* line 402, ../../Sass/mediaqueries/_small-device.scss */
  .dt-rt-red {
    width: 150px;
  }
  /* line 404, ../../Sass/mediaqueries/_small-device.scss */
  .dt-rt-red a {
    padding: 0 0 0 10px;
  }

  /*content page */
  /* line 409, ../../Sass/mediaqueries/_small-device.scss */
  div.blue-bar {
    display: none;
  }

  /* line 412, ../../Sass/mediaqueries/_small-device.scss */
  .content-banner {
    display: none;
  }

  /* line 415, ../../Sass/mediaqueries/_small-device.scss */
  .content-video {
    width: 334px;
  }

  /* line 418, ../../Sass/mediaqueries/_small-device.scss */
  .content-video img {
    margin: 0;
  }

  /* line 421, ../../Sass/mediaqueries/_small-device.scss */
  .content-pg {
    padding: 0 5px 0 5px;
    background: none repeat scroll 0 0 #DFDED8;
  }

  /* line 425, ../../Sass/mediaqueries/_small-device.scss */
  .content-pg h1 {
    margin-top: 8px;
    border: 0;
    font-size: 20px;
    padding: 0 0 0 10px;
  }

  /* line 431, ../../Sass/mediaqueries/_small-device.scss */
  ul.lt-con {
    margin: 10px 0 0;
  }

  /*HB101*/
  /* line 435, ../../Sass/mediaqueries/_small-device.scss */
  .banner101-1 {
    background-size: 279px auto;
  }

  /* line 438, ../../Sass/mediaqueries/_small-device.scss */
  .banner101-2 {
    display: none;
  }

  /* line 441, ../../Sass/mediaqueries/_small-device.scss */
  .glos-index {
    height: 95px;
  }

  /* line 444, ../../Sass/mediaqueries/_small-device.scss */
  .glos-search {
    width: 100%;
  }

  /* line 447, ../../Sass/mediaqueries/_small-device.scss */
  .glos-search input {
    width: 223px;
  }

  /*home features */
  /* line 451, ../../Sass/mediaqueries/_small-device.scss */
  .home-feat {
    margin: 32px 0 0 20px;
    width: 32%;
  }

  /*blog*/
  /* line 456, ../../Sass/mediaqueries/_small-device.scss */
  .blog-lt, .blog-lt2, .blog-form {
    width: 334px;
  }

  /* line 459, ../../Sass/mediaqueries/_small-device.scss */
  .blofo {
    width: 238px;
  }

  /*photos*/
  /* line 463, ../../Sass/mediaqueries/_small-device.scss */
  .pho-thumb li, .pho-thumb2 li {
    width: 93px;
    margin: 3px;
  }

  /* line 467, ../../Sass/mediaqueries/_small-device.scss */
  ul.pho-thumb, ul.pho-thumb2 {
    width: 334px;
  }

  /* line 470, ../../Sass/mediaqueries/_small-device.scss */
  .plan-middle1 {
    width: 295px;
  }

  /*create account*/
  /* line 474, ../../Sass/mediaqueries/_small-device.scss */
  .create-acc {
    margin: 0 4px;
  }

  /* line 477, ../../Sass/mediaqueries/_small-device.scss */
  .next-steps {
    margin: 0 5px 0 0;
    width: 100%;
  }

  /* line 481, ../../Sass/mediaqueries/_small-device.scss */
  .ways-connect {
    width: 100%;
    border: 0;
    padding: 0;
  }

  /*my profile */
  /* line 487, ../../Sass/mediaqueries/_small-device.scss */
  .tm-account .pro-addr {
    width: 230px;
  }

  /* line 490, ../../Sass/mediaqueries/_small-device.scss */
  .ppadd {
    display: none;
  }

  /*lead form */
  /* line 494, ../../Sass/mediaqueries/_small-device.scss */
  .req-info-lt {
    width: 332px;
    height: 501px;
  }

  /* line 498, ../../Sass/mediaqueries/_small-device.scss */
  .img-lead img {
    display: none;
  }

  /* line 501, ../../Sass/mediaqueries/_small-device.scss */
  .create-acc h2 {
    width: 325px;
  }

  /* line 504, ../../Sass/mediaqueries/_small-device.scss */
  .emailf {
    width: 313px;
  }

  /*my saved items */
  /* line 508, ../../Sass/mediaqueries/_small-device.scss */
  .si-img img {
    width: 71%;
  }

  /* line 511, ../../Sass/mediaqueries/_small-device.scss */
  .si-name {
    margin: 4px 0 0 -25px;
    width: 137px;
  }

  /* line 515, ../../Sass/mediaqueries/_small-device.scss */
  .si-co {
    margin: 0 54px 0 0;
    width: 140px;
  }

  /* line 519, ../../Sass/mediaqueries/_small-device.scss */
  .si-phone {
    margin: 0 54px 0 0;
    width: 100px;
    float: left;
  }

  /* line 524, ../../Sass/mediaqueries/_small-device.scss */
  .si-details {
    width: 327px;
    margin: 4px 0 5px;
  }

  /* line 528, ../../Sass/mediaqueries/_small-device.scss */
  .si-price {
    margin: 0;
    width: auto;
  }

  /* line 532, ../../Sass/mediaqueries/_small-device.scss */
  .redMarker-si img {
    margin: 0 0 0 -46px;
  }

  /* line 535, ../../Sass/mediaqueries/_small-device.scss */
  ul.si-bar {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* line 540, ../../Sass/mediaqueries/_small-device.scss */
  .si-bar li a {
    font-size: 11px;
    margin: 5px 0 0 0;
  }

  /* line 544, ../../Sass/mediaqueries/_small-device.scss */
  .si-buttons {
    width: 100%;
    margin: 5px 0 0 0;
  }

  /* line 548, ../../Sass/mediaqueries/_small-device.scss */
  .si-btn1, .si-btn2 {
    margin: 0;
    width: 100%;
  }

  /* line 552, ../../Sass/mediaqueries/_small-device.scss */
  .si-btn1 a, .si-btn2 a {
    font-size: 13px;
    text-align: center;
  }

  /* line 556, ../../Sass/mediaqueries/_small-device.scss */
  .si-header {
    margin: 15px 0 16px;
  }

  /*career details*/
  /* line 560, ../../Sass/mediaqueries/_small-device.scss */
  .career-dt {
    width: 310px;
  }

  /* line 563, ../../Sass/mediaqueries/_small-device.scss */
  .position-header, .position-footer {
    width: 293px;
  }

  /*contact us*/
  /* line 567, ../../Sass/mediaqueries/_small-device.scss */
  .contus-rt {
    border: 0;
    padding: 0;
    margin: 8px 0 0 13px;
  }

  /* line 572, ../../Sass/mediaqueries/_small-device.scss */
  .contus-lt {
    margin: 0 0 0 10px;
  }

  /* line 575, ../../Sass/mediaqueries/_small-device.scss */
  .c-u-inter {
    width: 300px;
  }

  /* line 578, ../../Sass/mediaqueries/_small-device.scss */
  .c-u {
    margin: 0 0 10px 10px;
  }

  /*ihc*/
  /* line 582, ../../Sass/mediaqueries/_small-device.scss */
  .ihc-text {
    width: 57%;
    margin: 8px 0 10px 25px;
  }

  /* line 586, ../../Sass/mediaqueries/_small-device.scss */
  .ihc-bk {
    height: auto;
    width: 334px;
  }

  /*campaign listing*/
  /* line 591, ../../Sass/mediaqueries/_small-device.scss */
  .cam-text {
    width: 321px;
  }

  /*site map*/
  /* line 595, ../../Sass/mediaqueries/_small-device.scss */
  .sp-lt, .sp-rt {
    width: 100%;
  }

  /*error page*/
  /* line 599, ../../Sass/mediaqueries/_small-device.scss */
  ul.error-area {
    width: 40%;
  }

  /*fixes search results page*/
  /* line 603, ../../Sass/mediaqueries/_small-device.scss */
  .legend-map li {
    margin: 3px 3px 0;
    padding: 0 0 0 15px;
  }

  /* line 607, ../../Sass/mediaqueries/_small-device.scss */
  .mapbut li {
    margin-left: 3px;
    width: 48%;
  }

  /* line 611, ../../Sass/mediaqueries/_small-device.scss */
  .mapbut li a {
    font-size: 11px;
    margin-left: 6px;
    padding-left: 33px;
  }

  /* line 616, ../../Sass/mediaqueries/_small-device.scss */
  .commCardGrayBar {
    padding-left: 3px;
  }

  /* line 619, ../../Sass/mediaqueries/_small-device.scss */
  .lb1 {
    padding: 7px 0 0 3px;
  }

  /* line 622, ../../Sass/mediaqueries/_small-device.scss */
  .lb2, .lb3 {
    padding: 2px 0 0 21px;
  }

  /* line 625, ../../Sass/mediaqueries/_small-device.scss */
  .commName {
    padding-left: 5px;
    width: 181px;
  }

  /* line 629, ../../Sass/mediaqueries/_small-device.scss */
  .commLocation {
    margin: 29px 0 0 8px;
    padding: 0;
    width: 310px;
  }

  /* line 634, ../../Sass/mediaqueries/_small-device.scss */
  .commDetails {
    margin: 0 0 0 8px;
    padding-left: 0;
    width: 162px;
  }

  /* line 639, ../../Sass/mediaqueries/_small-device.scss */
  .commPromotions {
    padding: 0;
    position: inherit;
    width: 159px;
  }

  /* line 644, ../../Sass/mediaqueries/_small-device.scss */
  ul.addFav-sr {
    padding: 0 0 10px;
    width: 100%;
  }

  /* line 648, ../../Sass/mediaqueries/_small-device.scss */
  .CDmiddle, .CDmiddleHs {
    width: 156px;
  }

  /* line 651, ../../Sass/mediaqueries/_small-device.scss */
  .viewPlanBtnHs {
    padding: 30px 0 0 34px;
  }

  /*local interest */
  /* line 655, ../../Sass/mediaqueries/_small-device.scss */
  .local-interest {
    margin: 32px 0 0 8px;
    width: 40%;
  }

  /* line 659, ../../Sass/mediaqueries/_small-device.scss */
  .box-local {
    margin: 12px 0 0 10px;
    width: 305px;
  }

  /* line 663, ../../Sass/mediaqueries/_small-device.scss */
  .local-interest-map {
    padding: 0;
  }

  /* line 666, ../../Sass/mediaqueries/_small-device.scss */
  .loc-int li {
    width: 154px;
  }

  /* line 669, ../../Sass/mediaqueries/_small-device.scss */
  .home-feat {
    display: none;
  }

  /* line 672, ../../Sass/mediaqueries/_small-device.scss */
  .local-interest {
    width: 333px;
    margin: 0;
    padding: 0 8px 0 8px;
  }

  /* line 677, ../../Sass/mediaqueries/_small-device.scss */
  .localInterstMap {
    height: 286px;
    width: 305px;
  }

  /* line 681, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li a {
    margin: 0;
  }

  /* line 684, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li:first-child {
    width: 32%;
  }

  /* line 687, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li:nth-child(2) {
    width: 39%;
  }

  /* line 690, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li:nth-child(3) {
    width: 26%;
  }

  /* line 693, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li:nth-child(4) {
    width: 32%;
  }

  /* line 696, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li:nth-child(5) {
    width: 39%;
  }

  /* line 699, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li:nth-child(6) {
    width: 25%;
  }

  /* line 702, ../../Sass/mediaqueries/_small-device.scss */
  .icon-local li:nth-child(7) {
    width: 48%;
  }

  /*fixes on the community page*/
  /* line 706, ../../Sass/mediaqueries/_small-device.scss */
  .commInfo, .promoBlock, .schoolsInfo {
    float: left;
    margin: 13px 0 0;
    padding: 0;
    width: 330px;
  }

  /* line 712, ../../Sass/mediaqueries/_small-device.scss */
  .infobtb li span {
    width: 43%;
  }

  /* line 715, ../../Sass/mediaqueries/_small-device.scss */
  .CDright {
    float: left;
    padding: 15px 20px 0 0;
  }

  /* line 719, ../../Sass/mediaqueries/_small-device.scss */
  ul.addFav2 {
    float: left;
    padding-bottom: 13px;
  }

  /* line 723, ../../Sass/mediaqueries/_small-device.scss */
  .viewPlanBtnHs {
    float: left;
    padding: 0;
  }

  /* line 727, ../../Sass/mediaqueries/_small-device.scss */
  .commInfo, .promoText, .schoolsInfo {
    width: 334px;
    margin: 0;
    padding: 0 8px 0 8px;
  }

  /* line 732, ../../Sass/mediaqueries/_small-device.scss */
  .schoolBlock {
    float: left;
    margin: 12px 0 0;
    width: 328px;
  }

  /* line 737, ../../Sass/mediaqueries/_small-device.scss */
  .schoolImg {
    float: left;
    width: 164px;
  }

  /* line 741, ../../Sass/mediaqueries/_small-device.scss */
  .schoolImg img {
    height: auto;
    max-height: 115px;
    max-width: 152px;
    width: 100%;
  }

  /* line 747, ../../Sass/mediaqueries/_small-device.scss */
  .h-sear3, .h-sear4, .h-sear5, .h-sear6 {
    display: none;
  }

  /* line 750, ../../Sass/mediaqueries/_small-device.scss */
  .lb1 a, .lb2 a, .lb3 a {
    font-size: 11px;
  }

  /*ul.commDetMenu {width:100%;}*/
    /*  .commDetMenu .cdm:last-child {width:100%; height:40px; border-bottom:2px solid #FFFFFF;}
*/
  /*.commDetMenu li img {float:left; margin:-19px 0 0 235px;}*/
  /* line 757, ../../Sass/mediaqueries/_small-device.scss */
  .commInfo h1 {
    margin: 22px 0 24px;
  }

  /*.commDetMenu .on {width:100%;}*/
  /* line 761, ../../Sass/mediaqueries/_small-device.scss */
  .schoolText, .promoText {
    width: 154px;
  }

  /* line 764, ../../Sass/mediaqueries/_small-device.scss */
  .banner-across {
    width: 334px;
  }

  /*ul.planMenu {float:left;}*/
    /*  .planMenu .pd1, .planMenu .pd2, .planMenu .pd3, .planMenu .pd4 {width:100%; border-bottom:1px solid #FFFFFF;}
*/
  /*.planMenu .pd5 {width:100%;}*/
  /* line 771, ../../Sass/mediaqueries/_small-device.scss */
  .banner101-ri {
    height: auto;
  }

  /* line 774, ../../Sass/mediaqueries/_small-device.scss */
  .ri-text {
    width: 295px;
  }

  /* line 777, ../../Sass/mediaqueries/_small-device.scss */
  ul.ri-buttons {
    margin: -30px 0 0 52px;
  }

  /* line 780, ../../Sass/mediaqueries/_small-device.scss */
  .logo101-b {
    margin: 22px 0 0 17px;
  }

  /* line 783, ../../Sass/mediaqueries/_small-device.scss */
  .plan-middle3 {
    width: 100%;
    padding: 0 8px 0 8px;
  }

  /* line 787, ../../Sass/mediaqueries/_small-device.scss */
  .CD_commCard {
    height: 221px;
  }

  /* line 790, ../../Sass/mediaqueries/_small-device.scss */
  ul.CDright {
    float: left;
    margin: 0 0 0 134px;
    width: 59%;
  }

  /* line 795, ../../Sass/mediaqueries/_small-device.scss */
  ul.mapbut {
    width: 100%;
  }

  /* line 798, ../../Sass/mediaqueries/_small-device.scss */
  .box-container {
    background-color: #5DA7D8;
    height: 781px;
    width: 100%;
  }

  /* line 803, ../../Sass/mediaqueries/_small-device.scss */
  .glos-index span {
    width: 100%;
  }

  /* line 806, ../../Sass/mediaqueries/_small-device.scss */
  .hb-steps, .hb {
    height: 291px;
  }

  /* line 809, ../../Sass/mediaqueries/_small-device.scss */
  .hb5 {
    width: 95%;
  }

  /* line 812, ../../Sass/mediaqueries/_small-device.scss */
  .hb3 {
    height: 85px;
    margin: -15px 28px 20px 2px;
  }

    /*  .planMenu li, .planMenu li a {padding:4px 0 0 8px; text-align:left;}
*/
  /* line 818, ../../Sass/mediaqueries/_small-device.scss */
  .announc1 {
    float: left;
    margin: -23px 0 4px 6px;
    width: 95%;
  }

  /* line 823, ../../Sass/mediaqueries/_small-device.scss */
  .announc1 a {
    text-decoration: none;
    font-size: 12px;
    text-align: left;
  }

  /* line 828, ../../Sass/mediaqueries/_small-device.scss */
  .glos-list li span {
    width: 60%;
  }

  /* line 831, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container div.hb101-logo-sm {
    background-size: 280px auto;
    height: 83px;
    margin: 0 0 0 -21px;
    width: 302px;
  }

  /* line 837, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container div.hb101-text {
    margin: -43px 0 0 -21px;
    width: 291px;
  }

  /* line 841, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container div.arrows {
    background-size: 74px auto;
    right: 86px;
    top: 527px;
  }

  /* line 846, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container a.bubble_1 span, div.box-container a.bubble_2 span, div.box-container a.bubble_3 span, div.box-container a.bubble_4 span, div.box-container a.bubble_5 span {
    font-size: 12px;
    left: 4px;
    top: 32px;
    padding: 0 14px 0 14px;
    font-family: arial !important;
  }

  /* line 853, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container a.bubble_1 {
    right: -152px;
    top: 464px;
    width: 175px;
  }

  /* line 858, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container a.bubble_2 {
    right: 0;
    top: 414px;
  }

  /* line 862, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container a.bubble_3 {
    right: -171px;
    top: 328px;
    width: 159px;
  }

  /* line 867, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container a.bubble_4 {
    right: -2px;
    top: 271px;
  }

  /* line 871, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container a.bubble_5 {
    right: -155px;
    top: 177px;
    width: 159px;
  }

  /* line 876, ../../Sass/mediaqueries/_small-device.scss */
  .logo101-b img {
    width: 97%;
  }

  /* line 879, ../../Sass/mediaqueries/_small-device.scss */
  .ri-text h1 {
    width: 305px;
    line-height: 20px;
  }

  /* line 883, ../../Sass/mediaqueries/_small-device.scss */
  .plan-top2, .plan-top3 {
    width: 312px;
  }

  /* line 886, ../../Sass/mediaqueries/_small-device.scss */
  .s-center, .s-associate {
    width: 155px;
  }

  /* line 889, ../../Sass/mediaqueries/_small-device.scss */
  .s-center p, .s-associate p {
    width: 118px;
  }

  /* line 892, ../../Sass/mediaqueries/_small-device.scss */
  .sr-lf {
    height: auto;
    margin: 5px 0 13px 15px;
  }

  /* line 896, ../../Sass/mediaqueries/_small-device.scss */
  .dd-map {
    margin: 0 0 0 -15px;
    width: 294px;
  }

  /* line 900, ../../Sass/mediaqueries/_small-device.scss */
  .loc-int-map {
    border: 1px solid #D3D3D4;
    float: left;
    margin: 0 0 0 10px;
  }

  /* line 905, ../../Sass/mediaqueries/_small-device.scss */
  .priceFromSpace {
    float: left;
    margin: 0;
    padding: 0 0 0 39px;
    width: 166px;
  }

  /* line 912, ../../Sass/mediaqueries/_small-device.scss */
  .mod-tophea1 {
    float: left;
    width: 100%;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 11px;
    color: #666;
  }

  /* line 921, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap {
    min-height: 400px;
    height: auto;
    position: absolute;
    background: #fff;
    border: 1px solid #999999;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    top: 40px;
  }
  /* line 933, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .close {
    float: right;
    font-size: 11px;
    height: 18px;
    margin: 0 10px 4px;
    padding: 0 0 0 16px;
    text-decoration: underline;
    background: url("/Images/tm/sprite-tm-markers.png") no-repeat 0 -69px;
    color: #0095d9;
  }
  /* line 943, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .rt {
    float: left;
    min-height: 363px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
    height: auto;
  }
  /* line 951, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .rt ul.ddlist {
    float: left;
    list-style: none;
    clear: both;
    padding: 0 0 15px 0;
    width: 100%;
    position: inherit;
    height: auto;
  }
  /* line 960, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .rt ul.ddlist:first-child {
    padding-top: 0;
  }
  /* line 967, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .mod-t1 {
    border-top: 1px solid silver;
    float: left;
    width: 96%;
    margin: 0 0 6px;
  }
  /* line 974, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .mod-hea1 {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
    width: 100%;
  }
  /* line 981, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap #canvas {
    display: none;
  }
  /* line 984, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap p {
    display: none;
  }

  /* line 991, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .rt ul.ddlist li:first-child, #svgmap .rt ul.ddlist li:first-child a {
    text-transform: uppercase !important;
    color: #263d88 !important;
    text-decoration: none;
    font-weight: bold !important;
    border: none;
  }

  /* line 999, ../../Sass/mediaqueries/_small-device.scss */
  #svgmap .rt ul.ddlist li {
    border: none;
  }

  /* line 1002, ../../Sass/mediaqueries/_small-device.scss */
  .svglstlt {
    float: left;
    width: 50%;
  }
  /* line 1005, ../../Sass/mediaqueries/_small-device.scss */
  .svglstlt li {
    clear: both !important;
    text-transform: capitalize;
    background: none !important;
    height: auto !important;
  }
  /* line 1011, ../../Sass/mediaqueries/_small-device.scss */
  .svglstlt li a {
    line-height: 15px;
    font-size: 12px;
    color: #1395d3 !important;
    text-decoration: underline;
    padding: 0 !important;
    font-weight: bold;
  }
  /* line 1022, ../../Sass/mediaqueries/_small-device.scss */
  .svglstlt .ddlist-2 {
    height: auto;
    margin-bottom: 10px;
  }
  /* line 1027, ../../Sass/mediaqueries/_small-device.scss */
  .svglstlt .ddlist-2 li:first-child a {
    text-transform: uppercase !important;
    text-decoration: none;
    font-weight: bold !important;
    color: #666 !important;
  }
  /* line 1033, ../../Sass/mediaqueries/_small-device.scss */
  .svglstlt .ddlist-2 li a {
    color: #999 !important;
    font-size: 10px;
  }

  /* line 1040, ../../Sass/mediaqueries/_small-device.scss */
  .header .top2b {
    display: none;
  }

  /* line 1043, ../../Sass/mediaqueries/_small-device.scss */
  .next-arrow {
    float: right;
    height: 28px;
    margin: 26px 0 0;
    padding: 0;
    position: absolute;
    width: 29px;
  }

  /* line 1051, ../../Sass/mediaqueries/_small-device.scss */
  ul.pho-thumb, ul.pho-thumb2 {
    width: 334px;
    margin: 0;
  }

  /* line 1055, ../../Sass/mediaqueries/_small-device.scss */
  .options {
    width: 100%;
  }

  /* line 1058, ../../Sass/mediaqueries/_small-device.scss */
  .options img {
    height: auto;
    width: 24%;
    margin: 0 0 0 81px;
  }

  /* line 1063, ../../Sass/mediaqueries/_small-device.scss */
  ul.personalize {
    float: left;
    margin: -2px 0 15px 45px;
    width: 78%;
  }

  /* line 1068, ../../Sass/mediaqueries/_small-device.scss */
  .personalize li {
    width: 122px;
  }

  /* line 1071, ../../Sass/mediaqueries/_small-device.scss */
  .options img {
    width: 0;
    height: 0;
    display: none;
    max-width: 579px;
  }

  /* line 1077, ../../Sass/mediaqueries/_small-device.scss */
  ul.personalize {
    width: 0;
    height: 0;
    display: none;
    max-width: 579px;
  }

  /* line 1083, ../../Sass/mediaqueries/_small-device.scss */
  .plan-details-top .pho-main img {
    margin: -400px 0 0 -93px;
    max-width: 81%;
    position: absolute;
  }

  /* line 1088, ../../Sass/mediaqueries/_small-device.scss */
  .pho-main img {
    margin: 0;
  }

  /* line 1091, ../../Sass/mediaqueries/_small-device.scss */
  .photo-rotator ul.carousel li.on {
    margin: 0;
  }

  /* line 1094, ../../Sass/mediaqueries/_small-device.scss */
  ul.si-bbr {
    padding: 5px 0 0 5px;
  }

  /*ul.msibuttons {margin:38px 0 4px -122px;}*/
  /* line 1098, ../../Sass/mediaqueries/_small-device.scss */
  .commPromotions-c {
    min-height: 44px;
    width: 221px;
  }

  /* line 1102, ../../Sass/mediaqueries/_small-device.scss */
  .si-bbr li {
    margin: 0 7px 0 0;
  }

  /* line 1105, ../../Sass/mediaqueries/_small-device.scss */
  .hfslist li:nth-child(2), .hfslist li:nth-child(6), .hfslist li:nth-child(7), .hfslist li:nth-child(8) {
    display: none;
  }

  /* line 1108, ../../Sass/mediaqueries/_small-device.scss */
  .hfslist li:first-child {
    width: 44%;
  }

  /* line 1111, ../../Sass/mediaqueries/_small-device.scss */
  .hfslist li:nth-child(3) {
    width: 24%;
  }

  /* line 1114, ../../Sass/mediaqueries/_small-device.scss */
  .hfslist li:nth-child(4), .hfslist li:nth-child(5) {
    width: 15%;
  }

  /* line 1117, ../../Sass/mediaqueries/_small-device.scss */
  .promoImg {
    width: 176px;
  }

  /* line 1120, ../../Sass/mediaqueries/_small-device.scss */
  .clearRightText {
    width: 150px;
  }

  /* line 1123, ../../Sass/mediaqueries/_small-device.scss */
  .content-pg h1 {
    width: 100%;
  }

  /* line 1126, ../../Sass/mediaqueries/_small-device.scss */
  .content-pg {
    background: #fff;
  }

  /* line 1129, ../../Sass/mediaqueries/_small-device.scss */
  .planlist li:nth-child(8), .planlist li:nth-child(5) {
    display: none;
  }

  /* line 1132, ../../Sass/mediaqueries/_small-device.scss */
  .planlist li:first-child {
    width: 21%;
  }

  /* line 1135, ../../Sass/mediaqueries/_small-device.scss */
  .planlist li:nth-child(2) {
    width: 27%;
  }

  /* line 1138, ../../Sass/mediaqueries/_small-device.scss */
  .planlist li:nth-child(3) {
    width: 9%;
  }

  /* line 1141, ../../Sass/mediaqueries/_small-device.scss */
  .planlist li:nth-child(4) {
    width: 11%;
  }

  /* line 1144, ../../Sass/mediaqueries/_small-device.scss */
  .planlist li:nth-child(5) {
    width: 17%;
  }

  /* line 1147, ../../Sass/mediaqueries/_small-device.scss */
  .planlist li:nth-child(6) {
    width: 17%;
  }

  /* line 1150, ../../Sass/mediaqueries/_small-device.scss */
  .halfSection {
    width: 100%;
  }

  /* line 1153, ../../Sass/mediaqueries/_small-device.scss */
  .banner-go .ccs {
    margin: 0 0 30px;
  }

  /* line 1156, ../../Sass/mediaqueries/_small-device.scss */
  .planlist2 li:first-child {
    width: 40%;
  }

  /* line 1159, ../../Sass/mediaqueries/_small-device.scss */
  .planlist2 li:nth-child(2) {
    display: none;
  }

  /* line 1162, ../../Sass/mediaqueries/_small-device.scss */
  .planlist2 li:nth-child(3) {
    width: 21%;
  }

  /* line 1165, ../../Sass/mediaqueries/_small-device.scss */
  .planlist2 li:nth-child(4) {
    width: 23%;
  }

  /* line 1168, ../../Sass/mediaqueries/_small-device.scss */
  .planlist2 li:nth-child(5) {
    width: 8%;
  }

  /* line 1171, ../../Sass/mediaqueries/_small-device.scss */
  .tm_nowselling {
    height: 66px;
  }

  /* line 1174, ../../Sass/mediaqueries/_small-device.scss */
  ul.icon-local {
    padding: 0;
  }

  /* line 1177, ../../Sass/mediaqueries/_small-device.scss */
  .map-more {
    width: 330px;
    padding: 0 8px;
  }

  /* line 1181, ../../Sass/mediaqueries/_small-device.scss */
  .dd-bottom {
    padding: 0 8px;
  }

  /* line 1184, ../../Sass/mediaqueries/_small-device.scss */
  .local-interest-out {
    padding: 0;
  }

  /* line 1187, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar a.hb-logo img {
    width: 86%;
    margin: 16px 0 0;
  }

  /* line 1191, ../../Sass/mediaqueries/_small-device.scss */
  .homebuying-logo-sm img {
    height: 64%;
    margin: 10px 0 0 -8px;
    width: 100%;
  }

  /* line 1196, ../../Sass/mediaqueries/_small-device.scss */
  div.box-container div.homebuying-logo-sm {
    width: 282px;
  }

  /* line 1199, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar div.top-navi {
    background: #64b1df;
    float: left;
    width: 334px;
    height: 236px;
  }

  /* line 1205, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar a.hb-logo {
    margin: 0 0 0 21px;
    top: 4px;
    width: 228px;
  }

  /* line 1210, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar div.top-navi a.bubble_1 {
    right: -18px;
    top: 98px;
  }

  /* line 1214, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar div.top-navi a.bubble_2 {
    right: -106px;
    top: 6px;
  }

  /* line 1218, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar div.top-navi a.bubble_3 {
    right: -201px;
    top: -60px;
  }

  /* line 1222, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar div.top-navi a.bubble_4 {
    right: -21px;
    top: -54px;
  }

  /* line 1226, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar div.top-navi a.bubble_5 {
    right: -118px;
    top: -155px;
  }

  /* line 1230, ../../Sass/mediaqueries/_small-device.scss */
  div.main-navi-bar {
    width: 334px;
  }

  /* line 1233, ../../Sass/mediaqueries/_small-device.scss */
  .top-navi a.bubble_1 span, .top-navi a.bubble_2 span, .top-navi a.bubble_3 span, .top-navi a.bubble_4 span, .top-navi a.bubble_5 span {
    font-size: 11px;
    left: 11px;
    padding-left: 4px;
    padding-right: 4px;
    top: 16px;
  }

  /* line 1240, ../../Sass/mediaqueries/_small-device.scss */
  .checklist {
    padding: 0 8px;
  }

  /* line 1243, ../../Sass/mediaqueries/_small-device.scss */
  #elements-top {
    width: 334px;
  }

  /* line 1246, ../../Sass/mediaqueries/_small-device.scss */
  div#element-logo-text {
    display: none;
  }

  /* line 1249, ../../Sass/mediaqueries/_small-device.scss */
  div#element-main-content {
    width: 332px;
  }

  /* line 1252, ../../Sass/mediaqueries/_small-device.scss */
  .footerLinks {
    display: block;
  }

  /* line 1255, ../../Sass/mediaqueries/_small-device.scss */
  div#footer {
    display: inline-block;
    float: left;
    margin-left: 44px;
    padding-top: 33px;
    position: relative;
  }

  /* line 1262, ../../Sass/mediaqueries/_small-device.scss */
  div#element-text-content div#default {
    margin: 0;
  }

  /* line 1265, ../../Sass/mediaqueries/_small-device.scss */
  div#accordion-item-environment {
    background-size: 100% auto;
    display: none;
    margin: -29px 0 0 -20px;
    width: 331px;
  }

  /* line 1271, ../../Sass/mediaqueries/_small-device.scss */
  div#accordion-item-efficiency {
    display: none;
  }

  /* line 1274, ../../Sass/mediaqueries/_small-device.scss */
  div#accordion-item-energy {
    display: none;
  }

  /* line 1277, ../../Sass/mediaqueries/_small-device.scss */
  div#elements-accordion-wrapper, #elements-top-separator {
    width: 333px;
  }

  /* line 1280, ../../Sass/mediaqueries/_small-device.scss */
  #ms-main-container {
    width: 335px;
  }

  /* line 1283, ../../Sass/mediaqueries/_small-device.scss */
  div#footer {
    width: 269px;
  }

  /* line 1286, ../../Sass/mediaqueries/_small-device.scss */
  div#element-text-content div#default {
    width: 261px;
  }

  /* line 1289, ../../Sass/mediaqueries/_small-device.scss */
  div#element-text-content {
    float: left;
    height: 186px;
    position: relative;
    width: 314px;
  }

  /* line 1295, ../../Sass/mediaqueries/_small-device.scss */
  #div-left-col-content {
    width: 332px;
  }

  /* line 1298, ../../Sass/mediaqueries/_small-device.scss */
  #div-right-col-content .feature-separator {
    width: 333px;
  }

  /* line 1301, ../../Sass/mediaqueries/_small-device.scss */
  #div-right-col-content {
    width: 333px;
  }

  /* line 1304, ../../Sass/mediaqueries/_small-device.scss */
  #division-footer {
    height: 210px;
  }

  /* line 1307, ../../Sass/mediaqueries/_small-device.scss */
  #division-footer .hers-ratings {
    left: 239px;
    margin: 77px 0 0 -223px;
  }

  /* line 1311, ../../Sass/mediaqueries/_small-device.scss */
  #division-footer {
    width: 332px;
  }

  /* line 1314, ../../Sass/mediaqueries/_small-device.scss */
  #div-right-col-content .feature-pane {
    width: 331px;
  }

  /* line 1317, ../../Sass/mediaqueries/_small-device.scss */
  #division-footer .hers-ratings {
    background-size: 13% auto;
  }

  /* line 1320, ../../Sass/mediaqueries/_small-device.scss */
  #division-footer .hers-ratings .desc {
    margin: 0 0 0 -72px;
  }

  /* line 1323, ../../Sass/mediaqueries/_small-device.scss */
  #division-footer .hers-ratings .details-button {
    margin: 0 0 0 -62px;
  }

  /* line 1326, ../../Sass/mediaqueries/_small-device.scss */
  #div-footer-separator .shadow {
    width: 332px;
  }

  /* line 1329, ../../Sass/mediaqueries/_small-device.scss */
  div#element-header-text {
    color: #F9F9F7;
    float: right;
    font-family: 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-right: 8px;
    margin-top: -7px;
  }

  /* line 1339, ../../Sass/mediaqueries/_small-device.scss */
  .lb1 {
    margin: 0 0 0 7px;
  }

  /* line 1342, ../../Sass/mediaqueries/_small-device.scss */
  .sb1 {
    min-width: 148px;
  }

  /* line 1345, ../../Sass/mediaqueries/_small-device.scss */
  .h-sear2 {
    padding: 6px 0 0 5px;
    width: 179px;
  }

  /* line 1349, ../../Sass/mediaqueries/_small-device.scss */
  .UpdatesBoxModel, .UpdatesBox {
    margin: 24px 0 0;
    z-index: 999;
  }

  /* line 1353, ../../Sass/mediaqueries/_small-device.scss */
  .scfSubmitButtonBorder .scfSubmitButton {
    float: right;
    margin: 0 89px 0 2px;
  }

  /* line 1357, ../../Sass/mediaqueries/_small-device.scss */
  .header .top3 {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }

  /* line 1365, ../../Sass/mediaqueries/_small-device.scss */
  .header .top3 a {
    display: none;
  }

  /* line 1368, ../../Sass/mediaqueries/_small-device.scss */
  .header .top3:after {
    display: none;
  }

  /* line 1371, ../../Sass/mediaqueries/_small-device.scss */
  #globalRFI .cancelLink {
    margin: -18px 53px 11px;
  }

  /* line 1374, ../../Sass/mediaqueries/_small-device.scss */
  #globalRFI .scfSubmitButtonBorder input {
    margin: -11px 0 0 84px;
  }

  /* line 1377, ../../Sass/mediaqueries/_small-device.scss */
  .cl-bt-tex2 {
    margin: 151px 0 0 48px;
  }

  /*fixes on elements */
  /* line 1381, ../../Sass/mediaqueries/_small-device.scss */
  div#elements-accordion-wrapper {
    display: none;
  }

  /* line 1384, ../../Sass/mediaqueries/_small-device.scss */
  div#element-main-content {
    height: 707px !important;
    margin: 0 !important;
    width: 319px !important;
  }

  /* line 1389, ../../Sass/mediaqueries/_small-device.scss */
  div#element-text-content div#default {
    margin: 26px 0 0 315px !important;
    width: 285px !important;
  }

  /* line 1393, ../../Sass/mediaqueries/_small-device.scss */
  #ms-main-container {
    width: 335px !important;
  }

  /* line 1396, ../../Sass/mediaqueries/_small-device.scss */
  div#element-text-content {
    width: 314px !important;
  }

  /* line 1399, ../../Sass/mediaqueries/_small-device.scss */
  #elements-top {
    width: 313px;
  }

  /* line 1402, ../../Sass/mediaqueries/_small-device.scss */
  div#elements-accordion-wrapper, #elements-top-separator {
    width: 313px !important;
  }

  /* line 1405, ../../Sass/mediaqueries/_small-device.scss */
  a.insh1 {
    color: #0095D9;
  }

  /* line 1408, ../../Sass/mediaqueries/_small-device.scss */
  #mobileHours {
    display: inline-block;
    clear: both;
    margin: 13px;
    padding-bottom: 1.5em;
  }

  /* line 1414, ../../Sass/mediaqueries/_small-device.scss */
  #mobileHours .announ {
    display: none;
  }

  /* line 1417, ../../Sass/mediaqueries/_small-device.scss */
  .callsToAction {
    display: none !important;
  }
}
