﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DrivingDirectionsSummary.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Community.DrivingDirectionsSummary" %>
<h1>Driving Directions</h1>
<sc:Text ID="scTextDescription" Field="Driving Directions Text" runat="server" />
