﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EventDetails.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Community.EventDetails" %>

    <sc:Text runat="server" ID="EventInfo" Field="Community Event Details"/>