﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: normal 12px/16px  Arial, Helvetica, sans-serif, serif;color: #666666;

	/*-webkit-transition-property: width; -moz-transition-property: width; transition-property: width;
	-webkit-transition-property: height; -moz-transition-property: height; transition-property: height;
	-webkit-transition-property: backgound; -moz-transition-property: backgound; transition-property: backgound;
	-webkit-transition-property: font-size; -moz-transition-property: font-size; transition-property: font-size;
	-webkit-transition-duration: .5s, .5s; -moz-transition-duration: .5s, .5s; transition-duration: .5s, .5s;
	-webkit-transition-timing function: linear, ease-in; -moz-transition-timing function: linear, ease-in; transition-timing function: linear, ease-in;*/
}

h1 {font-size:20px;}
h4 {float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0 0 10px;
    width: 100%;}

strong{font-weight:bold;}
audio,canvas,video {display: inline-block;*display: inline;*zoom: 1;}
audio:not([controls]) {display: none;}
.printLink{display: none}
[hidden] {display: none;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

html,
button,
input,
select,
textarea {font-family: sans-serif;color: #333;}

::-moz-selection {background: #2a2a2a;color: #fff;text-shadow: none;}
::selection {background: #2a2a2a;color: #fff;text-shadow: none;}

a:focus, a:hover,a:active {outline:none;}
a.no-wrap {white-space: nowrap;}
p {padding: 5px 0;}

body{line-height: 1; background: #fff; 	overflow-y:scroll !important;}
ul{list-style:none;}
shape, group{margin: 0;padding: 0;border: 0;}
/*svg, tspan{text-shadow: 0 2px 2px #151515; filter: Shadow(Color=#151515, Direction=120, Strength=2);}*/

* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
#map_canvas div{-moz-box-sizing: content-box !important;-webkit-box-sizing: content-box !important;box-sizing: content-box !important;}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}

/* all */
::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; } /* firefox 19+ */
::-ms-placeholder { color:#999; } /* ie10+ */
input:-moz-placeholder { color:#999; }

/*-------------------------------------------
Global Element sizes
---------------------------------------------*/


/* Styles for Inspiration Gallery */
h1.insh {
    color: #D31245;
    font-size: 22px;
    line-height: 29px;
}

section.iss-lt {
    padding: 19px 22px 0;
}
.inscheck {
    float: left;
    padding: 0 0 5px;
    width: 100%;
}

a.inslink {
    color: #0095D9;
    float: left;
    font-size: 11px;
    margin: 10px 0 17px;
    text-decoration: underline;
}

.inscheck input {
    float: left;
}

.inscheck span {
    float: left;
    margin: 0 0 0 5px;
}

.gba1 {
    background-color: #E5E5E5;
    height: 102px;
    margin: 1px 0 0 -1px;
    padding: 12px;
}

#bx-pager .activeC {
    border: 1px solid #333333;
    box-shadow: 0 3px 4px 2px #333333;
}
#arrow1 {display:none;}

@media only screen and (max-width : 960px)
{
	/*Wide width*/
	.logomenu,.topheader,.home-content-wrapper, .footer-content-wrapper,.header ul
	{width:634px !important;padding-left:0  !important; padding-right:0  !important;}

	/*Left column*/
	.logomenu .lt-box,.lt-col, .lt-col-cd, .lt-col-s, .cd_left,.across-lt,.geneInfoBox,.geneInfo
	{ width: 191px !important;}

	/*Right column*/
	.logomenu .rt-box,.rt-col,ul.bannertbtm,.banner,.banner img,ul.bannertbtm,#news,.cd_right,.cd_right2,.ppc-bnr, .ppc-bnr img, .content-pg, .breadcrumb
	{ width: 438px !important;}

	/*inner wide elements*/
	.search-results-wrapper,ul.goMenu,.banner-go,.banner-across, .banner-across img,.plan-details-top, ul.planMenu, .viewplanbox, .viewplanbox2,
	.commCard, .dd-top, .dd-bottom,.det-wrapper-bt,.plan-details-wrapper,.sitePlanImg, .local-interest-map
	{width:634px !important;}

.mapt{width: 291px !important;}
}

/*Mobile*/
@media only screen and (max-width : 579px)
{
	/*Wide width*/
	.logomenu,.topheader,.home-content-wrapper, .footer-content-wrapper,.header ul
	{width:334px !important;padding-left:0 !important; padding-right:0 !important;}

	/*Left and Right column*/
	.logomenu .lt-box,.lt-col, .lt-col-cd, .lt-col-s, .logomenu .rt-box,.rt-col,ul.bannertbtm,.banner,.banner img,ul.bannertbtm,#news,
	.cd_right,.cd_right2 .cd_left,.geneInfoBox,.across-lt,.ppc-bnr, .ppc-bnr img,.geneInfo, .content-pg, .breadcrumb
	{width: 334px !important; margin:0 !important;}

	/*inner wide elements*/
	.search-results-wrapper,ul.goMenu,.banner-go,.banner-across, .banner-across img,.plan-details-top, ul.planMenu, .viewplanbox, .viewplanbox2,
	.commCard, .dd-top, .dd-bottom,.det-wrapper-bt,.plan-details-wrapper,.sitePlanImg, .local-interest-map
	{width:334px !important;}
	.mapt{width: 334px !important;}
}

.mapprogress {background-color: rgba(255, 252, 252, 0.5);clear: both;float: left;height: 100%;min-height: 150px;padding: 162px 0;position: absolute;width: 100%;z-index: 999;}
.facetprogress,
.progress{background-color: rgba(255, 252, 252, 0.5);height: 96%;min-height: 150px;padding: 41px 0;width: 100%;float:left;clear:both;z-index: 99999999;}
.facetprogress span, .facetprogress div,
.mapprogress span, .mapprogress div,
.progress span,.progress div{background: url("/Images/progress.gif") no-repeat scroll center center transparent;height: 48px;margin: 0 auto !important;padding: 51px 0 0 !important;text-align: center;width: 115px;}

.facetprogress {position: absolute;left: 0;min-height: 450px;padding: 168px 0 !important;top: 16px;display:none;}

.errbx{border: 1px solid #FF0000;color: #FF0000;margin: 15px 0;padding: 13px;width: 100%;}
.errtext{color: #FF0000 !important;font-size:12px !important;font-weight:normal !important;  }
/*Header*/

.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}

header{height: auto; display:block; clear:both; padding:0 0 5px; }
.hdline{height:1px; background:#fff; width:100%;margin:1px 0; clear:both; float:left; border-bottom:1px solid #dfded8;}

/*Search Model*/
#svgmap{width:670px; min-height:400px; height:auto; position:absolute;  background:#fff; border:1px solid #999999; top:60px; left:0; z-index:9999; display:none;
           -webkit-border-radius: 4px;border-radius:  4px;}
#svgmap .rt{ border-left: 1px solid #dfded8;float: left;min-height: 363px;margin: 0;padding:0 0 0 10px; width: 250px;height:auto;}
#svgmap #canvas{float: left;overflow: hidden;position: relative;top: 50px;left:-4px;width: 418px;height:316px;display:block;}
#svgmap .rt ul.ddlist{float:left; list-style:none; clear:both; padding:0 0 15px 0;width:120px;}
#svgmap .rt ul.ddlist:first-child{padding-top:0;}
#svgmap .rt ul.ddlist li{ clear:both !important; text-transform:capitalize; background:none !important; height:auto !important;}
#svgmap .rt ul.ddlist li a{line-height:15px; font-size:12px; text-decoration:underline; padding:0 !important;}
#svgmap .rt ul.ddlist li:first-child,
#svgmap .rt ul.ddlist li:first-child a
{text-transform:uppercase !important;text-decoration:none; font-weight:bold !important;}
#svgmap .close{float: right;font-size: 11px;height: 18px;margin: 0 10px 4px;padding: 0 0 0 16px;text-decoration: underline;}
#svgmap p{float: left;font-size: 12px;margin: 0;padding: 0 0 0 22px;position: relative;text-align: left;top: 18px;width: 418px;}
.svglstlt{float:left;width:50%;}

/*Search Facet*/
#srhfactbx{/*position:absolute;*/ width:100%; bottom:0; height:auto; z-index:999; float:left;}
.searchfact{height:446px; float:left; width:100%;padding:0 16px; background:#dfded8;display:none;}
.searchfact div, .searchfact p{width:100%;float:left; padding:0; clear:both; margin:7px 0 0;}
.searchfact div > div{margin:1px 0 0;}
.searchfact span{float:right;}
.searchfact .range p{ margin:5px 0;}
.searchfact p,
.searchfact span,
.searchfact select,
.searchfact li,
.searchfact li label
{font:normal 11px/12px Arial; color:#666666;margin:0}

.searchfact select{width:100%;}
.searchfact ul{float:left;}
.searchfact ul li{background:#fff; width:28px; height:16px; text-align:center; margin: 0 0 0 2px; float:left;}
.searchfact ul li:first-child{margin: 0 0 0 2px;}
.searchfact ul li span,
.searchfact ul li label{float: left;margin:0;padding: 2px 0 0;text-align: center;text-decoration: none;width: 100%; height:100%;}
.searchfact ul li:hover label{margin: 0;padding: 1px 0 0; border:1px solid #0095D9;}

.searchfact ul li:hover label.selected,
.searchfact ul li:hover label.available,
.searchfact ul li label.selected,
.searchfact ul li label.available,
.searchfact ul li:active label{border:none; background: #0095D9;color: #fff;}

.searchfact select .selected,
.searchfact select .available{color:#0095D9;}

.searchfact ul li span.readonly:hover,
.searchfact ul li span.readonly{
    background: none repeat scroll 0 0 #EFEFEF;
    border: none !important;
    color: #DCDCDC !important;
}

.searchfact .disabled{color: #DCDCDC !important;}

ul.srchstories li{width:22px;}
.searchfact div div:nth-child(2){height:17px;}
a.facetclear{float:right;}
.bonden{width:95px !important;}

#realtorfacet{margin:0;padding:0;display:none;}
.rlrsearch{background:url(/images/tm/realtorhomesearch.png) no-repeat 0 0; width:159px; height:30px;margin:5px 0;float:left;display:block;  }

#sldrrange-StartingPrice, #sldrrange-SquareFeet{float:none; width:213px; height:10px; border:1px solid #d8d6d1; position:relative;
background: rgb(204,204,203); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2FkYWRhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGFkYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(204,204,203,1) 0%, rgba(204,204,203,1) 50%, rgba(173,173,173,1) 51%, rgba(173,173,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,203,1)), color-stop(50%,rgba(204,204,203,1)), color-stop(51%,rgba(173,173,173,1)), color-stop(100%,rgba(173,173,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(204,204,203,1) 0%,rgba(204,204,203,1) 50%,rgba(173,173,173,1) 51%,rgba(173,173,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(204,204,203,1) 0%,rgba(204,204,203,1) 50%,rgba(173,173,173,1) 51%,rgba(173,173,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(204,204,203,1) 0%,rgba(204,204,203,1) 50%,rgba(173,173,173,1) 51%,rgba(173,173,173,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(204,204,203,1) 0%,rgba(204,204,203,1) 50%,rgba(173,173,173,1) 51%,rgba(173,173,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccb', endColorstr='#adadad',GradientType=0 ); /* IE6-8 */
}

#sldrrange-StartingPrice .ui-widget-header,
#sldrrange-SquareFeet .ui-widget-header{background: #c7e8f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3ZThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M3ZThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzljZDZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Y2Q2ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c7e8f7 0%, #c7e8f7 50%, #9cd6ef 51%, #9cd6ef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7e8f7), color-stop(50%,#c7e8f7), color-stop(51%,#9cd6ef), color-stop(100%,#9cd6ef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c7e8f7 0%,#c7e8f7 50%,#9cd6ef 51%,#9cd6ef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c7e8f7 0%,#c7e8f7 50%,#9cd6ef 51%,#9cd6ef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c7e8f7 0%,#c7e8f7 50%,#9cd6ef 51%,#9cd6ef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c7e8f7 0%,#c7e8f7 50%,#9cd6ef 51%,#9cd6ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e8f7', endColorstr='#9cd6ef',GradientType=0 ); /* IE6-8 */
}

.searchfact .ui-slider-horizontal .ui-slider-range{top:-1px;}
.searchfact .ui-widget-header .ui-slider-horizontal .ui-slider-range{top:-0.2em;}
/*.searchfact .ui-slider-horizontal .ui-slider-range{top:-0.45em\0/} IE8*/

#sldrrange-SquareFeet a,
#sldrrange-StartingPrice a{background: url('/Images/arrow-facet-rg.png') no-repeat !important; width:17px; height:17px; border:none;}
#sldrrange-SquareFeet a:nth-child(2),
#sldrrange-StartingPrice a:nth-child(2){background: url('/Images/arrow-facet-lt.png') no-repeat !important;}

.srchmap {float:left; margin:0; padding:0;width:99.9%;position:relative;}
.srchmap:before,
.srchmap:after {
  display: table;
  content: "";
}
.srchmap:after {
  clear: both;
}
.mapWindow{height:432px; width:100%; margin:0; border:1px solid #dcdcdc; }

#content {max-height:210px !important;max-width:250px !important;}
#content h1,
#content a.hdr{font-size:14px !important; font-weight:700;color:#0095d9;}
#content img{width:180px; height:auto;}
#content div,
#content div a,
#content div p{width:100%;height:auto;}

ul.saleshrs{float:left;margin:10px 0 0; clear:both; width:100% }
.saleshrs li {clear: both;float: left;margin: 1px 0;width: 100%;}
.saleshrs li span{font-size:13px; color:#333333; float:left; width:65%; text-align:right;}
.saleshrs li span:first-child{ text-align:left;width:35%;}
.mapt {height:350px;width:447px;}

.redMarker {float:left; border:0; margin:0 7px 0 0;display:block;}
.redMarker img{width:26px; height:35px;}
.schoolsInfo h1 {color: #841317; font-size: 19px; font-weight: normal;}
.priceFrom {font-size:12px; display:inline-block;}
.searchbox input{width:100%;font-size:12px;float:left;height:22px;border: 1px solid #19398a; padding-left:7px;}
.commDetMenu li img {cursor: pointer;float: right;margin: -31px -1px 0 0; padding: 9px;}

.redMarker-si > div,
.redMarker-c > div,
.redMarker > div {cursor:pointer;}

/*Lead forms*/
.scfForm {  height: auto !important;margin: -8px 0 0;padding: 0 0 4px 10px;color:#ff0000;}
.scfSectionContent .scfSingleLineGeneralPanel, .scfSectionContent .scfSingleLineTextLabel, .scfSectionContent .scfEmailLabel
.scfSectionContent .scfEmailGeneralPanel,
.scfSectionContent .scfMultipleLineGeneralPanel {width: 90% !important;}
.scfValidatorRequired, .scfRequired {margin: 0 10px 0 0!important;color:#ff0000 !important;}
.scfMultipleLineTextLabel {width:50%;}

.scfForm .scfValidationSummary{margin:2px 0 0 0;}
.scfForm .scfValidationSummary li{color:#ff0000;background: none repeat scroll 0 0 transparent;float: left;height: auto;margin: 0 !important;width: 100%;border:none;  }
.scfSubmitButtonBorder .scfSubmitButton{background:url(/Images/submit_btn.png) !important;width:77px !important;height:26px !important;border:none !important;text-indent:112px !important;margin:0 0 0 -6px;padding:0; cursor:pointer}
/*.UpdatesBoxModel,
.UpdatesBox {background: #afac9f; width:205px; min-height:200px;margin: 23px 0 0 0;height:auto;}*/

.UpdatesBox {
    background: none repeat scroll 0 0 #AFAC9F;
    height: 336px;
    margin: 23px 0 0;
    width: 205px;
}

.UpdatesBoxModel {
    background: none repeat scroll 0 0 #AFAC9F;
    height: 242px;
    margin: 23px 0 0;
    width: 205px;
}

.UpdatesBoxModel p,
.UpdatesBox p {color:#fff !important; font-size:16px !important; line-height: 19px !important; padding:12px 0 11px 18px;}
.UpdatesBoxModel input,
.UpdatesBox input {margin:0 0 4px;}
.submit_btn {padding:2px 0 0 10px;}
.UpdatesBoxModel {display:none;position:absolute;  }
#msignupleadform{cursor:pointer}
#homeforsaleSearchResult div.com-hdr:first-child,
#CommunitySearchResult div.com-hdr:first-child {display:none;}
.com-hdr {background-color:#afac9f; height:30px;width:100%;clear:both;margin:20px 0 0 0;float:left;padding:0;}
a.footerprods{text-transform:lowercase}

.fav-savitems{background: url("/images/tm/redStar.png") no-repeat scroll left center transparent;padding: 0 0 0 20px;}
.noComRecords{margin:30px 0;float:left;font-size:12px;}
.noComRecords a{color:#0095d9;}

.rt-col h1 {color: #19398A; font-size: 20px; padding: 5px 0 9px;}
/*.scfSubmitButtonBorder input {background: none repeat scroll 0 0 #C02D2D; border: 1px solid #FFFFFF; box-shadow: 2px 2px 2px #888888;  clear: both;  float: left;    height: 24px;  margin: 4px 0; width: 100%;}*/
.chat-btn{overflow:hidden;}
.sitePlanImg {float: left;  height: auto;  width: 920px;}

.hfslist ul:first-child li{font-size:12px; font-weight:bold;margin:6px 0 10px 0;}

.hfslist li:first-child{width:38%;}
.hfslist li:nth-child(2){width:16%;}
.hfslist li:nth-child(3){width:9%;}
.hfslist li:nth-child(4),
.hfslist li:nth-child(5),
.hfslist li:nth-child(6),
.hfslist li:nth-child(7){width:6%; text-align:center;}
.hfslist li:nth-child(8){width:13%;}

ul.msibuttons {width: 206px; float:left; margin:0 0 0 29px;}
.msibuttons li {border: 1px solid #FFFFFF; box-shadow: 2px 2px 2px #888888; clear: both;  float: left;  height: 24px; margin: 4px 0;   width: 204px;}
.msibuttons li:first-child a{background: url("/images/tm/envelope.png") no-repeat scroll 5px 2px transparent;}
.msibuttons li a, .plan1but li:last-child a { background: url("/images/tm/chat.png") no-repeat scroll 5px 2px transparent;}
.msibuttons li a {color: #FFFFFF; float: left; height: 24px; padding-left: 44px; padding-top: 3px; position: relative; text-decoration: none; width: 203px;text-align:left;/* z-index: 999;*/}

.lv-chat-but{float: left;height: 24px;margin: -24px 0 0;width: 205px;position:relative;}
.lv-chat-but a{background:none !important;margin:0 !important;padding:0 !important;left:0;/*z-index:0 !important*/}

a.button,
a.button-arrow {
-moz-box-shadow: 0 0 2px 2px #bbb;
-webkit-box-shadow: 0 0 2px 2px #bbb;
	box-shadow: 0 0 2px 2px #bbb;
	border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
    float: left !important;
    font-size: 12px !important;
    height: 22px !important;
    margin: 5px 10px 5px 0 !important;
    padding: 3px 15px !important;
    text-decoration: none !important;
    width: auto !important;
	text-transform:uppercase;
	line-height: 16px !important;
}

.button a,
.button-arrow a{float:left;color: #FFFFFF;text-decoration:none; margin:1px 0 0 5px;}
a.button span,
a.button-arrow span,
span.arrow-ri {border-bottom: 6px solid transparent;  border-left: 6px solid #FFFFFF; border-top: 6px solid transparent;  float: right;  height: 0;  margin: 1px 0 0 10px; width: 6px;}
.scfForm input, .scfForm select, .scfForm textarea {padding:2px 0 2px 5px; margin:0 0 4px;}
/*.scfForm input {width:138px;}*/ /*removing to fix bug 62826*/

.si-img2 {float: left; padding: 0 10px 0 0;position:relative;}
.si-img2 img{max-height: 90px; max-width: 158px;border:none;}

.advSearBox {background: #F3F3F1;height: 111px;margin: 34px 0 0;position:relative;cursor:pointer;}
.magglass{background: url("/images/search-glass.png") no-repeat scroll 0 0 transparent;display: block;height: 43px;left: 17px;position: absolute;top: 58px;width: 43px;z-index: 9999;}
.advSearBox_t1 {float:left; font-size:21px; font-weight:bold; padding: 20px 0 3px 34px;color:#545351;}
.advSearBox_t2 {font-size:13px; float:left; color:#808080; padding: 0 0 0 34px;}

.UpdatesBox .scfForm input {width: 169px;}
.UpdatesBox .whyzip {width:100%; float:left;}

/*Community and plan tabs */
ul.commDetMenu, .cd_right nav ul, ul.planMenu{list-style: none;margin: 5px 0 0;padding: 0;display: table;width: 100%;height: 30px;position:relative;}
.commDetMenu .cdm, .planMenu li, .commDetMenu li, .cd_right nav li{z-index: 10;text-align: center;display: table-cell;border-left: 2px solid #fff;}
.commDetMenu li:first-child, .planMenu li:first-child, .cd_right nav li:first-child{border: none;}
.commDetMenu a, .planMenu a, .cd_right nav a{color: #fff  !important;text-decoration: none;padding: 5px 10px;line-height: 20px;display: block;text-align: center;background: #D31245; font-size:11px; font-weight:bold;}
.commDetMenu li .on, .commDetMenu li.on a, .commDetMenu li a:hover, .cd_right nav li a:hover{background: #7F0023;}
.planMenu a {background: #7A8CBB;}
.planMenu li .on, .planMenu li.on a, .planMenu li a:hover{background: #19398A;}

.content-pg h1 {border-bottom: 1px solid #AFAC9F;  border-top: 1px solid #AFAC9F; font-size: 26px;  line-height: 26px;  padding: 10px;}
.content-pg h2 {font-size: 20px;  line-height: 26px;  padding: 10px;}
.content-pg h3 {font-size: 16px;  line-height: 26px;  padding: 10px;}

ul.content-pg{float: left;margin:9px 0 10px 16px;width: 100%;}
.content-pg li {font-size:13px; color:#333333;line-height: 18px; margin:7px 0 0; float:left; clear:both; line-height:16px; list-style: disc outside none;}
.content-pg p {float:left; width:100%; color:#333;font-size:13px; padding:18px 0 0 10px;}
.content-pg h2, .content-pg h3 {float:left;}

.content-pg ul {float: left; margin: 8px 0; width: 100%;}
.content-pg ol li {list-style:decimal;}

.cd_right span {text-align: justify;}

.morg-1 {float:left; margin:10px 0 9px;}
.morg-1 p {float:left; width:100%;}
.morg-1 span {float:left;}

.ri-l p {font-weight:bold;}
.send-rbtn {  border: 1px solid #FFFFFF !important;
    box-shadow: 0 0 2px 2px #BBBBBB;
    color: #FFFFFF !important;
    float: left !important;
    font-size: 12px !important;
    height: 22px !important;
    line-height: 16px !important;
    margin: 5px 10px 5px 0 !important;
    padding: 3px 15px !important;
    text-decoration: none !important;
    text-transform: uppercase;
    width: auto !important;
	background:#d31245;}

.con-lef {padding-left:40px;}
.content-banner {margin:12px 0 0 25px; float:left;}
.con-left1{padding-left:20px !important;}
.con-left2{padding-left:28px !important;}
.con-left3{padding-left:40px !important;}
.con-left3 a:before { content: url("/images/tm/arrow.png");}

.hmbnr-overlay {
 background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;}

.hmbnr-overlay:hover{ background: none;}

/*changes on the join our interest list*/
.join-wrapper .scfForm input {width: 238px;}
.join-wrapper .scfDropListLabel {font-weight: bold; width: 100%;}
.join-wrapper .scfDropListGeneralPanel { display: block; float: left; width: 73%;}
.join-wrapper .scfSingleLineGeneralPanel {width:75%;}
.join-wrapper .scfRequired {float:left;}

/*change request modal*/
.mod-t1 {border-top:1px solid silver; float:left;width:96%; margin: 0 0 6px;}
.mod-hea1 {font-size:10px; font-weight:bold; margin-bottom:10px; float:left; width:100%;}
.mod-tophea1 {float:left;width:100%; margin-bottom:7px; font-weight:bold; font-size:11px; color:#666;}
#svgmap .rt ul.ddlist-2{float:left; list-style:none; clear:both; padding:0 0 15px 0;width:120px;}
#svgmap .rt ul.ddlist-2:first-child{padding-top:0;}
#svgmap .rt ul.ddlist-2 li{ clear:both !important; text-transform:capitalize; background:none !important; height:auto !important;}
#svgmap .rt ul.ddlist-2 li a{line-height:15px; font-size:12px; text-decoration:underline; padding:0 !important;color: #999999 !important; font-size: 10px;}
#svgmap .rt ul.ddlist-2 li:first-child,
#svgmap .rt ul.ddlist-2 li:first-child a
{text-transform:uppercase !important;text-decoration:none; font-weight:bold !important;color: #666666 !important; font-size: 10px;}
.join-wrapper {width:335px !important;}

.scfIntroBorder {float: left;}
.cl-bt-tex a {background:none; font-size:10px;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.cl-bt-tex a {background:none; font-size:9px !important;}
}

/*opt out page*/
.bn-optout img {height: auto; max-width: 100%; width: 100%;}
.tx-optout {float:left; width:60%;}
.tx-optout h1 {font-weight:bold;}
.form-optout {float:left; width:70%;}
.op-sidebn {float:right; width:22%;}
.op-sidebn img {  height: auto; max-width: 100%; width: 100%; padding:3px 0;}

.blog-lt li{list-style: disc inside;}
a.insh1 {font-size: 22px; line-height: 29px; text-decoration:none;}
.intimob {float:left; display:none;}
/*a.inpp {float:left; margin:-18px 0 0 19px;}*/
.mgb1 {background:#DFDED8;}

/*favorites*/
div.ifpFavs a {margin-right: 10px;}
.ifpFavs { float: left; margin: 7px 0 5px -35px;  width: 50%;}
.span_1 a:last-child {font-size:11px;}
.sslinf {font-size: 11px;  margin: 0 0 0 12px;}

/*tablet*/
@media only screen and (max-width : 960px)
{
/*favorites*/
.ifpFavs {float: left; margin: 5px 0 15px;  width: 62%;}

.mapt {height:350px;width:291px;}
.advSearBox_t2 {margin: 0 0 0 -29px;}
.lb2 {padding: 4px 0 0 166px;}
.CDmiddle, .CDmiddleHs {width:156px; margin:0 0 0 10px;}
.viewPlanBtnHs {padding: 30px 0 0 35px;}
.grayLineV {height: 130px;}
.CD_commCard {border-top: 1px solid #DCDCDC;float: left;margin: 2px 0 8px; height:130px; width:438px; float:left;}
.blue-bar_link, .blue-bar a {margin: 0 0 0 4px;}
.UpdatesBoxModel,
.UpdatesBox {width:171px;}
.blue-bar_link, .blue-bar a {padding:0 40px 0 2px;}
.searchbox input {font-size:9px;}

/*Community and plan tabs */
ul.commDetMenu, .cd_right nav ul, ul.planMenu{height: 30px;}
.commDetMenu a, .planMenu a, .cd_right nav a{padding: 5px 2px;line-height: 20px;}
.commDetMenu li img {margin:-25px -6px 0 0;}
.con-lef {padding-left:10px;}
a.button, a.button-arrow {font-size:11px !important;  margin: 5px 8px 5px 0 !important;}
.con-left1{padding-left:20px !important;}
.con-left2{padding-left:28px !important;}
.con-left3{padding-left:40px !important;}

/*bug 64558*/
.scfValidatorRequired, .scfRequired {margin: 0 -15px 0 0!important;}
a.insh1 {font-size: 22px; line-height: 29px; text-decoration:none;}
.intimob {float:left; display:none;}
/*a.inpp {float:left; margin:-18px 0 0 19px; font-size:14px;}*/
}

/*mobile*/
@media only screen and (max-width : 579px)
{
.schoolText, .promoText{width:154px;}
.CD_commCard {width:338px; height:212px;}
ul.CDright {margin: -7px 0 0 123px;}
.grayLineV {display:none;}
.announc1 a {font-size: 12px;margin:-60px 0 0 5px; float:left;}
.lt-col-cd {min-height:71px; width:100%;}
ul.commDetMenu {width:100%; float:left;}
.commDetMenu .on {float:left; width:100%; height:40px;}
.commDetMenu .cdm {height:40px; float:left; width:100%;}
.commDetMenu li img {display:none;}
.mapWindow {height:262px;}
#sldrrange-StartingPrice, #sldrrange-SquareFeet {width:302px;}
.searchfact ul li {width: 3.74em;}

/*favorites*/
.ifpFavs {float: left; margin: 5px 0 15px;  width: 100%;}

/*Community and plan tabs */
ul.commDetMenu, .cd_right nav ul, ul.planMenu{height: 30px;}
.commDetMenu .cdm, .planMenu li, .commDetMenu li, .cd_right nav li{border:none;border-top: 2px solid #fff;}
.commDetMenu a, .planMenu a, .cd_right nav a{padding: 3px 10px;line-height: 20px;}
.commDetMenu .cdm, .planMenu li, .commDetMenu li, .cd_right nav li {display:block; padding:0; height:28px;}
.commDetMenu a, .planMenu a {text-align: left; text-indent: 15px; line-height:22px;}

	#svgmap .rt ul.ddlist-2{float:left; list-style:none; clear:both; padding:0 0 15px 0;width:120px; position:inherit;box-shadow:none;}
	#svgmap .rt ul.ddlist-2:first-child{padding-top:0;}
	#svgmap .rt ul.ddlist-2 li{ clear:both !important; text-transform:capitalize; background:none !important; height:auto !important; border:0;}
	#svgmap .rt ul.ddlist-2 li a{line-height:15px; text-decoration:underline; padding:0 !important;color: #999999 !important; font-size: 10px;}
	#svgmap .rt ul.ddlist-2 li:first-child,
	#svgmap .rt ul.ddlist-2 li:first-child a
{text-transform:uppercase !important;text-decoration:none; font-weight:bold !important;color: #666666 !important; font-size: 10px;}

/*opt out page*/
.tx-optout {float:left; width:100%;}
.op-sidebn {float:right; width:100%;}
.op-sidebn img {  height: auto; max-width: 60%; width: 100%;}
.form-optout {float:left; width:100%;}

/*inspiration gallery*/
.inscheck {background: none repeat scroll 0 0 #F6F6F6; border-bottom: 1px solid #C0C0C0; margin: 0; padding: 13px 0; width: 100%;}
.inscheck input { float: left; margin: 0 0 0 15px;}
.inscheck span { float: left;  font-size: 20px; margin: 0 0 0 12px;}
section.iss-lt { padding: 0;}
h1.insh { font-size: 16px; margin:11px 0 6px 12px; color: #333333;}
a.inslink {color: #0095D9; float: left; font-size: 11px;  margin: -28px 0 0 -58px;  position: absolute;  text-decoration: underline;  width: 55px; display:none;}
.intimob {
    clear: both;
    display: block;
    float: left;
    font-size: 16px;
    margin: 15px 0 0 10px;
}
a.insh1 {font-size: 16px; line-height: 29px; text-decoration:none;}
a.inpp {
    color: #0095D9;
    float: left;
    font-size: 12px !important;
    margin: 33px 0 0 -102px;
    text-decoration: underline !important;}
#arrow1 {float:left; margin:43px 0 0 -123px; display:block;}
}

hr.listDivider, #lastUpdated{clear:both;}
.disclaimer{width:100%; font-size:11px;}

.prev-arrow-disable { background: url("/images/left-a-gray.png") no-repeat scroll 0 0 transparent;   border: medium none;   float: left;  height: 28px;  margin: 26px 0 0; padding: 0; width: 29px;}
.next-arrow-disable {  background: url("/images/right-a-gray.png") no-repeat scroll 0 0 transparent; float: right;  height: 28px; margin: 26px 0 0; padding: 0; width: 29px;}

.clearRightText a, div.geneInfoBox a, p.address a, div.commLocation a{text-decoration:none}
span.justify {text-align: justify; float:left;}

        #navTabs div
        {
            display: none;
        }
        #horAcordNav
        {
            padding-top: 5px;
            clear: both;
        }
        #horAcordNav .child, .mobileIndicator
        {
            padding: 5px 25px 5px 10px;
            line-height: 20px;
            font-weight: bold;
            text-align: center;
            display: inline-block;//table-cell;
            background: #dfded8;
            color: #666666;
            border-left: 1px solid #afac9f;
            border-right: 1px solid #eeedea;
            white-space: nowrap;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            font-size: 11px;
        }

        #horAcordNav .active
        {
            border-left: 1px solid #afac9f;
            background: white;
        }

        #horAcordNav .child a
        {
            text-decoration: none;
            font-weight:bold;
        }
        #horAcordNav .child .arrow, .mobileIndicator .arrow
        {
            position: absolute;
            right: 10px;
            top: 11px;
            background: url('/images/tm/arrowRightGray.png') no-repeat;
            width:8px;
            height:8px;
        }
        #horAcordNav .active .arrow, .mobileIndicator .arrow
        {
            background: url('/images/tm/arrowDownGray.png') no-repeat;
        }

        #horAcordNav .container
        {
            width: 100%;
            background-color:#dfded8;
            overflow:hidden;
            height:30px;
        }
        .mobileIndicator{display:none;}
                #horAcordNav .container .child:first-child
        {
            border-left: solid 0px #dfded8;
        }
                #horAcordNav .container .child:last-child
        {
            border-right: 0px solid #dfded8;
        }
        @media only screen and (max-width : 960px)
        {
        #horAcordNav .child, .mobileIndicator
        {
                        font-size: 7px;
            text-overflow:ellipsis;
            max-width:109px;
        }
        }

        @media only screen and (max-width : 579px)
{
            #horAcordNav .container
        {
            width: 100%;
            height:auto;}
        #horAcordNav .child, .mobileIndicator{
            max-width:400px;
            overflow:auto;
        }
        .mobileIndicator, #horAcordNav .container .child{float:left;clear:both;width:100%;font-size:12px; font-weight:bold;border:solid 0px white;}
        .mobileIndicator{display:inline;border:none;background-color:white;position:relative;}
        #horAcordNav .active{display:none;}
}

.accordionContentBlock {
    padding-left: 12px;
    padding-right: 12px;
}

.leftContent {
    border-right: 2px solid #C8C6BD;
    float: left;
    padding: 5px;
    width: 65%;
    min-height: 500px;
}

.rightContent {
    float: left;
    padding: 0 0 0 22px;
    width: 35%;
    padding-bottom: 22px;
}