article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;}
[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:Arial,sans-serif;color:#666;}body{margin:0;font-size:1em;line-height:1.4;}
a{color:#666;}a:visited{color:#666;}a:hover{color:#666;}a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}dfn{font-style:italic;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:"";content:none;}
small{font-size:85%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}sub{bottom:-0.25em;}ul,ol{margin:1em 0;padding:0 0 0 40px;}dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}legend{border:0;*margin-left:-7px;padding:0;white-space:normal;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}.chromeframe{margin:.2em 0;background:#ccc;color:black;padding:.2em 0;}
#page-container{margin-left:auto;margin-right:auto;width:938px;padding-top:30px;}
header#main-header{position:relative;height:70px;z-index:1;}header#main-header #logo-link{position:absolute;left:0;top:0;display:block;}
header#main-header #social-container{position:absolute;top:9px;left:225px;}header#main-header #social-container .item{float:left;margin-right:10px;vertical-align:top;}
header#main-header #social-container .item.fb{width:47px!important;overflow:hidden!important;}
.youtube-icon{margin-left:20px;width:47px;}.fb_edge_comment_widget{display:none!important;}
header#main-header #top-text-ad{position:absolute;right:147px;top:5px;height:26px;border:1px solid #dedede;width:460px;text-align:center;border-radius:8px;background-color:#F9F9F9;vertical-align:middle;}
header#main-header #top-text-ad .featured-label{display:inline-block;text-transform:uppercase;color:#BD1843;font-size:10px;margin-right:3px;font-weight:bold;}
header#main-header #top-text-ad a:link,header#main-header #top-text-ad a:visited,header#main-header #top-text-ad a:active{display:inline-block;font-size:12px;text-decoration:underline;padding:0;margin:0;color:#262980;position:relative;}
header#main-header #top-text-ad a:hover{color:#BD1843;}header#main-header #quick-search{position:absolute;right:0;top:-8px;}
header#main-header #quick-search .label{text-transform:uppercase;letter-spacing:1px;font-size:10px;font-weight:bold;margin-left:6px;color:#666;}
header#main-header #quick-search-inner{border:1px solid #dedede;background-color:#F9F9F9;border-radius:7px;padding-left:3px;height:25px;}
header#main-header #quick-search-inner.hover{background-color:#dedede;}header#main-header #quick-search #txtQuickSearch{font-size:12px;color:#666;width:90px;font-style:italic;padding-left:2px;padding-right:2px;padding-top:0;padding-bottom:0;border-left:0;border-right:1px solid #dedede;border-top:0;border-bottom:0;background-color:Transparent;}
header#main-header #quick-search #btnQuickSearch{display:inline-block;font-size:12px;color:Gray;width:35px;padding:0;margin:0;border:0;font-weight:bold;text-transform:uppercase;background-color:Transparent;color:#BD1843;text-decoration:none;text-align:center;}
#quick-search-dialog{display:none;}#quick-search-dialog .status{padding-top:40px;margin-left:auto;margin-right:auto;text-align:center;font-size:13px;}
#quick-search-dialog .header{font-size:13px;}#quick-search-dialog .header .message{line-height:19px;margin-top:30px;text-align:center;}
#quick-search-dialog .header .ok-button{display:block;width:70px;text-align:center;margin-top:10px;margin-bottom:10px;padding:2px;text-transform:uppercase;background-color:#eee;border:1px solid #dedede;border-radius:8px;font-weight:bold;color:#BD1843;text-decoration:none;font-size:10px;margin-left:auto;margin-right:auto;}
#quick-search-dialog .results{display:none;overflow:auto;height:245px;padding-right:20px;}
#quick-search-dialog .results .item{background-image:-ms-linear-gradient(top,#eee 0,#fff 100%);background-image:-moz-linear-gradient(top,#eee 0,#fff 100%);background-image:-o-linear-gradient(top,#eee 0,#fff 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,#fff));background-image:-webkit-linear-gradient(top,#eee 0,#fff 100%);background-image:linear-gradient(top,#eee 0,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee',endColorstr='#ffffff');ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee',endColorstr='#ffffff');border:1px solid #dedede;max-height:100px;margin-top:15px;border-radius:8px;}
#quick-search-dialog .results .item .image{float:left;padding-top:10px;padding-left:10px;}
#quick-search-dialog .results .item .info{float:left;margin-left:20px;font-size:12px;}
#quick-search-dialog .results .item .info .name{font-weight:bold;margin-top:5px;}
#quick-search-dialog .results .item .info .info-line1{font-size:11px;}#quick-search-dialog .results .item .info .info-line2{font-size:11px;}
#quick-search-dialog .results .item .info .details-button,#quick-search-dialog .results .item .info .contact-button{display:inline-block;width:100px;text-align:center;margin-top:10px;margin-bottom:10px;padding:2px;text-transform:uppercase;background-color:#eee;border:1px solid #dedede;border-radius:8px;font-weight:bold;color:#BD1843;text-decoration:none;font-size:10px;}
#quick-search-dialog .results .item .info .details-button:hover,#quick-search-dialog .results .item .info .contact-button:hover{background-color:#dedede;}
#quick-search-dialog .results .item .info .contact-button{margin-left:15px;}#quick-search-dialog #quick-search-result-template{display:none;}
#quick-search-dialog #quick-search-result-header-template{display:none;}#quick-search-dialog #quick-search-no-result-header-template{display:none;}
header#main-header nav#main-nav{position:absolute;bottom:1px;right:0;text-align:left;}
header#main-header nav#main-nav a.main-nav{display:block;float:left;text-decoration:none;text-transform:uppercase;color:#666;font-size:11px;font-family:Arial,sans-serif;font-weight:bold;margin:0;padding:0;margin-left:25px;border-top:2px solid #fff;border-bottom:2px solid #fff;}
header#main-header nav#main-nav a.main-nav.first{margin-left:0;}header#main-header nav#main-nav a.main-nav:hover{border-bottom:2px solid #BD1843;}
header#main-header nav#main-nav a.main-nav.hover,header#main-header nav#main-nav a.main-nav.selected{border-bottom:2px solid #BD1843;}
header#main-header nav#main-nav a.main-nav img{display:inline-block;margin-top:-2px;margin-left:3px;}
header#main-header nav#main-nav div#fyh-menu{display:none;position:absolute;top:19px;z-index:1000;right:-1px;background-color:#fcfcfc;border-left:1px solid #dadada;border-right:1px solid #dadada;border-bottom:1px solid #dadada;border-bottom-right-radius:8px;border-bottom-left-radius:8px;border-top:1px solid #dadada;padding-top:17px;padding-bottom:12px;}
header#main-header nav#main-nav div#fyh-menu ul{float:left;list-style-type:none;padding:0;margin:0;margin-left:5px;line-height:15px;padding-right:12px;padding-left:12px;}
header#main-header nav#main-nav div#fyh-menu ul:first-child{margin-left:0;}header#main-header nav#main-nav div#fyh-menu ul li{list-style-type:none;margin:0;padding:0;}
header#main-header nav#main-nav div#fyh-menu ul li a{font-size:11px;text-decoration:none;}
header#main-header nav#main-nav div#fyh-menu ul li a:hover{color:#BD1843;}header#main-header nav#main-nav div#fyh-menu ul li.state-name{font-weight:bold;font-size:11px;text-transform:uppercase;margin-bottom:3px;}
header#main-header nav#main-nav div#fyh-menu div#fyh-menu-static-links{float:right;margin-left:10px;margin-right:0;border-left:1px solid #dedede;border-bottom:1px solid #dedede;border-top:1px solid #dedede;border-bottom-left-radius:8px;border-top-left-radius:8px;padding-left:10px;padding-right:10px;padding-top:2px;padding-bottom:2px;background-color:#eee;}
header#main-header nav#main-nav div#fyh-menu div#fyh-menu-static-links a{display:block;margin-top:8px;margin-bottom:8px;text-decoration:none;font-size:11px;}
header#main-header nav#main-nav div#fyh-menu div#fyh-menu-static-links a .elements{display:inline-block;padding:2px;color:#fff;background-color:#1F5E90;font-size:11px;border-radius:3px;letter-spacing:1px;}
header#main-header nav#main-nav div#fyh-menu div#fyh-menu-static-links a .elements .decorated-3{display:inline-block;background-color:#9DE6FD;color:#175385;font-size:10px;padding:2px;padding-top:0;padding-bottom:0;font-weight:bold;margin-right:2px;}
header#main-header nav#main-nav div#fyh-menu div#fyh-menu-static-links a:hover{color:#BD1843;}
header#main-header nav#main-nav a.hb101{color:#D31145;}#page-content{background-color:#fff;box-shadow:0 1px 1px 2px rgba(210,210,210,0.7);width:918px;position:relative;padding:10px;}
footer#footer-main{padding-top:15px;line-height:24px;}footer#footer-main div#division-nav{float:left;font-size:11px;width:465px;line-height:16px;text-align:left;}
footer#footer-main div#division-nav ul{float:left;list-style-type:none;padding:0;margin:0;margin-left:22px;}
footer#footer-main div#division-nav ul:first-child{margin-left:0;}footer#footer-main div#division-nav ul li{list-style-type:none;margin:0;padding:0;}
footer#footer-main div#division-nav ul li.state-name{font-weight:bold;font-size:11px;text-transform:uppercase;}
footer#footer-main #nav-and-copy{font-size:11px;text-align:right;float:right;}footer#footer-main #nav-and-copy nav#footer{display:inline-block;}
footer#footer-main #nav-and-copy nav#footer a{display:inline-block;font-weight:bolder;}
footer#footer-main #nav-and-copy nav#footer span.delim{margin-left:4px;margin-right:4px;}
footer#footer-main #nav-and-copy nav#footer-terms{display:inline-block;}footer#footer-main #nav-and-copy nav#footer-terms a{display:inline-block;margin-left:4px;}
footer#footer-main #nav-and-copy #brands img{display:inline-block;margin-right:23px;margin-top:15px;}
footer#footer-main #nav-and-copy #brands a{display:inline-block;}footer#footer-main #nav-and-copy #brands a img{display:inline-block;margin-right:0;}
footer#footer-main div#add-disclaimer{font-size:11px;line-height:13px;padding-top:12px;margin-bottom:20px;}
#simplemodal-overlay{background-color:#000;cursor:wait;}#simplemodal-container{height:360px;width:600px;color:#666;background-color:#fcfcfc;border:4px solid #dedede;border-radius:8px;padding:12px;}
#simplemodal-container .simplemodal-data{padding:8px;}#simplemodal-container code{background:#141414;border-left:3px solid #65B43D;color:#bbb;display:block;font-size:12px;margin-bottom:12px;padding:4px 6px 6px;}
#simplemodal-container a{color:#ddd;}#simplemodal-container a.modalCloseImg{background-image:url(~/media/Elements/x.png);width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:0;right:0;cursor:pointer;}
#simplemodal-container h3{color:#84b8d9;}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;*line-height:0;}
.ir br{display:none;}.hidden{display:none!important;visibility:hidden;}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}.clearfix{clear:both;}div.AdSpeedText{display:inline;}
@media print{*{background:transparent!important;color:black!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important;}
a,a:visited{text-decoration:underline;}a[href]:after{content:"(" attr(href) ")";}
abbr[title]:after{content:"(" attr(title) ")";}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
pre,blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}
tr,img{page-break-inside:avoid;}img{max-width:100% !important;}}
//p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}