﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="disclaimers.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.ContactUs.disclaimers" %>
<link href="/Styles/common.css" rel="stylesheet" type="text/css" />
<div class="disclaimer">
<%= MyDisclaimerText %>
</div>