﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SignupforUpdatesForm.ascx.cs" Inherits="TM.Web.UserControls.layouts.SubLayouts.Forms.SignupforUpdatesForm" %>

<sc:placeholder ID="phForm" runat="server" Key="SignupUpdateForm" />