﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
Presenter is:
  <sc:fieldrenderer runat="Server" FieldName="Presenter" /> <br/>
 Rating
  <sc:fieldrenderer runat="Server" FieldName="Rating" />