/* line 11, ../../Sass/themes/mg_theme.scss */
.mg .searchbox a, .mg .searchbut {
  background: url("/images/mg/searchIcon_M.jpg") no-repeat;
}
/* line 16, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box ul li a {
  background: #c02d2d;
}
/* line 23, ../../Sass/themes/mg_theme.scss */
.mg .breadcrumb ul li a,
.mg .top2 a,
.mg .top5 a {
  color: #c02d2d;
}
/* line 26, ../../Sass/themes/mg_theme.scss */
.mg #svgmap .close {
  background: url("/images/mg/sprite-mg-markers.png") no-repeat 0 -69px;
  color: #4d4d4d;
}
/* line 30, ../../Sass/themes/mg_theme.scss */
.mg .mod-tophea1 {
  font-size: 11px;
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 36, ../../Sass/themes/mg_theme.scss */
.mg .mod-hea1 {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
/* line 43, ../../Sass/themes/mg_theme.scss */
.mg .mod-t1 {
  border-top: 1px solid silver;
  float: left;
  width: 96%;
  margin: 0 0 6px;
}
/* line 49, ../../Sass/themes/mg_theme.scss */
.mg #svgmap .rt ul.ddlist li a {
  color: #c02d2d !important;
  font-weight: bold;
}
/* line 53, ../../Sass/themes/mg_theme.scss */
.mg .ddlist-2 {
  margin-bottom: 20px;
}
/* line 56, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box li:hover {
  background: #7e0023;
}
/* line 60, ../../Sass/themes/mg_theme.scss */
.mg #svgmap .rt ul.ddlist-2 li a {
  line-height: 15px;
  font-size: 12px;
  text-decoration: underline;
  padding: 0 !important;
  color: #999999 !important;
  font-size: 10px;
}
/* line 69, ../../Sass/themes/mg_theme.scss */
.mg #svgmap .rt ul.ddlist li:first-child a {
  color: #54301A !important;
}
/* line 72, ../../Sass/themes/mg_theme.scss */
.mg #svgmap .rt ul.ddlist-2 li:first-child a {
  text-transform: uppercase !important;
  text-decoration: none;
  font-weight: bold !important;
  color: #666666 !important;
  font-size: 10px;
  font-weight: bold;
}
/* line 82, ../../Sass/themes/mg_theme.scss */
.mg .scfForm input[type="submit"] {
  background: #c02d2d;
}
/* line 85, ../../Sass/themes/mg_theme.scss */
.mg .join-wrapper h1 {
  font-weight: bold;
}
/* line 89, ../../Sass/themes/mg_theme.scss */
.mg .top3 #lijoininterest {
  background: none repeat scroll 0 0 #4d4d4d;
}
/* line 94, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box nav {
  background: #c02d2d;
}
/* line 100, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box nav li:hover, .mg .logomenu .rt-box nav li.selected, .mg .logomenu .rt-box nav li:first-child:hover, .mg .logomenu .rt-box nav li:last-child:hover {
  background: #7e0023;
}
/* line 106, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box ul li a {
  padding: 14px 6px;
}
/* line 109, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box ul li a:hover {
  background: #7e0023;
  border-bottom: 1px solid currentColor;
}
/* line 113, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box ul li a.selected {
  background: #7e0023;
}
/* line 116, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box ul li a span {
  font-size: 15px;
  font-weight: bold;
}
/* line 122, ../../Sass/themes/mg_theme.scss */
.mg .logomenu .rt-box .hmbuying img {
  margin-left: 11px;
}
/* line 129, ../../Sass/themes/mg_theme.scss */
.mg #navtop-main li:first-child {
  width: 17.2%;
}
/* line 130, ../../Sass/themes/mg_theme.scss */
.mg #navtop-main li.menuchil-1 {
  width: 26.3%;
}
/* line 131, ../../Sass/themes/mg_theme.scss */
.mg #navtop-main li.menuchil-2 {
  width: 13.7%;
}
/* line 132, ../../Sass/themes/mg_theme.scss */
.mg #navtop-main li.menuchil-3 {
  width: 15.7%;
}
/* line 133, ../../Sass/themes/mg_theme.scss */
.mg #navtop-main li.menuchil-5 {
  width: 27.1%;
}
@media only screen and (max-width: 590px) {
  /* line 140, ../../Sass/themes/mg_theme.scss */
  .mg .logomenu .rt-box ul {
    -moz-box-shadow: 0px 1px 2px #141414;
    -webkit-box-shadow: 0px 1px 2px #141414;
    -ms-box-shadow: 0px 1px 2px #141414;
    box-shadow: 0px 1px 2px #141414;
  }
  /* line 147, ../../Sass/themes/mg_theme.scss */
  .mg .logomenu .rt-box ul li {
    width: 100% !important;
    background: #4d4d4d url(/images/tm/arrow-mobile.png) no-repeat right;
    border-bottom: 1px solid #910808 !important;
  }
  /* line 151, ../../Sass/themes/mg_theme.scss */
  .mg .logomenu .rt-box ul li:hover {
    border-bottom: 1px solid #910808 !important;
  }
  /* line 154, ../../Sass/themes/mg_theme.scss */
  .mg .logomenu .rt-box ul li a {
    background: #c02d2d url(/images/tm/arrow-mobile.png) no-repeat right;
  }
  /* line 158, ../../Sass/themes/mg_theme.scss */
  .mg .logomenu .rt-box ul li span:last-child {
    font-size: 13px;
    padding-left: 142px;
  }
  /* line 164, ../../Sass/themes/mg_theme.scss */
  .mg .logomenu .rt-box .hmbuying img {
    padding-top: 0px;
    margin-top: -16px;
    margin-left: 5px;
    max-width: 166px;
  }
  /* line 172, ../../Sass/themes/mg_theme.scss */
  .mg .MobileMenuLink {
    background: #c02d2d;
    -moz-box-shadow: 0px 1px 2px #141414;
    -webkit-box-shadow: 0px 1px 2px #141414;
    -ms-box-shadow: 0px 1px 2px #141414;
    box-shadow: 0px 1px 2px #141414;
    border: 1px solid #910808;
  }
}
