/*print pages*/

/*drive directions*/

body
{
    font: normal 12px/16px Arial, Helvetica, sans-serif, serif;
}
.print
{
    float: left;
}
.print .print-top
{
    width: 100%;
    margin: 0 0 20px;
    float: left;
}
.print .print-top img
{
    float: right;
}
.print .print-top h1
{
    float: left;
    font-size: 30px;
    font-weight: normal;
    line-height: 29px;
    margin: -24px 0 0;
    width: 405px;
}
.print
{
    padding: 20px;
    width: 612px;
}
.print .dd-top .plan-top1 h1
{
    font-weight: normal;
    font-size: 26px;
    margin: 0;
}
.print .s-associate h1
{
    display: none;
}
.print .s-associate span
{
    font-size: 18px;
    margin: 2px 0 0 -5px;
}
.print .s-associate span:first-child
{
    display: none;
}
.print .plan-top2 .s-center h1
{
    font-size: 13px;
    float: left;
}
.print .plan-top2 .s-center p
{
    float: left;
    margin: 9px 0 0 5px;
}
.print .plan-top2 .s-center
{
    float: right;
    width: 436px;
    margin: 5px 0 0;
}
.print .plan-top2 .s-associate
{
    float: right;
    width: 171px;
}
/*.print .plan-middle3 h1 {display:none;}*/

.print .plan-middle3 p
{
    width: 100%;
    float: left;
}
.print .dd-list
{
    float: left;
    width: 100%;
}
.print .dd-map
{
    display: none;
}
.print .plan-top1
{
    margin: 30px 0 0px;
}
.print .plan-top2
{
    margin: 0 0 -46px;
}

/*community*/
.print .geneInfo
{
    display: none;
}
.print .geneInfoBox
{
    float: left;
    margin: -10px 0 0 -35px;
    width: 405px;
}
.print .banner
{
    width: 230px;
    float: left;
    margin: 0 10px 0 0;
}
.print .slide img
{
    width: 215px;
    height: 130px;
}
.print .cd_left
{
    float: left;
}
.print .cd_right
{
    float: left;
}
.print .dd-top
{
    display: none;
}
.print .dd-new
{
    float: left;
}
.print .det-wrapper-bt .geneInfoBox h2
{
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0 5px 0;
    padding: 0;
}
.print .det-wrapper-bt .geneInfoBox p
{
    margin: 0;
    padding: 0;
    width: 199px;
}
.print ul.saleshrs
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.print .ComHours
{
    float: left;
    margin: -104px 0 0 220px;
}
.print .cd_right h1
{
    font-size: 20px;
}
.print #content_0_ctl04_communityinfo_0_pnlOneColumn
{
    font-size: 12px;
}
.print .dd-new h1
{
    font-size: 20px;
}
.print .sitePlanImg
{
    width: 504px;
    height: 284px;
}
.print .lt-col-cd h1
{
    display: none;
}
.print .plan-middle3 h1
{
    font-size: 20px;
    float: left;
    width: 100%;
}
.print .plan-middle3
{
    float: left;
    width: 100%;
}
.slide
{
    float: left;
    list-style: none outside none;
    margin: 0 0 0 -18px;
    height: 130px;
    width: 230px;
}
.slide img
{
    width: 1.875in;
}

select, .infobtb, .commDetMenu, .UpdatesBox, .callToAction, .ltnavlnk, .ltnavbut, announc1, .promoImg, .schoolImg, .dd-top
{
    display: none;
}

.local-interest a, h1, h2
{
    clear: both;
    display: block;
    text-decoration: none;
}

h1
{
    padding-top: 1em;
}
a.CDti, .CDti
{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.CDimage
{
    margin: 0 0 26px;
    width: 160px;
}
ul.home-fea, .home-fea li
{
    list-style: none;
}
.CDmiddle
{
    float: right;
    margin: -110px 18px 0;
    width: 425px;
}
.CDinfo
{
    padding: 0;
    margin: 5px 0;
}
.grayLineV
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: -14px 0 0 0;
}
.CDmiddleHs
{
    float: right;
    margin: -110px 179px 0;
    width: 425px;
}
.CDhs
{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.local-interest
{
    width: 600px;
}
.rotatorControl
{
    width: 600px;
}

.CDmiddle .pbt
{
    font-size: 13px;
    margin: -22px 0 0;
    float: right;
}
.CDmiddle .CDprice1
{
    float: left;
}
.CDmiddle .CDprice2
{
    float: left;
    font-size: 16px;
    margin: 17px 0 0 -70px;
}
.CDmiddleHs .pbt
{
    float: right;
    font-size: 13px;
    margin: -24px 0 0;
}
.CDmiddleHs .CDprice1
{
    float: left;
}
.CDmiddleHs .CDprice2
{
    float: left;
    font-size: 16px;
    margin: 32px 0 0 -70px;
}

ul.carousel
{
    height: 130px;
    width: 230px;
}

/*plan*/

.print-plan .print-top
{
    width: 100%;
    margin: 0 0 20px;
    float: left;
}
.print-plan .print-top img
{
    float: right;
}
.print-plan .print-top h1
{
    float: left;
    font-size: 30px;
    font-weight: normal;
    line-height: 29px;
    margin: -24px 0 0;
    width: 405px;
}
.print-plan
{
    padding: 20px;
    width: 612px;
}

.print-top .pn2 h1
{
    float: left;
    font-size: 30px;
    font-weight: normal;
    line-height: 29px;
    width: 405px;
    margin: 12px 0 0;
}
.print-top h1.pn2
{
    float: left;
    font-size: 30px;
    font-weight: normal;
    line-height: 29px;
    width: 405px;
    margin: 12px 0 0;
}
.da_ho .saleshrs li
{
    float: left;
    list-style: none outside none;
    margin: 0 0 0 33px;
    padding: 0 0 3px;
    width: 100%;
}
.da_ho .saleshrs li span:first-child
{
    font-weight: bold;
    padding: 0 7px 0px 0;
}

.print-plan
{
    width: 640px;
    float: left;
}
.print-plan .plan-middle1
{
    width: 640px;
}
.print-plan .plan-middle1 p
{
    width: 640px;
}
.print-plan .plan-middle1 h1
{
    font-size: 20px;
}
.print-plan .plan2but
{
    display: none;
}
.print-plan .rotatorControl
{
    float: left;
    width: 640px;
}
.print-plan .slide
{
    float: left;
    height: auto;
    list-style: none outside none;
    margin: 0;
}
.print-plan ul
{
    list-style: none;
    width: 645px;
    margin: 0 0 19px -65px;
}
.print-plan li
{
    list-style: none;
    float: left;
    margin: 0 0 0 33px;
}
.print-plan ul.planlist-bold
{
    float: left;
    list-style: none outside none;
    margin: 20px 0 0 -36px;
    padding: 10px 10px 10px 0;
    width: 646px;
    border-bottom: 1px solid silver;
}
.print-plan .planlist-bold li
{
    list-style: none;
    float: left;
    margin: 0 0 0 48px;
    font-weight: bold;
}
.print-plan .planlist span
{
    font-size: 14px;
    font-weight: bold;
}
.print-plan li a
{
    text-decoration: none;
}
.print-plan .viewplanbox2 span
{
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 0;
    float: left;
}
.print-plan .viewplanbox2
{
    margin: 36px 0 0;
    padding: 0;
}

.print .ComHours h2
{
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}
.print .banner-go
{
    width: 612px;
}
.print .banner-go .banner
{
    float: left !important;
    margin: 0 10px 0 0;
    width: 230px;
}
.print .vipupbx .ComHours
{
    float: left;
    margin: -202px 0 0 220px;
}

/*bug*/
.print-plan .slideshow
{
    float: left;
    width: 100%;
}
.print-plan .pho-main
{
    float: left;
    width: 100%;
    margin-bottom: 150px;
}
.print-plan .photos-sdshow
{
    float: left;
    width: 100%;
}

.print-plan .planlist
{
    float: left;
    width: 100%;
}

.print .plan-middle3 .CommunityTitle h2
{
    font-size: 20px;
}
.print .plan-middle3 .phone
{
    font-size: 15px;
}
.print .print-top-dir
{
    width: 100%;
}
.print .print-top-dir h1
{
    margin: -4px 0 0;
    width: 65%;
}
.print .print-top-dir img
{
    max-width: 187px;
    height: auto;
}
.print .plan-middle3 .SalesCenter span.address
{
    float: left;
    width: 100%;
}

.go-logo, #mobileHours
{
    display: none;
}