/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, ../../Sass/lib/colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 6, ../../Sass/lib/colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 7, ../../Sass/lib/colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 8, ../../Sass/lib/colorbox.scss */
#cboxContent {
  position: relative;
}

/* line 9, ../../Sass/lib/colorbox.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 10, ../../Sass/lib/colorbox.scss */
#cboxTitle {
  margin: 0;
}

/* line 11, ../../Sass/lib/colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 12, ../../Sass/lib/colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* line 13, ../../Sass/lib/colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}

/* line 14, ../../Sass/lib/colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* line 15, ../../Sass/lib/colorbox.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 22, ../../Sass/lib/colorbox.scss */
#cboxOverlay {
  background: url(/images/lib/colorbox/overlay.png) repeat 0 0;
}

/* line 23, ../../Sass/lib/colorbox.scss */
#colorbox {
  outline: 0;
}

/* line 24, ../../Sass/lib/colorbox.scss */
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(/images/lib/colorbox/controls.png) no-repeat -101px 0;
}

/* line 25, ../../Sass/lib/colorbox.scss */
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(/images/lib/colorbox/controls.png) no-repeat -130px 0;
}

/* line 26, ../../Sass/lib/colorbox.scss */
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(/images/lib/colorbox/controls.png) no-repeat -101px -29px;
}

/* line 27, ../../Sass/lib/colorbox.scss */
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(/images/lib/colorbox/controls.png) no-repeat -130px -29px;
}

/* line 28, ../../Sass/lib/colorbox.scss */
#cboxMiddleLeft {
  width: 21px;
  background: url(/images/lib/colorbox/controls.png) left top repeat-y;
}

/* line 29, ../../Sass/lib/colorbox.scss */
#cboxMiddleRight {
  width: 21px;
  background: url(/images/lib/colorbox/controls.png) right top repeat-y;
}

/* line 30, ../../Sass/lib/colorbox.scss */
#cboxTopCenter {
  height: 21px;
  background: url(/images/lib/colorbox/border.png) 0 0 repeat-x;
}

/* line 31, ../../Sass/lib/colorbox.scss */
#cboxBottomCenter {
  height: 21px;
  background: url(/images/lib/colorbox/border.png) 0 -29px repeat-x;
}

/* line 32, ../../Sass/lib/colorbox.scss */
#cboxContent {
  background: #fff;
  overflow: hidden;
}

/* line 33, ../../Sass/lib/colorbox.scss */
.cboxIframe {
  background: #fff;
}

/* line 34, ../../Sass/lib/colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 35, ../../Sass/lib/colorbox.scss */
#cboxLoadedContent {
  margin-bottom: 28px;
}

/* line 36, ../../Sass/lib/colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

/* line 37, ../../Sass/lib/colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

/* line 38, ../../Sass/lib/colorbox.scss */
#cboxLoadingOverlay {
  background: url(/images/lib/colorbox/loading_background.png) no-repeat center center;
}

/* line 39, ../../Sass/lib/colorbox.scss */
#cboxLoadingGraphic {
  background: url(/images/lib/colorbox/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
/* line 42, ../../Sass/lib/colorbox.scss */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
/* line 45, ../../Sass/lib/colorbox.scss */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

/* line 47, ../../Sass/lib/colorbox.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

/* line 48, ../../Sass/lib/colorbox.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/images/lib/colorbox/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 49, ../../Sass/lib/colorbox.scss */
#cboxPrevious:hover {
  background-position: -75px -25px;
}

/* line 50, ../../Sass/lib/colorbox.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(/images/lib/colorbox/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 51, ../../Sass/lib/colorbox.scss */
#cboxNext:hover {
  background-position: -50px -25px;
}

/* line 52, ../../Sass/lib/colorbox.scss */
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(/images/lib/colorbox/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 53, ../../Sass/lib/colorbox.scss */
#cboxClose:hover {
  background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 67, ../../Sass/lib/colorbox.scss */
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
