﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="IHCCard.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.IHCCard" %>
<div class="ihc-info">
	<asp:Literal runat="server" ID="litihccard"></asp:Literal>	
</div>
