﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="rfiWidget.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.rfiWidget" %>
<style>
	.UpdatesBox p {padding-left:0;}
</style>
<div class="UpdatesBox" id="RFIWidget">
	<sc:Placeholder runat="server" ID="phCommunityLeadForm" Key="CommunityLeadForm">
	</sc:Placeholder>
</div>

