﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PlanTourOptions.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Plan.PlanTourOptions" %>
<iframe src="http://ifp-flash.taylormorrison.com/IFViewer/Default.aspx?planType=<%=TourType%>&planID=<%=LegacyPlanID %>" width="100%" height="1600px"></iframe>
