@media only screen and (max-width : 960px) {

	#navtop-main li{
	  // &:first-child{width:25%;}
	  &:first-child,
	  &.menuchil-1, 
	  &.menuchil-2,
	  &.menuchil-3,
	  &.menuchil-5{
	  	width:20%;
	  }
	}

	.banner img{
		height:246px;
	}
	.logomenu .rt-box ul li:last-child a {
		padding: 15px 10px;
	}
	.breadcrumb {
		// background-size:438px 10px; 
		display: none;
	}
	.fot-shad  {
		background-size:438px 14px;
	}

	.lt-col_mh {
		min-height:503px;
	}

	.bannertbtm li{
		height:61px; 
		width:110px;
		&:first-child{width:108px;}
		a {font-size: 14px;line-height: 12px;width: 108px; top:15px;padding: 0 0 0 6px; }
		img{width:108px; height:61px;}
		span{font-size: 10px; line-height:11px;}
		&:hover{width:110px; height:61px;}
		&:first-child:hover{width:108px; height:61px;}
		&:hover{background:url(/images/tm/banrimg_on.jpg) no-repeat;background-size:108px 61px;}
	}

	.header{
		.top2 {
			width:18.9%;
		}
		.top3 {

			&:after{
				right: 5px;
			}
			a{
				//display: none;
				text-align: left;
				padding-left: 5px;
				width: 140px;
			}

		}
		ul li{
			margin:0 .13555555em;
		}
	}

   	.logomenu {
   	  	.rt-box{
			width: 72%;
			.divi{
				height:46px;
			}
			.hmbuying{
				
				img{
					padding-top: 5px;
					max-width:98px;
					width:100%; 
					height:auto;
					padding-top: 5px
				}
			}
			nav{
				height:47px;
			}

			ul li{
				height:47px;
				&:after {
					width: 10%;
				}
				a{
					width: 100%;
					height: 50px;
					overflow: hidden;
					font-size: 13px; 
					padding:0.662352em 0.59222em 0; 
				}

				span{font-size: 9px;}
			}
		} 
   	  	.lt-box{
			width: 26.5%;
			ul li{
				&:after {
					width: 10%;
				}
				a{
					width: 100%;
				}
			}
		} 
   	}

	.newsbx{
		width:100%; 
		float:left; 
		clear:both;
	}

	/* Grand Opening */
	.banner-across {
		width:634px; 
		height:277px;
		img{
			width:634px; 
			height:277px;
		}
	}

	.banner-go .ccs{
		padding-top:40px;
	}

	/*.across-lt{min-height: 277px;}*/
	.across-lt {
		height:277px;
	}

	.dt-lt,
	.dt-rt{
		margin: 18px 0 0;
	}

	.dt-lt{
		h1 {
			font-size:16px; 
			line-height:19px; 
			padding:0 15px 12px 25px;
		}
		p {
			font-size:12px; 
			line-height: 19px;
			padding: 0 25px;
		}
	} 

	.dt-lt-red,
	.dt-rt-red{
		height: 300px;
		margin: 18px 0 0;
	}

	.dt-lt-red{
		h1 {
			font-size:16px; 
			line-height:19px; 
			padding:0 15px 12px 25px;
		}
		p {
			font-size:12px; 
			line-height: 19px;
			padding: 0 25px;
		}

	} 

	.treat li {
		font-size:12px; 
		line-height: 18px; 
		margin:7px 0 0;
		
		&:first-child {
			font-size:16px; 
			margin: 0 0 8px -16px;
		}
	}

	.spec li {font-size:12px; line-height: 18px; margin:7px 0 0;}
	.spec li:first-child {font-size:16px; margin: 0 0 8px -16px;}

	.goMenu-sm li,
	.goMenu li {
		margin-left:3px;
		height:25px;
	}
	.goMenu-sm li:first-child{
		margin:0;
		height:25px;
	}
	.goMenu-sm li a,
	.goMenu li a {
		padding: 5px 0; 
		font-size: 9px;
	}
	.goMenu {
		li{
			.go0 {width:191px;}
			.go1 {width:90px;}
			.go2 {width:78px;}
			.go3 {width:133px;}
			.go4 {width:59px;}
			.go5 {width:68px;}
			span{
				text-indent:10px;
			}
		} 
	} 


	.goMenu-sm li{
		&.go1 {width:167px;}
		&.go2 {width:268px;}
	}

	.go-all-c {
		text-align:center;
		a {
			font-size: 11px; 
			margin:0 0 15px;
		}
	}
	

	.go-date {
		height:79px; 
		margin:0 0 13px;
		h1 {font-size: 20px;line-height: 21px;padding: 5px 0;width: 170px;}
		p {font-size: 11px;padding:4px 0 0; width: 170px;}
	}
	.go-date 
	.go-date 
	.go-logo {
		padding: 6px 0;
		width: 170px;
		img{
			height: auto;
			width: 170px;
		}
	}

	ul.ltnavbut {
		width: 170px; 
		margin:22px 0 0 9px; 
		float:left;
		li{
			height: 21px;
			margin: 4px 0;
			a{
				height:21px;
				padding-left: 38px;
				margin-left: 8px; 
				margin-top:1px;
			}
		}
	}

	.saleshrs li span,
	.geneInfoBox p,
	.geneInfoBox h2{font-size:12px;}

	.dd-mapbut li{width: 144px;}
	.plan-middle3 {width:50%;}
	.plan-middle4 {width:37%;}
	.dd-map img {width:292px; height:229px;}

	/*ul.commDetMenu {width:438px;}*/
	/*.cdm a {width:100%;}*/

	/*  .commDetMenu .cdm {margin-right:1px;}
	.commDetMenu li, .commDetMenu li a {font-size: 9px; padding:4px 1px 0;}*/
	.CDimage {width:131px; max-height: 90px; max-width: 160px;}
	.lt-col-cd {min-height:246px;}
	.CDright {padding: 15px 1px 0 0;}

	.leftsubTitle2_CD {padding:0 0 3px 22px; font-size:14px;}
	.geneInfo, .geneInfoBox {width:191px;}
	.navln {height: 2px;margin: 0.6em 0 0.6em;}
	.announc1 a {font-size:11px; line-height:14px; padding-top:53px;}
	.announ1 {margin:14px 0 9px 14px;}
	.commInfo, .promoText, .schoolsInfo {width: 438px;}
	.schoolText, .promoText {width: 194px;}
	.realtor-right {float:left;}
	.realtor-middle {width:33%;}
	.ihc-info {float:none; margin:0 0 0 19px;}
	.commImg, .commImg img {width:150px;}
	.commLocation {padding-left: 0; width: 84px;}
	.commName {width:72%;}
	.commDetails {padding-left: 12px; width: 118px;}
	.commPromotions {width:111px; padding:10px 0 0;}
	.h-sear3 {padding: 8px 0 0 16px;}
	.h-sear4 {padding: 8px 0 0 60px;}
	.h-sear5 {padding: 8px 0 0 33px;}
	.h-sear6 {padding: 8px 0 0 75px;}
	.commCardGrayBar {padding-left:150px;}
	.CDimage, .CDimage img {width:120px;}
	.CDmiddle {width:150px;}
	.viewPlanBtn {float: right;margin: 11px 0 1px 202px; width: 100%;}
	.CDright {padding:15px 20px 0 0;}
	.series {float:left;}
	.leftsubPlan {padding:22px 0 6px 22px;}
	.anno-plan {padding-top: 37px;}
	ul.commClosed {margin:5px 0 0;}
	.c-closed3 a {width:90px;}
	.content-video img {width:85%;}
	.content-pg, .content-pg h1 {width:438px;}
	.content-banner img {width:81%;}
	.blue-bar a {font-size: 11px; margin: 0 0 0 9px; padding:0 19px 0 2px;}
	.lt-con li {padding:0 0 0 9px;}
	.hb2 {width:73px;}
	.hb2 a {font-size:14px;}
	.hb5 {padding:0; width:191px; height:103px;}
	.hb3 {background: url("/images/tm/101_line.jpg");background-repeat:repeat-x scroll 0 0 transparent; height:122px; margin:-20px 9px 0 0;}
	.hb1, .hb2, .hb4 {margin:15px 0 0 0;}
	.hb-steps, .hb {height:122px;}
	.hb6 {padding:0 0 0 4px;}
	.twitter {margin:10px 0 5px 16px;}
	.glos-index {height:44px;}
	.glos-search input {width:91px;}
	.glos-search {width:20%;}
	.ri-text {margin:0 0 0 23px;}
	.logo101-b {margin: 78px 0 0 17px;}
	.checklist-im {width:219px;}
	.req-info-form p {float:left; width:100%;}

	div.box-container div.hb101-text {width:205px; margin:-53px 0 0 -21px;}
	div.box-container div.hb101-logo-sm {background-size:280px; width:334px; height:83px; margin:0 0 0 -21px;}

	div.box-container a.bubble_1,
	div.box-container a.bubble_2,
	div.box-container a.bubble_3,
	div.box-container a.bubble_4,
	div.box-container a.bubble_5 {background-size:160px;}

	div.box-container a.bubble_5 {right: -431px; top: -149px;}
	div.box-container a.bubble_4 {right: -225px; top: -38px;}
	div.box-container a.bubble_3 {right: -460px; top: -18px;}
	div.box-container a.bubble_2 {right: -250px;top: 112px;}
	div.box-container a.bubble_1 {right:-390px; top:135px;}

	div.box-container a.bubble_1 span, 
	div.box-container a.bubble_2 span, 
	div.box-container a.bubble_3 span, 
	div.box-container a.bubble_4 span, 
	div.box-container a.bubble_5 span {
		font-size:14px; 
		left:7px; 
		top:32px; 
		padding-left:6px; 
		padding-right:6px;
	}

	.box-container {width:634px; height:542px; background:#5FA9DA;}
	div.box-container div.arrows {background-size: 95px auto; right:140px; top:220px;}
	.banner101-1, .banner101-2 {background-size:280px auto; width:280px;}
	.banner101-2 {float:left;}
	div.main-navi-bar {background-size:634px 100px; width:635px;}
	div.main-navi-bar a.hb101-logo {background-size:200px auto; left:10px;}

	div.main-navi-bar div.top-navi a.bubble_1 {right:-194px;}
	div.main-navi-bar div.top-navi a.bubble_2 {right:-276px; top:-64px;}
	div.main-navi-bar div.top-navi a.bubble_3 {right:-343px; top:-102px;}
	div.main-navi-bar div.top-navi a.bubble_4 {right:-447px; top:-171px;}
	div.main-navi-bar div.top-navi a.bubble_5 {right:-524px; top:-283px;}

	div.main-navi-bar div.top-navi a.bubble_1, 
	div.main-navi-bar div.top-navi a.bubble_2, 
	div.main-navi-bar div.top-navi a.bubble_3, 
	div.main-navi-bar div.top-navi a.bubble_4, 
	div.main-navi-bar div.top-navi a.bubble_5 {
		background-size:110px;
	}

	.top-navi a.bubble_1 span, 
	.top-navi a.bubble_2 span, 
	.top-navi a.bubble_3 span, 
	.top-navi a.bubble_4 span, 
	.top-navi a.bubble_5 span {
		font-size:11px; 
		left:8px; 
		top:16px;
	}

	.si-name {width:243px;}
	.si-co, .si-phone {width:154px;}
	.si-price {margin:42px 0 0 -120px; width:197px;}
	.si-buttons {margin:24px 0 0 -84px; width:303px;}
	.si-bar li {margin:5px 10px 0;}
	ul.si-bar {padding:5px 0 0 246px;}
	.si-phone {margin:-17px 0 0;}
	div.box-container div.homebuying-logo-sm {top:30px; left:37px;}

   	
   	.logomenu, 
   	.topheader, 
   	.home-content-wrapper, 
   	.footer-content-wrapper, 
   	.header ul {
   		width: 100%;
   		padding-left: 10px;
   		padding-right: 0px;
   	}
}