@media only screen and (max-width : 590px) {

    header {
        width: 100%;
        ul {
            height: 0;
            margin: 0;
            li:last-child {
                display:block;
                margin:0;
            }
        }
        .top5 {
            left: 181px;
            padding: 0;
            position: absolute;
            top: 99px;
            z-index:999;
            color:#fff !important;
            a {
                font-size: 11px;
                color:#fff;
                text-decoration:none;
                white-space:nowrap;
            }
        }
    }
    .logomenu .rt-box ul li:last-child a {
        padding: 20px 10px;
    }
	.col-1,
	.col-2,
	.col-3,
	.col-6{
		width: 100%;
	}

	.home-content-wrapper{
		padding-left: 0;
		padding-right: 0;
	}

	.logomenu, 
	.topheader, 
	.home-content-wrapper, 
	.footer-content-wrapper, 
	.header ul {
		width: 100%;
	}

    .iconF3 {
        padding: 5px 40% 0 0;
    }

	.logo {
	    display: block;
	    img {
	        max-width: 100%;
	        width: 100%;
	    }
	}

    .header .top1, 
    .header .top2, 
    .header .top3, 
    .header .top4, 
    .header .top5 {
        display:none;
    }

	.searchbox {
	    float: none;
	    width: 100%;
	    padding-bottom: 30px;
	}

    .footerGrayBar ul li {
        display: inline-block;
    }


    .logomenu {
        width:100%;
        margin: 0 auto;
        max-width:100%;
        padding:18px 0 0;
        .lt-box {
	        float: left;
	        width: 100%;
	    }
	    .rt-box {
	        float: left;
	        padding:0;
	        height:26px;

	        position:relative;
	        -webkit-border-radius: 0;
	        border-radius: 0;
	        margin: 17px 0 0;

            .hmbuying img {
                padding-top: 0px;
                margin-top: -10px;
                margin-left: 5px;
            }
	        nav{
	            border-radius: 0;
	        }

	        ul {
                width:100%;
                position:absolute;
                display:none;
                top:30px;
                z-index: 1000;
                a {
                    color:#000;
                    font-size: 24px;
                    font-weight:bold;
                    text-indent:3px;
                }
                li {
                    width:100% !important;
                    border-bottom:1px solid #0089d1 !important;
                    overflow: hidden;
                    &:hover{
                        border-bottom:1px solid #d31245 !important;
                    }
                    a{

                        background:#0095d9 url(/images/tm/arrow-mobile.png) no-repeat right;
                        padding: 15px;
                    }
                    &:last-child {
            	        background:url("/images/tm/arrow-mobile.png") no-repeat scroll right center #0095D9;
                        border-bottom: none;
            	    }
                    :after{
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }
            	    span {
        	            font-size: 16px;
        	            position: absolute;
        	            &:after {
					        content:"";
					        padding:10px;
					    }
					    &:first-child{
					    	font-size:24px;
					    	font-weight:bold;
					    	&:after {
						        content:""
						    }
					    }
					    &:last-child {
				            padding-left:117px;
				            font-size:16px;
				        }
        	        }
                }
                .divi {
                    display:none
                }
            }
	    }

        .mapWrapper {
            width: 100%;
        }
    }

    .logomenu .rt-box, .rt-col {
        width:100%;
        max-width:100%;
        overflow: inherit;
    }
    .MobileMenuLink {
        display:block;
        font-size:15px;
        font-weight:bold;
        color:#fff;
        padding:10px 0 0 8px;
        position:absolute;
        background: #0095d9;
        width:60px;
        height:37px;
        border:1px solid #0a6e9c;
        top:-4px;
        left:30px;
        -webkit-border-radius: 0;
        border-radius: 0;
        display:inline-block;
        z-index:999;
        text-transform:uppercase;
        -moz-box-shadow: 0px 1px 2px #747474;
        -webkit-box-shadow: 0px 1px 2px #747474;
        -ms-box-shadow: 0px 1px 2px #747474;
        box-shadow: 0px 1px 2px #747474;
    }
    #navtop-main li:first-child,
    #navtop-main li:last-child  {
        border-radius: 0;
    }
    .logomenu .lt-box, 
    .lt-col, 
    .lt-col-cd, 
    .lt-col-s {
        width:100%;
        padding:0;
    }

    .lt-col {
        min-height:69px !important;
        max-width:100%;
        margin: 0 0 1px;
    }

    .logomenu .rt-box .navln, 
    .lihdr {
        height:26px;
        margin:1.5em 0 0;
    }
    #news {
        margin:0;
    }

     .logomenu .rt-box {
        overflow: initial;
        nav {
            height: 30px;
        }
        margin-bottom: 20px;
     }

    .bannertbtm li {
        margin-bottom:2px;
        height:93px;
        width:166px;
        border-left:2px solid #afac9f;
        &:hover img {
                display:none;
            }
        &:first-child, 
        &:nth-child(3){
	        border:none;
	        width:166px;
	        height:93px;
        }
        img {
            width:164px;
            height:93px;
            margin:0;
            padding:0;
        }
        a {
            border: medium none;
            color: #FFFFFF;
            font-size: 18px;
            line-height: 17px;
            margin:-8px 0 0;
            padding: 0 0 0 14px;
            position: absolute;
            text-align: left;
            text-decoration: none;
            top: 35%;
            vertical-align: bottom;
            width: 166px;
        }
        span {
            font-size: 11px;
            line-height:12px;
            color:#fff;
            clear:both;
        }
    }
    /*mobile version for community pages*/
    .navln {
        display:none;
    }
    .leftsubTitle2_CD {
        display:none;
    }
    ul.ltnavlnk {
        float:left;
        margin:0;
        width:131px;
    }
    li.fav, li.print {
        width:115px;
    }
    .ltnavlnk li a {
        width:116px;
    }
    ul.ltnavbut {
        display:none;
    }
    .banner {
        display:none;
        width:334px;
        height:189px;
    }
    .banner img {
        border-top:1px solid #d1d1d1;
    }
    .cd_left {
        display:none;
    }
    .cd_right {
        margin:0;
    }
    .sort {
        display:none;
    }
    .series {
        display:none;
    }
    .chat-btn img {
        display:none;
    }
    .leftTitle_CD {
        float: left;
        font-size: 22px;
        width:62%;
        padding:10px;
        line-height:22px;
    }
    .leftsubTitle_CD {
        padding-top:21px;
    }
    .breadcrumb {
        display:none;
    }

    .logoFooter1, .logoFooter2, .logoFooter3, .logoFooter4 {
        display:none;
    }
    .iconF2 {
        padding-right: 5px;
    }
    .f_right {
        float: right;
        padding: 10px 3em;
        width: 96%;
    }
    .rt-col {
        padding:0;
    }
    /*grand opening*/
    .goMenu li.go0, .goMenu li.go1, .goMenu li.go2, .goMenu li.go3, .goMenu li.go4, .goMenu li.go5 {
        margin:0 0 3px;
    }
    .goMenu li.go0, .goMenu li.go5 {
        width:334px;
    }
    .goMenu li.go1 {
        width:164px;
        margin-right:3px;
    }
    .goMenu li.go2 {
        width:167px;
    }
    .goMenu li.go3 {
        width:198px;
        margin-right:3px;
    }
    .goMenu li.go4 {
        width:133px;
    }
    .goMenu li span, .goMenu-sm li a, .goMenu li a {
        padding:6px 0 0 10px;
        text-align:left;
    }
    .goMenu-sm li a, .goMenu li span {
        text-indent:0px;
    }
    .dt-lt h1 {
        padding:0 15px 12px 10px;
    }
    .dt-lt p {
        padding:0 25px 0 10px;
    }
    .dt-lt {
        width:165px;
    }
    .dt-rt {
        width:150px;
    }
    /*coming soon */
    .goMenu-sm li.go1 {
        width: 334px;
        margin:0 0 3px;
    }
    .goMenu-sm li.go2 {
        width: 334px;
        margin:0;
    }
    .dt-lt-red {
        width:165px;
    }
    .dt-rt-red {
        width:150px;
        a {
            padding:0 0 0 10px;
        }
    }
    /*content page */
    div.blue-bar {
        display:none;
    }
    .content-banner {
        display:none;
    }
    .content-video {
        width:334px;
    }
    .content-video img {
        margin:0;
    }
    .content-pg {
        padding:0 5px 0 5px;
        background:none repeat scroll 0 0 #DFDED8;
    }
    .content-pg h1 {
        margin-top:8px;
        border:0;
        font-size:20px;
        padding:0 0 0 10px;
    }
    ul.lt-con {
        margin:10px 0 0;
    }
    /*HB101*/
    .banner101-1 {
        background-size:279px auto;
    }
    .banner101-2 {
        display:none;
    }
    .glos-index {
        height:95px;
    }
    .glos-search {
        width:100%;
    }
    .glos-search input {
        width:223px;
    }
    /*home features */
    .home-feat {
        margin: 32px 0 0 20px;
        width:32%;
    }
    /*blog*/
    .blog-lt, .blog-lt2, .blog-form {
        width:334px;
    }
    .blofo {
        width:238px;
    }
    /*photos*/
    .pho-thumb li, .pho-thumb2 li {
        width:93px;
        margin:3px;
    }
    ul.pho-thumb, ul.pho-thumb2 {
        width:334px;
    }
    .plan-middle1 {
        width:295px;
    }
    /*create account*/
    .create-acc {
        margin:0 4px;
    }
    .next-steps {
        margin:0 5px 0 0;
        width:100%;
    }
    .ways-connect {
        width:100%;
        border:0;
        padding:0;
    }
    /*my profile */
    .tm-account .pro-addr {
        width: 230px;
    }
    .ppadd {
        display:none;
    }
    /*lead form */
    .req-info-lt {
        width:332px;
        height:501px;
    }
    .img-lead img {
        display:none;
    }
    .create-acc h2 {
        width:325px;
    }
    .emailf {
        width:313px;
    }
    /*my saved items */
    .si-img img {
        width:71%;
    }
    .si-name {
        margin:4px 0 0 -25px;
        width:137px;
    }
    .si-co {
        margin:0 54px 0 0;
        width:140px;
    }
    .si-phone {
        margin: 0 54px 0 0;
        width: 100px;
        float:left;
    }
    .si-details {
        width:327px;
        margin:4px 0 5px;
    }
    .si-price {
        margin:0;
        width:auto;
    }
    .redMarker-si img {
        margin:0 0 0 -46px;
    }
    ul.si-bar {
        width:100%;
        padding:0;
        margin:0;
    }
    .si-bar li a {
        font-size:11px;
        margin:5px 0 0 0;
    }
    .si-buttons {
        width:100%;
        margin:5px 0 0 0;
    }
    .si-btn1, .si-btn2 {
        margin:0;
        width:100%;
    }
    .si-btn1 a, .si-btn2 a {
        font-size:13px;
        text-align:center;
    }
    .si-header {
        margin:15px 0 16px;
    }
    /*career details*/
    .career-dt {
        width:310px;
    }
    .position-header, .position-footer {
        width:293px;
    }
    /*contact us*/
    .contus-rt {
        border:0;
        padding:0;
        margin:8px 0 0 13px;
    }
    .contus-lt {
        margin:0 0 0 10px;
    }
    .c-u-inter {
        width:300px;
    }
    .c-u {
        margin:0 0 10px 10px;
    }
    /*ihc*/
    .ihc-text {
        width:57%;
        margin:8px 0 10px 25px;
    }
    .ihc-bk {
        height:auto;
        width:334px;
    }
    /*campaign listing*/
    .cam-text {
        width:321px;
    }
    /*site map*/
    .sp-lt, .sp-rt {
        width:100%;
    }
    /*error page*/
    ul.error-area {
        width:40%;
    }
    /*fixes search results page*/
    .legend-map li {
        margin: 3px 3px 0;
        padding: 0 0 0 15px;
    }
    .mapbut li {
        margin-left: 3px;
        width: 48%;
    }
    .mapbut li a {
        font-size: 11px;
        margin-left: 6px;
        padding-left: 33px;
    }
    .commCardGrayBar {
        padding-left: 3px;
    }
    .lb1 {
        padding: 7px 0 0 3px;
    }
    .lb2, .lb3 {
        padding: 2px 0 0 21px;
    }
    .commName {
        padding-left: 5px;
        width: 181px;
    }
    .commLocation {
        margin: 29px 0 0 8px;
        padding: 0;
        width: 310px;
    }
    .commDetails {
        margin: 0 0 0 8px;
        padding-left: 0;
        width: 162px;
    }
    .commPromotions {
        padding: 0;
        position: inherit;
        width: 159px;
    }
    ul.addFav-sr {
        padding: 0 0 10px;
        width: 100%;
    }
    .CDmiddle, .CDmiddleHs {
        width:156px;
    }
    .viewPlanBtnHs {
        padding: 30px 0 0 34px;
    }
    /*local interest */
    .local-interest {
        margin: 32px 0 0 8px;
        width:40%;
    }
    .box-local {
        margin: 12px 0 0 10px;
        width: 305px;
    }
    .local-interest-map {
        padding:0
    }
    .loc-int li {
        width:154px;
    }
    .home-feat {
        display:none;
    }
    .local-interest {
        width:333px;
        margin:0;
        padding:0 8px 0 8px;
    }
    .localInterstMap {
        height:286px;
        width:305px;
    }
    .icon-local li a {
        margin:0;
    }
    .icon-local li:first-child {
        width:32%;
    }
    .icon-local li:nth-child(2) {
        width: 39%;
    }
    .icon-local li:nth-child(3) {
        width: 26%;
    }
    .icon-local li:nth-child(4) {
        width: 32%;
    }
    .icon-local li:nth-child(5) {
        width: 39%;
    }
    .icon-local li:nth-child(6) {
        width: 25%;
    }
    .icon-local li:nth-child(7) {
        width: 48%;
    }
    /*fixes on the community page*/
    .commInfo, .promoBlock, .schoolsInfo {
        float: left;
        margin: 13px 0 0;
        padding: 0;
        width: 330px;
    }
    .infobtb li span {
        width:43%;
    }
    .CDright {
        float: left;
        padding: 15px 20px 0 0;
    }
    ul.addFav2 {
        float: left;
        padding-bottom: 13px;
    }
    .viewPlanBtnHs {
        float: left;
        padding: 0;
    }
    .commInfo, .promoText, .schoolsInfo {
        width:334px;
        margin:0;
        padding:0 8px 0 8px;
    }
    .schoolBlock {
        float: left;
        margin:12px 0 0;
        width: 328px;
    }
    .schoolImg {
        float: left;
        width: 164px;
    }
    .schoolImg img {
        height: auto;
        max-height: 115px;
        max-width: 152px;
        width: 100%;
    }
    .h-sear3, .h-sear4, .h-sear5, .h-sear6 {
        display:none;
    }
    .lb1 a, .lb2 a, .lb3 a {
        font-size:11px;
    }
    /*ul.commDetMenu {width:100%;}*/
    /*  .commDetMenu .cdm:last-child {width:100%; height:40px; border-bottom:2px solid #FFFFFF;}
*/
    /*.commDetMenu li img {float:left; margin:-19px 0 0 235px;}*/
    .commInfo h1 {
        margin:22px 0 24px;
    }
    /*.commDetMenu .on {width:100%;}*/
    .schoolText, .promoText {
        width:154px;
    }
    .banner-across {
        width:334px;
    }
    /*ul.planMenu {float:left;}*/
    /*  .planMenu .pd1, .planMenu .pd2, .planMenu .pd3, .planMenu .pd4 {width:100%; border-bottom:1px solid #FFFFFF;}
*/
    /*.planMenu .pd5 {width:100%;}*/
    .banner101-ri {
        height:auto;
    }
    .ri-text {
        width:295px;
    }
    ul.ri-buttons {
        margin:-30px 0 0 52px;
    }
    .logo101-b {
        margin:22px 0 0 17px;
    }
    .plan-middle3 {
        width:100%;
        padding:0 8px 0 8px;
    }
    .CD_commCard {
        height:221px;
    }
    ul.CDright {
        float: left;
        margin: 0 0 0 134px;
        width: 59%;
    }
    ul.mapbut {
        width:100%;
    }
    .box-container {
        background-color: #5DA7D8;
        height: 781px;
        width: 100%;
    }
    .glos-index span {
        width:100%;
    }
    .hb-steps, .hb {
        height:291px;
    }
    .hb5 {
        width:95%;
    }
    .hb3 {
        height: 85px;
        margin: -15px 28px 20px 2px;
    }
    /*  .planMenu li, .planMenu li a {padding:4px 0 0 8px; text-align:left;}
*/
    .announc1 {
        float: left;
        margin: -23px 0 4px 6px;
        width: 95%;
    }
    .announc1 a {
        text-decoration:none;
        font-size:12px;
        text-align:left;
    }
    .glos-list li span {
        width:60%;
    }
    div.box-container div.hb101-logo-sm {
        background-size: 280px auto;
        height: 83px;
        margin: 0 0 0 -21px;
        width: 302px;
    }
    div.box-container div.hb101-text {
        margin:-43px 0 0 -21px;
        width:291px;
    }
    div.box-container div.arrows {
        background-size: 74px auto;
        right: 86px;
        top: 527px;
    }
    div.box-container a.bubble_1 span, div.box-container a.bubble_2 span, div.box-container a.bubble_3 span, div.box-container a.bubble_4 span, div.box-container a.bubble_5 span {
        font-size: 12px;
        left: 4px;
        top: 32px;
        padding:0 14px 0 14px;
        font-family:arial !important;
    }
    div.box-container a.bubble_1 {
        right: -152px;
        top: 464px;
        width:175px;
    }
    div.box-container a.bubble_2 {
        right: 0;
        top: 414px;
    }
    div.box-container a.bubble_3 {
        right: -171px;
        top: 328px;
        width:159px;
    }
    div.box-container a.bubble_4 {
        right: -2px;
        top: 271px;
    }
    div.box-container a.bubble_5 {
        right: -155px;
        top: 177px;
        width:159px;
    }
    .logo101-b img {
        width:97%;
    }
    .ri-text h1 {
        width:305px;
        line-height:20px;
    }
    .plan-top2, .plan-top3 {
        width:312px;
    }
    .s-center, .s-associate {
        width:155px;
    }
    .s-center p, .s-associate p {
        width:118px;
    }
    .sr-lf {
        height:auto;
        margin:5px 0 13px 15px;
    }
    .dd-map {
        margin:0 0 0 -15px;
        width:294px;
    }
    .loc-int-map {
        border: 1px solid #D3D3D4;
        float: left;
        margin: 0 0 0 10px;
    }
    .priceFromSpace {
        float: left;
        margin:0;
        padding: 0 0 0 39px;
        width: 166px;
    }

    .mod-tophea1 {
        float: left;
        width: 100%;
        margin-bottom: 7px;
        font-weight: bold;
        font-size: 11px;
        color: #666;
    }

    #svgmap {
        min-height:400px;
        height:auto;
        position:absolute;
        background:#fff;
        border:1px solid #999999;
        left:0;
        z-index:9999;
        display:none;
        width: 100%;
        top: 40px;

        .close {
            float: right;
            font-size: 11px;
            height: 18px;
            margin: 0 10px 4px;
            padding: 0 0 0 16px;
            text-decoration: underline;
            background: url('/Images/tm/sprite-tm-markers.png') no-repeat 0 -69px;
            color: #0095d9;
        }
        .rt {
            float: left;
            min-height: 363px;
            margin: 0;
            padding:0 0 0 10px;
            width: 100%;
            height:auto;
            ul{
                &.ddlist {
                    float:left;
                    list-style:none;
                    clear:both;
                    padding:0 0 15px 0;
                    width:100%;
                    position:inherit;
                    height: auto;

                    &:first-child {
                        padding-top:0;
                    }
                }
            }
        }

        .mod-t1 {
            border-top: 1px solid silver;
            float: left;
            width: 96%;
            margin: 0 0 6px;
        }

        .mod-hea1 {
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 10px;
            float: left;
            width: 100%;
        }
        #canvas {
            display:none;
        }
        p {
            display:none;
        }
    }   



    #svgmap .rt ul.ddlist li:first-child, #svgmap .rt ul.ddlist li:first-child a {
        text-transform:uppercase !important;
        color:#263d88 !important;
        text-decoration:none;
        font-weight:bold !important;
        border:none;
    }
    
    #svgmap .rt ul.ddlist li {
        border:none;
    }
    .svglstlt {
        float:left;
        width:50%;
        li {
            clear:both !important;
            text-transform:capitalize;
            background:none !important;
            height:auto !important;

            a {
                line-height: 15px;
                font-size: 12px;
                color: #1395d3!important;
                text-decoration: underline;
                padding: 0 !important;
                font-weight: bold;

            }
        }

        .ddlist-2 {
            height: auto;
            margin-bottom: 10px;
            li{

                &:first-child a{
                    text-transform: uppercase !important;
                    text-decoration: none;
                    font-weight: bold !important;
                    color: #666 !important;
                }
                a {
                    color: #999 !important;
                    font-size: 10px;
                }
            } 
        }
    }
    .header .top2b {
        display:none;
    }
    .next-arrow {
        float: right;
        height: 28px;
        margin: 26px 0 0;
        padding: 0;
        position: absolute;
        width: 29px;
    }
    ul.pho-thumb, ul.pho-thumb2 {
        width:334px;
        margin:0;
    }
    .options {
        width: 100%;
    }
    .options img {
        height:auto;
        width:24%;
        margin:0 0 0 81px;
    }
    ul.personalize {
        float: left;
        margin: -2px 0 15px 45px;
        width: 78%;
    }
    .personalize li {
        width:122px;
    }
    .options img {
        width: 0;
        height: 0;
        display: none;
        max-width: 579px
    }
    ul.personalize {
        width: 0;
        height: 0;
        display: none;
        max-width: 579px
    }
    .plan-details-top .pho-main img {
        margin: -400px 0 0 -93px;
        max-width: 81%;
        position: absolute;
    }
    .pho-main img {
        margin:0;
    }
    .photo-rotator ul.carousel li.on {
        margin:0;
    }
    ul.si-bbr {
        padding:5px 0 0 5px;
    }
    /*ul.msibuttons {margin:38px 0 4px -122px;}*/
    .commPromotions-c {
        min-height:44px;
        width:221px;
    }
    .si-bbr li {
        margin:0 7px 0 0;
    }
    .hfslist li:nth-child(2), .hfslist li:nth-child(6), .hfslist li:nth-child(7), .hfslist li:nth-child(8) {
        display:none;
    }
    .hfslist li:first-child {
        width:44%;
    }
    .hfslist li:nth-child(3) {
        width:24%;
    }
    .hfslist li:nth-child(4), .hfslist li:nth-child(5) {
        width:15%;
    }
    .promoImg {
        width:176px;
    }
    .clearRightText {
        width:150px;
    }
    .content-pg h1 {
        width:100%;
    }
    .content-pg {
        background:#fff;
    }
    .planlist li:nth-child(8), .planlist li:nth-child(5) {
        display:none;
    }
    .planlist li:first-child {
        width:21%;
    }
    .planlist li:nth-child(2) {
        width:27%;
    }
    .planlist li:nth-child(3) {
        width:9%;
    }
    .planlist li:nth-child(4) {
        width:11%;
    }
    .planlist li:nth-child(5) {
        width:17%;
    }
    .planlist li:nth-child(6) {
        width:17%;
    }
    .halfSection {
        width:100%;
    }
    .banner-go .ccs {
        margin:0 0 30px;
    }
    .planlist2 li:first-child {
        width:40%;
    }
    .planlist2 li:nth-child(2) {
        display:none;
    }
    .planlist2 li:nth-child(3) {
        width:21%;
    }
    .planlist2 li:nth-child(4) {
        width:23%;
    }
    .planlist2 li:nth-child(5) {
        width:8%;
    }
    .tm_nowselling {
        height:66px;
    }
    ul.icon-local {
        padding:0;
    }
    .map-more {
        width:330px;
        padding:0 8px;
    }
    .dd-bottom {
        padding:0 8px;
    }
    .local-interest-out {
        padding:0;
    }
    div.main-navi-bar a.hb-logo img {
        width:86%;
        margin:16px 0 0;
    }
    .homebuying-logo-sm img {
        height: 64%;
        margin: 10px 0 0 -8px;
        width: 100%;
    }
    div.box-container div.homebuying-logo-sm {
        width:282px;
    }
    div.main-navi-bar div.top-navi {
        background: #64b1df;
        float: left;
        width: 334px;
        height:236px;
    }
    div.main-navi-bar a.hb-logo {
        margin:0 0 0 21px;
        top:4px;
        width:228px;
    }
    div.main-navi-bar div.top-navi a.bubble_1 {
        right: -18px;
        top: 98px;
    }
    div.main-navi-bar div.top-navi a.bubble_2 {
        right: -106px;
        top: 6px;
    }
    div.main-navi-bar div.top-navi a.bubble_3 {
        right: -201px;
        top: -60px;
    }
    div.main-navi-bar div.top-navi a.bubble_4 {
        right: -21px;
        top: -54px;
    }
    div.main-navi-bar div.top-navi a.bubble_5 {
        right: -118px;
        top: -155px;
    }
    div.main-navi-bar {
        width:334px;
    }
    .top-navi a.bubble_1 span, .top-navi a.bubble_2 span, .top-navi a.bubble_3 span, .top-navi a.bubble_4 span, .top-navi a.bubble_5 span {
        font-size: 11px;
        left: 11px;
        padding-left: 4px;
        padding-right: 4px;
        top: 16px;
    }
    .checklist {
        padding:0 8px;
    }
    #elements-top {
        width: 334px;
    }
    div#element-logo-text {
        display:none;
    }
    div#element-main-content {
        width: 332px;
    }
    .footerLinks {
        display: block;
    }
    div#footer {
        display: inline-block;
        float: left;
        margin-left: 44px;
        padding-top: 33px;
        position: relative;
    }
    div#element-text-content div#default {
        margin:0;
    }
    div#accordion-item-environment {
        background-size: 100% auto;
        display: none;
        margin: -29px 0 0 -20px;
        width: 331px;
    }
    div#accordion-item-efficiency {
        display:none;
    }
    div#accordion-item-energy {
        display:none;
    }
    div#elements-accordion-wrapper, #elements-top-separator {
        width:333px;
    }
    #ms-main-container {
        width:335px;
    }
    div#footer {
        width:269px;
    }
    div#element-text-content div#default {
        width:261px;
    }
    div#element-text-content {
        float: left;
        height: 186px;
        position: relative;
        width: 314px;
    }
    #div-left-col-content {
        width:332px;
    }
    #div-right-col-content .feature-separator {
        width:333px;
    }
    #div-right-col-content {
        width:333px;
    }
    #division-footer {
        height:210px;
    }
    #division-footer .hers-ratings {
        left: 239px;
        margin: 77px 0 0 -223px;
    }
    #division-footer {
        width: 332px;
    }
    #div-right-col-content .feature-pane {
        width: 331px;
    }
    #division-footer .hers-ratings {
        background-size: 13% auto;
    }
    #division-footer .hers-ratings .desc {
        margin:0 0 0 -72px;
    }
    #division-footer .hers-ratings .details-button {
        margin:0 0 0 -62px;
    }
    #div-footer-separator .shadow {
        width: 332px;
    }
    div#element-header-text {
        color: #F9F9F7;
        float: right;
        font-family:'Arial Narrow', 'Arial', 'sans-serif';
        font-size: 16px;
        font-style: italic;
        font-weight: bold;
        margin-right: 8px;
        margin-top: -7px;
    }
    .lb1 {
        margin: 0 0 0 7px;
    }
    .sb1 {
        min-width: 148px;
    }
    .h-sear2 {
        padding: 6px 0 0 5px;
        width: 179px;
    }
    .UpdatesBoxModel, .UpdatesBox {
        margin: 24px 0 0;
        z-index: 999;
    }
    .scfSubmitButtonBorder .scfSubmitButton {
        float: right;
        margin: 0 89px 0 2px;
    }
    .header .top3 {
        background: none repeat scroll 0 0 #FFFFFF;
        color: #FFFFFF;
        display: none;
        height: 0;
        margin: 0;
        padding: 0;
    }
    .header .top3 a {
        display:none;
    }
    .header .top3:after {
        display:none;
    }
    #globalRFI .cancelLink {
        margin: -18px 53px 11px;
    }
    #globalRFI .scfSubmitButtonBorder input {
        margin: -11px 0 0 84px;
    }
    .cl-bt-tex2 {
        margin: 151px 0 0 48px;
    }
    /*fixes on elements */
    div#elements-accordion-wrapper {
        display:none;
    }
    div#element-main-content {
        height: 707px !important;
        margin: 0 !important;
        width: 319px !important;
    }
    div#element-text-content div#default {
        margin: 26px 0 0 315px !important;
        width: 285px !important;
    }
    #ms-main-container {
        width: 335px !important;
    }
    div#element-text-content {
        width:314px !important;
    }
    #elements-top {
        width: 313px;
    }
    div#elements-accordion-wrapper, #elements-top-separator {
        width: 313px !important;
    }
    a.insh1 {
        color:#0095D9;
    }
    #mobileHours {
        display:inline-block;
        clear:both;
        margin:13px;
        padding-bottom:1.5em;
    }
    #mobileHours .announ {
        display:none;
    }
    .callsToAction {
        display:none !important;
    }
}

// @media	only screen and (max-device-width: 480px){
// 	.col-1,
// 	.col-2,
// 	.col-3,
// 	.col-6{
// 		width: 100%;
// 	}
// }

// @media only screen and (max-width : 480px) and (orientation : portrait),
// 	   only screen and (max-width : 640px) and (orientation : landscape){
	
	
	
// }


