﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Logout.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Users.Logout" %>
<h2 style="margin:30px 0; float:left;">
	You are now logged out
</h2>