﻿/* Sitecore Default Stylesheet */

html {
  height:100%;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
}

#MainPanel {
  background:#e9e9e9;
  text-align:center;
  height:100%;
}

#CenterColumn 
{
  text-align:left;
  margin:auto;
  width:800px;
}

#Banner 
{
  background:white;
  border-bottom:1px solid #bfbfbf;
  padding:8px;
}

#Content {
  background:white;
  margin:10px 0px 0px 0px;
  border-bottom:1px solid #bfbfbf;
  padding:16px 16px 48px 16px;
}
/* line 437, ../Sass/components/_base.scss */
.H1TM-Red {
  font-size: 26px;
  color: #d31245;
  line-height: 24px;
  float: left;
}

/* line 444, ../Sass/components/_base.scss */
.H1TM-BlueBars {
  font-size: 26px;
  color: #19398a;
  border-bottom: 1px solid #afac9f;
  border-top: 1px solid #afac9f;
  padding: 10px;
  line-height: 26px;
  float: left;
}

/* line 454, ../Sass/components/_base.scss */
.H2TM-Blue {
  font-size: 18px;
  color: #19398a;
  line-height: 20px;
  float: left;
}

/* line 461, ../Sass/components/_base.scss */
.H3TM-Blue {
  font-size: 16px;
  color: #19398A;
  line-height: 26px;
  float: left;
}

/* line 468, ../Sass/components/_base.scss */
.H4TM-Blue {
  font-size: 12px;
  color: #19398A;
  font-weight: bold;
  line-height: 26px;
  float: left;
}

/* line 476, ../Sass/components/_base.scss */
.PTM-Grey {
  font-size: 13px;
  color: #333;
  line-height: 13px;
  float: left;
}

/* line 483, ../Sass/components/_base.scss */
.LITM {
  font-size: 13px;
  color: #333;
  line-height: 18px;
  margin: 7px 0 0;
  float: left;
  line-height: 16px;
  list-style: disc outside none;
}

/* line 493, ../Sass/components/_base.scss */
.H1MG-Grey {
  font-size: 26px;
  color: #666;
  line-height: 24px;
  float: left;
}

/* line 500, ../Sass/components/_base.scss */
.H1MG-RedBars {
  font-size: 26px;
  color: #C02D2D;
  border-bottom: 1px solid #afac9f;
  border-top: 1px solid #afac9f;
  padding: 10px;
  line-height: 26px;
  float: left;
}

/* line 510, ../Sass/components/_base.scss */
.H2MG-Red {
  font-size: 18px;
  color: #C02D2D;
  line-height: 20px;
  float: left;
}

/* line 517, ../Sass/components/_base.scss */
.H3MG-Red {
  font-size: 16px;
  color: #C02D2D;
  line-height: 26px;
  float: left;
}

/* line 524, ../Sass/components/_base.scss */
.H4MG-Red {
  font-size: 12px;
  color: #C02D2D;
  font-weight: bold;
  line-height: 26px;
  float: left;
}

/* line 532, ../Sass/components/_base.scss */
.PMG-Grey {
  font-size: 13px;
  color: #333;
  line-height: 13px;
  float: left;
}

/* line 539, ../Sass/components/_base.scss */
.LIMG {
  font-size: 13px;
  color: #333;
  line-height: 18px;
  margin: 7px 0 0;
  float: left;
  line-height: 16px;
  list-style: disc outside none;
}

/* line 549, ../Sass/components/_base.scss */
.H1DH-Brown {
  font-size: 26px;
  color: #513528;
  line-height: 24px;
  float: left;
}

/* line 556, ../Sass/components/_base.scss */
.H1DH-TealBars {
  font-size: 26px;
  color: #006a71;
  border-bottom: 1px solid #afac9f;
  border-top: 1px solid #afac9f;
  padding: 10px;
  line-height: 26px;
  float: left;
}

/* line 566, ../Sass/components/_base.scss */
.H2DH-Brown {
  font-size: 18px;
  color: #513528;
  line-height: 20px;
  float: left;
}

/* line 573, ../Sass/components/_base.scss */
.H3DH-Brown {
  font-size: 16px;
  color: #513528;
  line-height: 26px;
  float: left;
}

/* line 580, ../Sass/components/_base.scss */
.H4DH-Brown {
  font-size: 12px;
  color: #513528;
  font-weight: bold;
  line-height: 26px;
  float: left;
}

/* line 588, ../Sass/components/_base.scss */
.PDH-Brown {
  font-size: 13px;
  color: #543019;
  line-height: 13px;
  float: left;
}

/* line 595, ../Sass/components/_base.scss */
.LIDH {
  font-size: 13px;
  color: #543019;
  line-height: 18px;
  margin: 7px 0 0;
  float: left;
  line-height: 16px;
  list-style: disc outside none;
}