﻿/* line 2, ../Sass/common.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font: normal 12px/16px  Arial, Helvetica, sans-serif, serif;
  color: #666666;
  /*-webkit-transition-property: width; -moz-transition-property: width; transition-property: width;
  -webkit-transition-property: height; -moz-transition-property: height; transition-property: height;
  -webkit-transition-property: backgound; -moz-transition-property: backgound; transition-property: backgound;
  -webkit-transition-property: font-size; -moz-transition-property: font-size; transition-property: font-size;
  -webkit-transition-duration: .5s, .5s; -moz-transition-duration: .5s, .5s; transition-duration: .5s, .5s;
  -webkit-transition-timing function: linear, ease-in; -moz-transition-timing function: linear, ease-in; transition-timing function: linear, ease-in;*/
}

/* line 18, ../Sass/common.scss */
h1 {
  font-size: 20px;
}

/* line 19, ../Sass/common.scss */
h4 {
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 0 0 10px;
  width: 100%;
}

/* line 25, ../Sass/common.scss */
strong {
  font-weight: bold;
}

/* line 26, ../Sass/common.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 27, ../Sass/common.scss */
audio:not([controls]) {
  display: none;
}

/* line 28, ../Sass/common.scss */
.printLink {
  display: none;
}

/* line 29, ../Sass/common.scss */
[hidden] {
  display: none;
}

/* line 30, ../Sass/common.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 36, ../Sass/common.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #333;
}

/* line 38, ../Sass/common.scss */
::-moz-selection {
  background: #2a2a2a;
  color: #fff;
  text-shadow: none;
}

/* line 39, ../Sass/common.scss */
::selection {
  background: #2a2a2a;
  color: #fff;
  text-shadow: none;
}

/* line 41, ../Sass/common.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 42, ../Sass/common.scss */
a.no-wrap {
  white-space: nowrap;
}

/* line 43, ../Sass/common.scss */
p {
  padding: 5px 0;
}

/* line 45, ../Sass/common.scss */
body {
  line-height: 1;
  background: #fff;
  overflow-y: scroll !important;
}

/* line 46, ../Sass/common.scss */
ul {
  list-style: none;
}

/* line 47, ../Sass/common.scss */
shape, group {
  margin: 0;
  padding: 0;
  border: 0;
}

/*svg, tspan{text-shadow: 0 2px 2px #151515; filter: Shadow(Color=#151515, Direction=120, Strength=2);}*/
/* line 50, ../Sass/common.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../Sass/common.scss */
#map_canvas div {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

/* line 53, ../Sass/common.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* all */
/* line 56, ../Sass/common.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 57, ../Sass/common.scss */
::-moz-placeholder {
  color: #999;
}

/* firefox 19+ */
/* line 58, ../Sass/common.scss */
::-ms-placeholder {
  color: #999;
}

/* ie10+ */
/* line 59, ../Sass/common.scss */
input:-moz-placeholder {
  color: #999;
}

/*-------------------------------------------
Global Element sizes
---------------------------------------------*/
/*Deafult*/
/*Wide width*/
/* line 68, ../Sass/common.scss */
.logomenu, .topheader, .home-content-wrapper, .footer-content-wrapper, .header ul {
  width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  clear: both;
  *zoom: 1;
}

/*Left column*/
/* line 72, ../Sass/common.scss */
.logomenu .lt-box, .lt-col, .lt-col-cd, .lt-col-s, .cd_left, .across-lt, .geneInfoBox, .geneInfo {
  width: 245px;
}

/*Right column*/
/* line 76, ../Sass/common.scss */
.logomenu .rt-box, .rt-col, ul.bannertbtm, .banner, .banner img, ul.bannertbtm, #news, .cd_right, .cd_right2, .ppc-bnr, .ppc-bnr img, .content-pg, .breadcrumb {
  width: 670px;
  margin: 0 0 0 5px;
  padding: 0;
  float: left;
}

/*inner wide elements*/
/* line 81, ../Sass/common.scss */
.search-results-wrapper, ul.goMenu, .banner-go, .banner-across, .banner-across img, .plan-details-top, ul.planMenu, .viewplanbox, .viewplanbox2,
.commCard, .dd-top, .dd-bottom, .det-wrapper-bt, .plan-details-wrapper, .sitePlanImg, .local-interest-map {
  width: 920px;
  padding: 0;
  margin: 0 auto;
  clear: both;
  *zoom: 1;
}

/* line 82, ../Sass/common.scss */
.mapt {
  width: 447px;
  height: 350px;
}

/* line 84, ../Sass/common.scss */
.foot-in {
  display: table;
  margin: 0 auto;
  width: auto;
  text-align: center;
}

/* Styles for Inspiration Gallery */
/* line 87, ../Sass/common.scss */
h1.insh {
  color: #D31245;
  font-size: 22px;
  line-height: 29px;
}

/* line 93, ../Sass/common.scss */
section.iss-lt {
  padding: 19px 22px 0;
}

/* line 96, ../Sass/common.scss */
.inscheck {
  float: left;
  padding: 0 0 5px;
  width: 100%;
}

/* line 102, ../Sass/common.scss */
a.inslink {
  color: #0095D9;
  float: left;
  font-size: 11px;
  margin: 10px 0 17px;
  text-decoration: underline;
}

/* line 110, ../Sass/common.scss */
.inscheck input {
  float: left;
}

/* line 114, ../Sass/common.scss */
.inscheck span {
  float: left;
  margin: 0 0 0 5px;
}

/* line 119, ../Sass/common.scss */
.gba1 {
  background-color: #E5E5E5;
  height: 102px;
  margin: 1px 0 0 -1px;
  padding: 12px;
}

/* line 126, ../Sass/common.scss */
#bx-pager .activeC {
  border: 1px solid #333333;
  box-shadow: 0 3px 4px 2px #333333;
}

/* line 130, ../Sass/common.scss */
#arrow1 {
  display: none;
}

@media only screen and (max-width: 960px) {
  /*Wide width*/
  /* line 136, ../Sass/common.scss */
  .logomenu, .topheader, .home-content-wrapper, .footer-content-wrapper, .header ul {
    width: 634px !important;
    padding-left: 0  !important;
    padding-right: 0  !important;
  }

  /*Left column*/
  /* line 140, ../Sass/common.scss */
  .logomenu .lt-box, .lt-col, .lt-col-cd, .lt-col-s, .cd_left, .across-lt, .geneInfoBox, .geneInfo {
    width: 191px !important;
  }

  /*Right column*/
  /* line 144, ../Sass/common.scss */
  .logomenu .rt-box, .rt-col, ul.bannertbtm, .banner, .banner img, ul.bannertbtm, #news, .cd_right, .cd_right2, .ppc-bnr, .ppc-bnr img, .content-pg, .breadcrumb {
    width: 438px !important;
  }

  /*inner wide elements*/
  /* line 149, ../Sass/common.scss */
  .search-results-wrapper, ul.goMenu, .banner-go, .banner-across, .banner-across img, .plan-details-top, ul.planMenu, .viewplanbox, .viewplanbox2,
  .commCard, .dd-top, .dd-bottom, .det-wrapper-bt, .plan-details-wrapper, .sitePlanImg, .local-interest-map {
    width: 634px !important;
  }

  /* line 151, ../Sass/common.scss */
  .mapt {
    width: 291px !important;
  }
}
/*Mobile*/
@media only screen and (max-width: 579px) {
  /*Wide width*/
  /* line 159, ../Sass/common.scss */
  .logomenu, .topheader, .home-content-wrapper, .footer-content-wrapper, .header ul {
    width: 334px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /*Left and Right column*/
  /* line 164, ../Sass/common.scss */
  .logomenu .lt-box, .lt-col, .lt-col-cd, .lt-col-s, .logomenu .rt-box, .rt-col, ul.bannertbtm, .banner, .banner img, ul.bannertbtm, #news,
  .cd_right, .cd_right2 .cd_left, .geneInfoBox, .across-lt, .ppc-bnr, .ppc-bnr img, .geneInfo, .content-pg, .breadcrumb {
    width: 334px !important;
    margin: 0 !important;
  }

  /*inner wide elements*/
  /* line 169, ../Sass/common.scss */
  .search-results-wrapper, ul.goMenu, .banner-go, .banner-across, .banner-across img, .plan-details-top, ul.planMenu, .viewplanbox, .viewplanbox2,
  .commCard, .dd-top, .dd-bottom, .det-wrapper-bt, .plan-details-wrapper, .sitePlanImg, .local-interest-map {
    width: 334px !important;
  }

  /* line 170, ../Sass/common.scss */
  .mapt {
    width: 334px !important;
  }
}
/* line 173, ../Sass/common.scss */
.mapprogress {
  background-color: rgba(255, 252, 252, 0.5);
  clear: both;
  float: left;
  height: 100%;
  min-height: 150px;
  padding: 162px 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}

/* line 175, ../Sass/common.scss */
.facetprogress,
.progress {
  background-color: rgba(255, 252, 252, 0.5);
  height: 96%;
  min-height: 150px;
  padding: 41px 0;
  width: 100%;
  float: left;
  clear: both;
  z-index: 99999999;
}

/* line 178, ../Sass/common.scss */
.facetprogress span, .facetprogress div,
.mapprogress span, .mapprogress div,
.progress span, .progress div {
  background: url("/Images/progress.gif") no-repeat scroll center center transparent;
  height: 48px;
  margin: 0 auto !important;
  padding: 51px 0 0 !important;
  text-align: center;
  width: 115px;
}

/* line 180, ../Sass/common.scss */
.facetprogress {
  position: absolute;
  left: 0;
  min-height: 450px;
  padding: 168px 0 !important;
  top: 16px;
  display: none;
}

/* line 182, ../Sass/common.scss */
.errbx {
  border: 1px solid #FF0000;
  color: #FF0000;
  margin: 15px 0;
  padding: 13px;
  width: 100%;
}

/* line 183, ../Sass/common.scss */
.errtext {
  color: #FF0000 !important;
  font-size: 12px !important;
  font-weight: normal !important;
}

/*Header*/
/* line 186, ../Sass/common.scss */
.clearfix {
  *zoom: 1;
}

/* line 188, ../Sass/common.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

/* line 189, ../Sass/common.scss */
.clearfix:after {
  clear: both;
}

/* line 191, ../Sass/common.scss */
header {
  height: auto;
  display: block;
  clear: both;
  padding: 0 0 5px;
}

/* line 192, ../Sass/common.scss */
.hdline {
  height: 1px;
  background: #fff;
  width: 100%;
  margin: 1px 0;
  clear: both;
  float: left;
  border-bottom: 1px solid #dfded8;
}

/*Search Model*/
/* line 195, ../Sass/common.scss */
#svgmap {
  width: 670px;
  min-height: 400px;
  height: auto;
  position: absolute;
  background: #fff;
  border: 1px solid #999999;
  top: 60px;
  left: 0;
  z-index: 9999;
  display: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 197, ../Sass/common.scss */
#svgmap .rt {
  border-left: 1px solid #dfded8;
  float: left;
  min-height: 363px;
  margin: 0;
  padding: 0 0 0 10px;
  width: 250px;
  height: auto;
}

/* line 198, ../Sass/common.scss */
#svgmap #canvas {
  float: left;
  overflow: hidden;
  position: relative;
  top: 50px;
  left: -4px;
  width: 418px;
  height: 316px;
  display: block;
}

/* line 199, ../Sass/common.scss */
#svgmap .rt ul.ddlist {
  float: left;
  list-style: none;
  clear: both;
  padding: 0 0 15px 0;
  width: 120px;
}

/* line 200, ../Sass/common.scss */
#svgmap .rt ul.ddlist:first-child {
  padding-top: 0;
}

/* line 201, ../Sass/common.scss */
#svgmap .rt ul.ddlist li {
  clear: both !important;
  text-transform: capitalize;
  background: none !important;
  height: auto !important;
}

/* line 202, ../Sass/common.scss */
#svgmap .rt ul.ddlist li a {
  line-height: 15px;
  font-size: 12px;
  text-decoration: underline;
  padding: 0 !important;
}

/* line 205, ../Sass/common.scss */
#svgmap .rt ul.ddlist li:first-child,
#svgmap .rt ul.ddlist li:first-child a {
  text-transform: uppercase !important;
  text-decoration: none;
  font-weight: bold !important;
}

/* line 206, ../Sass/common.scss */
#svgmap .close {
  float: right;
  font-size: 11px;
  height: 18px;
  margin: 0 10px 4px;
  padding: 0 0 0 16px;
  text-decoration: underline;
}

/* line 207, ../Sass/common.scss */
#svgmap p {
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 22px;
  position: relative;
  text-align: left;
  top: 18px;
  width: 418px;
}

/* line 208, ../Sass/common.scss */
.svglstlt {
  float: left;
  width: 50%;
}

/*Search Facet*/
/* line 211, ../Sass/common.scss */
#srhfactbx {
  /*position:absolute;*/
  width: 100%;
  bottom: 0;
  height: auto;
  z-index: 999;
  float: left;
}

/* line 212, ../Sass/common.scss */
.searchfact {
  height: 446px;
  float: left;
  width: 100%;
  padding: 0 16px;
  background: #dfded8;
  display: none;
}

/* line 213, ../Sass/common.scss */
.searchfact div, .searchfact p {
  width: 100%;
  float: left;
  padding: 0;
  clear: both;
  margin: 7px 0 0;
}

/* line 214, ../Sass/common.scss */
.searchfact div > div {
  margin: 1px 0 0;
}

/* line 215, ../Sass/common.scss */
.searchfact span {
  float: right;
}

/* line 216, ../Sass/common.scss */
.searchfact .range p {
  margin: 5px 0;
}

/* line 222, ../Sass/common.scss */
.searchfact p,
.searchfact span,
.searchfact select,
.searchfact li,
.searchfact li label {
  font: normal 11px/12px Arial;
  color: #666666;
  margin: 0;
}

/* line 224, ../Sass/common.scss */
.searchfact select {
  width: 100%;
}

/* line 225, ../Sass/common.scss */
.searchfact ul {
  float: left;
}

/* line 226, ../Sass/common.scss */
.searchfact ul li {
  background: #fff;
  width: 28px;
  height: 16px;
  text-align: center;
  margin: 0 0 0 2px;
  float: left;
}

/* line 227, ../Sass/common.scss */
.searchfact ul li:first-child {
  margin: 0 0 0 2px;
}

/* line 229, ../Sass/common.scss */
.searchfact ul li span,
.searchfact ul li label {
  float: left;
  margin: 0;
  padding: 2px 0 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* line 230, ../Sass/common.scss */
.searchfact ul li:hover label {
  margin: 0;
  padding: 1px 0 0;
  border: 1px solid #0095D9;
}

/* line 236, ../Sass/common.scss */
.searchfact ul li:hover label.selected,
.searchfact ul li:hover label.available,
.searchfact ul li label.selected,
.searchfact ul li label.available,
.searchfact ul li:active label {
  border: none;
  background: #0095D9;
  color: #fff;
}

/* line 239, ../Sass/common.scss */
.searchfact select .selected,
.searchfact select .available {
  color: #0095D9;
}

/* line 242, ../Sass/common.scss */
.searchfact ul li span.readonly:hover,
.searchfact ul li span.readonly {
  background: none repeat scroll 0 0 #EFEFEF;
  border: none !important;
  color: #DCDCDC !important;
}

/* line 248, ../Sass/common.scss */
.searchfact .disabled {
  color: #DCDCDC !important;
}

/* line 250, ../Sass/common.scss */
ul.srchstories li {
  width: 22px;
}

/* line 251, ../Sass/common.scss */
.searchfact div div:nth-child(2) {
  height: 17px;
}

/* line 252, ../Sass/common.scss */
a.facetclear {
  float: right;
}

/* line 253, ../Sass/common.scss */
.bonden {
  width: 95px !important;
}

/* line 255, ../Sass/common.scss */
#realtorfacet {
  margin: 0;
  padding: 0;
  display: none;
}

/* line 256, ../Sass/common.scss */
.rlrsearch {
  background: url(/images/tm/realtorhomesearch.png) no-repeat 0 0;
  width: 159px;
  height: 30px;
  margin: 5px 0;
  float: left;
  display: block;
}

/* line 258, ../Sass/common.scss */
#sldrrange-StartingPrice, #sldrrange-SquareFeet {
  float: none;
  width: 213px;
  height: 10px;
  border: 1px solid #d8d6d1;
  position: relative;
  background: #cccccb;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2FkYWRhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGFkYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #cccccb 0%, #cccccb 50%, #adadad 51%, #adadad 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccb), color-stop(50%, #cccccb), color-stop(51%, #adadad), color-stop(100%, #adadad));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccb 0%, #cccccb 50%, #adadad 51%, #adadad 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccb 0%, #cccccb 50%, #adadad 51%, #adadad 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cccccb 0%, #cccccb 50%, #adadad 51%, #adadad 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cccccb 0%, #cccccb 50%, #adadad 51%, #adadad 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccb', endColorstr='#adadad',GradientType=0 );
  /* IE6-8 */
}

/* line 272, ../Sass/common.scss */
#sldrrange-StartingPrice .ui-widget-header,
#sldrrange-SquareFeet .ui-widget-header {
  background: #c7e8f7;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3ZThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M3ZThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzljZDZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Y2Q2ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #c7e8f7 0%, #c7e8f7 50%, #9cd6ef 51%, #9cd6ef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7e8f7), color-stop(50%, #c7e8f7), color-stop(51%, #9cd6ef), color-stop(100%, #9cd6ef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c7e8f7 0%, #c7e8f7 50%, #9cd6ef 51%, #9cd6ef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c7e8f7 0%, #c7e8f7 50%, #9cd6ef 51%, #9cd6ef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c7e8f7 0%, #c7e8f7 50%, #9cd6ef 51%, #9cd6ef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c7e8f7 0%, #c7e8f7 50%, #9cd6ef 51%, #9cd6ef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e8f7', endColorstr='#9cd6ef',GradientType=0 );
  /* IE6-8 */
}

/* line 284, ../Sass/common.scss */
.searchfact .ui-slider-horizontal .ui-slider-range {
  top: -1px;
}

/* line 285, ../Sass/common.scss */
.searchfact .ui-widget-header .ui-slider-horizontal .ui-slider-range {
  top: -0.2em;
}

/*.searchfact .ui-slider-horizontal .ui-slider-range{top:-0.45em\0/} IE8*/
/* line 289, ../Sass/common.scss */
#sldrrange-SquareFeet a,
#sldrrange-StartingPrice a {
  background: url("/Images/arrow-facet-rg.png") no-repeat !important;
  width: 17px;
  height: 17px;
  border: none;
}

/* line 291, ../Sass/common.scss */
#sldrrange-SquareFeet a:nth-child(2),
#sldrrange-StartingPrice a:nth-child(2) {
  background: url("/Images/arrow-facet-lt.png") no-repeat !important;
}

/* line 293, ../Sass/common.scss */
.srchmap {
  float: left;
  margin: 0;
  padding: 0;
  width: 99.9%;
  position: relative;
}

/* line 295, ../Sass/common.scss */
.srchmap:before,
.srchmap:after {
  display: table;
  content: "";
}

/* line 299, ../Sass/common.scss */
.srchmap:after {
  clear: both;
}

/* line 302, ../Sass/common.scss */
.mapWindow {
  height: 432px;
  width: 100%;
  margin: 0;
  border: 1px solid #dcdcdc;
}

/* line 304, ../Sass/common.scss */
#content {
  max-height: 210px !important;
  max-width: 250px !important;
}

/* line 306, ../Sass/common.scss */
#content h1,
#content a.hdr {
  font-size: 14px !important;
  font-weight: 700;
  color: #0095d9;
}

/* line 307, ../Sass/common.scss */
#content img {
  width: 180px;
  height: auto;
}

/* line 310, ../Sass/common.scss */
#content div,
#content div a,
#content div p {
  width: 100%;
  height: auto;
}

/* line 312, ../Sass/common.scss */
ul.saleshrs {
  float: left;
  margin: 10px 0 0;
  clear: both;
  width: 100%;
}

/* line 313, ../Sass/common.scss */
.saleshrs li {
  clear: both;
  float: left;
  margin: 1px 0;
  width: 100%;
}

/* line 314, ../Sass/common.scss */
.saleshrs li span {
  font-size: 13px;
  color: #333333;
  float: left;
  width: 65%;
  text-align: right;
}

/* line 315, ../Sass/common.scss */
.saleshrs li span:first-child {
  text-align: left;
  width: 35%;
}

/* line 316, ../Sass/common.scss */
.mapt {
  height: 350px;
  width: 447px;
}

/* line 318, ../Sass/common.scss */
.redMarker {
  float: left;
  border: 0;
  margin: 0 7px 0 0;
  display: block;
}

/* line 319, ../Sass/common.scss */
.redMarker img {
  width: 26px;
  height: 35px;
}

/* line 320, ../Sass/common.scss */
.schoolsInfo h1 {
  color: #841317;
  font-size: 19px;
  font-weight: normal;
}

/* line 321, ../Sass/common.scss */
.priceFrom {
  font-size: 12px;
  display: inline-block;
}

/* line 322, ../Sass/common.scss */
.searchbox input {
  width: 100%;
  font-size: 12px;
  float: left;
  height: 22px;
  border: 1px solid #19398a;
  padding-left: 7px;
}

/* line 323, ../Sass/common.scss */
.commDetMenu li img {
  cursor: pointer;
  float: right;
  margin: -31px -1px 0 0;
  padding: 9px;
}

/* line 327, ../Sass/common.scss */
.redMarker-si > div,
.redMarker-c > div,
.redMarker > div {
  cursor: pointer;
}

/*Lead forms*/
/* line 330, ../Sass/common.scss */
.scfForm {
  height: auto !important;
  margin: -8px 0 0;
  padding: 0 0 4px 10px;
  color: #ff0000;
}

/* line 333, ../Sass/common.scss */
.scfSectionContent .scfSingleLineGeneralPanel, .scfSectionContent .scfSingleLineTextLabel, .scfSectionContent .scfEmailLabel
.scfSectionContent .scfEmailGeneralPanel,
.scfSectionContent .scfMultipleLineGeneralPanel {
  width: 90% !important;
}

/* line 334, ../Sass/common.scss */
.scfValidatorRequired, .scfRequired {
  margin: 0 10px 0 0 !important;
  color: #ff0000 !important;
}

/* line 335, ../Sass/common.scss */
.scfMultipleLineTextLabel {
  width: 50%;
}

/* line 337, ../Sass/common.scss */
.scfForm .scfValidationSummary {
  margin: 2px 0 0 0;
}

/* line 338, ../Sass/common.scss */
.scfForm .scfValidationSummary li {
  color: #ff0000;
  background: none repeat scroll 0 0 transparent;
  float: left;
  height: auto;
  margin: 0 !important;
  width: 100%;
  border: none;
}

/* line 339, ../Sass/common.scss */
.scfSubmitButtonBorder .scfSubmitButton {
  background: url(/Images/submit_btn.png) !important;
  width: 77px !important;
  height: 26px !important;
  border: none !important;
  text-indent: 112px !important;
  margin: 0 0 0 -6px;
  padding: 0;
  cursor: pointer;
}

/*.UpdatesBoxModel,
.UpdatesBox {background: #afac9f; width:205px; min-height:200px;margin: 23px 0 0 0;height:auto;}*/
/* line 343, ../Sass/common.scss */
.UpdatesBox {
  background: none repeat scroll 0 0 #AFAC9F;
  height: 336px;
  margin: 23px 0 0;
  width: 205px;
}

/* line 350, ../Sass/common.scss */
.UpdatesBoxModel {
  background: none repeat scroll 0 0 #AFAC9F;
  height: 242px;
  margin: 23px 0 0;
  width: 205px;
}

/* line 358, ../Sass/common.scss */
.UpdatesBoxModel p,
.UpdatesBox p {
  color: #fff !important;
  font-size: 16px !important;
  line-height: 19px !important;
  padding: 12px 0 11px 18px;
}

/* line 360, ../Sass/common.scss */
.UpdatesBoxModel input,
.UpdatesBox input {
  margin: 0 0 4px;
}

/* line 361, ../Sass/common.scss */
.submit_btn {
  padding: 2px 0 0 10px;
}

/* line 362, ../Sass/common.scss */
.UpdatesBoxModel {
  display: none;
  position: absolute;
}

/* line 363, ../Sass/common.scss */
#msignupleadform {
  cursor: pointer;
}

/* line 365, ../Sass/common.scss */
#homeforsaleSearchResult div.com-hdr:first-child,
#CommunitySearchResult div.com-hdr:first-child {
  display: none;
}

/* line 366, ../Sass/common.scss */
.com-hdr {
  background-color: #afac9f;
  height: 30px;
  width: 100%;
  clear: both;
  margin: 20px 0 0 0;
  float: left;
  padding: 0;
}

/* line 367, ../Sass/common.scss */
a.footerprods {
  text-transform: lowercase;
}

/* line 369, ../Sass/common.scss */
.fav-savitems {
  background: url("/images/tm/redStar.png") no-repeat scroll left center transparent;
  padding: 0 0 0 20px;
}

/* line 370, ../Sass/common.scss */
.noComRecords {
  margin: 30px 0;
  float: left;
  font-size: 12px;
}

/* line 371, ../Sass/common.scss */
.noComRecords a {
  color: #0095d9;
}

/* line 373, ../Sass/common.scss */
.rt-col h1 {
  color: #19398A;
  font-size: 20px;
  padding: 5px 0 9px;
}

/*.scfSubmitButtonBorder input {background: none repeat scroll 0 0 #C02D2D; border: 1px solid #FFFFFF; box-shadow: 2px 2px 2px #888888;  clear: both;  float: left;    height: 24px;  margin: 4px 0; width: 100%;}*/
/* line 375, ../Sass/common.scss */
.chat-btn {
  overflow: hidden;
}

/* line 376, ../Sass/common.scss */
.sitePlanImg {
  float: left;
  height: auto;
  width: 920px;
}

/* line 378, ../Sass/common.scss */
.hfslist ul:first-child li {
  font-size: 12px;
  font-weight: bold;
  margin: 6px 0 10px 0;
}

/* line 380, ../Sass/common.scss */
.hfslist li:first-child {
  width: 38%;
}

/* line 381, ../Sass/common.scss */
.hfslist li:nth-child(2) {
  width: 16%;
}

/* line 382, ../Sass/common.scss */
.hfslist li:nth-child(3) {
  width: 9%;
}

/* line 386, ../Sass/common.scss */
.hfslist li:nth-child(4),
.hfslist li:nth-child(5),
.hfslist li:nth-child(6),
.hfslist li:nth-child(7) {
  width: 6%;
  text-align: center;
}

/* line 387, ../Sass/common.scss */
.hfslist li:nth-child(8) {
  width: 13%;
}

/* line 389, ../Sass/common.scss */
ul.msibuttons {
  width: 206px;
  float: left;
  margin: 0 0 0 29px;
}

/* line 390, ../Sass/common.scss */
.msibuttons li {
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 2px #888888;
  clear: both;
  float: left;
  height: 24px;
  margin: 4px 0;
  width: 204px;
}

/* line 391, ../Sass/common.scss */
.msibuttons li:first-child a {
  background: url("/images/tm/envelope.png") no-repeat scroll 5px 2px transparent;
}

/* line 392, ../Sass/common.scss */
.msibuttons li a, .plan1but li:last-child a {
  background: url("/images/tm/chat.png") no-repeat scroll 5px 2px transparent;
}

/* line 393, ../Sass/common.scss */
.msibuttons li a {
  color: #FFFFFF;
  float: left;
  height: 24px;
  padding-left: 44px;
  padding-top: 3px;
  position: relative;
  text-decoration: none;
  width: 203px;
  text-align: left;
  /* z-index: 999;*/
}

/* line 395, ../Sass/common.scss */
.lv-chat-but {
  float: left;
  height: 24px;
  margin: -24px 0 0;
  width: 205px;
  position: relative;
}

/* line 396, ../Sass/common.scss */
.lv-chat-but a {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 0;
  /*z-index:0 !important*/
}

/* line 399, ../Sass/common.scss */
a.button,
a.button-arrow {
  -moz-box-shadow: 0 0 2px 2px #bbb;
  -webkit-box-shadow: 0 0 2px 2px #bbb;
  box-shadow: 0 0 2px 2px #bbb;
  border: 1px solid #FFFFFF !important;
  color: #FFFFFF !important;
  float: left !important;
  font-size: 12px !important;
  height: 22px !important;
  margin: 5px 10px 5px 0 !important;
  padding: 3px 15px !important;
  text-decoration: none !important;
  width: auto !important;
  text-transform: uppercase;
  line-height: 16px !important;
}

/* line 417, ../Sass/common.scss */
.button a,
.button-arrow a {
  float: left;
  color: #FFFFFF;
  text-decoration: none;
  margin: 1px 0 0 5px;
}

/* line 420, ../Sass/common.scss */
a.button span,
a.button-arrow span,
span.arrow-ri {
  border-bottom: 6px solid transparent;
  border-left: 6px solid #FFFFFF;
  border-top: 6px solid transparent;
  float: right;
  height: 0;
  margin: 1px 0 0 10px;
  width: 6px;
}

/* line 421, ../Sass/common.scss */
.scfForm input, .scfForm select, .scfForm textarea {
  padding: 2px 0 2px 5px;
  margin: 0 0 4px;
}

/*.scfForm input {width:138px;}*/
/*removing to fix bug 62826*/
/* line 424, ../Sass/common.scss */
.si-img2 {
  float: left;
  padding: 0 10px 0 0;
  position: relative;
}

/* line 425, ../Sass/common.scss */
.si-img2 img {
  max-height: 90px;
  max-width: 158px;
  border: none;
}

/* line 427, ../Sass/common.scss */
.advSearBox {
  background: #F3F3F1;
  height: 111px;
  margin: 34px 0 0;
  position: relative;
  cursor: pointer;
}

/* line 428, ../Sass/common.scss */
.magglass {
  background: url("/images/search-glass.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 43px;
  left: 17px;
  position: absolute;
  top: 58px;
  width: 43px;
  z-index: 9999;
}

/* line 429, ../Sass/common.scss */
.advSearBox_t1 {
  float: left;
  font-size: 21px;
  font-weight: bold;
  padding: 20px 0 3px 34px;
  color: #545351;
}

/* line 430, ../Sass/common.scss */
.advSearBox_t2 {
  font-size: 13px;
  float: left;
  color: #808080;
  padding: 0 0 0 34px;
}

/* line 432, ../Sass/common.scss */
.UpdatesBox .scfForm input {
  width: 169px;
}

/* line 433, ../Sass/common.scss */
.UpdatesBox .whyzip {
  width: 100%;
  float: left;
}

/*Community and plan tabs */
/* line 436, ../Sass/common.scss */
ul.commDetMenu, .cd_right nav ul, ul.planMenu {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 30px;
  position: relative;
}

/* line 437, ../Sass/common.scss */
.commDetMenu .cdm, .planMenu li, .commDetMenu li, .cd_right nav li {
  z-index: 10;
  text-align: center;
  display: table-cell;
  border-left: 2px solid #fff;
}

/* line 438, ../Sass/common.scss */
.commDetMenu li:first-child, .planMenu li:first-child, .cd_right nav li:first-child {
  border: none;
}

/* line 439, ../Sass/common.scss */
.commDetMenu a, .planMenu a, .cd_right nav a {
  color: #fff  !important;
  text-decoration: none;
  padding: 5px 10px;
  line-height: 20px;
  display: block;
  text-align: center;
  background: #D31245;
  font-size: 11px;
  font-weight: bold;
}

/* line 440, ../Sass/common.scss */
.commDetMenu li .on, .commDetMenu li.on a, .commDetMenu li a:hover, .cd_right nav li a:hover {
  background: #7F0023;
}

/* line 441, ../Sass/common.scss */
.planMenu a {
  background: #7A8CBB;
}

/* line 442, ../Sass/common.scss */
.planMenu li .on, .planMenu li.on a, .planMenu li a:hover {
  background: #19398A;
}

/* line 444, ../Sass/common.scss */
.content-pg h1 {
  border-bottom: 1px solid #AFAC9F;
  border-top: 1px solid #AFAC9F;
  font-size: 26px;
  line-height: 26px;
  padding: 10px;
}

/* line 445, ../Sass/common.scss */
.content-pg h2 {
  font-size: 20px;
  line-height: 26px;
  padding: 10px;
}

/* line 446, ../Sass/common.scss */
.content-pg h3 {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
}

/* line 448, ../Sass/common.scss */
ul.content-pg {
  float: left;
  margin: 9px 0 10px 16px;
  width: 100%;
}

/* line 449, ../Sass/common.scss */
.content-pg li {
  font-size: 13px;
  color: #333333;
  line-height: 18px;
  margin: 7px 0 0;
  float: left;
  clear: both;
  line-height: 16px;
  list-style: disc outside none;
}

/* line 450, ../Sass/common.scss */
.content-pg p {
  float: left;
  width: 100%;
  color: #333;
  font-size: 13px;
  padding: 18px 0 0 10px;
}

/* line 451, ../Sass/common.scss */
.content-pg h2, .content-pg h3 {
  float: left;
}

/* line 453, ../Sass/common.scss */
.content-pg ul {
  float: left;
  margin: 8px 0;
  width: 100%;
}

/* line 454, ../Sass/common.scss */
.content-pg ol li {
  list-style: decimal;
}

/* line 456, ../Sass/common.scss */
.cd_right span {
  text-align: justify;
}

/* line 458, ../Sass/common.scss */
.morg-1 {
  float: left;
  margin: 10px 0 9px;
}

/* line 459, ../Sass/common.scss */
.morg-1 p {
  float: left;
  width: 100%;
}

/* line 460, ../Sass/common.scss */
.morg-1 span {
  float: left;
}

/* line 462, ../Sass/common.scss */
.ri-l p {
  font-weight: bold;
}

/* line 463, ../Sass/common.scss */
.send-rbtn {
  border: 1px solid #FFFFFF !important;
  box-shadow: 0 0 2px 2px #BBBBBB;
  color: #FFFFFF !important;
  float: left !important;
  font-size: 12px !important;
  height: 22px !important;
  line-height: 16px !important;
  margin: 5px 10px 5px 0 !important;
  padding: 3px 15px !important;
  text-decoration: none !important;
  text-transform: uppercase;
  width: auto !important;
  background: #d31245;
}

/* line 477, ../Sass/common.scss */
.con-lef {
  padding-left: 40px;
}

/* line 478, ../Sass/common.scss */
.content-banner {
  margin: 12px 0 0 25px;
  float: left;
}

/* line 479, ../Sass/common.scss */
.con-left1 {
  padding-left: 20px !important;
}

/* line 480, ../Sass/common.scss */
.con-left2 {
  padding-left: 28px !important;
}

/* line 481, ../Sass/common.scss */
.con-left3 {
  padding-left: 40px !important;
}

/* line 482, ../Sass/common.scss */
.con-left3 a:before {
  content: url("/images/tm/arrow.png");
}

/* line 484, ../Sass/common.scss */
.hmbnr-overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 491, ../Sass/common.scss */
.hmbnr-overlay:hover {
  background: none;
}

/*changes on the join our interest list*/
/* line 494, ../Sass/common.scss */
.join-wrapper .scfForm input {
  width: 238px;
}

/* line 495, ../Sass/common.scss */
.join-wrapper .scfDropListLabel {
  font-weight: bold;
  width: 100%;
}

/* line 496, ../Sass/common.scss */
.join-wrapper .scfDropListGeneralPanel {
  display: block;
  float: left;
  width: 73%;
}

/* line 497, ../Sass/common.scss */
.join-wrapper .scfSingleLineGeneralPanel {
  width: 75%;
}

/* line 498, ../Sass/common.scss */
.join-wrapper .scfRequired {
  float: left;
}

/*change request modal*/
/* line 501, ../Sass/common.scss */
.mod-t1 {
  border-top: 1px solid silver;
  float: left;
  width: 96%;
  margin: 0 0 6px;
}

/* line 502, ../Sass/common.scss */
.mod-hea1 {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}

/* line 503, ../Sass/common.scss */
.mod-tophea1 {
  float: left;
  width: 100%;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 11px;
  color: #666;
}

/* line 504, ../Sass/common.scss */
#svgmap .rt ul.ddlist-2 {
  float: left;
  list-style: none;
  clear: both;
  padding: 0 0 15px 0;
  width: 120px;
}

/* line 505, ../Sass/common.scss */
#svgmap .rt ul.ddlist-2:first-child {
  padding-top: 0;
}

/* line 506, ../Sass/common.scss */
#svgmap .rt ul.ddlist-2 li {
  clear: both !important;
  text-transform: capitalize;
  background: none !important;
  height: auto !important;
}

/* line 507, ../Sass/common.scss */
#svgmap .rt ul.ddlist-2 li a {
  line-height: 15px;
  font-size: 12px;
  text-decoration: underline;
  padding: 0 !important;
  color: #999999 !important;
  font-size: 10px;
}

/* line 510, ../Sass/common.scss */
#svgmap .rt ul.ddlist-2 li:first-child,
#svgmap .rt ul.ddlist-2 li:first-child a {
  text-transform: uppercase !important;
  text-decoration: none;
  font-weight: bold !important;
  color: #666666 !important;
  font-size: 10px;
}

/* line 511, ../Sass/common.scss */
.join-wrapper {
  width: 335px !important;
}

/* line 513, ../Sass/common.scss */
.scfIntroBorder {
  float: left;
}

/* line 514, ../Sass/common.scss */
.cl-bt-tex a {
  background: none;
  font-size: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 516, ../Sass/common.scss */
  .cl-bt-tex a {
    background: none;
    font-size: 9px !important;
  }
}
/*opt out page*/
/* line 520, ../Sass/common.scss */
.bn-optout img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* line 521, ../Sass/common.scss */
.tx-optout {
  float: left;
  width: 60%;
}

/* line 522, ../Sass/common.scss */
.tx-optout h1 {
  font-weight: bold;
}

/* line 523, ../Sass/common.scss */
.form-optout {
  float: left;
  width: 70%;
}

/* line 524, ../Sass/common.scss */
.op-sidebn {
  float: right;
  width: 22%;
}

/* line 525, ../Sass/common.scss */
.op-sidebn img {
  height: auto;
  max-width: 100%;
  width: 100%;
  padding: 3px 0;
}

/* line 527, ../Sass/common.scss */
.blog-lt li {
  list-style: disc inside;
}

/* line 528, ../Sass/common.scss */
a.insh1 {
  font-size: 22px;
  line-height: 29px;
  text-decoration: none;
}

/* line 529, ../Sass/common.scss */
.intimob {
  float: left;
  display: none;
}

/*a.inpp {float:left; margin:-18px 0 0 19px;}*/
/* line 531, ../Sass/common.scss */
.mgb1 {
  background: #DFDED8;
}

/*favorites*/
/* line 534, ../Sass/common.scss */
div.ifpFavs a {
  margin-right: 10px;
}

/* line 535, ../Sass/common.scss */
.ifpFavs {
  float: left;
  margin: 7px 0 5px -35px;
  width: 50%;
}

/* line 536, ../Sass/common.scss */
.span_1 a:last-child {
  font-size: 11px;
}

/* line 537, ../Sass/common.scss */
.sslinf {
  font-size: 11px;
  margin: 0 0 0 12px;
}

/*tablet*/
@media only screen and (max-width: 960px) {
  /*favorites*/
  /* line 543, ../Sass/common.scss */
  .ifpFavs {
    float: left;
    margin: 5px 0 15px;
    width: 62%;
  }

  /* line 545, ../Sass/common.scss */
  .mapt {
    height: 350px;
    width: 291px;
  }

  /* line 546, ../Sass/common.scss */
  .advSearBox_t2 {
    margin: 0 0 0 -29px;
  }

  /* line 547, ../Sass/common.scss */
  .lb2 {
    padding: 4px 0 0 166px;
  }

  /* line 548, ../Sass/common.scss */
  .CDmiddle, .CDmiddleHs {
    width: 156px;
    margin: 0 0 0 10px;
  }

  /* line 549, ../Sass/common.scss */
  .viewPlanBtnHs {
    padding: 30px 0 0 35px;
  }

  /* line 550, ../Sass/common.scss */
  .grayLineV {
    height: 130px;
  }

  /* line 551, ../Sass/common.scss */
  .CD_commCard {
    border-top: 1px solid #DCDCDC;
    float: left;
    margin: 2px 0 8px;
    height: 130px;
    width: 438px;
    float: left;
  }

  /* line 552, ../Sass/common.scss */
  .blue-bar_link, .blue-bar a {
    margin: 0 0 0 4px;
  }

  /* line 554, ../Sass/common.scss */
  .UpdatesBoxModel,
  .UpdatesBox {
    width: 171px;
  }

  /* line 555, ../Sass/common.scss */
  .blue-bar_link, .blue-bar a {
    padding: 0 40px 0 2px;
  }

  /* line 556, ../Sass/common.scss */
  .searchbox input {
    font-size: 9px;
  }

  /*Community and plan tabs */
  /* line 559, ../Sass/common.scss */
  ul.commDetMenu, .cd_right nav ul, ul.planMenu {
    height: 30px;
  }

  /* line 560, ../Sass/common.scss */
  .commDetMenu a, .planMenu a, .cd_right nav a {
    padding: 5px 2px;
    line-height: 20px;
  }

  /* line 561, ../Sass/common.scss */
  .commDetMenu li img {
    margin: -25px -6px 0 0;
  }

  /* line 562, ../Sass/common.scss */
  .con-lef {
    padding-left: 10px;
  }

  /* line 563, ../Sass/common.scss */
  a.button, a.button-arrow {
    font-size: 11px !important;
    margin: 5px 8px 5px 0 !important;
  }

  /* line 564, ../Sass/common.scss */
  .con-left1 {
    padding-left: 20px !important;
  }

  /* line 565, ../Sass/common.scss */
  .con-left2 {
    padding-left: 28px !important;
  }

  /* line 566, ../Sass/common.scss */
  .con-left3 {
    padding-left: 40px !important;
  }

  /*bug 64558*/
  /* line 569, ../Sass/common.scss */
  .scfValidatorRequired, .scfRequired {
    margin: 0 -15px 0 0 !important;
  }

  /* line 570, ../Sass/common.scss */
  a.insh1 {
    font-size: 22px;
    line-height: 29px;
    text-decoration: none;
  }

  /* line 571, ../Sass/common.scss */
  .intimob {
    float: left;
    display: none;
  }

  /*a.inpp {float:left; margin:-18px 0 0 19px; font-size:14px;}*/
}
/*mobile*/
@media only screen and (max-width: 579px) {
  /* line 578, ../Sass/common.scss */
  .schoolText, .promoText {
    width: 154px;
  }

  /* line 579, ../Sass/common.scss */
  .CD_commCard {
    width: 338px;
    height: 212px;
  }

  /* line 580, ../Sass/common.scss */
  ul.CDright {
    margin: -7px 0 0 123px;
  }

  /* line 581, ../Sass/common.scss */
  .grayLineV {
    display: none;
  }

  /* line 582, ../Sass/common.scss */
  .announc1 a {
    font-size: 12px;
    margin: -60px 0 0 5px;
    float: left;
  }

  /* line 583, ../Sass/common.scss */
  .lt-col-cd {
    min-height: 71px;
    width: 100%;
  }

  /* line 584, ../Sass/common.scss */
  ul.commDetMenu {
    width: 100%;
    float: left;
  }

  /* line 585, ../Sass/common.scss */
  .commDetMenu .on {
    float: left;
    width: 100%;
    height: 40px;
  }

  /* line 586, ../Sass/common.scss */
  .commDetMenu .cdm {
    height: 40px;
    float: left;
    width: 100%;
  }

  /* line 587, ../Sass/common.scss */
  .commDetMenu li img {
    display: none;
  }

  /* line 588, ../Sass/common.scss */
  .mapWindow {
    height: 262px;
  }

  /* line 589, ../Sass/common.scss */
  #sldrrange-StartingPrice, #sldrrange-SquareFeet {
    width: 302px;
  }

  /* line 590, ../Sass/common.scss */
  .searchfact ul li {
    width: 3.74em;
  }

  /*favorites*/
  /* line 593, ../Sass/common.scss */
  .ifpFavs {
    float: left;
    margin: 5px 0 15px;
    width: 100%;
  }

  /*Community and plan tabs */
  /* line 596, ../Sass/common.scss */
  ul.commDetMenu, .cd_right nav ul, ul.planMenu {
    height: 30px;
  }

  /* line 597, ../Sass/common.scss */
  .commDetMenu .cdm, .planMenu li, .commDetMenu li, .cd_right nav li {
    border: none;
    border-top: 2px solid #fff;
  }

  /* line 598, ../Sass/common.scss */
  .commDetMenu a, .planMenu a, .cd_right nav a {
    padding: 3px 10px;
    line-height: 20px;
  }

  /* line 599, ../Sass/common.scss */
  .commDetMenu .cdm, .planMenu li, .commDetMenu li, .cd_right nav li {
    display: block;
    padding: 0;
    height: 28px;
  }

  /* line 600, ../Sass/common.scss */
  .commDetMenu a, .planMenu a {
    text-align: left;
    text-indent: 15px;
    line-height: 22px;
  }

  /* line 602, ../Sass/common.scss */
  #svgmap .rt ul.ddlist-2 {
    float: left;
    list-style: none;
    clear: both;
    padding: 0 0 15px 0;
    width: 120px;
    position: inherit;
    box-shadow: none;
  }

  /* line 603, ../Sass/common.scss */
  #svgmap .rt ul.ddlist-2:first-child {
    padding-top: 0;
  }

  /* line 604, ../Sass/common.scss */
  #svgmap .rt ul.ddlist-2 li {
    clear: both !important;
    text-transform: capitalize;
    background: none !important;
    height: auto !important;
    border: 0;
  }

  /* line 605, ../Sass/common.scss */
  #svgmap .rt ul.ddlist-2 li a {
    line-height: 15px;
    text-decoration: underline;
    padding: 0 !important;
    color: #999999 !important;
    font-size: 10px;
  }

  /* line 608, ../Sass/common.scss */
  #svgmap .rt ul.ddlist-2 li:first-child,
  #svgmap .rt ul.ddlist-2 li:first-child a {
    text-transform: uppercase !important;
    text-decoration: none;
    font-weight: bold !important;
    color: #666666 !important;
    font-size: 10px;
  }

  /*opt out page*/
  /* line 611, ../Sass/common.scss */
  .tx-optout {
    float: left;
    width: 100%;
  }

  /* line 612, ../Sass/common.scss */
  .op-sidebn {
    float: right;
    width: 100%;
  }

  /* line 613, ../Sass/common.scss */
  .op-sidebn img {
    height: auto;
    max-width: 60%;
    width: 100%;
  }

  /* line 614, ../Sass/common.scss */
  .form-optout {
    float: left;
    width: 100%;
  }

  /*inspiration gallery*/
  /* line 617, ../Sass/common.scss */
  .inscheck {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #C0C0C0;
    margin: 0;
    padding: 13px 0;
    width: 100%;
  }

  /* line 618, ../Sass/common.scss */
  .inscheck input {
    float: left;
    margin: 0 0 0 15px;
  }

  /* line 619, ../Sass/common.scss */
  .inscheck span {
    float: left;
    font-size: 20px;
    margin: 0 0 0 12px;
  }

  /* line 620, ../Sass/common.scss */
  section.iss-lt {
    padding: 0;
  }

  /* line 621, ../Sass/common.scss */
  h1.insh {
    font-size: 16px;
    margin: 11px 0 6px 12px;
    color: #333333;
  }

  /* line 622, ../Sass/common.scss */
  a.inslink {
    color: #0095D9;
    float: left;
    font-size: 11px;
    margin: -28px 0 0 -58px;
    position: absolute;
    text-decoration: underline;
    width: 55px;
    display: none;
  }

  /* line 623, ../Sass/common.scss */
  .intimob {
    clear: both;
    display: block;
    float: left;
    font-size: 16px;
    margin: 15px 0 0 10px;
  }

  /* line 630, ../Sass/common.scss */
  a.insh1 {
    font-size: 16px;
    line-height: 29px;
    text-decoration: none;
  }

  /* line 631, ../Sass/common.scss */
  a.inpp {
    color: #0095D9;
    float: left;
    font-size: 12px !important;
    margin: 33px 0 0 -102px;
    text-decoration: underline !important;
  }

  /* line 637, ../Sass/common.scss */
  #arrow1 {
    float: left;
    margin: 43px 0 0 -123px;
    display: block;
  }
}
/* line 640, ../Sass/common.scss */
hr.listDivider, #lastUpdated {
  clear: both;
}

/* line 641, ../Sass/common.scss */
.disclaimer {
  width: 100%;
  font-size: 11px;
}

/* line 643, ../Sass/common.scss */
.prev-arrow-disable {
  background: url("/images/left-a-gray.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  float: left;
  height: 28px;
  margin: 26px 0 0;
  padding: 0;
  width: 29px;
}

/* line 644, ../Sass/common.scss */
.next-arrow-disable {
  background: url("/images/right-a-gray.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 28px;
  margin: 26px 0 0;
  padding: 0;
  width: 29px;
}

/* line 646, ../Sass/common.scss */
.clearRightText a, div.geneInfoBox a, p.address a, div.commLocation a {
  text-decoration: none;
}

/* line 647, ../Sass/common.scss */
span.justify {
  text-align: justify;
  float: left;
}

/* line 650, ../Sass/common.scss */
#navTabs div {
  display: none;
}

/* line 654, ../Sass/common.scss */
#horAcordNav {
  padding-top: 5px;
  clear: both;
}

/* line 659, ../Sass/common.scss */
#horAcordNav .child, .mobileIndicator {
  padding: 5px 25px 5px 10px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  background: #dfded8;
  color: #666666;
  border-left: 1px solid #afac9f;
  border-right: 1px solid #eeedea;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 11px;
}

/* line 677, ../Sass/common.scss */
#horAcordNav .active {
  border-left: 1px solid #afac9f;
  background: white;
}

/* line 683, ../Sass/common.scss */
#horAcordNav .child a {
  text-decoration: none;
  font-weight: bold;
}

/* line 688, ../Sass/common.scss */
#horAcordNav .child .arrow, .mobileIndicator .arrow {
  position: absolute;
  right: 10px;
  top: 11px;
  background: url("/images/tm/arrowRightGray.png") no-repeat;
  width: 8px;
  height: 8px;
}

/* line 697, ../Sass/common.scss */
#horAcordNav .active .arrow, .mobileIndicator .arrow {
  background: url("/images/tm/arrowDownGray.png") no-repeat;
}

/* line 702, ../Sass/common.scss */
#horAcordNav .container {
  width: 100%;
  background-color: #dfded8;
  overflow: hidden;
  height: 30px;
}

/* line 708, ../Sass/common.scss */
.mobileIndicator {
  display: none;
}

/* line 710, ../Sass/common.scss */
#horAcordNav .container .child:first-child {
  border-left: solid 0px #dfded8;
}

/* line 714, ../Sass/common.scss */
#horAcordNav .container .child:last-child {
  border-right: 0px solid #dfded8;
}

@media only screen and (max-width: 960px) {
  /* line 720, ../Sass/common.scss */
  #horAcordNav .child, .mobileIndicator {
    font-size: 7px;
    text-overflow: ellipsis;
    max-width: 109px;
  }
}
@media only screen and (max-width: 579px) {
  /* line 730, ../Sass/common.scss */
  #horAcordNav .container {
    width: 100%;
    height: auto;
  }

  /* line 733, ../Sass/common.scss */
  #horAcordNav .child, .mobileIndicator {
    max-width: 400px;
    overflow: auto;
  }

  /* line 737, ../Sass/common.scss */
  .mobileIndicator, #horAcordNav .container .child {
    float: left;
    clear: both;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    border: solid 0px white;
  }

  /* line 738, ../Sass/common.scss */
  .mobileIndicator {
    display: inline;
    border: none;
    background-color: white;
    position: relative;
  }

  /* line 739, ../Sass/common.scss */
  #horAcordNav .active {
    display: none;
  }
}
/* line 742, ../Sass/common.scss */
.accordionContentBlock {
  padding-left: 12px;
  padding-right: 12px;
}

/* line 743, ../Sass/common.scss */
.accordionContentBlock h3 {
  font-size: 18px;
  color: #19398a;
  margin: 2em 0 1em;
}

/* line 744, ../Sass/common.scss */
.accordionContentBlock p {
  color: #666;
  line-height: 20px;
  margin-bottom: 1em;
  padding: 0;
  clear: both;
}

/* line 745, ../Sass/common.scss */
.accordionContentBlock a {
  color: #0095d9;
}

/* line 746, ../Sass/common.scss */
.accordionContentBlock a:hover {
  color: #d31245;
}

/* line 747, ../Sass/common.scss */
.accordionContentBlock strong {
  font-weight: bold;
}

/* line 748, ../Sass/common.scss */
.accordionContentBlock b {
  font-weight: bold;
  color: #d31245;
}

/* line 749, ../Sass/common.scss */
.accordionContentBlock em {
  font-style: italic;
}

/* line 750, ../Sass/common.scss */
.accordionContentBlock ol {
  list-style: decimal;
  margin: 0 0 1em 2em;
}

/* line 751, ../Sass/common.scss */
.accordionContentBlock ul {
  list-style: disc;
  margin: 0 0 1em 2em;
}

/* line 752, ../Sass/common.scss */
.accordionContentBlock li {
  color: #666;
  padding: 5px 0;
}

/* line 755, ../Sass/common.scss */
.leftContent {
  border-right: 2px solid #C8C6BD;
  float: left;
  padding: 5px;
  width: 65%;
  min-height: 500px;
}

/* line 763, ../Sass/common.scss */
.rightContent {
  float: left;
  padding: 0 0 0 22px;
  width: 35%;
  padding-bottom: 22px;
}
