﻿body 
{
    background-color:red;
    color:green;
}

.origin{min-width:400px;max-width:900px;border:solid 1px gray;background-color:silver;}
.step{min-width:400px;max-width:900px;}
.index{min-width:30px;}
.instruction{min-width:350px;}
.distance{min-width:30px;float:right;}