﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RequestInfo.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Microsites.Skyestone.RequestInfo" %>

<sc:Placeholder runat="server" Key="RequestInformation" ID="RequestInformation"/>

    <asp:HyperLink id="lnkCancel" runat="server" class="cancelLink">Cancel & go back</asp:HyperLink>