﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NowTrending.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.HeaderSections.NowTrending" %>
<li class="top1">NOW TRENDING:</li>
<li class="top2">
<asp:Literal runat="server" ID="litNowTrending"/> 
</li>