﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HTHDivision.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.HighTechHomes.HTHDivision" %>

<sc:placeholder runat="server" id="ContentArea" key="ContentArea">
</sc:placeholder>

<sc:placeholder runat="server" id="CommunityCard" key="CommunityCard">
</sc:placeholder>
