﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HTHFeatures.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.HighTechHomes.HTHFeatures" %>
<sc:placeholder runat="server" id="ContentArea" key="ContentArea">
</sc:placeholder>
