body { background: ; }

body,
a,
.latest_post .testi .excerpt-read-more,
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, 
*::-moz-placeholder,
body .widget_contact_info .social_media_list li a,
abbr, acronym,
.latest_post .view_all,
blockquote, blockquote p,
.tax-property-category article .main-view .view-desc .excerpt-read-more:hover,
#content .grid-list-btn .button-group li > button.active i, #content .grid-list-btn .button-group li .button.active i,
#content .grid-list-btn .button-group li > button, #content .grid-list-btn .button-group li .button,
#content .social li a,
.comment_content p,
ol.commentlist .comment-reply-link:hover,
.byline { 
	color: ; 
}

body .widget_contact_info .social_media_list li a {
	border-color:  !important;
}

input[type="submit"],
button, .button,
h3.widget-title:before,
ul.pagination li.current a {
	background-color: ;
}

body .widget_contact_info .social_media_list li a:hover,
.latest_properry .carousel ul li .excerpt-read-more:hover,
.top-bar-section .dropdown li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button),
section.top-bar-section ul > li > a
{
	background: ;
} 

section.top-bar-section ul > li > a{
	background-color: !important;
}
section.top-bar-section ul > li > a{
	background: !important;
}



.header .call-us span,
a:hover, a:focus,
.contact_details h3.widget-title,
.testimonials .testi span.quote-author,
.tax-property-category article .main-view .view-desc .excerpt-read-more,
ol.commentlist .comment-reply-link { 
	color: ; 
}

.latest_post .testi .excerpt-read-more:hover {
	color:  !important; 
}

#content .block-margin button, #content .block-margin .button,
button, .button,
input[type="submit"] {
	border-color: ;
}

body .widget_contact_info .social_media_list li a:hover,
.latest_properry .carousel ul li .excerpt-read-more:hover {
	border-color:  !important;
}
	
.header, 
.dropdown li,
.dropdown li a, {
	background-color: rgba(,0,0,0.9);
}

.latest_post .testi span.date,
h3.widget-title:after,
input[type="submit"]:hover,
button:hover, .button:hover,
input[type="submit"]:hover:hover, input[type="submit"]:hover:focus,
#content .block-margin button:hover:hover, #content .block-margin button:hover:focus, #content .block-margin .button:hover:hover, #content .block-margin .button:hover:focus,
.full-width-promo .promo-circle,
.latest_properry .carousel ul li .excerpt-read-more,
.latest_properry .carousel .flex-direction-nav li .flex-prev:hover, .latest_properry .carousel .flex-direction-nav li .flex-next:hover,
 {
	background-color: ;
}


input[type="submit"]:hover,
button:hover, .button:hover,
input[type="submit"]:hover:hover, input[type="submit"]:hover:focus,
#content .block-margin button:hover, #content .block-margin .button:hover {
	border-color: ;
}

.latest_properry .carousel ul li .excerpt-read-more {
	border-color:  !important;
}

.subheader,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	color: ;
}
.top-bar li ul li a:hover{
	background-color: rgba(,0,0,0.9)!important;
}
.dropdown li:hover a{
	background-color: rgba(,0,0,0.9)!important;
}
