﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TweetReader.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.TweetReader" %>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<asp:HiddenField ID="API" runat="server"/>
<%-- <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>--%>
                
<script>
    $(document).ready(function () {
        var val = $("#<%= API.ClientID %>").val();
        $.getJSON(val, function (data) {
            $(".show_tweet").html(data[0].text);
        });
    });
</script>
 

                       	<ul>

                            <% if ((true)||(SCCurrentDeviceType == TM.Domain.Enums.DeviceType.MonarchGroup)){%>

                            <li class="hb1"></li>
                            <li class="hb2"><a href="/home-buying/request-information/" onclick="TM.Common.GAlogevent('Homebuying','Click','HomebuyingRequestInfo')">Request More Info</a></li>

                            <% } else if (( SCCurrentDeviceType == TM.Domain.Enums.DeviceType.DarlingHomes)||(SCCurrentDeviceType == TM.Domain.Enums.DeviceType.DarlingHomes)){%>

                            <li class="hb1"></li>
                            <li class="hb2"><a href="/home-buying/request-information" onclick="TM.Common.GAlogevent('Homebuying','Click','HomebuyingRequestInfo')">Request More Info</a></li>
                            <li class="hb3"></li>
							<li class="hb4"></li>
                            <li class="hb2"><a href="/home-buying/resource-videos" onclick="TM.Common.GAlogevent('Homebuying','Click','HomebuyingRequestResourceVideos')">Resource Videos</a></li>
                            <li class="hb3"></li>

                            <% } %>

                           <li class="hb5">
                            
                            <span class="hb7"> <a href="#">Taylor_Morrison:</a></span>
                            <span class="show_tweet"> </span> 
                            <span class="hb7"><a href="#">taylrm.sn/Q0wPuO</a></span>
                            </br>
                            <span class="hb8"> 
                            <a href="#">4 hours ago</a> . 
                            <a href="#">reply</a> . 
                            <a href="#">retweet</a> . 
                            <a href="#">favorite</a>
                            </span>
                                                        
                            </li>
                            
                            <li class="hb6">
                            	<span class="twitter"></span>
                                <span class="join"><asp:HyperLink ID="tweetAccount" runat="server">JOIN THE CONVERSATION</asp:HyperLink></span>
                            </li>
                            
						</ul> 


