﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MainNavigation.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Common.HeaderSections.MainNavigation" %>
<%@ Import Namespace="System.ComponentModel" %>

<asp:Repeater runat="server" ID="rptNavigation">
    <ItemTemplate>
		<li class="menuchil-<%# Container.ItemIndex+1%>"><a href="<%# Eval("Value") %>"> <%# Eval("Key") %></a></li>
	
       
    </ItemTemplate>
</asp:Repeater>
	
    	<asp:Repeater runat="server" ID="rptHomeBuying101">
    <ItemTemplate>
       
		<li class="hmbuying menuchil-5"><a href="<%# Eval("Key") %>"> <%# Eval("Value") %></a></li>
        
    </ItemTemplate>
</asp:Repeater>
				