﻿/* line 2, ../Sass/common.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font: normal 12px/16px  Arial, Helvetica, sans-serif, serif;
  color: #666666;
  /*-webkit-transition-property: width; -moz-transition-property: width; transition-property: width;
  -webkit-transition-property: height; -moz-transition-property: height; transition-property: height;
  -webkit-transition-property: backgound; -moz-transition-property: backgound; transition-property: backgound;
  -webkit-transition-property: font-size; -moz-transition-property: font-size; transition-property: font-size;
  -webkit-transition-duration: .5s, .5s; -moz-transition-duration: .5s, .5s; transition-duration: .5s, .5s;
  -webkit-transition-timing function: linear, ease-in; -moz-transition-timing function: linear, ease-in; transition-timing function: linear, ease-in;*/
}

/* line 18, ../Sass/common.scss */
h1 {
  font-size: 20px;
}

/* line 19, ../Sass/common.scss */
h4 {
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 0 0 10px;
  width: 100%;
}

/* line 25, ../Sass/common.scss */
strong {
  font-weight: bold;
}

/* line 26, ../Sass/common.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 27, ../Sass/common.scss */
audio:not([controls]) {
  display: none;
}

/* line 28, ../Sass/common.scss */
.printLink {
  display: none;
}

/* line 29, ../Sass/common.scss */
[hidden] {
  display: none;
}

/* line 30, ../Sass/common.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 36, ../Sass/common.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #333;
}

/* line 38, ../Sass/common.scss */
::-moz-selection {
  background: #2a2a2a;
  color: #fff;
  text-shadow: none;
}

/* line 39, ../Sass/common.scss */
::selection {
  background: #2a2a2a;
  color: #fff;
  text-shadow: none;
}

/* line 41, ../Sass/common.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 42, ../Sass/common.scss */
a.no-wrap {
  white-space: nowrap;
}

/* line 43, ../Sass/common.scss */
p {
  padding: 5px 0;
}

/* line 45, ../Sass/common.scss */
body {
  line-height: 1;
  background: #fff;
  overflow-y: scroll !important;
}

/* line 46, ../Sass/common.scss */
ul {
  list-style: none;
}

/* line 47, ../Sass/common.scss */
shape, group {
  margin: 0;
  padding: 0;
  border: 0;
}

/*svg, tspan{text-shadow: 0 2px 2px #151515; filter: Shadow(Color=#151515, Direction=120, Strength=2);}*/
/* line 50, ../Sass/common.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../Sass/common.scss */
#map_canvas div {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

/* line 53, ../Sass/common.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* all */
/* line 56, ../Sass/common.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 57, ../Sass/common.scss */
::-moz-placeholder {
  color: #999;
}

/* firefox 19+ */
/* line 58, ../Sass/common.scss */
::-ms-placeholder {
  color: #999;
}

/* ie10+ */
/* line 59, ../Sass/common.scss */
input:-moz-placeholder {
  color: #999;
}

/* footer*/
.fot-shad  {
  float:left;
  height:auto;
  height: 0px;
  display:block;
  width:100%;

  margin-top: 20px;
  position: relative;
  z-index: 12;
  &:after{
    content: "";
    position: absolute;
    z-index: -2;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
    bottom: 5px;
    width: 90%;
    height: 5px;
    border-radius: 100%;
    left: 5%;
    top: 0px;
  }
}

.ft-shdw{
  width:100%;
  border-top: 2px solid white;
  clear: both;
  height: 1px;

  -webkit-border-radius: 100px;
          border-radius: 100px;

  -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;

}

.ft-shdw:before,
.ft-shdw:after,
.footer-content-wrapper:before,
.footer-content-wrapper:after {
  display: table;
  content: "";
}

.ft-shdw:after,
.footer-content-wrapper:after {
  clear: both;
}

.iconY {
  background:url(/images/tm/iconY.png) no-repeat;
  float: left;
  border:0;
  margin:0;
  padding:5px 0 0 9px;
  display:block;
  width:21px;
  height:21px;
}
.iconTwitter {
  background:url(/images/tm/iconTwitter.png) no-repeat;
  float: left;
  border:0;
  margin-right:7px;
  padding:5px 0 0 9px;
  display:block;
  width:22px;
  height:22px;
}
.iconTube {
  background:url(/images/tm/iconTube.png) no-repeat;
  float: left;
  border: none;
  margin-right:7px;
  padding:5px 0 0 9px;
  display:block;
  width:53px;
  height:20px;
}
.iconPinterest {
  background:url(/images/tm/iconPinterest.png) no-repeat;
  float: left;
  border:0;
  margin-right:7px;
  padding:5px 0 0 9px;
  display:block;
  width:21px;
  height:21px;
}
.iconGoogle {
  background:url(/images/tm/iconGoogle.png) no-repeat;
  float: left;
  border:0;
  margin-right:7px;
  padding:5px 0 0 9px;
  display:block;
  width:21px;
  height:21px;
}
.iconFb {
  background:url(/images/tm/iconFb.png) no-repeat;
  float: left;
  border:0;
  margin-right:7px;
  padding:5px 0 0 9px;
  display:block;
  width:21px;
  height:21px;
}
.iconF3 {
  background:url(/images/tm/iconF3.png) no-repeat;
  float: left;
  border:0;
  margin:0;
  padding:5px 633px 0 0;
  display:block;
  width:17px;
  height:21px;
}
.iconF2 {
  background:url(/images/tm/iconF2.png) no-repeat;
  float: left;
  border:0;
  margin:0;
  padding:5px 24px 0 0;
  display:block;
  width:17px;
  height:21px;
}
.iconF1 {
  background:url(/images/tm/iconF1.png) no-repeat;
  float: left;
  border:0;
  margin-right:7px;
  padding:5px 7px 0 0;
  display:block;
  width:20px;
  height:21px;
}

a.footerprods,
a.footer{color: #808080; text-decoration: underline; font-weight:bold;font-size:11px;}
a.footer:active {color: #808080; font-weight:bold;font-size:11px;}

.logo-bottom {width:100%;}
.logoFooter1 {
  border: 0 none;
  display: block;
  float: left;
  margin: -10px 40px 0 0;
  padding: 0;
}

.logoFooter2 {
  background: url("/images/logoFooter2b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  display: block;
  float: left;
  height: 24px;
  margin: 0;
  padding: 5px 0 0 40px;
  width: 145px;
}

.logoFooter3 {
  background: url("/images/logoFooter3b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  display: block;
  float: left;
  height: 36px;
  margin: -5px 0 0;
  padding: 5px 0 0 16px;
  width: 83px;
}

.logoFooter4 {
  background: url("/images/logoFooter4b.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 39px;
  margin: 0;
  padding: 5px 0 0 15px;
  width: 112px;
}


div.foot-in.logoContainer {
  margin-left: 25%;
  margin-top: 20px;
}

.footerGrayBar {background-color:#eeedea; height:31px;}
.footerGrayBar ul{padding:5px 0 0 8px;}
.f_left {
  float:left; 
  width:100%; 
  padding:10px 4em;
  font-size:11px; 
  color:#808080; 
  font-weight:bold;
}
.f_right {
  float:left;
  width:100%;
  padding:10px 2em;
}
.footerLinks {
width: 33%;
display: inline-block;
}

.footerPlanLinks{
  display:block;
}

.footerGrayBar{

  z-index: 999;
  position: relative;
  background: #ffffff; /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2VlZWRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VlZWRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgyJSIgc3RvcC1jb2xvcj0iI2VlZWRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  #ffffff 0%, #eeedea 18%, #eeedea 50%, #eeedea 82%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(18%,#eeedea), color-stop(50%,#eeedea), color-stop(82%,#eeedea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#eeedea 18%,#eeedea 50%,#eeedea 82%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#eeedea 18%,#eeedea 50%,#eeedea 82%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#eeedea 18%,#eeedea 50%,#eeedea 82%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to right,  #ffffff 0%,#eeedea 18%,#eeedea 50%,#eeedea 82%,#ffffff 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeedea', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
}

/*Footer end*/



.breadcrumb {
  float:left;
  height:auto;
  background: none;
  display:block;
  width:670px;
  ul {
    width:100%;
    margin:0;
    padding:0;
    padding-left:15px;
    padding-top:12px;

    li {
      margin:0 3px;
      float:left;
      a {
        color: #0095d9;
        text-decoration:underline;
        font-size:12px;
        margin-right:5px;
        &:hover {
          text-decoration:none
        }
      }
    }
  }
}


.H1TM-Red {
    font-size: 26px;
    color: #d31245;
    line-height: 24px;
    float: left;
}

.H1TM-BlueBars {
    font-size: 26px;
    color: #19398a;
    border-bottom: 1px solid #afac9f;
    border-top: 1px solid #afac9f;
    padding: 10px;
    line-height: 26px;
    float: left;
}

.H2TM-Blue {
    font-size: 18px;
    color: #19398a;
    line-height: 20px;
    float: left;
}

.H3TM-Blue {
    font-size: 16px;
    color: #19398A;
    line-height: 26px;
    float: left;
}

.H4TM-Blue {
    font-size: 12px;
    color: #19398A;
    font-weight: bold;
    line-height: 26px;
    float: left;
}

.PTM-Grey {
    font-size: 13px;
    color: #333;
    line-height: 13px;
    float: left;
}

.LITM {
    font-size:13px;
    color: #333;
    line-height: 18px;
    margin:7px 0 0;
    float:left;
    line-height:16px;
    list-style: disc outside none;
}

.H1MG-Grey {
    font-size: 26px;
    color: #666;
    line-height: 24px;
    float: left;
}

.H1MG-RedBars {
    font-size: 26px;
    color: #C02D2D;
    border-bottom: 1px solid #afac9f;
    border-top: 1px solid #afac9f;
    padding: 10px;
    line-height: 26px;
    float: left;
}

.H2MG-Red {
    font-size: 18px;
    color: #C02D2D;
    line-height: 20px;
    float: left;
}

.H3MG-Red {
    font-size: 16px;
    color: #C02D2D;
    line-height: 26px;
    float: left;
}

.H4MG-Red {
    font-size: 12px;
    color: #C02D2D;
    font-weight: bold;
    line-height: 26px;
    float: left;
}

.PMG-Grey {
    font-size: 13px;
    color: #333;
    line-height: 13px;
    float: left;
}

.LIMG {
    font-size:13px;
    color: #333;
    line-height: 18px;
    margin:7px 0 0;
    float:left;
    line-height:16px;
    list-style: disc outside none;
}

.H1DH-Brown {
    font-size: 26px;
    color: #513528;
    line-height: 24px;
    float: left;
}

.H1DH-TealBars {
    font-size: 26px;
    color: #006a71;
    border-bottom: 1px solid #afac9f;
    border-top: 1px solid #afac9f;
    padding: 10px;
    line-height: 26px;
    float: left;
}

.H2DH-Brown {
    font-size: 18px;
    color: #513528;
    line-height: 20px;
    float: left;
}

.H3DH-Brown {
    font-size: 16px;
    color: #513528;
    line-height: 26px;
    float: left;
}

.H4DH-Brown {
    font-size: 12px;
    color: #513528;
    font-weight: bold;
    line-height: 26px;
    float: left;
}

.PDH-Brown {
    font-size: 13px;
    color: #543019;
    line-height: 13px;
    float: left;
}

.LIDH {
    font-size:13px;
    color: #543019;
    line-height: 18px;
    margin:7px 0 0;
    float:left;
    line-height:16px;
    list-style: disc outside none;
}

ul.rhs {float: left;margin:0 0 22px;;width: 100%;}
.rhs li a {font-size:13px; color:#0095d9;line-height: 18px; margin:7px 0 7px; list-style:none; float:left; clear:both;}
.rhs li:first-child {font-size:18px; color:#19398a; list-style:none;  margin: 0 0 8px 0px;padding: 0;}

.svgmap {
  top: 0px;
}

.mapWrapper{
  position: relative;
  width: 670px;
  float: right;
}
