﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GenericCampaign.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Campaigns.GenericCampaign" %>


<sc:fieldrenderer runat="server" id="ContentArea" fieldname="Campaign Content"></sc:fieldrenderer>


<sc:placeholder runat="server" id="SiteTree" key="SiteTree">
</sc:placeholder>
