﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LandingPageCampaign.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Campaigns.LandingPageCampaign" %>
<div class="ppc-bnr">
	<asp:Literal runat="server" ID="litLandingPageCampaign"></asp:Literal>	
</div>
