﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ImageLink.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Microsites.ImageLink" %>

<asp:Literal ID="LiteralImageLink" runat="server"></asp:Literal>