/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    03/11/2012
 * Description: Simple jQuery slideshow
 * Example:
 * <div class="slideshow">
 *     <ul class="carousel">
 *         <li class="slide"><a href="#">Option 1</a></li>
 *         <li class="slide"><a href="#">Option 2</a></li>
 *     </ul>
 * </div>
 */

/* slides */
.slideshow
{
    position: relative;
    margin: 0;
    clear: both;
}
/*	.slideshow a {
		font-size:.75em;
		line-height:2em;
		text-decoration:none;
		color:#fff;
		background:#666;
	}
		.slideshow a:hover,
		.slideshow .selected a {
			background-color:#333;
		}
*/
.carousel
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide
{
    z-index: 0;
    position:relative;
}
.slide img
{
    display: block;
}

/* pagination */
.slides-pagination
{
    position: absolute;
    bottom: 1.1em;
    right: 1.1em;
    margin: 0;
    padding: 0;
    z-index: 110;
}
.slides-pagination li
{
    display: inline;
}

.slides-pagination a
{
    background-color: grey;
    display: block;
    float: left;
    width: .75em;
    height: .75em;
    margin-right: 5px;
    border: solid 1px black;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}
.slides-pagination li.selected a
{
    background-color: white;
}
.slides-pagination a:hover
{
    background-color: #0095d9;
}

/* skip */
.slides-next, .slides-prev
{
    position: absolute;
    top: 50%;
    margin-top: -1em;
    padding: 0 .5em;
    z-index: 120;
}
.slides-next
{
    right: 0;
}
.slides-prev
{
    left: 0;
}
.slides-next.disabled, .slides-prev.disabled
{
    opacity: .5;
    cursor: auto;
}

#slideImgExpander
{
    position: fixed;
    top: 0;
    left: 0;
}
