﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video
{
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: normal 12px/16px  Tahoma, Geneva, sans-serif;color: #03180d;
	

	-webkit-transition-property: width; -moz-transition-property: width; transition-property: width;	
	-webkit-transition-property: height; -moz-transition-property: height; transition-property: height;						  
	-webkit-transition-property: backgound; -moz-transition-property: backgound; transition-property: backgound;
	-webkit-transition-property: font-size; -moz-transition-property: font-size; transition-property: font-size;
	-webkit-transition-duration: .5s, .5s; -moz-transition-duration: .5s, .5s; transition-duration: .5s, .5s; 
	-webkit-transition-timing: linear, ease-in; -moz-transition-timing: linear, ease-in; transition-timing: linear, ease-in;
}

audio,canvas,video {display: inline-block;*display: inline;*zoom: 1;}
audio:not([controls]) {display: none;}

[hidden] {display: none;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

html,
button,
input,
select,
textarea {font-family: sans-serif;color: #333;}

::-moz-selection {background: #2a2a2a;color: #fff;text-shadow: none;}
::selection {background: #2a2a2a;color: #fff;text-shadow: none;}

a:focus, a:hover,a:active {outline:none;}
a.no-wrap {white-space: nowrap;}
p {padding: 5px 0;}

body{line-height: 1; background: #fff; 	overflow-y:scroll !important;}
ul, ol {float: left; margin: 10px 0; width:100%;}
li {clear: both;
    float: left;
    list-style: disc inside none;}
em {width:100%; clear:both;}

shape, group{margin: 0;padding: 0;border: 0;}
svg, tspan{text-shadow: 0 2px 2px #151515; filter: Shadow(Color=#151515, Direction=120, Strength=2);}

* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}


.wrapper {width:776px; margin:0 auto;}
.header {float:left;}
.topbar {margin:0 auto; height:44px; background:#1f3025; margin-bottom:12px;}
.topbar ul {float: right; margin: 3px 11px; width: 256px;}
.topbar ul li {float: right; list-style: none outside none;  padding: 12px 8px 0; clear:none; float:left;}
.topbar ul li a {color:#fff; font-size:12px; text-transform:uppercase; text-decoration:none;}
.logo {float:left; width:189px; margin:0 8px 0 0; height:119px;}
.bnner-hder {float:left; width:579px; height:119px;}
.idea {border:1px solid #000; width:188px; height:263px; float:left; padding:10px 10px 0; margin:6px 0 0;}
.title1 {display: table;  float: left;  margin: 6px 0 auto;  width: 100%;}
.title1 span:first-child {font-size:10px; display: table; font-size: 10px;  margin: 0 auto;}
.title1 span:last-child {font-size:18px; display:table; margin: 0 auto;}
.text1 {float: left; margin: 10px 0 0 10px; text-align: justify; width: 146px;}
.text1 p {line-height:16px;}
.center-img {float:left; margin: 6px 0 0 8px; width:444px; height:263px;}
.community {float:left; margin: 6px 0 0 8px; width:128px; height:263px;}
.collections {float:left; margin: 6px 1px 0; width:253px; height:310px;}
.slider {float:left; margin: 6px 0 0 8px; width:256px; height:310px;}
.sm-right {float: left; height: 152px; margin: 6px 0 0 8px; width: 249px;}
.location { float: left; height: 141px; margin: 7px 0 0 8px; width: 249px;}
.sm-left {float:left; width:252px; height:141px;}
.box-bt {float:left; width:776px; border:1px solid #000; height:143px; margin: 6px 0 0;}
.title2 {float: left; margin: 48px 0 0 13px;  width: 103px;}
.title2 span:first-child {font-size:10px; display: table; font-size: 10px;  margin: 0 auto;}
.title2 span:last-child {font-size:18px; display:table; margin: 0 auto;}
.text2 {float: left; margin: 32px 0 0 15px; width: 378px;}
.text2 h1 {font-weight:bold;}
.text2 p {line-height: 17px; text-align: justify;}
.text1 a, .text2 a {color:#415fab;}
/*footer*/
.footer { width:776px; background:#1f3025; float:left; height:300px;}
.ft-bar {background:url(images/bar-footer.jpg) no-repeat; width:776px; height:9px; float:left; margin:6px 0 0;}
.logo-footer {float:left; margin:52px 0 0 32px;}
.footer ul {float:left; margin:28px 0 0 10px; width:200px;}
.footer li {float:left;line-height: 20px; width:100%; list-style:none;}
.footer li a {color:#c1d82f; text-decoration:none;}
.line {background: none repeat scroll 0 0 #C1D82F;  float: left;  height: 140px;  margin: 29px 10px 0 20px;  width: 1px;}
.footer-text {color:#fff; width:100%; float:left;}
.footer-text p {font-size:10px; color:#fff; padding:30px 30px 40px 30px; line-height:13px;}
.ft-rgt {float: right; margin: 24px 37px 0; width: 212px;}
.ft-rgt a {color: #C1D82F; text-decoration:none; font-size:11px;}
.ft-rgt p {color: #C1D82F; float: right; font-size: 10px; line-height: 12px; margin: 49px 16px 0; text-align: right;}
.icon1, .icon2, .icon3, .icon4, .icon5 {width:29px; height:29px; float:left; margin:0 13px 0 0;}
.icon1 {background:url("/Images/Microsites/Skyestone/icon1.png") no-repeat;}
.icon2 {background:url("/Images/Microsites/Skyestone/icon2.png") no-repeat;}
.icon3 {background:url("/Images/Microsites/Skyestone/icon3.png") no-repeat;}
.icon4 {background:url("/Images/Microsites/Skyestone/icon4.png") no-repeat;}
.icon5 {background:url("/Images/Microsites/Skyestone/icon5.png") no-repeat;}
.logo-bg, .box-mob {display:none;}

/*blog*/
.blog-wrapper {float:left;width: 100%;}
.bg-lt {float:left; width:70%; margin:0 0 0 8px; padding:0 20px 0 0;}
.bg-lt a {text-decoration: none; color:#83933D;}
.bg-lt img {float:left; margin:15px 15px 15px 0;}
.bg-rt {float:left; width:26%;}
.blog-wrapper h1 {float:left; font-size:16px; color:#83933d; width:100%;}
.blog-wrapper h2 {float:left; font-size:11px; color:#1f3025; width:100%; margin:6px 0 5px;}
.blog-wrapper p {float:left; font-size:12px; color:#1f3025; width:100%;}
.blog-bn img{float:left; width:775px; height:118px; margin:9px 0 0;}
ul.b-menu {float:left; width:100%; margin:9px 0 30px;}
.b-menu li {float:left; margin:0 8px 0;}
.b-menu li a {float:left; text-transform:uppercase; color:#83933d; text-decoration:none;}
ul.pagination {float:left; width:100%; padding:35px 0 20px !important;}
.pagination li {float:left; margin:0 8px 0;}
.pagination li a {float:left; color:#83933d; text-decoration:underline;font-size: 11px;}
.pagination li:first-child {text-decoration:none;}
.pagination a.active {text-decoration:none;}

ul.posts {float:left; width:100%;}
.posts li {float:left; margin:0 8px 6px; width:100%;}
.posts li a {float:left; color:#83933d; text-decoration:underline;font-size: 12px;}
.posts li:first-child {font-size:16px; margin-bottom: 12px; width:100%;}


/*blog new styles*/

ul.blog-mt { float: left;  width: 100%;}
.blog-mt li {float: left; margin: 0 21px 25px 0; list-style:none;clear:none;}
.blogim {float:left; width:100%;}
.blog-lt a { color: #0095D9; font-size: 12px;font-weight: bold; text-decoration: none; color:#83933D; float:left; width:100%;}
.blog-lt span {  color: #666666;  font-size: 11px;  font-weight: normal;float:left; width:100%;margin: 0 0 7px;}
.blog-lt { float: left; padding: 21px 11px 0 15px;  width: 517px;}
.blog-rt { border-left: 1px solid #AFAC9F;  float: left;  margin: 15px 0 39px 1px;  padding: 0 16px;  width: 258px;}
.blog-rt h1 { color: #1F3025; font-size: 12px;  font-weight: bold;}
.blog-icons { float: left; margin: 5px 0 10px;  width: 100%;}
.blog-icons li {list-style:none;clear:none;}
.blog-twitter {
    background: url("/images/iconTwitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none; display: block;  float: left;  height: 22px;  margin: 0 0 6px;  width: 22px;}
.blog-fb {
    background: url("/images/iconFb.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none; display: block;  float: left;  height: 21px;  margin: 0 0 0 6px;  width: 21px;}
ul.rhs { float: left; margin: 0 0 22px; width: 90%;}
.rhs li {list-style:none;}
.rhs li:first-child {  color: #1F3025;  font-size: 12px;  list-style: none outside none;  margin: 0 0 3px;   padding: 0;}
.rhs li a {  clear: both;  color: #83933D;  float: left;  font-size: 12px;  line-height: 18px;  list-style: none outside none;   margin: 7px 0;}
/*ul.bod, ol.bod {float: left; margin: 10px 0; width: 100%;}
.bod li { float: left; list-style: disc inside none; width: 100%;}*/


ul.ularch {float: left; margin: 17px 0 0 20px; width: 100%;}
.ularch li {float: left; font-size: 13px; line-height: 16px; list-style: disc outside none; margin: 4px 0 0; width: 100%;}
.ularch li a {color: #83933D; font-size: 13px; text-decoration: none; float:right; width:100%;}
.busehs {background: url("/images/iconY.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #C0C0C0;
    float: left;
    margin: 20px 0 6px;
    padding: 0 0 10px;
    width: 100%;}
.busehs a {color: #666666; font-size: 14px; font-weight: bold; margin: 0 0 0 30px;}	
.barchive { float: left; width: 100%;}
.barchive h1 {
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    color: #1F3025;
    font-size: 18px;
    padding: 14px 0;
}

/*request info*/
.scfIntroBorder h1 {color: #19398A; font-size: 16px;  font-weight: bold;  margin: 25px 0 8px; float:left; width:100%; color:#83933D;}
.halfSection {float: left; width: 50%;}	
.halfSection .scfSectionBorderAsFieldSet {border:none !important;}
.halfSection .scfSectionBorderAsFieldSet {margin: 18px 0 0; padding: 0 15px 0 0;}
.halfSection .scfSectionLegend {font-weight: bold; margin-left: -12px; padding: 7px 12px 15px; text-decoration: none; color:#1F3025;}
.halfSection .scfSingleLineTextBorder {float:left;}
.scfForm input, .scfForm select, .scfForm textarea { background: none repeat scroll 0 0 #ECEEE1;  border: 1px solid #CCCCC2;}
.halfSection .scfRequired {display:none;}
.halfAvailableWidth { display: inline; float: left; margin: 5px 0; text-align: left; vertical-align: top;  width: 50%;}
#globalRFI .scfDatePickerLabel { font-size: 11px; width: 122px;}
.halfSection .thirdAvailableWidth {
    display: inline;
    float: left;
    margin: 5px 0;
    text-align: left;
    vertical-align: top;
    width: 124px !important;
}

.scfDatePickerGeneralPanel {width: 100px;}
.scfSubmitButtonBorder .scfSubmitButton {  background: none repeat scroll 0 0 #C1D82F !important;
    border: 1px solid #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
    color: #1F3025;
    float: left;
    margin: 20px 0 0 496px;
    width: 122px; cursor:pointer;font-weight: bold;
    height: 26px;}
	
.halfSection .scfSingleLineTextLabel {width: 100%;}
.halfSection .scfDatePickerLabel {width: 100% !important; font-size:11px;}
.halfSection .scfDatePickerTextBox {width:100px;}
.halfSection .scfMultipleLineTextLabel {width: 100%;}
.halfSection .scfEmailGeneralPanel, 
.halfSection .scfMultipleLineGeneralPanel, 
.halfSection .scfSingleLineGeneralPanel, 
.halfSection .scfPasswordGeneralPanel, 
.halfSection .scfNumberGeneralPanel, 
.halfSection .scfDatePickerGeneralPanel, 
.halfSection .scfDateGeneralPanel, 
.halfSection .scfRadioButtonListGeneralPanel, 
.halfSection .scfCheckBoxListGeneralPanel, 
.halfSection .scfFileUploadGeneralPanel, 
.halfSection .scfDateSelectorGeneralPanel, 
.halfSection .scfCreditCardGeneralPanel, 
.halfSection .scfConfirmPasswordGeneralPanel, 
.halfSection .scfCaptchaGeneralPanel, 
.halfSection .scfTelephoneGeneralPanel, 
.halfSection .scfSmsTelephoneGeneralPanel 
{width:100% !important; padding:0 7px 0 0 !important;}


.halfSection .scfSubmitButtonBorder {float: left; margin: 20px 0 0 !important;}
a.cancelLink {float: left; margin: 24px 0 0 21px; color:#C1D82F;}
.scfDatePickerGeneralPanel .ui-icon {left: -25px !important; top:1px !important;}

/*previous and next arrows no bullets*/
li.bjqs-prev,
li.bjqs-next,
li.bjqs-slide  {list-style:none !important;}
.bjqs-controls v-centered li {list-style:none !important;}


.blo-ti img {margin:0 0 10px; float:left;}
.blog-banner{display:none;}
#PostPager {float:left; margin: 45px 0 30px;}
#PostPager li {float:left; list-style:none !important; clear:none;margin: 0 18px 0 0;}
#PostPager a {float:left; text-decoration:underline;}


/*tablet*/
@media only screen and (max-width : 960px) {
.wrapper, .box-bt, .footer, .ft-bar {width:634px;}
.logo {width:154px; height:97px;}
.idea {width:154px; height:215px;padding: 3px 0 0;}	
.logo img {width:155px; height:97px;}
.bnner-hder, .bnner-hder img {width:472px; height:97px;}
.center-img, .center-img img {width:362px; height:215px;}
.community img {width:105px; height:215px;}
.community {width:105px;margin: 6px 0 0 5px;height:215px;}
.text1 { float: left; margin: 11px 0 0 10px; width: 127px;}
.text1 p {font-size: 11px; line-height: 13px; text-align: justify;}
.title1 {margin:6px 0 auto;}
.text1 a, .text2 a {font-size:11px;}
.collections, .collections img {width:206px; height:251px;}
.slider, .slider img {width:209px;height:251px;}
.sm-right, .location {width:205px; margin:6px 0 0 6px; height:122px;}
.sm-right img, .location img {width:205px; height:122px;}
.sm-left, .sm-left img {width:188px; height:115px;}
.text2 {float: left; margin: -55px 0 0 128px; width: 302px;}
.text2 p {font-size: 11px; line-height: 13px; text-align: justify;}
.title2 {float: left; margin: 36px 0 0 13px; width: 103px;}
.box-bt {height:117px;}
.topbar ul li a {font-size:11px;}
/*.topbar ul { float: right;  margin: 1px 11px; width: 220px;}*/
.topbar ul {
    float: right;
    margin: 1px 6px;
    width: 238px;
}
.topbar {height:42px; margin:0 auto 8px;}
.logo-footer {margin:47px 0 0 21px; width:134px; height:65px;}
.logo-footer img {width:134px; height:65px;}
.footer li a {font-size:11px;}
.footer ul {width:162px;}
.ft-rgt { float: right; margin: -79px 33px 0; width: 212px;}
.ft-rgt p {margin: 76px 16px 0;}
.logo-bg, .box-mob {display:none;}

/*blog*/
.blog-bn img {float:left; width:634px; height:97px; margin:8px 0 0;}
.bg-lt img {width:188px; height:141px;}
.blog-rt {border-left: none;}

/*request info*/
.halfSection .scfDatePickerTextBox {width: 92px;}
.halfSection .scfDatePickerLabel {font-size: 9px;}
.scfSubmitButtonBorder .scfSubmitButton {margin:20px 0 0 362px;}
.halfSection .thirdAvailableWidth {width:100px !important;}

.scfDatePickerGeneralPanel .ui-icon {left: -20px !important; top:0px !important;}
.slider {margin: 6px 0 0 5px;}

}


/*mobile*/
@media only screen and (max-width : 579px)	{ 
.wrapper {padding:0 2px;}
.wrapper, .footer, .ft-bar {width:337px;}
.header {width: 336px;}
.bnner-hder, .bnner-hder img {height: 63px; width: 335px;}
.center-img, .center-img img {display:none;}
.idea {width:220px;}
.title1 {margin: 18px 0 auto;}
.text1 {width: 189px; margin: 14px 0 0 15px;}
.text1 p { font-size: 11px; line-height: 17px; text-align:justify;}
.logo-bg {display:block; width:335px; height:98px; background:#1f3025;}
.box-mob { border: 1px solid #000000; display: block; float: left; height: 261px; margin: 8px 0 0 4px; width: 174px;}
.logo {margin: -98px 0 0 91px;}
.topbar {height:42px; margin:0 auto 4px;}
.bnner-hder, .bnner-hder img {margin: 2px 0 0;}
.slider, .slider img, .sm-right, .sm-right img {display:none;}
.location, .location img {height: 97px; margin: 3px 0 0 2px; width: 174px;}
.collections, .collections img {width:153px; height:245px;}
.community img {width:109px;}
.title2 { margin: -307px 0 0 189px}
.text2 {float: left; margin: -294px 0 0 171px; width: 148px;}
.box-bt {width:200px; border:none;}
.sm-left, .sm-left img { height: 115px; margin: -60px 0 0;  width: 151px;}
.text2 h1 { font-size: 11px; font-weight: bold; line-height: 13px; margin: 33px 0 0;}
.text2 p { margin: 10px 0 0;}
.text1 a, .text2 a { font-size: 11px;}
.footer {margin:-109px 0 0; height:228px;}
.ft-bar {margin:-117px 0 0 !important;}
.logo-footer {height: 65px;  margin: 93px 0 0 21px;  width: 134px;}
.footer ul {float: left; margin: -110px 0 -32px 179px;}
.ft-rgt { float: left; margin: -153px 33px 0 18px; width: 212px;}
.footer-text, .ft-rgt p {display:none;}
.line {margin: 60px 8px -32px 11px;}
.topbar ul {float: left; margin: 0 0 0 94px; width: 235px;}


/*blog*/
.blog-bn {display:none;}
.bg-lt, .bg-rt {width:100%;}
.bg-lt img {width:148px; height:111px; margin:8px 7px 8px 0;}
.posts li:first-child {width:100%;}
.posts li {width:100%; margin: 0 8px 3px;}
ul.posts {margin: 12px 0 20px;}
.blog-lt {width: 334px;}
.blog-mt li {float: left; margin: 0 13px 1px 0;}
.blog-lt a {font-size: 11px;}
ul.blog-mt {margin: 0 0 21px;}

/*request info*/
.halfSection {float: left; width: 100%;}
.scfSubmitButtonBorder .scfSubmitButton {margin: 20px 0 25px 56px;}

.scfDatePickerGeneralPanel .ui-icon {left: -20px !important; top:0px !important;}

 

}