﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ThankYou.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Microsites.Skyestone.ThankYou" %>
<script type="text/javascript">

    TM.Common.GAlogevent('SkyestoneLeadgen', 'Click', 'SkyestoneGetUpdatesSubmitted');  

</script>
<asp:Literal ID="LitThankYou" runat="server"></asp:Literal>