﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SplashPageLeadForm.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.SplashPage.Placeholders.SplashPageLeadForm" %>
<div>
    <sc:Placeholder runat="server" ID="leadform" Key="leadform"/>
</div>