﻿/***********************************************************************************************************************
************************************************************************************************************************/
#wrapper {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	float:left;
	padding: 4px 0 0;
	}

.accordionButton {	
	width: 664px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	background: #D31245;
	padding: 14px 8px 8px 14px;
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 18px;
	}
	
.accordionContent {	
	width: 664px;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	background: #DFDED8;
	padding: 14px 8px 8px 14px;
	border-bottom: 1px solid #666666;
	color: #666666;
	font-family: sans-serif;
	font-size: 14px;
	
	}
	
/***********************************************************************************************************************
STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: #7F0023;
	}
	
.over {
	background: #7F0023;
	}
	
	
	/*tablet*/
@media only screen and (max-width : 960px) {
.accordionButton, .accordionContent {width:432px;}
#wrapper {width: 434px;}
}


/*mobile*/
@media only screen and (max-width : 579px)	{ 
.accordionButton, .accordionContent {width: 332px; clear:both;}
#wrapper {width: 333px;}
}