﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="legacyidcleanup.aspx.cs" Inherits="TM.Web.Custom.admin.LegacyIdCleanup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button runat="server" id="btnRun" OnClick="btnImport_OnClick" Text="Run"></asp:Button>
     <asp:Literal runat="server" id="litReport"></asp:Literal>
     <sc:
    </div>
    </form>
</body>
</html>
