﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StepDetail.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Homebuying101.StepDetail" %>

<div class="checklist">
    <p><sc:fieldrenderer runat="server" id="ContentArea" fieldname="Text" CssClass="checklist_text"></sc:fieldrenderer></p>
    
</div>
   
 
