﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StepSelection.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Homebuying101.StepSelection" %>


<asp:Repeater ID="rptSteps" runat="server" onitemdatabound="rptSteps_ItemDataBound">
    <ItemTemplate>
          <asp:HyperLink ID="StepImage" runat="server">
            
          </asp:HyperLink>
    </ItemTemplate>
</asp:Repeater>
