﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Content.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Microsites.InTheLoopAZ.Content" %>
<sc:Text runat="server" Field="Content" />
