﻿@charset "UTF-8";

/* UNIVERSAL */
html, body {
    margin: 0;
}

body {
    background: url(/images/microsites/highlandranch/bg.jpg) repeat left top;
}

img {
    border: 0;
}

.fullHeight {
    height:100%;
}

body, p, input, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #534741;
}

p {
    margin: 0;
}

img {
    border: none;
}

h1, h2, h3 {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 1.7em;
    font-style: italic;
    margin-bottom: 15px;
}

h2 {
    color: #FFF;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #a19a59;
}

h4 {
    margin: 20px 0 0 0;
    font-size: 1.4em;
    font-weight: normal;
}

hr {
    margin: 0;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

i {
    font-size: 0.7em;
}

hr {
    border-top: 1px solid #d1c1ad;
    margin: 30px 0;
}

span.title {
    color: #C59B6D;
    font-size: 1.5em;
}

article {
    width: 50%;
    float: left;
}

    article:first-child {
        width: 45%;
        padding-right: 5%;
    }

.scfValidator {
    font-size: 0.8em;
    line-height: 1.6em;
}

.scfSingleLineGeneralPanel, .scfTelephoneGeneralPanel, .scfDropListGeneralPanel {
    width: 100% !important;
    padding: 0px !important;
}

.scfValidationSummary {
    display:none;
}

body.neighborhoods article:first-child {
    background: url(/images/microsites/highlandranch/dot.gif) repeat-y 95% top;
}

body.directions article:first-child {
    background: url(/images/microsites/highlandranch/dot.gif) repeat-y 95% top;
}

.imgBlock {
    width: 100%;
    display: block;
}

.col.right p {
    font-size: 0.8em;
    line-height: 1.6em;
}

@media screen and (min-width: 1020px) {
    body.neighborhoods article:first-child {
        padding-bottom: 20%;
    }

    body.directions article:first-child {
        padding-bottom: 20%;
    }

    body.area-information article p {
        padding-right: 15%;
    }
}

@media screen and (max-width: 1020px) {
    article {
        width: 100% !important;
        float: none;
        /*max-width:440px;*/
    }

        article:first-child {
            padding-bottom: 60px;
        }

    .area-information article:first-child {
        padding-bottom: 0;
    }

    body.neighborhoods article:first-child {
        background: url(/images/microsites/highlandranch/dot.gif) repeat-x left 90%;
    }

    body.directions article:first-child {
        background: url(/images/microsites/highlandranch/dot.gif) repeat-x left 85%;
    }
}

.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
}

#wrapper {
    min-width: 825px;
    max-width: 1200px;
    margin: 0 auto 20px auto;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1200px) {
    #wrapper {
        margin-bottom: 0;
    }

    #legal .col.right ul {
        padding-top: 30px !important;
    }
}

.col.left {
    position: absolute;
    width: 230px;
}

#body .col.right > .pad {
    padding: 40px;
}

.btn {
    display: inline-block;
    background-color: #7cb3c5;
    padding: 5px 20px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-decoration: none;
}

    .btn:hover {
        background-color: #6996a5;
    }

.btnHolder {
    text-align: right;
    margin-top: 30px;
}

    .btnHolder .btn {
        margin-left: 15px;
    }

    .btnHolder.sitemap {
        position: relative;
        margin-top: 0;
        margin-bottom: -25px;
    }

.hl {
    float: right;
    margin-right: 20px;
    margin-top: 2px;
    background-color: #7cb3c5;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

    .hl:hover {
        color: #6996a5;
    }

.articleList {
    margin: 20px 0 40px 0;
    list-style-type: disc;
    padding-left: 20px;
}

    .articleList li {
        margin-bottom: 16px;
        font-size: 0.85em;
    }

.thumbs {
    display: inline-block;
    margin-top: 30px;
}

    .thumbs li {
        border-top: 1px solid #ede7df;
        float: left;
        padding: 25px 5px 20px 5px;
    }

    .thumbs img {
        display: block;
        width: 155px;
        height: 90px;
    }

    .thumbs .label {
        padding-top: 4px;
        font-size: 0.9em;
    }

/* HEADER */
#header .menu {
    width: 420px;
    display: inline-block;
    margin-left: 60px;
    position: relative;
    top: -10px;
}

    #header .menu li {
        display: inline-block;
        margin-left: 20px;
    }

    #header .menu a {
        text-decoration: none;
        color: #4d4d4d;
        text-transform: uppercase;
        font-size: 0.8em;
    }

        #header .menu a:hover {
            color: #000;
        }

#header .logo {
    display: inline-block;
    width: 264px;
    height: 30px;
    margin: 16px 0 0 40px;
}

#header .head {
    background: rgba(255,255,255,0.7);
    height: 65px;
    overflow: hidden;
    position: relative;
}

#header .foot {
    height: 30px;
    background: rgba(165,131,93,0.6);
    position: relative;
    top: 345px;
}

#header .banner {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 440px;
}

body #header .banner {
    position: relative;
    overflow: hidden;
}

    body #header .banner img {
        position: absolute;
    }

body.home #header .banner .main {
    margin: 180px 0 0 160px;
}

body.home #header .banner .sub {
    margin: 285px 0 0 160px;
}

body.area-information #header .banner .main {
    margin: 180px 0 0 240px;
}

body.area-information #header .banner .sub {
    margin: 235px 0 0 240px;
}

body.directions #header .banner .main {
    margin: 60px 0 0 40px;
}

body.directions #header .banner .sub {
    margin: 180px 0 0 40px;
}

body.neighborhoods #header .banner .main {
    margin: 210px 0 0 80px;
}

body.neighborhoods #header .banner .sub {
    margin: 265px 0 0 340px;
}

body.lifestyle-the-canyons #header .banner .main {
    margin: 130px 0 0 50px;
    color: #534741;
}

body.lifestyle-the-canyons #header .banner .sub {
    margin: 185px 0 0 150px;
    color: #534741;
}

body.amenities-the-canyons #header .banner .main {
    margin: 80px 0 0 80px;
    text-align: right;
}

body.amenities-the-canyons #header .banner .sub {
    margin: 195px 0 0 30px;
}

body.home-collections-the-canyons #header .banner .main {
    margin: 80px 0 0 190px;
    text-align: right;
    color: #534741;
}

body.home-collections-the-canyons #header .banner .sub {
    margin: 195px 0 0 240px;
    color: #534741;
}

body.lifestyle-esplanade #header .banner .main {
    margin: 50px 0 0 140px;
}

body.lifestyle-esplanade #header .banner .sub {
    margin: 105px 0 0 160px;
}

body.amenities-esplanade #header .banner .main {
    margin: 220px 0 0 60px;
}

body.amenities-esplanade #header .banner .sub {
    margin: 275px 0 0 370px;
}

body.home-collections-esplanade #header .main {
    margin: 220px 0 0 60px;
}

body.home-collections-esplanade #header .sub {
    margin: 275px 0 0 150px;
}

body.event #header .main {
    margin: 130px 0 0 30px;
}

body.event #header .sub {
    margin: 170px 0 0 10px;
}

#header .banner .main, #header .banner .sub {
    position: absolute;
    color: #fff;
}

#header .banner .main {
    font-family: "Times New Roman", Times, serif;
    font-size: 3.5em;
    line-height: 1em;
    text-transform: uppercase;
}

#header .banner .sub {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-style: italic;
}

@media screen and (max-width: 850px) {
    #header .head {
        height: 85px;
    }

    #header .menu {
        display: block;
        position: static;
        top: auto;
        margin-left: 10px;
        margin-top: 14px;
    }

    #header .logo {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
    }

    #header .foot {
        top: 325px;
    }
}

body.area-information p {
    margin-bottom: 16px;
}

/* BODY */
#body {
    background: #fff;
}

    #body .col.left {
        background: url(/images/microsites/highlandranch/dashed.gif) repeat-x left 5px, #ded7cd url(/images/microsites/highlandranch/left-bg.jpg) repeat center center;
    }

        #body .col.left strong {
            font-family: "Times New Roman", Times, serif;
            display: block;
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 5px;
        }

        #body .col.left p {
            font-size: 0.75em;
            line-height: 1.5em;
            margin-bottom: 20px;
        }

        #body .col.left form {
            margin-bottom: 60px;
        }

        #body .col.left label {
            display: none;
        }

        #body .col.left input[type="text"], #body .col.left select {
            font-size: 0.7em;
            margin-bottom: 10px;
            padding: 6px 4%;
            border: none;
            text-transform: uppercase;
        }

#body .col.left select {
    padding: 6px 2%;
    width: 100%;
}

#body .col.left input[type="submit"] {
    background-color: #7cb3c5;
    padding: 5px 30px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 0.8em;
}

    #body .col.left input[type="submit"]:hover {
        background-color: #6996a5;
    }

#body .col.right {
    float: none;
    margin-left: 230px;
    background: url(/images/microsites/highlandranch/dashed.gif) repeat-x left 5px;
}

#body {
    border-bottom: 4px solid #c59c6c;
}

    #body .col.left .pad {
        padding: 30px 35px 20px 30px;
    }

    #body .contact {
        position: absolute;
        bottom: 20px;
        margin-right: 40px;
        font-size: 0.8em !important;
    }

        #body .contact .phone {
            display: block;
            font-size: 1.6em;
            padding-top: 10px;
        }

    #body .hoods .title {
        font-family: "Times New Roman", Times, serif;
        text-transform: uppercase;
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 25px;
    }

    #body .hoods li {
        float: left;
        width: 50%;
        padding: 10px 0;
        text-align: center;
        font-size: 0.85em;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-style: italic;
    }

        #body .hoods li:first-child {
            background: url(/images/microsites/highlandranch/dot.gif) repeat-y right top;
        }

    #body .hoods img {
        width: 90%;
        margin: 0 5%;
        display: block;
        margin-bottom: 10px;
    }

body.directions article img, body.neighborhoods article img {
    width: 100%;
}

#body .col.right .menu {
    border: 1px solid #997451;
    border-right: none;
    border-left: none;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
}

    #body .col.right .menu li {
        display: inline-block;
    }

    #body .col.right .menu a {
        display: block;
        padding: 5px 10px;
        margin: 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Times New Roman", Times, serif;
        color: #7cb3c5;
        font-size: 0.85em;
    }

        #body .col.right .menu a:hover {
            background-color: #bdd9e2;
            color: #fff;
        }

    #body .col.right .menu .active a {
        color: #fff;
        background-color: #7cb3c5;
    }

#body .col.right .neighbor {
    text-align: center;
}

    #body .col.right .neighbor p,
    #body .col.right .neighbor h1,
    #body .col.right .neighbor h4,
    #body .col.right .neighbor li {
        text-align: left;
    }

    #body .col.right .neighbor .main {
        display: block;
        width: 220px;
        height: 161px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

#body .col.right em {
    float: left;
    font-size: 0.7em;
}

/* FOOTER */
#footer {
    background: #dfdac3 url(/images/microsites/highlandranch/footer-bg.jpg) repeat left center;
    overflow: hidden;
    height: 55px;
}

    #footer .pad {
        margin-left: 270px;
        padding-top: 15px;
    }

    #footer .menu {
        display: block;
        padding-bottom: 5px;
    }

        #footer .menu li {
            display: inline-block;
            padding: 0 8px;
            border-right: 1px solid #534741;
        }

            #footer .menu li:first-child {
                padding-left: 0;
            }

            #footer .menu li:last-child {
                border-right: none;
            }

        #footer .menu a {
            text-decoration: none;
            color: #534741;
            text-transform: uppercase;
            font-size: 0.7em;
        }

    #footer .col.left {
        background-color: rgba(165,131,93,0.6);
        height: 55px;
    }

/* LEGAL */
#legal {
    padding: 20px 0;
    background-color: #fff;
}

    #legal .col.right ul {
        padding-top: 20px;
    }

    #legal li {
        border-right: 1px solid #B3B3B3;
        display: inline-block;
        padding: 0 10px;
    }

        #legal li:last-child {
            border-right: none;
        }

    #legal a {
        color: #B3B3B3;
        text-transform: uppercase;
        font-size: 0.7em;
        text-decoration: none;
    }

    #legal .col.left {
        background: url(/images/microsites/highlandranch/tm-community.png) no-repeat center center;
        position: static;
        float: left;
        width: 230px;
        height: 50px;
    }

    #legal .col.right {
        margin-left: 260px;
        height: 50px;
    }

body.lifestyle-esplanade #legal .col.left,
body.home-collections-esplanade #legal .col.left,
body.amenities-esplanade #legal .col.left {
    background-image: url(/images/microsites/highlandranch/tm-logo2.jpg) !important;
}

body.lifestyle-the-canyons #legal .col.left,
body.home-collections-the-canyons #legal .col.left,
body.amenities-the-canyons #legal .col.left {
    background-image: url(/images/microsites/highlandranch/tm-consumer.png) !important;
}

/* THANKYOU */
.thankyou {
    text-align: center;
    border: 1px solid #534741;
    margin: 0 30px;
    height: 460px;
}

    .thankyou h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 58px;
        color: #534741;
        margin: 100px 0 0 0;
    }

    .thankyou h2 {
        font-family: "Times New Roman", Times, serif;
        font-size: 28px;
        font-style: italic;
        color: #534741;
        margin: 0 0 40px 0;
    }

    .thankyou p {
        font-size: 14px;
        color: #534741;
        line-height: 30px;
        padding: 0 50px;
    }

/* ADS */
.ad {
    border-top: 1px solid #d1c1ad;
    margin-top: 50px;
    padding-top: 50px;
}

    .ad a {
        display: block;
        width: 458px;
        height: 150px;
        margin: 0 auto;
    }

    .ad img {
        width: inherit;
        height: inherit;
        display: block;
    }
