﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PlanLoader.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Plan.PlanLoader" %>
<sc:Placeholder runat="server" ID="phPlanContent" Key="PlanContent"/>