﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PlanListings.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Plan.PlanListings" %>
<sc:Placeholder runat="server" ID="phHomesForSale" Key="HomesForSale"/>

<sc:Placeholder runat="server" ID="phPlansAlsoAvailable" Key="PlansAlsoAvailable"/>