/* Basic jQuery Slider essential styles */
/* line 3, ../../Sass/Microsites/bjqs.scss */
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

/* line 4, ../../Sass/Microsites/bjqs.scss */
li.bjqs-slide {
  position: absolute;
  display: none;
}

/* line 5, ../../Sass/Microsites/bjqs.scss */
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

/* line 6, ../../Sass/Microsites/bjqs.scss */
ul.bjqs-controls.v-centered li a {
  position: absolute;
}

/* line 7, ../../Sass/Microsites/bjqs.scss */
ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0;
}

/* line 8, ../../Sass/Microsites/bjqs.scss */
ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0;
}

/* line 9, ../../Sass/Microsites/bjqs.scss */
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 10, ../../Sass/Microsites/bjqs.scss */
ol.bjqs-markers.h-centered {
  text-align: center;
}

/* line 11, ../../Sass/Microsites/bjqs.scss */
ol.bjqs-markers li {
  display: inline;
}

/* line 12, ../../Sass/Microsites/bjqs.scss */
ol.bjqs-markers li a {
  display: inline-block;
}

/* line 13, ../../Sass/Microsites/bjqs.scss */
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

/* line 15, ../../Sass/Microsites/bjqs.scss */
ul.bjqs-controls.v-centered li a {
  display: block;
  padding: 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

/* line 23, ../../Sass/Microsites/bjqs.scss */
ul.bjqs-controls.v-centered li.bjqs-prev a {
  background: url("/Images/Microsites/Skyestone/arrow-left.png") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
  width: 15px;
  height: 26px;
}

/* line 24, ../../Sass/Microsites/bjqs.scss */
ul.bjqs-controls.v-centered li.bjqs-next a {
  background: url("/Images/Microsites/Skyestone/arrow-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  width: 15px;
  height: 26px;
}
