/* line 5, ../../Sass/Microsites/skyestone.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font: normal 12px/16px  Tahoma, Geneva, sans-serif;
  color: #03180d;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  transition-property: width;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  transition-property: height;
  -webkit-transition-property: backgound;
  -moz-transition-property: backgound;
  transition-property: backgound;
  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: .5s, .5s;
  -moz-transition-duration: .5s, .5s;
  transition-duration: .5s, .5s;
  -webkit-transition-timing: linear, ease-in;
  -moz-transition-timing: linear, ease-in;
  transition-timing: linear, ease-in;
}

/* line 22, ../../Sass/Microsites/skyestone.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 23, ../../Sass/Microsites/skyestone.scss */
audio:not([controls]) {
  display: none;
}

/* line 25, ../../Sass/Microsites/skyestone.scss */
[hidden] {
  display: none;
}

/* line 26, ../../Sass/Microsites/skyestone.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 32, ../../Sass/Microsites/skyestone.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #333;
}

/* line 34, ../../Sass/Microsites/skyestone.scss */
::-moz-selection {
  background: #2a2a2a;
  color: #fff;
  text-shadow: none;
}

/* line 35, ../../Sass/Microsites/skyestone.scss */
::selection {
  background: #2a2a2a;
  color: #fff;
  text-shadow: none;
}

/* line 37, ../../Sass/Microsites/skyestone.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 38, ../../Sass/Microsites/skyestone.scss */
a.no-wrap {
  white-space: nowrap;
}

/* line 39, ../../Sass/Microsites/skyestone.scss */
p {
  padding: 5px 0;
}

/* line 41, ../../Sass/Microsites/skyestone.scss */
body {
  line-height: 1;
  background: #fff;
  overflow-y: scroll !important;
}

/* line 42, ../../Sass/Microsites/skyestone.scss */
ul, ol {
  float: left;
  margin: 10px 0;
  width: 100%;
}

/* line 43, ../../Sass/Microsites/skyestone.scss */
li {
  clear: both;
  float: left;
  list-style: disc inside none;
}

/* line 46, ../../Sass/Microsites/skyestone.scss */
em {
  width: 100%;
  clear: both;
}

/* line 48, ../../Sass/Microsites/skyestone.scss */
shape, group {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 49, ../../Sass/Microsites/skyestone.scss */
svg, tspan {
  text-shadow: 0 2px 2px #151515;
  filter: Shadow(Color=#151515, Direction=120, Strength=2);
}

/* line 51, ../../Sass/Microsites/skyestone.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 52, ../../Sass/Microsites/skyestone.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 55, ../../Sass/Microsites/skyestone.scss */
.wrapper {
  width: 776px;
  margin: 0 auto;
}

/* line 56, ../../Sass/Microsites/skyestone.scss */
.header {
  float: left;
}

/* line 57, ../../Sass/Microsites/skyestone.scss */
.topbar {
  margin: 0 auto;
  height: 44px;
  background: #1f3025;
  margin-bottom: 12px;
}

/* line 58, ../../Sass/Microsites/skyestone.scss */
.topbar ul {
  float: right;
  margin: 3px 11px;
  width: 256px;
}

/* line 59, ../../Sass/Microsites/skyestone.scss */
.topbar ul li {
  float: right;
  list-style: none outside none;
  padding: 12px 8px 0;
  clear: none;
  float: left;
}

/* line 60, ../../Sass/Microsites/skyestone.scss */
.topbar ul li a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 61, ../../Sass/Microsites/skyestone.scss */
.logo {
  float: left;
  width: 189px;
  margin: 0 8px 0 0;
  height: 119px;
}

/* line 62, ../../Sass/Microsites/skyestone.scss */
.bnner-hder {
  float: left;
  width: 579px;
  height: 119px;
}

/* line 63, ../../Sass/Microsites/skyestone.scss */
.idea {
  border: 1px solid #000;
  width: 188px;
  height: 263px;
  float: left;
  padding: 10px 10px 0;
  margin: 6px 0 0;
}

/* line 64, ../../Sass/Microsites/skyestone.scss */
.title1 {
  display: table;
  float: left;
  margin: 6px 0 auto;
  width: 100%;
}

/* line 65, ../../Sass/Microsites/skyestone.scss */
.title1 span:first-child {
  font-size: 10px;
  display: table;
  font-size: 10px;
  margin: 0 auto;
}

/* line 66, ../../Sass/Microsites/skyestone.scss */
.title1 span:last-child {
  font-size: 18px;
  display: table;
  margin: 0 auto;
}

/* line 67, ../../Sass/Microsites/skyestone.scss */
.text1 {
  float: left;
  margin: 10px 0 0 10px;
  text-align: justify;
  width: 146px;
}

/* line 68, ../../Sass/Microsites/skyestone.scss */
.text1 p {
  line-height: 16px;
}

/* line 69, ../../Sass/Microsites/skyestone.scss */
.center-img {
  float: left;
  margin: 6px 0 0 8px;
  width: 444px;
  height: 263px;
}

/* line 70, ../../Sass/Microsites/skyestone.scss */
.community {
  float: left;
  margin: 6px 0 0 8px;
  width: 128px;
  height: 263px;
}

/* line 71, ../../Sass/Microsites/skyestone.scss */
.collections {
  float: left;
  margin: 6px 1px 0;
  width: 253px;
  height: 310px;
}

/* line 72, ../../Sass/Microsites/skyestone.scss */
.slider {
  float: left;
  margin: 6px 0 0 8px;
  width: 256px;
  height: 310px;
}

/* line 73, ../../Sass/Microsites/skyestone.scss */
.sm-right {
  float: left;
  height: 152px;
  margin: 6px 0 0 8px;
  width: 249px;
}

/* line 74, ../../Sass/Microsites/skyestone.scss */
.location {
  float: left;
  height: 141px;
  margin: 7px 0 0 8px;
  width: 249px;
}

/* line 75, ../../Sass/Microsites/skyestone.scss */
.sm-left {
  float: left;
  width: 252px;
  height: 141px;
}

/* line 76, ../../Sass/Microsites/skyestone.scss */
.box-bt {
  float: left;
  width: 776px;
  border: 1px solid #000;
  height: 143px;
  margin: 6px 0 0;
}

/* line 77, ../../Sass/Microsites/skyestone.scss */
.title2 {
  float: left;
  margin: 48px 0 0 13px;
  width: 103px;
}

/* line 78, ../../Sass/Microsites/skyestone.scss */
.title2 span:first-child {
  font-size: 10px;
  display: table;
  font-size: 10px;
  margin: 0 auto;
}

/* line 79, ../../Sass/Microsites/skyestone.scss */
.title2 span:last-child {
  font-size: 18px;
  display: table;
  margin: 0 auto;
}

/* line 80, ../../Sass/Microsites/skyestone.scss */
.text2 {
  float: left;
  margin: 32px 0 0 15px;
  width: 378px;
}

/* line 81, ../../Sass/Microsites/skyestone.scss */
.text2 h1 {
  font-weight: bold;
}

/* line 82, ../../Sass/Microsites/skyestone.scss */
.text2 p {
  line-height: 17px;
  text-align: justify;
}

/* line 83, ../../Sass/Microsites/skyestone.scss */
.text1 a, .text2 a {
  color: #415fab;
}

/*footer*/
/* line 85, ../../Sass/Microsites/skyestone.scss */
.footer {
  width: 776px;
  background: #1f3025;
  float: left;
  height: 300px;
}

/* line 86, ../../Sass/Microsites/skyestone.scss */
.ft-bar {
  background: url(images/bar-footer.jpg) no-repeat;
  width: 776px;
  height: 9px;
  float: left;
  margin: 6px 0 0;
}

/* line 87, ../../Sass/Microsites/skyestone.scss */
.logo-footer {
  float: left;
  margin: 52px 0 0 32px;
}

/* line 88, ../../Sass/Microsites/skyestone.scss */
.footer ul {
  float: left;
  margin: 28px 0 0 10px;
  width: 200px;
}

/* line 89, ../../Sass/Microsites/skyestone.scss */
.footer li {
  float: left;
  line-height: 20px;
  width: 100%;
  list-style: none;
}

/* line 90, ../../Sass/Microsites/skyestone.scss */
.footer li a {
  color: #c1d82f;
  text-decoration: none;
}

/* line 91, ../../Sass/Microsites/skyestone.scss */
.line {
  background: none repeat scroll 0 0 #C1D82F;
  float: left;
  height: 140px;
  margin: 29px 10px 0 20px;
  width: 1px;
}

/* line 92, ../../Sass/Microsites/skyestone.scss */
.footer-text {
  color: #fff;
  width: 100%;
  float: left;
}

/* line 93, ../../Sass/Microsites/skyestone.scss */
.footer-text p {
  font-size: 10px;
  color: #fff;
  padding: 30px 30px 40px 30px;
  line-height: 13px;
}

/* line 94, ../../Sass/Microsites/skyestone.scss */
.ft-rgt {
  float: right;
  margin: 24px 37px 0;
  width: 212px;
}

/* line 95, ../../Sass/Microsites/skyestone.scss */
.ft-rgt a {
  color: #C1D82F;
  text-decoration: none;
  font-size: 11px;
}

/* line 96, ../../Sass/Microsites/skyestone.scss */
.ft-rgt p {
  color: #C1D82F;
  float: right;
  font-size: 10px;
  line-height: 12px;
  margin: 49px 16px 0;
  text-align: right;
}

/* line 97, ../../Sass/Microsites/skyestone.scss */
.icon1, .icon2, .icon3, .icon4, .icon5 {
  width: 29px;
  height: 29px;
  float: left;
  margin: 0 13px 0 0;
}

/* line 98, ../../Sass/Microsites/skyestone.scss */
.icon1 {
  background: url("/Images/Microsites/Skyestone/icon1.png") no-repeat;
}

/* line 99, ../../Sass/Microsites/skyestone.scss */
.icon2 {
  background: url("/Images/Microsites/Skyestone/icon2.png") no-repeat;
}

/* line 100, ../../Sass/Microsites/skyestone.scss */
.icon3 {
  background: url("/Images/Microsites/Skyestone/icon3.png") no-repeat;
}

/* line 101, ../../Sass/Microsites/skyestone.scss */
.icon4 {
  background: url("/Images/Microsites/Skyestone/icon4.png") no-repeat;
}

/* line 102, ../../Sass/Microsites/skyestone.scss */
.icon5 {
  background: url("/Images/Microsites/Skyestone/icon5.png") no-repeat;
}

/* line 103, ../../Sass/Microsites/skyestone.scss */
.logo-bg, .box-mob {
  display: none;
}

/*blog*/
/* line 106, ../../Sass/Microsites/skyestone.scss */
.blog-wrapper {
  float: left;
  width: 100%;
}

/* line 107, ../../Sass/Microsites/skyestone.scss */
.bg-lt {
  float: left;
  width: 70%;
  margin: 0 0 0 8px;
  padding: 0 20px 0 0;
}

/* line 108, ../../Sass/Microsites/skyestone.scss */
.bg-lt a {
  text-decoration: none;
  color: #83933D;
}

/* line 109, ../../Sass/Microsites/skyestone.scss */
.bg-lt img {
  float: left;
  margin: 15px 15px 15px 0;
}

/* line 110, ../../Sass/Microsites/skyestone.scss */
.bg-rt {
  float: left;
  width: 26%;
}

/* line 111, ../../Sass/Microsites/skyestone.scss */
.blog-wrapper h1 {
  float: left;
  font-size: 16px;
  color: #83933d;
  width: 100%;
}

/* line 112, ../../Sass/Microsites/skyestone.scss */
.blog-wrapper h2 {
  float: left;
  font-size: 11px;
  color: #1f3025;
  width: 100%;
  margin: 6px 0 5px;
}

/* line 113, ../../Sass/Microsites/skyestone.scss */
.blog-wrapper p {
  float: left;
  font-size: 12px;
  color: #1f3025;
  width: 100%;
}

/* line 114, ../../Sass/Microsites/skyestone.scss */
.blog-bn img {
  float: left;
  width: 775px;
  height: 118px;
  margin: 9px 0 0;
}

/* line 115, ../../Sass/Microsites/skyestone.scss */
ul.b-menu {
  float: left;
  width: 100%;
  margin: 9px 0 30px;
}

/* line 116, ../../Sass/Microsites/skyestone.scss */
.b-menu li {
  float: left;
  margin: 0 8px 0;
}

/* line 117, ../../Sass/Microsites/skyestone.scss */
.b-menu li a {
  float: left;
  text-transform: uppercase;
  color: #83933d;
  text-decoration: none;
}

/* line 118, ../../Sass/Microsites/skyestone.scss */
ul.pagination {
  float: left;
  width: 100%;
  padding: 35px 0 20px !important;
}

/* line 119, ../../Sass/Microsites/skyestone.scss */
.pagination li {
  float: left;
  margin: 0 8px 0;
}

/* line 120, ../../Sass/Microsites/skyestone.scss */
.pagination li a {
  float: left;
  color: #83933d;
  text-decoration: underline;
  font-size: 11px;
}

/* line 121, ../../Sass/Microsites/skyestone.scss */
.pagination li:first-child {
  text-decoration: none;
}

/* line 122, ../../Sass/Microsites/skyestone.scss */
.pagination a.active {
  text-decoration: none;
}

/* line 124, ../../Sass/Microsites/skyestone.scss */
ul.posts {
  float: left;
  width: 100%;
}

/* line 125, ../../Sass/Microsites/skyestone.scss */
.posts li {
  float: left;
  margin: 0 8px 6px;
  width: 100%;
}

/* line 126, ../../Sass/Microsites/skyestone.scss */
.posts li a {
  float: left;
  color: #83933d;
  text-decoration: underline;
  font-size: 12px;
}

/* line 127, ../../Sass/Microsites/skyestone.scss */
.posts li:first-child {
  font-size: 16px;
  margin-bottom: 12px;
  width: 100%;
}

/*blog new styles*/
/* line 132, ../../Sass/Microsites/skyestone.scss */
ul.blog-mt {
  float: left;
  width: 100%;
}

/* line 133, ../../Sass/Microsites/skyestone.scss */
.blog-mt li {
  float: left;
  margin: 0 21px 25px 0;
  list-style: none;
  clear: none;
}

/* line 134, ../../Sass/Microsites/skyestone.scss */
.blogim {
  float: left;
  width: 100%;
}

/* line 135, ../../Sass/Microsites/skyestone.scss */
.blog-lt a {
  color: #0095D9;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #83933D;
  float: left;
  width: 100%;
}

/* line 136, ../../Sass/Microsites/skyestone.scss */
.blog-lt span {
  color: #666666;
  font-size: 11px;
  font-weight: normal;
  float: left;
  width: 100%;
  margin: 0 0 7px;
}

/* line 137, ../../Sass/Microsites/skyestone.scss */
.blog-lt {
  float: left;
  padding: 21px 11px 0 15px;
  width: 517px;
}

/* line 138, ../../Sass/Microsites/skyestone.scss */
.blog-rt {
  border-left: 1px solid #AFAC9F;
  float: left;
  margin: 15px 0 39px 1px;
  padding: 0 16px;
  width: 258px;
}

/* line 139, ../../Sass/Microsites/skyestone.scss */
.blog-rt h1 {
  color: #1F3025;
  font-size: 12px;
  font-weight: bold;
}

/* line 140, ../../Sass/Microsites/skyestone.scss */
.blog-icons {
  float: left;
  margin: 5px 0 10px;
  width: 100%;
}

/* line 141, ../../Sass/Microsites/skyestone.scss */
.blog-icons li {
  list-style: none;
  clear: none;
}

/* line 142, ../../Sass/Microsites/skyestone.scss */
.blog-twitter {
  background: url("/images/iconTwitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  display: block;
  float: left;
  height: 22px;
  margin: 0 0 6px;
  width: 22px;
}

/* line 145, ../../Sass/Microsites/skyestone.scss */
.blog-fb {
  background: url("/images/iconFb.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  display: block;
  float: left;
  height: 21px;
  margin: 0 0 0 6px;
  width: 21px;
}

/* line 148, ../../Sass/Microsites/skyestone.scss */
ul.rhs {
  float: left;
  margin: 0 0 22px;
  width: 90%;
}

/* line 149, ../../Sass/Microsites/skyestone.scss */
.rhs li {
  list-style: none;
}

/* line 150, ../../Sass/Microsites/skyestone.scss */
.rhs li:first-child {
  color: #1F3025;
  font-size: 12px;
  list-style: none outside none;
  margin: 0 0 3px;
  padding: 0;
}

/* line 151, ../../Sass/Microsites/skyestone.scss */
.rhs li a {
  clear: both;
  color: #83933D;
  float: left;
  font-size: 12px;
  line-height: 18px;
  list-style: none outside none;
  margin: 7px 0;
}

/*ul.bod, ol.bod {float: left; margin: 10px 0; width: 100%;}
.bod li { float: left; list-style: disc inside none; width: 100%;}*/
/* line 156, ../../Sass/Microsites/skyestone.scss */
ul.ularch {
  float: left;
  margin: 17px 0 0 20px;
  width: 100%;
}

/* line 157, ../../Sass/Microsites/skyestone.scss */
.ularch li {
  float: left;
  font-size: 13px;
  line-height: 16px;
  list-style: disc outside none;
  margin: 4px 0 0;
  width: 100%;
}

/* line 158, ../../Sass/Microsites/skyestone.scss */
.ularch li a {
  color: #83933D;
  font-size: 13px;
  text-decoration: none;
  float: right;
  width: 100%;
}

/* line 159, ../../Sass/Microsites/skyestone.scss */
.busehs {
  background: url("/images/iconY.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: 1px solid #C0C0C0;
  float: left;
  margin: 20px 0 6px;
  padding: 0 0 10px;
  width: 100%;
}

/* line 165, ../../Sass/Microsites/skyestone.scss */
.busehs a {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 30px;
}

/* line 166, ../../Sass/Microsites/skyestone.scss */
.barchive {
  float: left;
  width: 100%;
}

/* line 167, ../../Sass/Microsites/skyestone.scss */
.barchive h1 {
  border-bottom: 1px solid #C0C0C0;
  border-top: 1px solid #C0C0C0;
  color: #1F3025;
  font-size: 18px;
  padding: 14px 0;
}

/*request info*/
/* line 176, ../../Sass/Microsites/skyestone.scss */
.scfIntroBorder h1 {
  color: #19398A;
  font-size: 16px;
  font-weight: bold;
  margin: 25px 0 8px;
  float: left;
  width: 100%;
  color: #83933D;
}

/* line 177, ../../Sass/Microsites/skyestone.scss */
.halfSection {
  float: left;
  width: 50%;
}

/* line 178, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfSectionBorderAsFieldSet {
  border: none !important;
}

/* line 179, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfSectionBorderAsFieldSet {
  margin: 18px 0 0;
  padding: 0 15px 0 0;
}

/* line 180, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfSectionLegend {
  font-weight: bold;
  margin-left: -12px;
  padding: 7px 12px 15px;
  text-decoration: none;
  color: #1F3025;
}

/* line 181, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfSingleLineTextBorder {
  float: left;
}

/* line 182, ../../Sass/Microsites/skyestone.scss */
.scfForm input, .scfForm select, .scfForm textarea {
  background: none repeat scroll 0 0 #ECEEE1;
  border: 1px solid #CCCCC2;
}

/* line 183, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfRequired {
  display: none;
}

/* line 184, ../../Sass/Microsites/skyestone.scss */
.halfAvailableWidth {
  display: inline;
  float: left;
  margin: 5px 0;
  text-align: left;
  vertical-align: top;
  width: 50%;
}

/* line 185, ../../Sass/Microsites/skyestone.scss */
#globalRFI .scfDatePickerLabel {
  font-size: 11px;
  width: 122px;
}

/* line 186, ../../Sass/Microsites/skyestone.scss */
.halfSection .thirdAvailableWidth {
  display: inline;
  float: left;
  margin: 5px 0;
  text-align: left;
  vertical-align: top;
  width: 124px !important;
}

/* line 195, ../../Sass/Microsites/skyestone.scss */
.scfDatePickerGeneralPanel {
  width: 100px;
}

/* line 196, ../../Sass/Microsites/skyestone.scss */
.scfSubmitButtonBorder .scfSubmitButton {
  background: none repeat scroll 0 0 #C1D82F !important;
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 2px #888888;
  color: #1F3025;
  float: left;
  margin: 20px 0 0 496px;
  width: 122px;
  cursor: pointer;
  font-weight: bold;
  height: 26px;
}

/* line 205, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfSingleLineTextLabel {
  width: 100%;
}

/* line 206, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfDatePickerLabel {
  width: 100% !important;
  font-size: 11px;
}

/* line 207, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfDatePickerTextBox {
  width: 100px;
}

/* line 208, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfMultipleLineTextLabel {
  width: 100%;
}

/* line 225, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfEmailGeneralPanel,
.halfSection .scfMultipleLineGeneralPanel,
.halfSection .scfSingleLineGeneralPanel,
.halfSection .scfPasswordGeneralPanel,
.halfSection .scfNumberGeneralPanel,
.halfSection .scfDatePickerGeneralPanel,
.halfSection .scfDateGeneralPanel,
.halfSection .scfRadioButtonListGeneralPanel,
.halfSection .scfCheckBoxListGeneralPanel,
.halfSection .scfFileUploadGeneralPanel,
.halfSection .scfDateSelectorGeneralPanel,
.halfSection .scfCreditCardGeneralPanel,
.halfSection .scfConfirmPasswordGeneralPanel,
.halfSection .scfCaptchaGeneralPanel,
.halfSection .scfTelephoneGeneralPanel,
.halfSection .scfSmsTelephoneGeneralPanel {
  width: 100% !important;
  padding: 0 7px 0 0 !important;
}

/* line 228, ../../Sass/Microsites/skyestone.scss */
.halfSection .scfSubmitButtonBorder {
  float: left;
  margin: 20px 0 0 !important;
}

/* line 229, ../../Sass/Microsites/skyestone.scss */
a.cancelLink {
  float: left;
  margin: 24px 0 0 21px;
  color: #C1D82F;
}

/* line 230, ../../Sass/Microsites/skyestone.scss */
.scfDatePickerGeneralPanel .ui-icon {
  left: -25px !important;
  top: 1px !important;
}

/*previous and next arrows no bullets*/
/* line 235, ../../Sass/Microsites/skyestone.scss */
li.bjqs-prev,
li.bjqs-next,
li.bjqs-slide {
  list-style: none !important;
}

/* line 236, ../../Sass/Microsites/skyestone.scss */
.bjqs-controls v-centered li {
  list-style: none !important;
}

/* line 239, ../../Sass/Microsites/skyestone.scss */
.blo-ti img {
  margin: 0 0 10px;
  float: left;
}

/* line 240, ../../Sass/Microsites/skyestone.scss */
.blog-banner {
  display: none;
}

/* line 241, ../../Sass/Microsites/skyestone.scss */
#PostPager {
  float: left;
  margin: 45px 0 30px;
}

/* line 242, ../../Sass/Microsites/skyestone.scss */
#PostPager li {
  float: left;
  list-style: none !important;
  clear: none;
  margin: 0 18px 0 0;
}

/* line 243, ../../Sass/Microsites/skyestone.scss */
#PostPager a {
  float: left;
  text-decoration: underline;
}

/*tablet*/
@media only screen and (max-width: 960px) {
  /* line 248, ../../Sass/Microsites/skyestone.scss */
  .wrapper, .box-bt, .footer, .ft-bar {
    width: 634px;
  }

  /* line 249, ../../Sass/Microsites/skyestone.scss */
  .logo {
    width: 154px;
    height: 97px;
  }

  /* line 250, ../../Sass/Microsites/skyestone.scss */
  .idea {
    width: 154px;
    height: 215px;
    padding: 3px 0 0;
  }

  /* line 251, ../../Sass/Microsites/skyestone.scss */
  .logo img {
    width: 155px;
    height: 97px;
  }

  /* line 252, ../../Sass/Microsites/skyestone.scss */
  .bnner-hder, .bnner-hder img {
    width: 472px;
    height: 97px;
  }

  /* line 253, ../../Sass/Microsites/skyestone.scss */
  .center-img, .center-img img {
    width: 362px;
    height: 215px;
  }

  /* line 254, ../../Sass/Microsites/skyestone.scss */
  .community img {
    width: 105px;
    height: 215px;
  }

  /* line 255, ../../Sass/Microsites/skyestone.scss */
  .community {
    width: 105px;
    margin: 6px 0 0 5px;
    height: 215px;
  }

  /* line 256, ../../Sass/Microsites/skyestone.scss */
  .text1 {
    float: left;
    margin: 11px 0 0 10px;
    width: 127px;
  }

  /* line 257, ../../Sass/Microsites/skyestone.scss */
  .text1 p {
    font-size: 11px;
    line-height: 13px;
    text-align: justify;
  }

  /* line 258, ../../Sass/Microsites/skyestone.scss */
  .title1 {
    margin: 6px 0 auto;
  }

  /* line 259, ../../Sass/Microsites/skyestone.scss */
  .text1 a, .text2 a {
    font-size: 11px;
  }

  /* line 260, ../../Sass/Microsites/skyestone.scss */
  .collections, .collections img {
    width: 206px;
    height: 251px;
  }

  /* line 261, ../../Sass/Microsites/skyestone.scss */
  .slider, .slider img {
    width: 209px;
    height: 251px;
  }

  /* line 262, ../../Sass/Microsites/skyestone.scss */
  .sm-right, .location {
    width: 205px;
    margin: 6px 0 0 6px;
    height: 122px;
  }

  /* line 263, ../../Sass/Microsites/skyestone.scss */
  .sm-right img, .location img {
    width: 205px;
    height: 122px;
  }

  /* line 264, ../../Sass/Microsites/skyestone.scss */
  .sm-left, .sm-left img {
    width: 188px;
    height: 115px;
  }

  /* line 265, ../../Sass/Microsites/skyestone.scss */
  .text2 {
    float: left;
    margin: -55px 0 0 128px;
    width: 302px;
  }

  /* line 266, ../../Sass/Microsites/skyestone.scss */
  .text2 p {
    font-size: 11px;
    line-height: 13px;
    text-align: justify;
  }

  /* line 267, ../../Sass/Microsites/skyestone.scss */
  .title2 {
    float: left;
    margin: 36px 0 0 13px;
    width: 103px;
  }

  /* line 268, ../../Sass/Microsites/skyestone.scss */
  .box-bt {
    height: 117px;
  }

  /* line 269, ../../Sass/Microsites/skyestone.scss */
  .topbar ul li a {
    font-size: 11px;
  }

  /*.topbar ul { float: right;  margin: 1px 11px; width: 220px;}*/
  /* line 271, ../../Sass/Microsites/skyestone.scss */
  .topbar ul {
    float: right;
    margin: 1px 6px;
    width: 238px;
  }

  /* line 276, ../../Sass/Microsites/skyestone.scss */
  .topbar {
    height: 42px;
    margin: 0 auto 8px;
  }

  /* line 277, ../../Sass/Microsites/skyestone.scss */
  .logo-footer {
    margin: 47px 0 0 21px;
    width: 134px;
    height: 65px;
  }

  /* line 278, ../../Sass/Microsites/skyestone.scss */
  .logo-footer img {
    width: 134px;
    height: 65px;
  }

  /* line 279, ../../Sass/Microsites/skyestone.scss */
  .footer li a {
    font-size: 11px;
  }

  /* line 280, ../../Sass/Microsites/skyestone.scss */
  .footer ul {
    width: 162px;
  }

  /* line 281, ../../Sass/Microsites/skyestone.scss */
  .ft-rgt {
    float: right;
    margin: -79px 33px 0;
    width: 212px;
  }

  /* line 282, ../../Sass/Microsites/skyestone.scss */
  .ft-rgt p {
    margin: 76px 16px 0;
  }

  /* line 283, ../../Sass/Microsites/skyestone.scss */
  .logo-bg, .box-mob {
    display: none;
  }

  /*blog*/
  /* line 286, ../../Sass/Microsites/skyestone.scss */
  .blog-bn img {
    float: left;
    width: 634px;
    height: 97px;
    margin: 8px 0 0;
  }

  /* line 287, ../../Sass/Microsites/skyestone.scss */
  .bg-lt img {
    width: 188px;
    height: 141px;
  }

  /* line 288, ../../Sass/Microsites/skyestone.scss */
  .blog-rt {
    border-left: none;
  }

  /*request info*/
  /* line 291, ../../Sass/Microsites/skyestone.scss */
  .halfSection .scfDatePickerTextBox {
    width: 92px;
  }

  /* line 292, ../../Sass/Microsites/skyestone.scss */
  .halfSection .scfDatePickerLabel {
    font-size: 9px;
  }

  /* line 293, ../../Sass/Microsites/skyestone.scss */
  .scfSubmitButtonBorder .scfSubmitButton {
    margin: 20px 0 0 362px;
  }

  /* line 294, ../../Sass/Microsites/skyestone.scss */
  .halfSection .thirdAvailableWidth {
    width: 100px !important;
  }

  /* line 296, ../../Sass/Microsites/skyestone.scss */
  .scfDatePickerGeneralPanel .ui-icon {
    left: -20px !important;
    top: 0px !important;
  }

  /* line 297, ../../Sass/Microsites/skyestone.scss */
  .slider {
    margin: 6px 0 0 5px;
  }
}
/*mobile*/
@media only screen and (max-width: 579px) {
  /* line 304, ../../Sass/Microsites/skyestone.scss */
  .wrapper {
    padding: 0 2px;
  }

  /* line 305, ../../Sass/Microsites/skyestone.scss */
  .wrapper, .footer, .ft-bar {
    width: 337px;
  }

  /* line 306, ../../Sass/Microsites/skyestone.scss */
  .header {
    width: 336px;
  }

  /* line 307, ../../Sass/Microsites/skyestone.scss */
  .bnner-hder, .bnner-hder img {
    height: 63px;
    width: 335px;
  }

  /* line 308, ../../Sass/Microsites/skyestone.scss */
  .center-img, .center-img img {
    display: none;
  }

  /* line 309, ../../Sass/Microsites/skyestone.scss */
  .idea {
    width: 220px;
  }

  /* line 310, ../../Sass/Microsites/skyestone.scss */
  .title1 {
    margin: 18px 0 auto;
  }

  /* line 311, ../../Sass/Microsites/skyestone.scss */
  .text1 {
    width: 189px;
    margin: 14px 0 0 15px;
  }

  /* line 312, ../../Sass/Microsites/skyestone.scss */
  .text1 p {
    font-size: 11px;
    line-height: 17px;
    text-align: justify;
  }

  /* line 313, ../../Sass/Microsites/skyestone.scss */
  .logo-bg {
    display: block;
    width: 335px;
    height: 98px;
    background: #1f3025;
  }

  /* line 314, ../../Sass/Microsites/skyestone.scss */
  .box-mob {
    border: 1px solid #000000;
    display: block;
    float: left;
    height: 261px;
    margin: 8px 0 0 4px;
    width: 174px;
  }

  /* line 315, ../../Sass/Microsites/skyestone.scss */
  .logo {
    margin: -98px 0 0 91px;
  }

  /* line 316, ../../Sass/Microsites/skyestone.scss */
  .topbar {
    height: 42px;
    margin: 0 auto 4px;
  }

  /* line 317, ../../Sass/Microsites/skyestone.scss */
  .bnner-hder, .bnner-hder img {
    margin: 2px 0 0;
  }

  /* line 318, ../../Sass/Microsites/skyestone.scss */
  .slider, .slider img, .sm-right, .sm-right img {
    display: none;
  }

  /* line 319, ../../Sass/Microsites/skyestone.scss */
  .location, .location img {
    height: 97px;
    margin: 3px 0 0 2px;
    width: 174px;
  }

  /* line 320, ../../Sass/Microsites/skyestone.scss */
  .collections, .collections img {
    width: 153px;
    height: 245px;
  }

  /* line 321, ../../Sass/Microsites/skyestone.scss */
  .community img {
    width: 109px;
  }

  /* line 322, ../../Sass/Microsites/skyestone.scss */
  .title2 {
    margin: -307px 0 0 189px;
  }

  /* line 323, ../../Sass/Microsites/skyestone.scss */
  .text2 {
    float: left;
    margin: -294px 0 0 171px;
    width: 148px;
  }

  /* line 324, ../../Sass/Microsites/skyestone.scss */
  .box-bt {
    width: 200px;
    border: none;
  }

  /* line 325, ../../Sass/Microsites/skyestone.scss */
  .sm-left, .sm-left img {
    height: 115px;
    margin: -60px 0 0;
    width: 151px;
  }

  /* line 326, ../../Sass/Microsites/skyestone.scss */
  .text2 h1 {
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin: 33px 0 0;
  }

  /* line 327, ../../Sass/Microsites/skyestone.scss */
  .text2 p {
    margin: 10px 0 0;
  }

  /* line 328, ../../Sass/Microsites/skyestone.scss */
  .text1 a, .text2 a {
    font-size: 11px;
  }

  /* line 329, ../../Sass/Microsites/skyestone.scss */
  .footer {
    margin: -109px 0 0;
    height: 228px;
  }

  /* line 330, ../../Sass/Microsites/skyestone.scss */
  .ft-bar {
    margin: -117px 0 0 !important;
  }

  /* line 331, ../../Sass/Microsites/skyestone.scss */
  .logo-footer {
    height: 65px;
    margin: 93px 0 0 21px;
    width: 134px;
  }

  /* line 332, ../../Sass/Microsites/skyestone.scss */
  .footer ul {
    float: left;
    margin: -110px 0 -32px 179px;
  }

  /* line 333, ../../Sass/Microsites/skyestone.scss */
  .ft-rgt {
    float: left;
    margin: -153px 33px 0 18px;
    width: 212px;
  }

  /* line 334, ../../Sass/Microsites/skyestone.scss */
  .footer-text, .ft-rgt p {
    display: none;
  }

  /* line 335, ../../Sass/Microsites/skyestone.scss */
  .line {
    margin: 60px 8px -32px 11px;
  }

  /* line 336, ../../Sass/Microsites/skyestone.scss */
  .topbar ul {
    float: left;
    margin: 0 0 0 94px;
    width: 235px;
  }

  /*blog*/
  /* line 340, ../../Sass/Microsites/skyestone.scss */
  .blog-bn {
    display: none;
  }

  /* line 341, ../../Sass/Microsites/skyestone.scss */
  .bg-lt, .bg-rt {
    width: 100%;
  }

  /* line 342, ../../Sass/Microsites/skyestone.scss */
  .bg-lt img {
    width: 148px;
    height: 111px;
    margin: 8px 7px 8px 0;
  }

  /* line 343, ../../Sass/Microsites/skyestone.scss */
  .posts li:first-child {
    width: 100%;
  }

  /* line 344, ../../Sass/Microsites/skyestone.scss */
  .posts li {
    width: 100%;
    margin: 0 8px 3px;
  }

  /* line 345, ../../Sass/Microsites/skyestone.scss */
  ul.posts {
    margin: 12px 0 20px;
  }

  /* line 346, ../../Sass/Microsites/skyestone.scss */
  .blog-lt {
    width: 334px;
  }

  /* line 347, ../../Sass/Microsites/skyestone.scss */
  .blog-mt li {
    float: left;
    margin: 0 13px 1px 0;
  }

  /* line 348, ../../Sass/Microsites/skyestone.scss */
  .blog-lt a {
    font-size: 11px;
  }

  /* line 349, ../../Sass/Microsites/skyestone.scss */
  ul.blog-mt {
    margin: 0 0 21px;
  }

  /*request info*/
  /* line 352, ../../Sass/Microsites/skyestone.scss */
  .halfSection {
    float: left;
    width: 100%;
  }

  /* line 353, ../../Sass/Microsites/skyestone.scss */
  .scfSubmitButtonBorder .scfSubmitButton {
    margin: 20px 0 25px 56px;
  }

  /* line 355, ../../Sass/Microsites/skyestone.scss */
  .scfDatePickerGeneralPanel .ui-icon {
    left: -20px !important;
    top: 0px !important;
  }
}
