﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ImageTest.aspx.cs" Inherits="TM.Web.Custom.Services.ImageTest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="Export" runat="server" OnClick="Export_Click" Text="Export CSV" />
    
    </div>
    </form>
</body>
</html>
