﻿html, body, img, ul, li, a { margin: 0; padding: 0; border: none; }

body {
	overflow: hidden;
}

/* Horizontal Carousel */
#horizontal_carousel {
  float: left;
  width: 100%;
  height: 128px;
  position: relative;
  overflow: hidden;
}

#horizontal_carousel .container {
  float: left;
  width: 100%;
  height: 128px;
  position: relative;    
  overflow: hidden;
}

#horizontal_carousel ul {
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 128px;
}                      

#horizontal_carousel ul li {
  width: 112px;
  height: 120px;
  text-align: center; 
  list-style: none;   
  float: left;
  
  padding: 5px;
  cursor: pointer;
}

#horizontal_carousel ul.disabled li {
	cursor: auto;
}

#horizontal_carousel ul li .image-container {
	height: 96px;
	width: 96px;
	text-align: center;
}

#horizontal_carousel ul li .small img {
  margin-top: 24px;
}


#horizontal_carousel ul li.selected, #horizontal_carousel ul li.hover {
	border: solid 1px #d8f0fa;
	padding: 4px;
	background: #e8f5fd;
}

#horizontal_carousel ul li .text {
	display: block;
	text-align: center;
	width: 100%;
	padding-top: 4px;
}

#horizontal_carousel .previous_button, #horizontal_carousel .next_button {
  float: left;  
  width: 100%;
  text-align: center;
  height: 120px;
  background: url(/sitecore/shell/Themes/Standard/Core/24x24/arrow_blue_left.png) 8px center no-repeat;
  z-index: 1000;
  cursor: pointer;  
}

#horizontal_carousel .next_button {
	background-image: url(/sitecore/shell/Themes/Standard/Core/24x24/arrow_blue_right.png);
}

#horizontal_carousel .previous_button_disabled {
	background-image: url(/sitecore/shell/Themes/Standard/Core/24x24/arrow_blue_left_d.png);
}

#horizontal_carousel .next_button_disabled {
	background-image: url(/sitecore/shell/Themes/Standard/Core/24x24/arrow_blue_right_d.png);
}


/*
#horizontal_carousel .previous_button_over {
  background: url(prototype-ui/horizontal/left_over.png);
}
#horizontal_carousel .next_button_over {
  background: url(prototype-ui/horizontal/right_over.png);
}
*/
