﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<div class="content-spacing">
    <sc:Placeholder Key="content" runat="server"></sc:Placeholder>
</div>
