﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<table border="0" cellpadding="0" style="width: 100%; height: 100%" cellspacing="15"
    id="ctl1">
    <tbody>
        <tr>
            <td valign="top" id="ctl2">
                <sc:Placeholder ID="Placeholder1" Key="content-left-side" runat="server"></sc:Placeholder>
            </td>
            <td valign="top">
                <sc:Placeholder ID="Placeholder2" Key="content-right-side" runat="server"></sc:Placeholder>
            </td>
        </tr>
    </tbody>
</table>
