﻿<%@ Control Language="c#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<div class="content-spacing">
    <sc:Placeholder Key="content-top-row" runat="server"></sc:Placeholder>
</div>
<div class="content-spacing">
    <sc:Placeholder Key="content-bottom-row" runat="server"></sc:Placeholder>
</div>
