﻿<%@ control language="C#" autoeventwireup="true" codebehind="DarlingHomesSplashHeader.ascx.cs" inherits="TM.Web.Custom.Layouts.SubLayouts.HomePage.DarlingHomesSplashHeader" %>
<% if (CookieValue == null && Splash != null) {
%>
    <%= Header %>
<%}
%>