﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EmptySplashPageContent.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.HomePage.EmptySplashPageContent" %>
<sc:Text ID="txtContent" runat="server" Field="Content"/>