// $nav-color: #513528;
// $nav-color-hover: #2c2a24;
// $link-color: #006A71;

$nav-border-color: #0089d1;
$nav-border-color-main: #0a6e9c;
$nav-color: #513528;
$nav-color-main: #006A71;
$nav-color-hover: #2c2a24;
$link-color: #006A71;
$close-icon: url('/images/dh/sprite-dh-markers.png');
$search-icon: url('/images/dh/searchIcon_M.jpg');

.dh {
	.searchbox a, .searchbut {
		background: $search-icon no-repeat;
	}
	.header ul li{
		color: $nav-color;
	}

	.logomenu .rt-box ul{
		li a{
			background: $nav-color;
		}
	} 

	.breadcrumb ul li a,
	.top2 a,
	.top5 a {
		color: $link-color;
	}
	#svgmap .close {
		background: $close-icon no-repeat 0 -69px;
		color: #006a71;
	}
	.mod-tophea1 {
		font-size: 11px;
		color: #666;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.mod-hea1 {
		font-size: 10px;
		font-weight: bold;
		margin-bottom: 10px;
		float: left;
		width: 100%;
	}
	.mod-t1 {
		border-top: 1px solid silver;
		float: left;
		width: 96%;
		margin: 0 0 6px;
	}
	#svgmap .rt ul.ddlist li a {
		color: $link-color !important;
		font-weight: bold;
	}
	.ddlist-2 {
		margin-bottom: 20px;
	}
	.logomenu .rt-box li:hover {
		background: $nav-color-hover;
	}

	#svgmap .rt ul.ddlist-2 li a {
		line-height: 15px;
		font-size: 12px;
		text-decoration: underline;
		padding: 0 !important;
		color: #999999 !important;
		font-size: 10px;
	}

	#svgmap .rt ul.ddlist li:first-child a {
		color: #54301A !important;
	}
	#svgmap .rt ul.ddlist-2 li:first-child a {
		text-transform: uppercase !important;
		text-decoration: none;
		font-weight: bold !important;
		color: #666666 !important;
		font-size: 10px;
	}


	.scfForm input[type="submit"]{
		background: $nav-color;
	}
	.join-wrapper h1 {
		font-weight: bold;
	}

	.top3 #lijoininterest{
		background: none repeat scroll 0 0 $link-color;
	}

	.logomenu .rt-box {
		nav{ 
			background: $nav-color;
			li{
				&:hover, 
				&.selected,
				&:first-child:hover,
				&:last-child:hover{
					background: $nav-color-hover;
				}
			}
		}

		ul li a{
			padding: 14px 16px;
    		&:hover{
    			background: $nav-color-hover;
    			border-bottom: 1px solid currentColor;
    		}
    		&.selected{
				background: $nav-color-hover;
			}
    		
	    }
	}

	#navtop-main li{
	  &:first-child{width:19.5%;}
	  &.menuchil-1{width:15.4%;}
	  &.menuchil-2{width:18.7%;}
	  &.menuchil-3{width:17.2%;}
	  &.menuchil-5{width: 29.2%;}
	}

	@media only screen and (max-width: 590px){

		.logomenu .rt-box {
			ul {

				-moz-box-shadow: 0px 1px 2px #141414;
				-webkit-box-shadow: 0px 1px 2px #141414;
				-ms-box-shadow: 0px 1px 2px #141414;
				box-shadow: 0px 1px 2px #141414;

				li {
					width: 100% !important;
					background: $nav-color url(/images/tm/arrow-mobile.png) no-repeat right;
					border-bottom: 1px solid $nav-border-color!important;
					&:hover {
						border-bottom: 1px solid $nav-border-color !important;
					}
					a {
						background: $nav-color-main url(/images/tm/arrow-mobile.png) no-repeat right;
					}
					span:last-child {
						font-size: 13px;
						padding-left: 142px; 
					}
				}
			}
			.hmbuying img {
				padding-top: 0px;
				margin-top: -16px;
				margin-left: 5px;
				max-width: 166px;
			}
		}

		.MobileMenuLink{
			background: $nav-color-main;
			-moz-box-shadow: 0px 1px 2px #141414;
			-webkit-box-shadow: 0px 1px 2px #141414;
			-ms-box-shadow: 0px 1px 2px #141414;
			box-shadow: 0px 1px 2px #141414;
			border: 1px solid $nav-border-color-main;
		}
	}
}