$nav-border-color: #910808;
$nav-color: #4d4d4d;
$nav-color-main: #c02d2d;
$nav-color-hover: #7e0023;
$link-color: #c02d2d;
$close-icon: url('/images/mg/sprite-mg-markers.png');
$search-icon: url('/images/mg/searchIcon_M.jpg');

.mg {
	
	.searchbox a, .searchbut {
		background: $search-icon no-repeat;
	}

	.logomenu .rt-box ul{
		li a{
			background: $nav-color-main;
		}
	} 

	.breadcrumb ul li a,
	.top2 a,
	.top5 a {
		color: $link-color;
	}
	#svgmap .close {
		background: $close-icon no-repeat 0 -69px;
		color: $nav-color;
	}
	.mod-tophea1 {
		font-size: 11px;
		color: #666;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.mod-hea1 {
		font-size: 10px;
		font-weight: bold;
		margin-bottom: 10px;
		float: left;
		width: 100%;
	}
	.mod-t1 {
		border-top: 1px solid silver;
		float: left;
		width: 96%;
		margin: 0 0 6px;
	}
	#svgmap .rt ul.ddlist li a {
		color: $link-color !important;
		font-weight: bold;
	}
	.ddlist-2 {
		margin-bottom: 20px;
	}
	.logomenu .rt-box li:hover {
		background: $nav-color-hover;
	}

	#svgmap .rt ul.ddlist-2 li a {
		line-height: 15px;
		font-size: 12px;
		text-decoration: underline;
		padding: 0 !important;
		color: #999999 !important;
		font-size: 10px;
	}

	#svgmap .rt ul.ddlist li:first-child a {
		color: #54301A !important;
	}
	#svgmap .rt ul.ddlist-2 li:first-child a {
		text-transform: uppercase !important;
		text-decoration: none;
		font-weight: bold !important;
		color: #666666 !important;
		font-size: 10px;
		font-weight: bold;
	}


	.scfForm input[type="submit"]{
		background: $nav-color-main;
	}
	.join-wrapper h1 {
		font-weight: bold;
	}

	.top3 #lijoininterest{
		background: none repeat scroll 0 0 $nav-color;
	}

	.logomenu .rt-box {
		nav{ 
			background: $nav-color-main;
			li{
				&:hover, 
				&.selected,
				&:first-child:hover,
				&:last-child:hover{
					background: $nav-color-hover;
				}
			}
		}

		ul li a{

			padding: 14px 6px;
    		&:hover{
    			background: $nav-color-hover;
    			border-bottom: 1px solid currentColor;
    		}
    		&.selected{
				background: $nav-color-hover;
			}
			span {
				font-size: 15px;
				font-weight: bold;
			}
	    }

	    .hmbuying img {
		    margin-left: 11px;
	    }

	}

	#navtop-main li{
	  &:first-child{width:17.2%;}
	  &.menuchil-1{width:26.3%;}
	  &.menuchil-2{width:13.7%;}
	  &.menuchil-3{width:15.7%;}
	  &.menuchil-5{width: 27.1%;}
	}


	@media only screen and (max-width: 590px){

		.logomenu .rt-box {
			ul {

				-moz-box-shadow: 0px 1px 2px #141414;
				-webkit-box-shadow: 0px 1px 2px #141414;
				-ms-box-shadow: 0px 1px 2px #141414;
				box-shadow: 0px 1px 2px #141414;

				li {
					width: 100% !important;
					background: $nav-color url(/images/tm/arrow-mobile.png) no-repeat right;
					border-bottom: 1px solid $nav-border-color!important;
					&:hover {
						border-bottom: 1px solid $nav-border-color !important;
					}
					a {
						background: $nav-color-main url(/images/tm/arrow-mobile.png) no-repeat right;

					}
					span:last-child {
						font-size: 13px;
						padding-left: 142px; 
					}
				}
			}
			.hmbuying img {
				padding-top: 0px;
				margin-top: -16px;
				margin-left: 5px;
				max-width: 166px;
			}
		}

		.MobileMenuLink{
			background: $nav-color-main;
			-moz-box-shadow: 0px 1px 2px #141414;
			-webkit-box-shadow: 0px 1px 2px #141414;
			-ms-box-shadow: 0px 1px 2px #141414;
			box-shadow: 0px 1px 2px #141414;
			border: 1px solid $nav-border-color;
		}
	}
}