﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Homebuying101StepDetail.ascx.cs" Inherits="TM.Web.Custom.Layouts.SubLayouts.Homebuying101.Homebuying101StepDetail" %>
<div class="banner101-intro">
    <div class="main-navi-bar">
        <sc:placeholder runat="server" id="ContentArea" key="ContentArea">
    
        </sc:placeholder> 
        
    <asp:HyperLink ID="hlkLogo" runat="server"></asp:HyperLink>
    <div class="top-navi">
        <sc:placeholder runat="server" id="StepsSelection" key="StepsSelection">
    
        </sc:placeholder>
    </div>

      
    </div>
</div>

<sc:placeholder runat="server" id="Glossary" key="Glossary">
    
</sc:placeholder>


<sc:placeholder runat="server" id="StepDetail" key="StepDetail">
    
</sc:placeholder>



