#elements-top{height:87px;background-image:-ms-linear-gradient(top,#1b3b6b 0,#237cb1 100%);background-image:-moz-linear-gradient(top,#1b3b6b 0,#237cb1 100%);background-image:-o-linear-gradient(top,#1b3b6b 0,#237cb1 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#1b3b6b),color-stop(1,#237cb1));background-image:-webkit-linear-gradient(top,#1b3b6b 0,#237cb1 100%);background-image:linear-gradient(top,#1b3b6b 0,#237cb1 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1b3b6b',endColorstr='#237cb1');ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1b3b6b',endColorstr='#237cb1');}
#elements-top-separator{height:6px;background-image:-ms-linear-gradient(top,#4c4c4c 0,#838383 100%);background-image:-moz-linear-gradient(top,#4c4c4c 0,#838383 100%);background-image:-o-linear-gradient(top,#4c4c4c 0,#838383 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#4c4c4c),color-stop(1,#838383));background-image:-webkit-linear-gradient(top,#4c4c4c 0,#838383 100%);background-image:linear-gradient(top,#4c4c4c 0,#838383 100%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c4c4c',endColorstr='#838383');ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c4c4c',endColorstr='#838383');opacity:.7;}
div#element-logo{width:175px;height:44px;background-image:url(~/media/Elements/logo.png);background-repeat:no-repeat;margin-top:20px;margin-left:25px;float:left;}
div#element-logo-text{color:#8fd7f1;float:left;font-size:12px;margin-top:35px;margin-left:15px;}
div#elements-accordion-wrapper{width:918px;overflow:hidden;height:315px;position:relative;}
section#element-accordion-container{width:5000px;height:315px;background-color:Transparent;}
div#accordion-item-environment{width:800px;height:315px;background-image:url(~/media/Elements/environment.jpg);background-repeat:no-repeat;position:absolute;}
div#accordion-item-energy{width:800px;height:315px;left:306px;background-image:url(~/media/Elements/energy.jpg);background-repeat:no-repeat;position:absolute;}
div#accordion-item-efficiency{width:800px;height:315px;left:612px;background-image:url(~/media/Elements/efficiency.jpg);background-repeat:no-repeat;position:absolute;}
div.accordion-item-btm-bar{background-color:#323235;height:40px;opacity:.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);position:absolute;bottom:0;width:100%;}
div.accordion-item-btm-bar-link{position:absolute;bottom:0;color:#FFF;font-size:20px;cursor:pointer;}
div.accordion-item-content{background-color:#504f50;height:275px;opacity:.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);position:absolute;top:0;width:100%;display:none;}
div.accordion-item-content-text{margin-left:380px;margin-top:22px;width:370px;position:absolute;z-index:200;display:none;}
div.accordion-item-content-text span.title{color:#FFF;font-size:40px;display:block;margin-bottom:10px;}
div.accordion-item-content-text span.desc{color:#FFF;font-size:14px;}div#element-main-content{width:918px;height:392px;background-image:url(~/media/Elements/content-bg.png);background-repeat:no-repeat;position:relative;}
div#map-container{padding-top:15px;float:left;width:302px;}div#logo-small{width:169px;height:45px;background-image:url(~/media/Elements/logo-small.png);background-repeat:no-repeat;margin-left:65px;}
div#in-your-area{color:#bfbbb0;font-size:15px;font-style:italic;margin-left:150px;}
div#main-map{opacity:.75;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);}
.activeState{cursor:pointer;}div#bubble-arizona{display:none;width:68px;height:36px;background-image:url(~/media/Elements/bubble-arizona.png);background-repeat:no-repeat;position:absolute;left:35px;top:140px;z-index:200;}
div#bubble-california{display:none;width:90px;height:88px;background-image:url(~/media/Elements/bubble-california.png);background-repeat:no-repeat;position:absolute;left:0;top:80px;z-index:200;}
div#bubble-colorado{display:none;width:68px;height:36px;background-image:url(~/media/Elements/bubble-colorado.png);background-repeat:no-repeat;position:absolute;left:70px;top:120px;z-index:200;}
div#bubble-florida{display:none;width:89px;height:128px;background-image:url(~/media/Elements/bubble-florida.png);background-repeat:no-repeat;position:absolute;left:190px;top:75px;z-index:200;}
div#bubble-texas{display:none;width:68px;height:56px;background-image:url(~/media/Elements/bubble-texas.png);background-repeat:no-repeat;position:absolute;top:150px;left:100px;z-index:200;}
a.bubble-division{display:block;color:#908f8f;font-size:11px;text-align:center;padding-left:1px;padding-right:1px;font-style:italic;text-decoration:none;margin-top:3px;margin-bottom:3px;line-height:12px;}
a.bubble-division.first{margin-top:7px;}a.bubble-division.last{margin-bottom:7px;}
a.bubble-division:hover{color:#3993b7;}div.division-separator{border-bottom:1px solid #908f8f;margin:auto;height:1px;width:50px;}
div#map-division-list{margin-left:75px;}select#division-selection{font-size:12px;}
div#main-map{background-image:url(~/media/Elements/map.png);background-repeat:no-repeat;}div#element-text-content{float:left;width:600px;position:relative;}
div#element-text-content div#default{position:absolute;width:540px;top:35px;left:40px;color:#4e4e4e;font-size:15px;line-height:22px;}
div#element-text-content div#default div.sub-content{width:540px;margin-top:10px;}
div#three-logo{width:54px;height:65px;background-image:url(~/media/Elements/3-logo.png);background-repeat:no-repeat;float:left;margin-right:10px;}
div#default-sub{width:474px;font-size:11px;line-height:16px;float:left;}div#energy-star{position:absolute;top:34px;left:3px;display:none;}
div#energy-star div.header-bar{width:488px;height:63px;background-image:url(~/media/Elements/energy-star-bar.png);background-repeat:no-repeat;font-size:35px;font-family:Arial;color:#FFF;padding-left:125px;padding-top:5px;}
div#energy-star div.main-text{color:#4e4e4e;font-size:15px;line-height:22px;width:488px;margin-left:55px;margin-top:10px;}
div#energy-star div.link-button{font-size:11px;color:#746e68;text-decoration:underline;padding-top:10px;padding-bottom:4px;margin-left:55px;cursor:pointer;}
div#energy-star-disclaimer{position:absolute;top:35px;left:35px;width:550px;display:none;}
div#energy-star-disclaimer div#energy-icon{float:left;width:55px;height:74px;background-image:url(~/media/Elements/energy-star-icon-large.png);background-repeat:no-repeat;margin-right:20px;}
div#energy-star-disclaimer div#energy-disclaimer{float:left;width:470px;color:#746e68;font-size:11px;line-height:11px;}
div#energy-star-disclaimer div#energy-disclaimer div.head{font-size:15px;margin-bottom:20px;color:#746e68;}
div#energy-star-disclaimer div#energy-disclaimer div.link-button{font-size:14px;color:#746e68;text-decoration:underline;padding-top:20px;cursor:pointer;}
div#hers{position:absolute;top:34px;left:3px;display:none;}div#hers div.header-bar{width:490px;height:64px;background-image:url(~/media/Elements/HERS-bar.png);background-repeat:no-repeat;}
div#hers div.header-bar div.sub-head{font-size:15px;margin-left:73px;padding-top:10px;}
div#hers div.header-bar div.main-head{font-size:35px;font-family:Arial;color:#575656;margin-left:52px;margin-top:-15px;}
div#hers div.main-text{width:506px;margin-left:54px;color:#746e68;font-size:16px;line-height:22px;margin-top:15px;}
div#innovative-building{position:absolute;top:34px;left:3px;display:none;}div#innovative-building div.header-bar{width:490px;height:64px;background-image:url(~/media/Elements/innovative-building-bar.png);background-repeat:no-repeat;}
div#innovative-building div.header-bar div.sub-head{font-size:15px;margin-left:73px;padding-top:8px;}
div#innovative-building div.header-bar div.main-head{font-size:35px;font-family:Arial;color:#575656;margin-left:52px;margin-top:-10px;}
div#innovative-building div.main-text{width:506px;margin-left:54px;color:#746e68;font-size:16px;line-height:22px;margin-top:15px;}
div#boomerang{position:absolute;top:34px;left:3px;display:none;}div#boomerang div.header-bar{width:411px;height:64px;background-image:url(~/media/Elements/boomerang-bar.png);background-repeat:no-repeat;}
div#boomerang div.header-bar div.sub-head{font-size:15px;margin-left:73px;padding-top:10px;}
div#boomerang div.header-bar div.main-head{font-size:35px;font-family:Arial;color:#575656;margin-left:52px;margin-top:-15px;}
div#boomerang div.main-text{width:506px;margin-left:54px;color:#746e68;font-size:16px;line-height:22px;margin-top:15px;}
div#footer{position:relative;margin-left:16px;padding-top:28px;display:inline-block;}
div#footer div.footer-item{float:left;margin-left:5px;}div#ft-energy-star div.icon{width:55px;height:74px;background-image:url(~/media/Elements/energy-star-icon-large.png);background-repeat:no-repeat;float:left;margin-right:10px;margin-top:7px;}
div#ft-energy-star div.text{width:171px;float:left;font-size:12px;color:#4e4e4e;margin-top:5px;font-family:'Arial Narrow','Arial','sans-serif';}
div#ft-energy-star div.text div.link-button{width:104px;height:17px;background-image:url(~/media/Elements/btn-bg.png);background-repeat:no-repeat;color:#FFF;font-size:10px;font-weight:bold;padding-left:15px;cursor:pointer;margin-top:10px;padding-top:1px;font-family:Arial;}
div#ft-energy-star div.text div.link-button:hover{width:104px;height:17px;background-image:url(~/media/Elements/btn-bg-over.png);background-repeat:no-repeat;}
div#ft-boomerang div.icon{width:44px;height:49px;background-image:url(~/media/Elements/boomerang-icon.png);background-repeat:no-repeat;float:left;}
div#ft-boomerang div.text{width:161px;float:left;font-size:12px;line-height:15px;color:#4e4e4e;margin-left:7px;font-family:'Arial Narrow','Arial','sans-serif';}
div#ft-boomerang div.text div.link-button{font-size:12px;color:#96b419;margin-top:5px;cursor:pointer;font-style:italic;}
div#ft-innovative-bldg div.icon{width:44px;height:49px;background-image:url(~/media/Elements/inno-bld-icon.png);background-repeat:no-repeat;float:left;}
div#ft-innovative-bldg div.text{width:132px;float:left;font-size:12px;line-height:15px;color:#4e4e4e;margin-left:7px;font-family:'Arial Narrow','Arial','sans-serif';}
div#ft-innovative-bldg div.text div.link-button{font-size:12px;color:#96b419;margin-top:5px;cursor:pointer;font-style:italic;}
div#ft-hers div.icon{width:44px;height:49px;background-image:url(~/media/Elements/hers-icon.png);background-repeat:no-repeat;float:left;}
div#ft-hers div.text{width:134px;float:left;font-size:12px;line-height:15px;color:#4e4e4e;margin-left:7px;font-family:'Arial Narrow','Arial','sans-serif';}
div#ft-hers div.text div.link-button{font-size:12px;color:#96b419;margin-top:5px;cursor:pointer;font-style:italic;}
div#ft-divider{float:left;width:2px;height:86px;background-image:url(~/media/Elements/footer-divider.png);background-repeat:no-repeat;margin-left:23px;}
div.clr{clear:both;}.bold{font-weight:bold;}div#hers-rating-icon{width:114px;height:77px;background-image:url(~/media/Elements/hers-rating-icon.png);background-repeat:no-repeat;position:absolute;right:-45px;}
div.panel-link-button{font-size:12px;color:#96b419;margin-top:5px;cursor:pointer;font-style:italic;display:inline;text-decoration:underline;margin-left:5px;}