﻿.hth-wrapper { width:220px; height:auto; }
.hth-wrapper h1 { font-size:19px; color:#666666; line-height:21px; margin:0 0 12px; }
.hth-TextBorder { margin:0 0 7px; }
.hth-Textb2 { float: left;margin: 0 0 7px; width: 99px; }
.hth-DropList { width:215px; margin:0 0 7px; border:1px solid #b6b5ac; }
.hth { font-size:10px; line-height:12px; }
.hth a { font-size:10px; color:#2da5e0; text-decoration:underline; line-height:12px; }
.hth-bt { float:left; margin:-3px 0 0 -3px; }
.hth-z { width:90px; }
.hth-a { width:216px; }

.kindle-fire-promo #promo-art { margin-bottom: -10px; margin-top: -30px; }
.kindle-fire-promo #container #header #hero #hero-caption { font-size: 25px; left: 378px; top: 100px; line-height:25px; }
.kindle-fire-promo #container #header #hero { background-image: url("/images/tm/promo-hero.jpg"); height: 445px; width:897px; }
.kindle-fire-promo #container #promo-form-wrap { 
    background-color: #EEEEEE; border-radius: 12px 12px 12px 12px; max-width: 280px; padding: 30px; position: absolute; right: 30px; top: 200px; z-index: 100; margin:30px 16px 0;
}
.kindle-fire-promo #container #main h3 { font-size: 21px; color:#0095D9; margin:25px 0 10px 0; }
.kindle-fire-promo #container #main h4 { color: #666666; font-family: Arial,'Helvetica Neue',sans-serif; font-size: 15px; font-weight: bold; }

#page-content { background-color: #FFFFFF; box-shadow: 0 1px 1px 2px rgba(210, 210, 210, 0.7); padding: 10px; position: relative; width: 938px; }

/* 
 * hth homepage + features page + divison page 
*/

#hero2 { background-image: url("images/hero2.jpg"); background-repeat: no-repeat; height: 540px; position: relative; width: 918px; }
#wrap #hero-caption2 { color: #222222; font-size: 2.2em; left: 20px; letter-spacing: 0.1px; margin: 0; position: absolute; top: 30px; }
#wrap .info2 { 
    background-image: url("images/info2.jpg"); background-position: 10px 10px; background-repeat: no-repeat; height: 150px; margin: 544px 0; position: relative; width: 302px; float:left;
}
#wrap .info2 .keepexploring { bottom: -65px; }

ul.hthm {
	background-color: #ECECEC;
    clear: both;
    font-size: 23px;
    height: 90px;
    letter-spacing: 1px;
    line-height: 4em;
    list-style: none outside none;
    margin: 40px 0;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    width: 918px;
	float:left;
	margin:-447px 0 0;
}

/* =============================================================================
   Typography
   ========================================================================== */

#wrap abbr[title] { border-bottom: 1px dotted; }
#wrap b, #wrap strong { font-weight: bold; }
#wrap blockquote { margin: 1em 40px; }
#wrap dfn { font-style: italic; }
#wrap hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
#wrap ins { background: #ff9; color: #000; text-decoration: none; }
#wrap mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
#wrap pre, 
#wrap code, 
#wrap kbd, 
#wrap samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
#wrap pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

#wrap q { quotes: none; }
#wrap q:before, 
#wrap q:after { content: ""; content: none; }

#wrap small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
#wrap sub, 
#wrap sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
#wrap sup { top: -0.5em; }
#wrap sub { bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */

#wrap ul, 
#wrap ol { margin: 1em 0; padding: 0 0 0 40px; }
#wrap dd { margin: 0 0 0 40px; }
#wrap nav ul, 
#wrap nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
#wrap img { border: 0 none; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
#wrap svg:not(:root) { overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */

#wrap figure { margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */

#wrap form { margin: 0; }
#wrap fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
#wrap label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Oak Creek Trail - http://oakcreektrail.com
   ========================================================================== */

/* @baa dev only */
#wrap { margin: 0px auto; position: relative; line-height:normal; }

#wrap h1, 
#wrap h2, 
#wrap h3, 
#wrap nav, 
#wrap .sec-caption {
	font-family: 'Gudea', Tahoma, Geneva, sans-serif;
	font-weight: normal;
}

#wrap a, #wrap a:visited { color: #29AAE2; text-decoration: none; font-size:17px; }
#wrap a:hover { color: #06e; }
#wrap a:focus { outline: thin dotted; }
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
#wrap a:hover, a:active { outline: 0; }

#container { margin: 0 auto; width: 918px; position: relative; }

#wrap #hero { position: relative; background-image: url('images/hero.jpg'); background-repeat: no-repeat; width: 918px; height: 540px; }
#wrap #hero-caption { color: #222222; font-size: 2.2em; left: 20px; letter-spacing: 0.1px; margin: 0; position: absolute; top: 30px; }
#wrap #hero-caption span { font-weight:bold; color: #000; font-size: 24px; }
#hero .supplemental,
#hero-supplemental {
	position: absolute;
	bottom: 10px;
	left: 20px;
	background-image: url('images/houstons-best.png');
	background-repeat: no-repeat;
	height: 53px;
	padding-left: 56px;
	line-height: 60px;
	margin: 0;
	color: #222;
	font-size:13px;
	display:none;
}
#wrap #hero-button { position: absolute; right: 40px; bottom: 40px; }
#wrap #hero-chat_button { position: absolute; right: 20px; bottom: 80px; }

#wrap .info { 
    background-image: url("/images/tm/info.jpg"); background-position: 10px 10px; background-repeat: no-repeat; height: 150px; margin: 20px 0; position: relative; width: 302px; float:left; 
}

#wrap .hand-sml { position: absolute; left: 10px; bottom: 0px; }

#wrap ul.social { position: absolute; right: 10px; bottom: 10px; list-style: none; margin: 10px 0; padding: 0; display:none; }
#wrap ul.social li { display: inline-block; padding-left: 5px; }
#wrap .facebook { background-image: url('images/facebook.png'); background-repeat: no-repeat; width: 26px; height: 26px; }
#wrap .twitter { background-image: url('images/twitter.png'); background-repeat: no-repeat; width: 26px; height: 26px; }


#wrap #icons { background-color: #ECECEC; float: right; margin: 20px 23px 40px;; padding: 15px; width: 500px; }
#wrap #icons h2 { font-size: 20px; margin: 0; text-align: center; }
#wrap #icons ul { float: left; list-style: none outside none; margin: 10px 0 10px 55px; padding: 0; width: 250px; }
#wrap #icons li { display: inline; padding-left: 5px; }
#wrap #icons li img { margin-bottom: 5px; }

#wrap #icons-devices { margin-top: 26px; }
#wrap #icons-devices div { background-image: url("images/brace-sml.gif"); background-position: 0 50%; background-repeat: no-repeat; float: left; height: 72px; padding-left: 25px; }
#wrap #ipad { display: none; width: 63px; }
#wrap #ipad-mini { width: 52px; }
#wrap #ipad-mini img { margin-top: 4px; }
#wrap #iphone { width: 28px; }
#wrap #iphone img { margin-top: 12px; }
#wrap #kindle-fire { width: 49px; }
#wrap #kindle-fire img { margin-top: 4px; }

#wrap header nav ul {
	position: relative;
    list-style: none;
	background-color: #ececec;
	width: 897px;
	height: 90px;
	font-size: 23px;
	line-height: 4.0em;
	text-transform: uppercase;
	overflow: hidden;
	margin: 40px 0;
	letter-spacing: 1px;
	clear: both;
}
#wrap header nav li { display: inline; padding-left: 1.5em;	}
#wrap div#container header nav li a { font-size:23px; font-family: 'Gudea', Tahoma, Geneva, sans-serif; text-decoration:underline; }
#wrap header nav li:first-child { padding-left: 2.5em; }
#wrap header nav a, 
#wrap nav a:visited {
    color: #666;
	text-decoration: none;
	font-size:25px;
}
#wrap header nav a:hover, 
#wrap nav a:active {
	color: #29aae2;
	font-size:25px;
}

#wrap .brace-sml { display:inline;width:10px;height:50px;padding:25px 5px;border:1px solid #777;border-left:none; }
#wrap .brace-med { display:inline;width:10px;height:152px;padding:42px 5px;border:1px solid #777;border-left:none; }
#wrap .brace-line { display:inline;width:10px;height:1px;padding:1px 5px;border-top:1px solid #777; }

#wrap #main { padding: 0 20px; position: relative; width: 880px; margin: 0 auto; }
#wrap #main h1, #main h2, #main h3, #main h4 { color: #29aae2; }
#main h4 { font-size:18px; font-weight:normal; }
#main div.community h4 { margin-top:8px; margin-bottom:8px; font-size:17px; line-height:21px; }

#wrap #container #main h1#hdr-communities-long {
	background-color: #ececec;
	width: 800px; /* 656px w/ arrow */
	height: 110px;
	font-size: 23px;
	line-height: 5.2em;
	padding-left: 0.5em;
	text-transform: uppercase;
	position: relative;
	margin: 50px 0 0 20px;
}
#wrap #container #main h1#hdr-communities-long:after {
	content: '';
	position: absolute;
	right: -60px;
	bottom: 0;
	width: 0px;
	height: 0px;
	margin: 0;
	border-style: solid;
	border-width: 55px 0 55px 60px;
	border-color: transparent transparent transparent #ececec;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #ececec;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
#wrap #container #main h1#hdr-communities {
	background-color: #ececec;
	width: 700px; /* 656px w/ arrow */
	height: 110px;
	font-size: 23px;
	line-height: 5em;
	padding-left: 0.5em;
	text-transform: uppercase;
	position: relative;
	margin: 50px 0 0 20px;
}
#main h1#hdr-communities:after {
	content: '';
	position: absolute;
	right: -60px;
	bottom: 0;
	width: 0px;
	height: 0px;
	margin: 0;
	border-style: solid;
	border-width: 55px 0 55px 60px;
	border-color: transparent transparent transparent #ececec;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #ececec;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
#wrap #container #main h1#hdr-communities:after {
	content: '';
	position: absolute;
	right: -60px;
	bottom: 0;
	width: 0px;
	height: 0px;
	margin: 0;
	border-style: solid;
	border-width: 55px 0 55px 60px;
	border-color: transparent transparent transparent #ececec;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #ececec;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
#wrap #container #main h1, #wrap #container #main h2 {
	background-color: #ececec;
	width: 671px; /* 656px w/ arrow */
	height: 110px;
	font-size: 42px;
	line-height: 2.7em;
	padding-left: 0.5em;
	text-transform: uppercase;
	position: relative;
	margin: 20px 0 0 20px;
}
#wrap #container #main h1:after,
#wrap #container #main h2:after {
	content: '';
	position: absolute;
	right: -60px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 55px 0 55px 60px;
	border-color: transparent transparent transparent #ececec;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #ececec;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

#wrap h1#hdr-packages { background-color: #fff; margin: 0 0 0 20px; }
#wrap h1#hdr-packages:after { border-color: transparent transparent transparent #ffffff; _border-color: #000000 #000000 #000000 #ffffff; }
#wrap #container #main h2#hdr-packages { background-color: #fff; margin: 0 0 0 20px; }
#wrap #container #main h2#hdr-packages:after { border-color: transparent transparent transparent #ffffff; _border-color: #000000 #000000 #000000 #ffffff; }

#wrap #main h2 { font-size: 24px; }
#wrap #main h3 { font-size: 24px; }

#wrap #main p { font-size: 1.2em; line-height: 1.7em; }
#wrap #main p a.reqform { color:#29AAE2; font-size: 1em; }

#wrap #main nav ul,
#wrap .brace-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 1.45em;
	font-family:Arial;	
}
#wrap #main nav a, 
#wrap nav a:visited {
	color: #666;
	text-decoration: none;
}
#wrap #main nav a:hover, 
nav a:active {
	color: #29aae2;
}

/* FLOATING HAND */
#hand {
	position: absolute;
	background-image: url('images/hand.png');
	background-repeat: no-repeat;
	left: 50%;
	margin-left: -400px;
	width: 159px; /* 159px hand */
	height: 194px;
	z-index: 1000;
}

/* FLOATING SIDE NAV */
#nav-side {
	position: absolute;
	right: 50%;
	margin-right: -445px; /* -406px */
	z-index: 1000;
	display:none;
	padding: 10px;
	background-color: #ececec;
	background-color: rgba(255,255,255,0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#nav-side ul { list-style: none; margin: 0; padding: 0; }
#nav-side li { margin-top: 5px; }
#nav-side li:first-child { margin-top: 0px; }

/* Trademark font hack */
.trademark { font-family: Arial, 'Helvetica Neue', sans-serif; }

/* KEEP EXPLORING / BACK TO TOP LINKS */
#wrap .keepexploring { left: 20px; }
#wrap .backtotop { right: 20px; }
#wrap .keepexploring a { background-image: url("images/arrow-down-dk.png"); color: #B3B3B3; font-size: 21px; }
#wrap .backtotop a { background-image: url('images/arrow-up-dk.png'); color:#b3b3b3; font-size:20px; padding-left: 0; padding-right: 42px; background-position: center right; }
#wrap .keepexploring, #wrap .backtotop { bottom: 0; color: #B3B3B3; font-size: 1.5em; line-height: 2em; position: absolute; }
#wrap .keepexploring a, #wrap .backtotop a { background-position: center left; background-repeat: no-repeat; color: #B3B3B3; display: inline-block; height: 38px; padding-left: 42px; }
#wrap .keepexploring a:hover, #wrap .backtotop a:hover { color: #b3b3b3; }
#wrap .keepexploring a:hover { background-image: url('images/arrow-down-dk.png'); }
#wrap .backtotop a:hover { background-image: url('images/arrow-up-dk.png'); font-size:20px; }
#wrap .keepexploring.inv { clear: both; position: relative; margin-left: -20px; margin-bottom: -20px; }
#wrap .backtotop.inv { margin-bottom: -20px; }
#wrap .keepexploring.inv a { color: #999; background-image: url('images/arrow-down-dk.png'); background-repeat: no-repeat; }
#wrap .backtotop.inv a { color: #999; background-image: url('images/arrow-up-dk.png'); background-repeat: no-repeat; }

#wrap .info .keepexploring { bottom: -65px; }

#sec-communities .backtotop { clear: both; position: relative; float: right; }

#wrap section { margin: 50px auto 0px; position: relative; padding: 30px 20px 0; border-top: 1px solid #ececec; }
#wrap section.bg { background-repeat: no-repeat; background-position: 20px 20px; padding: 350px 20px 0; min-height: 460px; }
#wrap section.bg2 { padding: 0 20px 320px; height: 528px; /* 590 */ }
#wrap section.smaller { font-size: 0.9em; margin: 20px 0 0; padding: 0px; border-top: none; }
#wrap #main section.smaller h3 { margin-bottom: 5px; font-size: 1.75em; }
#wrap section.smaller p { margin-top: 0; }
#wrap section .sec-caption { position: absolute; left: 50px; top: 70px; color: #fff; font-size: 30px; line-height: 1.1em; width: 400px; }

/* @baa sec-caption overrides */
#wrap #sec-door .sec-caption { left: 70px; top: 130px; }
#wrap #sec-audio .sec-caption { left: 520px; top: 300px; width: 400px; color: #666; }
#wrap #sec-intercom .sec-caption { left: 580px; top: 270px; width: 300px; color: #666; }
#wrap #sec-camera .sec-caption { top: 150px; color: #666; }
#wrap #sec-lighting .sec-caption { left: 52px; top: 60px; width: 600px; }
#wrap #sec-security .sec-caption { width: 500px; color: #666; }

#wrap #sec-mobile { background-image: url('images/i-mobile.jpg'); height:743px;}
#wrap #sec-door	{ background-image: url('images/i-frontdoor.jpg'); height:743px;}
#wrap #sec-audio { background-image: url('images/i-audio.jpg'); height:721px; }
#wrap #sec-intercom	{ background-image: url('images/i-intercom.jpg');height:721px;  }
#wrap #sec-camera { background-image: url('images/i-monitor-baby.jpg');height:721px; }
#wrap #sec-lighting	{ background-image: url('images/i-lighting.jpg'); height:744px;}
#wrap #sec-security	{ background-image: url('images/i-security.jpg');height:744px;}

#wrap .sec-header { float: left; background-repeat: no-repeat; background-position: 0px 50px; width: 314px; height: 202px; /* 152px icon */ }

#wrap #hdr-mobile { background-image: url('images/icon-mobile-lg2.png'); margin-top:20px;}
#wrap #hdr-door { background-image: url('images/icon-door-lg2.png');  margin-top:20px;}
#wrap #hdr-audio { background-image: url('images/icon-audio-lg2.png');  margin-top:20px;}
#wrap #hdr-intercom	{ background-image: url('images/icon-intercom-lg2.png');  margin-top:20px;}
#wrap #hdr-camera { background-image: url('images/icon-camera-lg2.png');  margin-top:20px;}
#wrap #hdr-lighting	{ background-image: url('images/icon-lighting-lg2.png');  margin-top:20px;}
#wrap #hdr-security	{ background-image: url('images/icon-security-lg2.png');  margin-top:20px;}

#wrap .brace-content {
	float: right;
	width: 485px;
	margin-top: 80px;	
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: #777 transparent #777 #777;
	padding-left: 25px;
}
#wrap .brace-content2 {
	float: right;
	width: 485px;
	margin-top: 109px;	
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: #777 transparent #777 #777;
	padding-left: 25px;
}
#wrap .brace-content p {
	background-color: #fff;
	float: left;
	margin: -1px;
	border-width: 0;
	padding: 20px 0px 20px 10px;
}

/* @baa sec overrides */
#wrap #sec-features .hero {
	float: left;
	background-image: url('images/pkg-lcd3.jpg');
	background-repeat: no-repeat;
	background-position-x: 50%;
	width: 450px;
	height: 333px;
}
#wrap #sec-features .right {
	width: 339px; /* 390px */
	margin:86px -13px 0 0;
}
.lcdnote {
    bottom: 0;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0 0 13px;
    padding-left: 15px;
    width: 100%;
}
#wrap #sec-features .brace-content { font-family: 'Gudea', Tahoma, Geneva, sans-serif; }
#wrap #sec-features .brace-content,
#wrap #sec-features .brace-content nav {
	width: 364px;
	margin-top: 0;
}
#wrap #sec-features .brace-content nav { background-color: #fff; float: left; margin: -1px; border-width: 0; padding: 20px 0px 20px 10px; }
#wrap .border-wrap { border-bottom: 1px solid #ececec; padding-bottom: 30px; }

#wrap #sec-vacation { background-image: url('images/vacation.jpg'); background-repeat: no-repeat; background-position: right; min-height: 110px; padding-right: 130px; }

#wrap #sec-packages .hero,
#wrap #sec-packages-plus .hero {
	float: left;
	background-image: url('images/pkg-12.jpg');
	background-repeat: no-repeat;
	background-position-x: 50%;
	width: 388px;
	height: 500px;
}
#wrap #sec-packages-plus .hero { background-image: url('images/pkg-22.jpg'); }
#wrap #sec-packages h2,
#wrap #sec-packages-plus h2 {
	background-image: url('images/arrow-yellow.png');
	background-repeat: no-repeat;
	width: 484px;
	height: 82px;
	padding-left: 30px;
	color: #222;
	font-size: 28px;
	line-height: 3em;
	margin-top:15px;
}
#wrap #sec-packages h3,
#wrap #sec-packages-plus h3 {
	background-image: url('images/arrow-big.png');
	background-repeat: no-repeat;
	width: 484px;
	height: 82px;
	padding-left: 30px;
	color: #222;
	font-size: 28px;
	line-height: 3em;
	margin-top:15px;
}
#wrap #sec-packages .brace-content,
#sec-packages .brace-content ul,
#sec-packages-plus .brace-content,
#sec-packages-plus .brace-content ul {
	width: 414px;
	margin-top: 70px;
}
#wrap #sec-packages .brace-content { margin-top: -367px; padding-left:20px;}
#wrap #sec-packages-plus .brace-content	{ margin-top: -418px; padding-left:20px;}
#wrap #sec-packages .brace-content ul,
#sec-packages-plus .brace-content ul {
	background-color: #fff;
	float: left;
	margin: -1px;
	border-width: 0;
	padding: 13px 0px 9px 2px;
	font-size: 1.1em;
}
#wrap #sec-packages .brace-content li,
#wrap #sec-packages-plus .brace-content li {
	text-indent: -13px;
	margin-left: 13px;
	padding-bottom:5px;
	font-size:15px;
}
#wrap #sec-packages p { margin-top: 0; }
#wrap #sec-packages { border-bottom: 1px solid #fff; padding-bottom: 30px; margin-top: 0; }
#wrap #sec-packages-plus { margin-top: 0; padding-top: 0; }
.bg-gray { /*padding-top: 50px;*/}
.bg-gray,
#wrap #sec-packages .brace-content ul,
#sec-packages-plus .brace-content ul {
	background-color: #ececec;
}

/* community page packages */
#sec-packages .pkg-container { position: relative; width: 800px; height: 450px; }
#sec-packages .pkg-title { color: #3A407E; font-size: 18px; font-weight: bolder; padding-left: 75px; }
#sec-packages .pkg-home { float: left; background-image: url('images/pkg-home.png'); background-repeat: no-repeat; width: 380px; height: 675px;	margin: 0 0 0 50px; }
#sec-packages .pkg-home-features { width: 350px; height: 675px; margin: 0; }
.pkg-home-features ul { list-style: none; font-size: 1.35em; margin: 0; padding: 10px 0 10px 25px; }
.pkg-home-features li { padding: 0 0 20px 0; font-size:15px; }

#sec-packages div.pkg-nocal {
	float: left;
	background-image: url(images/pkg-nocal.png);
	background-repeat: no-repeat;
	width: 800px;
	height: 360px;
	margin: 20px 0 0 50px;
	position: absolute;
	z-index: 0;
}
#sec-packages .list-nocal {
	float: left;
	width: 400px;
	margin: 0;
	font-size: 14px;
}
#sec-packages div.pkg-socal {
	float: left;
	background-image: url('images/pkg-socal.jpg');
	background-repeat: no-repeat;
	width: 380px;
	height: 360px;
	margin: 50px 0 0 40px;
	position: absolute;
	z-index: 0;
}
.socal #sec-packages .pkg-home-features { height: 410px; }
#sec-packages .list-socal {
	float: left;
	width: 400px;
	margin: 0;
	font-size: 14px;
	line-height: 1.3em;
}
#sec-packages .pkg-container-upgrades { width: 800px; }
#sec-packages .pkg-container-upgrades ul#list-options { margin-left: 0; }
#sec-packages .pkg-container-upgrades ul#list-opt-float li { float: left; margin-right: 50px; font-size: 14px; }

ul#list-opt-float { margin-left:0px; }
ul#list-opt-float li { float: left; margin-right: 50px; font-size: 14px; }

/* 2-column list */
#sec-packages .pkg-container-upgrades { position: relative; width: 800px; /*height: 150px;	*/ }
#sec-packages .col1 { float: left; width: 300px; margin: 0; }
#sec-packages .col2 { float: right; width: 400px; margin: 0; }

#communities-map {
	clear: both;
	position: relative;
	background: none;
	background-image: url(images/communities-map.png);
	background-repeat: no-repeat;
	width: 840px;
	height: 430px;
	margin: 20px 0;
}
#communities-map .thumbs { position: absolute; top: 60px; left: 0; }
#communities-map .comm-pic { display: block; margin-bottom: 12px; }
#communities-map .links div { position: absolute; }

#map-austin a.map-poi, 
#map-houston a.map-poi, 
#map-phoenix a.map-poi, 
#map-jacksonville a.map-poi,
#map-orlando a.map-poi,
#map-bayarea a.map-poi,
#map-denver a.map-poi,
#map-socal a.map-poi,
#map-austin a.map-poi:visited,
#map-houston a.map-poi:visited,
#map-phoenix a.map-poi:visited,
#map-jacksonville a.map-poi:visited,
#map-orlando a.map-poi:visited,
#map-bayarea a.map-poi:visited,
#map-denver a.map-poi:visited,
#map-socal a.map-poi:visited
{
	background-image: url("/~/media/High Tech Homes/map-poi.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 15px 0 0;
	color: #666666;
	font-size:13px;
}

#map-austin a.map-poi.alt, 
#map-houston a.map-poi.alt,
#map-phoenix a.map-poi.alt,
#map-jacksonville a.map-poi.alt,
#map-orlando a.map-poi.alt,
#map-bayarea a.map-poi.alt,
#map-denver a.map-poi.alt
#map-socal a.map-poi.alt
{ /* left */
	background-position: left center;
	padding: 0 0 0 15px;
}

#map-austin a.map-poi:hover,
#map-houston a.map-poi:hover,
#map-phoenix a.map-poi:hover,
#map-jacksonville a.map-poi:hover,
#map-orlando a.map-poi:hover,
#map-bayarea a.map-poi:hover,
#map-denver a.map-poi:hover,
#map-socal a.map-poi:hover {
	color: #29AAE2;
}

#map-austin { top: 343px; left: 470px; }
#map-houston { top: 350px; left: 542px; }
#map-phoenix { top: 282px; left: 343px; }
#map-bayarea { top: 195px; left: 235px; }
#map-jacksonville { top: 330px; left: 715px; }
#map-orlando { top: 350px; left: 720px; }
#map-denver { top: 208px; left: 400px; }
#map-socal { top: 258px; left: 219px; }

#wrap .community { margin: 30px 0 30px 50px; }
#wrap .community h3 { margin: 0 0 5px; }
#wrap #main .community h4 .small { font-size: .8em; font-style: italic; }
#wrap #main .community,
#wrap #main .community p,
#wrap .community address {
	font-size: 14px;
	line-height: 1.6em;
	font-style: normal;
}
#wrap #main .community p,
#wrap .community address { margin: 0; }
#wrap .community a, 
#wrap .community a:visited {
	color: #29aae2;
	text-decoration: underline;
}
#wrap .community a:hover, 
#wrap .community a:active {
	color: #666;
}
#wrap .community 
.comm-info .left {
	margin-right: 20px;
	width: 160px;
}
#wrap .community .comm-info .addr {
	margin-right: 0px;
	width: 210px;
}
#wrap .headerlinks {
	padding-left: 20px;
}

#wrap .comm-info { width: 400px; }
#wrap .comm-pics { width: 350px; background-image: url('images/brace.gif'); background-repeat: no-repeat; height: 100px; left: 0px; padding-left: 33px; }
#wrap img.comm-pic { border-radius: 5px; margin-right: 15px; width: 142px; height: 95px; margin-top: 3px; }

#wrap button {
	border: none;
	background: none;
	background-image: url('images/button.png');
	background-repeat: no-repeat;
	width: 177px;
	height: 46px;
	font-size: 14px;
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
}
#wrap button:hover { color: #666; }
#wrap #view-all { text-decoration: none; } /* ff */
#wrap .button-sched {
	background: none;
	background-image: url('images/button-sched.png');
	background-repeat: no-repeat;
	width: 177px;
	height: 46px;
}

.button-sign-up {
	background: none;
	background-image: url('images/button-sign-up.png');
	background-repeat: no-repeat;
	width: 504px;
	height: 129px;
}
#wrap .button-view {
	background: none;
	background-image: url('images/button-view.png');
	background-repeat: no-repeat;
	width: 177px;
	height: 46px;
}

.button-watch {
	background: none;
	background-image: url('images/button-watch.png');
	background-repeat: no-repeat;
	width: 177px;
	height: 46px;
	float: left;
}

#wrap #header nav .button,
#header nav button {
	position: absolute;
	top: 33px;
}
#wrap #comm-button { float: right; margin: -10px 0 0 20px; }
#sec-communities .button,
#sec-communities button {
	float: right;
	margin: 10px 30px 0 100px;
}



#wrap #disclaimer { font-size: 0.7em; line-height: 13px; margin-left: 20px; padding-top: 30px; position: relative; width: 575px; float:left; }
#wrap #disclaimer p { display: block; font-size: 9px; padding-bottom: 5px; }
#wrap #disclaimer p a { font-size:9px; }
#wrap #disclaimer2 { font-size: 0.7em; line-height: 13px; margin-left: -44px; padding-top: 30px; position: relative; width: 539px; }
#wrap #disclaimer2 p { font-size:9px; display:block; padding-bottom:5px; }
#wrap #disclaimer2 p a { font-size:9px; }
#wrap #disclaimer-supplemental {
	background-image: url('images/houstons-best.png');
	background-repeat: no-repeat;
	height: 53px;
	padding-left: 56px;
	line-height: 60px;
	margin: 0;
	color: #222;
	font-size: 15px;
	display:none;
}
#wrap #disclaimer h3.supplemental {
	background-image: url('images/houstons-best.png');
	background-repeat: no-repeat;
	height: 53px;
	padding-left: 56px;
	line-height: 60px;
	margin: 0;
	color: #222;
	font-size: 15px;
}
#wrap #disclaimer2 h3.supplemental {
	background-image: url('images/houstons-best.png');
	background-repeat: no-repeat;
	height: 53px;
	padding-left: 56px;
	line-height: 60px;
	margin: 0;
	color: #222;
	font-size: 15px;
}

/* page-features-all */
#wrap .page-features-all section {
	padding-right: 50px;
	min-height: 250px;
}
#wrap .page-features-all ul {
	font-size: 1.45em;
	line-height: 1.3em;
}
#wrap .page-features-all li {
	margin-bottom: 0.5em;
}

/* features page bg icons */
#wrap .page-features-all section {
	background-repeat: no-repeat;
	background-position: 20px 100px;
}
#wrap .page-features-all ul {
	margin-left: 150px;
}

#wrap #sec-lcd-feat ul { margin-left: 0px; }
#wrap #sec-lcd-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:27px; }

#wrap #sec-mobile-feat { background-image: url('images/icon-mobile-lg.png'); }
#wrap #sec-mobile-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:25px; }

#wrap #sec-door-feat { background-image: url('images/icon-door-lg.png'); }
#wrap #sec-door-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:25px; }

#wrap #sec-audio-feat { background-image: url('images/icon-audio-lg.png'); }
#wrap #sec-audio-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:25px; }

#wrap #sec-intercom-feat { background-image: url('images/icon-intercom-lg.png'); }
#wrap #sec-intercom-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:25px; }

#wrap #sec-camera-feat { background-image: url('images/icon-camera-lg.png'); }
#wrap #sec-camera-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:25px; }

#wrap #sec-lighting-feat { background-image: url('images/icon-lighting-lg.png'); }
#wrap #sec-lighting-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:25px; }

#wrap #sec-security-feat { background-image: url('images/icon-security-lg.png'); }
#wrap #sec-security-feat ul li { display:list-item; list-style:disc; font-size:17px; line-height:25px; }

.left { float: left; }
.right { float: right; }
}

#wrap .drop-shadow {
    position:relative;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#wrap .drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

#wrap .curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}
#wrap .curved-vt-2:before {
    right:0;
}
#wrap .curved-hz-1:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

/* 
 * end of hth homepage + features page + divison page
 */

/*hth and elements*/

.button-watch3 {float: left; height: 46px; width: 177px;}
h1.hero-caption {line-height: 25px;}
#wrap strong {font-size:25px;}
#wrap h1, #wrap h2, #wrap h3, #wrap nav, #wrap .sec-caption {line-height: 25px;}
#page-content { background-color: #FFFFFF; box-shadow: 0 1px 1px 2px rgba(210, 210, 210, 0.7);  padding: 10px; position: relative; width: 918px;}
#wrap {line-height:normal;}
#wrap #hero {width:98%;}
#wrap a, #wrap a:visited {text-decoration: none;font-size: 17px;}
.button-sign-up {background: none; background-repeat: no-repeat; width: 504px; height: 129px;}
.kindle-fire-promo #container #header #hero {height: 445px; width: 898px;}

a#element-logo {  display: block;  float: left;  height: 44px;  margin-left: 25px;  margin-top: 20px;  text-indent: -9999px;  width: 175px;}
#division-footer .hers-ratings {   color: #777675;   height: 77px;   left: 446px;  padding-left: 141px;   position: absolute;   top: 45px;}
#division-footer .cert-header {  color: #777675;   left: 35px;   padding-left: 55px;   position: absolute;   top: 35px;}
#div-right-col-content .feature-separator {  background-image: -moz-linear-gradient(center top , #294774 0px, #3083B3 100%);    height: 25px;    width: 596px;}

.pgcon3 {position: relative; padding: 10px; line-height: 22px; background-color: #ffffff; width: 938px; font-family: Arial, sans-serif; color: #666666; font-size: 16px; box-shadow: rgba(210, 210, 210, 0.701961) 0px 1px 1px 2px;}
.minif1 {position: absolute; margin: 0px; font-family: Gudea, Tahoma, Geneva, sans-serif; letter-spacing: 0px; color: #222222; font-size: 26px; top: 100px; font-weight: normal; left: 365px;}
#wrap .info {
    position: relative;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    width: 302px;
    height: 150px;
    margin: 20px 0;
}
	
.ppwi {position: relative; padding: 0px 20px; margin: 0px auto; width: 880px;}
.contact-top2 .halfAvailableWidth {   display: inline;
    float: left;
    margin: 5px 0;
    text-align: left;
    vertical-align: top;
    width: 100%;}

span.pho-red {color:#D31245; font-weight:bold;}
div#elements-accordion-wrapper, #elements-top-separator {width:895px;}

#div-right-col-content .feature-separator {
    height: 25px;
    width: 596px;
	background: rgb(27,60,108);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiM2M2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjdhYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(27,60,108,1) 0%, rgba(34,122,175,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,60,108,1)), color-stop(100%,rgba(34,122,175,1)));
    background: -webkit-linear-gradient(top,  rgba(27,60,108,1) 0%,rgba(34,122,175,1) 100%);
    background: -o-linear-gradient(top,  rgba(27,60,108,1) 0%,rgba(34,122,175,1) 100%);
    background: -ms-linear-gradient(top,  rgba(27,60,108,1) 0%,rgba(34,122,175,1) 100%);
    background: linear-gradient(to bottom,  rgba(27,60,108,1) 0%,rgba(34,122,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b3c6c', endColorstr='#227aaf',GradientType=0 );
}

#division-footer .hers-ratings {
    color: #777675;
    height: 77px;
    left: 446px;
    padding-left: 141px;
    position: absolute;
    top: 45px;
}



#wrap #communities-map {
    clear: both;
    position: relative;
    background: url("~/media/High Tech Homes/communities-map");
    background-repeat:no-repeat;
    width: 840px;
    height: 430px;
    margin: 20px 0;
}

@media only screen and (max-width : 960px)
{	
	/*hth and elements tablet*/
	#wrap #hero { background-size: 100% auto;  width: 99%;}
	#page-content {width:630px !important;}
	#wrap #hero-button { bottom: 177px; position: absolute;  right: 59px;}
	#wrap .info {margin:-100px 0 0;background-size: 61% auto;}
	#wrap #icons {float: right; margin: -152px 31px 40px 0; padding: 15px;  width: 353px;}
	#wrap header nav ul {width:608px;}
	#wrap div#container header nav li a {font-size:16px;}
	#wrap #main { margin: 0; padding: 0 20px;  position: relative;  width: 635px;}
	#wrap #container #main h1, #wrap #container #main h2 {font-size:29px; width:552px;}
	#wrap #hero-caption {color:#fff;}
	#wrap #sec-features .right { margin: -328px 11px 0 0;  width: 339px;}
	#wrap #sec-features .hero {background-size: 50% auto; margin: 11px 0 0 -43px;}
	#wrap .brace-content { float: right;  margin-top: -197px;  padding-left: 25px;  width: 394px;}
	#wrap #hdr-mobile,
	#wrap #hdr-door,
	#wrap #hdr-audio,
	#wrap #hdr-intercom,
	#wrap #hdr-camera,
	#wrap #hdr-lighting,
	#wrap #hdr-security { background-size: 64% auto;  margin: 0 0 0 10px;}
	#wrap .brace-content2 {width:394px; margin-top:-159px;}
	#wrap #sec-audio {background-size:90%;}
	#wrap #sec-audio .sec-caption {top:189px; left:225px;}
	#wrap .brace-content {float: right;  margin-top: -236px;  padding-left: 25px;  width: 350px;}
	#wrap #sec-intercom, #wrap #sec-camera, #wrap #sec-lighting, #wrap #sec-security, #wrap #sec-mobile, #wrap #sec-door {background-size:89%;}
	#wrap #sec-intercom .sec-caption {left:303px; top:150px;}
	#wrap #sec-camera .sec-caption {top:183px;}
	#wrap #sec-lighting .sec-caption {left: 31px; top: 31px; width: 416px;}
	#wrap #sec-security .sec-caption {left: 71px; top: 34px;}
	#wrap #comm-button { margin: -10px 45px 0 20px;}
	#wrap img.comm-pic {  border-radius: 5px 5px 5px 5px;  height: 78px;  margin-right: 15px;  margin-top: -6px;   width: 115px;}
	#communities-map .thumbs {left:-37px; top:24px;}
	#communities-map {background-size: 97% auto; width: 574px;}	
	#wrap h1, #wrap h2, #wrap h3, #wrap nav, #wrap .sec-caption {width:606px;}
	#wrap #container #main h1:after, #wrap #container #main h2:after {right:-58px;}
	#wrap #container #main h1, #wrap #container #main h2 {width:504px;}
	#container {width:619px;}
	#wrap .brace-content2 {width:349px;}
	#wrap #icons h2 {font-size: 20px; margin: 0 0 0 -15px;  text-align: center;  width: 359px;}
	#map-bayarea { left: 136px;  top: 121px;}
	#map-socal { left: 151px; top: 159px;}
	#map-phoenix { left: 211px; top: 181px;}
	#map-austin {left: 313px;  top: 212px;}
	#map-houston { left: 321px;  top: 244px;}
	#map-denver {left: 268px; top: 139px;}
	#map-jacksonville { left: 471px; top: 224px;}
	#map-orlando {left: 487px; top: 247px;}
	#wrap #container #main h1#hdr-communities {width:507px;}
	#wrap #container #main h1#hdr-communities {font-size: 27px;  line-height: 33px;  margin: 50px 0 0 20px;  padding-top: 21px;  width: 507px;}
	.bg-gray {width: 576px;}
	#wrap #container #main h1#hdr-communities {width:503px;}
	#wrap #container #main h1#hdr-communities { font-size: 23px;  height: 110px; line-height: 31px;  margin: 51px 0 0 20px;  padding-left: 0.5em;  padding-top: 25px;
    position: relative;  text-transform: uppercase;  width: 503px;}
	.bg-gray {width:572px;}
	#wrap #sec-packages .brace-content { margin-top: 27px;  padding-left: 0;}
	#wrap #sec-packages-plus .brace-content { float: left;  margin-top: 34px;  padding-left: 0;  width: 520px;}
	#wrap #main h3 {font-size: 24px;  line-height: 26px;  width: 540px;}
	#wrap #communities-map {
        clear: both;
        height: 430px;
        margin: 20px 0;
        position: relative;
        width: 660px;
    	background-size:86%;
    }

	.kindle-fire-promo #container #header #hero {height: 445px; width: 610px;}
	.kindle-fire-promo #container #promo-form-wrap {margin:-54px -11px 0 !important;}
	.minif1 {    color: #222222;
    font-family: Gudea,Tahoma,Geneva,sans-serif;
    font-size: 19px;
    font-weight: normal;
    left: 239px;
    letter-spacing: 0;
    margin: 0;
    position: absolute;
    top: 24px;
    width: 372px;}
	/*#wrap #main p {width:575px;}*/
	
	.kindle-fire-promo #container #header #hero #hero-caption { color: #333333;  font-size: 23px;  left: 259px;  line-height: 25px;  top: 30px;  width: 355px;}
	.kindle-fire-promo #container #main h3 {margin:-39px 0 10px;}
	#elements-top {width:612px;}
	div#accordion-item-environment {background-repeat: no-repeat;
    background-size: 43% auto;
    height: 315px;
    position: absolute;
    width: 800px;}
	div#accordion-item-energy {background-repeat: no-repeat;
    background-size: 61% auto;
    height: 315px;
    left: 191px;
    position: absolute;
    width: 500px;}
	div#accordion-item-efficiency {background-repeat: no-repeat;
    background-size: 94% auto;
    height: 315px;
    left: 344px;
    position: absolute;
    width: 326px;}
	div#accordion-item-environment, div#accordion-item-energy, div#accordion-item-efficiency {height:162px;}
	div#elements-accordion-wrapper {height:164px;}
	div#element-text-content div#default {
    color: #4E4E4E;
    font-size: 12px;
    left: 16px;
    line-height: 19px;
    position: absolute;
    top: 19px;
    width: 261px;
}
@media only screen and (max-width : 579px)	
{  
	/* hth and elements*/
	#container { margin: 0 0 0 -13px;  width: 340px;}
	#page-content { width: 332px !important;}
	#wrap #hero-caption {  color: #222222;  font-size: 20px;  left: 20px;  letter-spacing: 0.1px;  margin: 0;  position: absolute;  top: 108px;  width: 261px;}
	#wrap #hero-button { background-size: 100% auto; bottom: 210px; position: absolute; right: 11px; width: 309px;}
	#wrap .info { background-size: 61% auto;  margin: -268px 0 0;}
	#wrap #icons { float: right;  margin: -152px 23px 40px 0;  padding: 15px;  width: 291px;}
	#wrap #icons h2 {width:269px;}
	#wrap #icons ul {margin:10px 0 10px 13px;}
	#wrap header nav ul { height: auto;  width: 331px;}
	#wrap #container #main h1:after, 
    #wrap #container #main h2:after { 
        border-color: transparent transparent transparent #ECECEC; border-style: solid; border-width: 0; content: ""; height: 0; line-  height: 0; position: absolute; right: -60px; width: 0;
    }
	#wrap #container #main h1, #wrap #container #main h2 { font-size: 21px;  line-height: 32px;  padding: 26px 0 0 10px; width:260px;}
	#wrap .border-wrap {width:303px;}
	#wrap #main p {line-height:17px;}
	#wrap #main {width:333px;}
	#wrap #container #main h1#hdr-communities { font-size: 21px;  height: 110px;  line-height: 22px;  margin: 4px 0 0 -10px;  padding-left: 0.5em;  padding-top: 25px;  position: relative;
    text-transform: uppercase;  width: 258px;}
	#wrap a, #wrap a:visited { font-size: 13px;}
	#wrap section {  border-top: 1px solid #ECECEC;  margin: -108px 0 0;  padding: 30px 20px 0;  position: relative;  width: 307px;}
	.bg-gray { width: 300px;}	
	#wrap #sec-packages .hero, #wrap #sec-packages-plus .hero {display:none;}
	.right {float: left; width:272px;}
	#wrap #sec-packages .brace-content, #sec-packages .brace-content ul, #sec-packages-plus .brace-content, #sec-packages-plus .brace-content ul {width:266px;}
	#wrap #sec-packages .brace-content {margin-top:-44px;}
	#wrap #disclaimer2 { font-size: 0.7em; line-height: 13px; margin-left: -18px;  padding-top: 0;  position: relative;  width: 302px; margin-top:-75px;}
	#wrap #sec-packages-plus .brace-content {width:268px; margin-top:-49px;}
	.kindle-fire-promo #container #main h3 {width:285px; margin:25px -25px 10px;}
	#wrap #main h3 { font-size: 19px; line-height: 26px; margin: 128px 0 0 -22px; width: 296px;}
	/*#wrap #comm-button { background-size: 98% auto;float: left;  margin: -23px 0 0 -29px;  width: 320px;}*/
	#wrap #comm-button { background-size: 98% auto; float: left; margin: 91px 0 -29px -17px; width: 280px;}
	#wrap #sec-mobile-feat,
	#wrap #sec-door-feat,
	#wrap #sec-intercom-feat,
	#wrap #sec-camera-feat,
	#wrap #sec-lighting-feat,
	#wrap #sec-security-feat,
	#wrap #sec-audio-feat {background-size:15%;}
	#wrap #communities-map {  clear: both;  height: 203px;  margin: 20px 0 0 -40px;  position: relative;  width: 328px; background-size:100%;}
	#wrap img.comm-pic { border-radius: 5px 5px 5px 5px;  height: 36px;  margin-left: 41px;  margin-right: 15px;  margin-top: -4px;  width: 51px;}
	#wrap #disclaimer {width:297px;}
	#map-austin { left: 152px;  top: 117px;}
	#map-houston { left: 205px;  top: 131px;}
	#map-phoenix {left: 134px;  top: 100px;}
	#map-jacksonville { left: 236px; top: 120px;}
	#map-orlando {left: 262px;  top: 148px;}
	#map-bayarea {  left: 92px;  top: 59px;}
	#map-denver { left: 142px;  top: 77px;}
	#map-socal { left: 71px;  top: 98px;}
	.kindle-fire-promo #container #main h3 { clear: both;  float: left;  font-size: 16px;  line-height: 18px;  margin: 0 0 0 -16px;  width: 290px;}
	#wrap .keepexploring, #wrap .backtotop {display:none;}
	.kindle-fire-promo #container #header #hero { height: 445px; width: 332px; margin:32px 0 0;}
    .kindle-fire-promo #container #header #hero #hero-caption { color: #333333;  font-size: 13px;  left: 15px;  line-height: 7px;  top: -33px;  width: 316px;}
    /*#wrap img {height: 139px;  width: 300px;}
    #wrap #icons-devices div {display:none;}
    #wrap img { height: 47px; width: 53px;}
    #wrap #sec-features .brace-content nav {
        background-color: #FFFFFF;
        float: left;
        margin: -3px 0 0 -29px;
        padding: 20px 0 20px 10px;
        width: 302px;
    }
    */

    #wrap .info {display:none;}	
    #wrap .page-features-all ul { margin-left: -42px;  margin-top: 30px;}
    #wrap #sec-lcd-feat ul { margin-left: -46px;  margin-top: 22px;}
    #wrap img {display:none;}

    /*hth*/
    #wrap #icons-devices div {display:none;}
    #wrap section.bg2 { height: 528px;  padding: 124px 20px 320px;}
    #wrap section .sec-caption { color: #FFFFFF;  font-size: 18px;  left: 28px;  line-height: 1.1em;  position: absolute;  top: 50px;  width: 233px;}	
    #wrap #sec-features .brace-content, #wrap #sec-features .brace-content nav {margin-top: 84px;  width: 271px;}	
    #wrap .brace-content { float: left;  font-size: 11px;  margin-left: -16px;  margin-top: -343px;  padding-left: 25px; width: 302px;}	
    #wrap .brace-content2 {margin-top: -520px; width: 280px;}
    #wrap #sec-audio { background-size: 90% auto;   margin: -421px 0 0;}
    #wrap #sec-door {margin: -28px 0 0;}	
    #wrap #sec-audio .sec-caption {left: 0; top: 0;}	
    #wrap #sec-intercom .sec-caption { left: 0; top: 0;}
    #wrap #sec-vacation {background-repeat: no-repeat; margin: 101px 0 0;  min-height: 110px;  padding-right: 0; width:287px;}
    #wrap #sec-lighting .sec-caption {width:253px;}
    #wrap #main p {width:275px;}
    #wrap #sec-security .sec-caption {width:216px;}
    #wrap #sec-features .right {width:292px;}
    #wrap #sec-audio .sec-caption {width:234px;}
    #wrap header nav ul {line-height:20px;}
}